# Automated Feature Engineering (featuretools)

In [1]:
import featuretools as ft
import pandas as pd
from IPython.display import display
from feature_engine.creation import CyclicalFeatures
from feature_engine.imputation import AddMissingIndicator, ArbitraryNumberImputer, MeanMedianImputer
# from dask.distributed import LocalCluster
from featuretools.primitives import TimeSinceFirst, TimeSinceLast
from tsfresh import extract_features, extract_relevant_features
from tsfresh.feature_extraction import EfficientFCParameters
from woodwork.logical_types import Boolean, BooleanNullable, Categorical, Unknown

from utils import add_calendar_values

In [2]:
pd.set_option('display.float_format', '{:.3f}'.format)
pd.set_option('display.max_columns', None)

## Create EntitySet

In [3]:
es = ft.EntitySet(id='client_data')

In [4]:
"""Clients"""

from utils import read_clients

CLIENTS_PATH = '../data/initial/CLIENTS.csv'
# CLIENTS_PATH = '../data/samples/CLIENTS_SAMPLE.csv'

clients_df = read_clients(CLIENTS_PATH, encode_bool=False)
clients_df = clients_df.astype({'client_id': str})
display(clients_df.info())

es.add_dataframe(
    clients_df,
    dataframe_name='clients',
    index='client_id',
    time_index='communication_month',
    # make_index=True,
    logical_types={
        'client_id': Unknown,
        'target': Boolean,
        'is_train': Boolean,
    }
)
display(es['clients'].ww.schema)
display(es)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36337 entries, 0 to 36336
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   client_id            36337 non-null  object
 1   target               36337 non-null  bool
 2   is_train             36337 non-null  bool
 3   communication_month  36337 non-null  datetime64[ns]
dtypes: bool(2), datetime64[ns](1), object(1)
memory usage: 638.9+ KB

None

                    Logical Type Semantic Tag(s)
Column
client_id                Unknown       ['index']
target                   Boolean              []
is_train                 Boolean              []
communication_month     Datetime  ['time_index']

Entityset: client_data
  DataFrames:
    clients [Rows: 36337, Columns: 4]
  Relationships:
    No relationships

In [5]:
"""Transactions"""

from utils import read_transactions

TRANSACTIONS_PATH = '../data/initial/TRANSACTIONS.csv'
# TRANSACTIONS_PATH = '../data/samples/TRANSACTIONS_SAMPLE.csv'

transactions_df = read_transactions(TRANSACTIONS_PATH, encode_bool=False)
transactions_df = transactions_df.astype({'client_id': str})
transactions_df['tran_date_str'] = transactions_df['tran_date'].dt.date.astype(str)  # used later for feature generation
transactions_df = add_calendar_values(transactions_df, 'tran_date', prefix='tran_date_')
display(transactions_df.info())

es.add_dataframe(
    transactions_df,
    dataframe_name='transactions',
    index='transaction_id',
    time_index='tran_date',
    make_index=True,
    logical_types={
        'client_id': Unknown,
        'cat_c2': Categorical,
        'cat_c3': Categorical,
        'cat_c4': Categorical,
        'tran_date_str': Categorical,
        'fl_c6': Boolean,
        'fl_c7': Boolean,
        'fl_c8': Boolean,
        'fl_c9': Boolean,
        'fl_c10': Boolean,
        'fl_c11': Boolean,
        'fl_c12': Boolean,
        'fl_c13': Boolean,
        'fl_c14': Boolean,
        'fl_c15': Boolean,
    }
)
display(es['transactions'].ww.schema)

es.add_relationship('clients', 'client_id', 'transactions', 'client_id')
display(es)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15654626 entries, 0 to 15654625
Data columns (total 27 columns):
 #   Column                      Dtype
---  ------                      -----
 0   client_id                   object
 1   tran_date                   datetime64[ns]
 2   cat_c2                      int32
 3   cat_c3                      int32
 4   cat_c4                      int32
 5   fl_c6                       bool
 6   fl_c7                       bool
 7   fl_c8                       bool
 8   fl_c9                       bool
 9   fl_c10                      bool
 10  fl_c11                      bool
 11  fl_c12                      bool
 12  fl_c13                      bool
 13  fl_c14                      bool
 14  fl_c15                      bool
 15  float_c16                   float32
 16  float_c17                   float32
 17  float_c18                   float32
 18  int_c19                     int32
 19  float_c20                   float32
 20  float_c21                   float32
 21  tran_date_str               object
 22  tran_date_is_weekend        bool
 23  tran_date_day_of_week_sin   float64
 24  tran_date_day_of_week_cos   float64
 25  tran_date_day_of_month_sin  float64
 26  tran_date_day_of_month_cos  float64
dtypes: bool(11), datetime64[ns](1), float32(5), float64(4), int32(4), object(2)
memory usage: 1.5+ GB

None

                           Logical Type Semantic Tag(s)
Column
transaction_id                  Integer       ['index']
client_id                       Unknown              []
tran_date                      Datetime  ['time_index']
cat_c2                      Categorical    ['category']
cat_c3                      Categorical    ['category']
cat_c4                      Categorical    ['category']
fl_c6                           Boolean              []
fl_c7                           Boolean              []
fl_c8                           Boolean              []
fl_c9                           Boolean              []
fl_c10                          Boolean              []
fl_c11                          Boolean              []
fl_c12                          Boolean              []
fl_c13                          Boolean              []
fl_c14                          Boolean              []
fl_c15                          Boolean              []
float_c16                        Double     ['numeric']
float_c17                        Double     ['numeric']
float_c18                        Double     ['numeric']
int_c19                         Integer     ['numeric']
float_c20                        Double     ['numeric']
float_c21                        Double     ['numeric']
tran_date_str               Categorical    ['category']
tran_date_is_weekend            Boolean              []
tran_date_day_of_week_sin        Double     ['numeric']
tran_date_day_of_week_cos        Double     ['numeric']
tran_date_day_of_month_sin       Double     ['numeric']
tran_date_day_of_month_cos       Double     ['numeric']

Entityset: client_data
  DataFrames:
    clients [Rows: 36337, Columns: 4]
    transactions [Rows: 15654626, Columns: 28]
  Relationships:
    transactions.client_id -> clients.client_id

In [6]:
"""App activity"""

from utils import preprocess_app_activity_data, read_app_activity

ACTIVITY_PATH = '../data/initial/APP_ACTIVITY.csv'
# ACTIVITY_PATH = '../data/samples/APP_ACTIVITY_SAMPLE.csv'

activities_df = read_app_activity(ACTIVITY_PATH, encode_bool=False)
activities_df = activities_df.astype({'client_id': str})
activities_df = preprocess_app_activity_data(activities_df)
activities_df['activity_date_str'] = activities_df['activity_date'].dt.date.astype(str)  # used later for feature generation
activities_df = add_calendar_values(activities_df, 'activity_date', prefix='activity_date_')
display(activities_df.info())

es.add_dataframe(
    activities_df,
    dataframe_name='activities',
    index='activity_id',
    time_index='activity_date',
    make_index=True,
    logical_types={
        'client_id': Unknown,
        'cat_c3': Categorical,
        'cat_c4': Categorical,
        'cat_c5': Categorical,
        'cat_c6': Categorical,
        'cat_c9': Categorical,
        'activity_date_str': Categorical,
        'cat_c8': BooleanNullable,
        'cat_c10': BooleanNullable,
    }
)
display(es['activities'].ww.schema)

es.add_relationship('clients', 'client_id', 'activities', 'client_id')
display(es)

<class 'pandas.core.frame.DataFrame'>
Index: 17665187 entries, 0 to 17738591
Data columns (total 19 columns):
 #   Column                          Dtype
---  ------                          -----
 0   client_id                       object
 1   device_id                       uint64
 2   activity_date                   datetime64[ns]
 3   cat_c3                          int32
 4   cat_c4                          int32
 5   cat_c5                          int32
 6   cat_c6                          int32
 7   cat_c8                          boolean
 8   cat_c9                          int32
 9   cat_c10                         boolean
 10  float_c11                       float32
 11  float_c12                       float32
 12  float_c14                       float32
 13  activity_date_str               object
 14  activity_date_is_weekend        bool
 15  activity_date_day_of_week_sin   float64
 16  activity_date_day_of_week_cos   float64
 17  activity_date_day_of_month_sin  float64
 18  activity_date_day_of_month_cos  float64
dtypes: bool(1), boolean(2), datetime64[ns](1), float32(3), float64(4), int32(5), object(2), uint64(1)
memory usage: 1.8+ GB

None

                                   Logical Type Semantic Tag(s)
Column
activity_id                             Integer       ['index']
client_id                               Unknown              []
device_id                               Integer     ['numeric']
activity_date                          Datetime  ['time_index']
cat_c3                              Categorical    ['category']
cat_c4                              Categorical    ['category']
cat_c5                              Categorical    ['category']
cat_c6                              Categorical    ['category']
cat_c8                          BooleanNullable              []
cat_c9                              Categorical    ['category']
cat_c10                         BooleanNullable              []
float_c11                                Double     ['numeric']
float_c12                                Double     ['numeric']
float_c14                                Double     ['numeric']
activity_date_str                   Categorical    ['category']
activity_date_is_weekend                Boolean              []
activity_date_day_of_week_sin            Double     ['numeric']
activity_date_day_of_week_cos            Double     ['numeric']
activity_date_day_of_month_sin           Double     ['numeric']
activity_date_day_of_month_cos           Double     ['numeric']

Entityset: client_data
  DataFrames:
    clients [Rows: 36337, Columns: 4]
    transactions [Rows: 15654626, Columns: 28]
    activities [Rows: 17665187, Columns: 20]
  Relationships:
    transactions.client_id -> clients.client_id
    activities.client_id -> clients.client_id

In [7]:
"""Communications"""

from utils import read_communications

COMMS_PATH = '../data/initial/COMMUNICATIONS.csv'
# COMMS_PATH = '../data/samples/COMMUNICATIONS_SAMPLE.csv'

comms_df = read_communications(COMMS_PATH)
comms_df = comms_df.astype({'client_id': str})
# comms_df = preprocess_comm_data(comms)
# comms_df = encode_comm_categories(comms)
comms_df['contact_date_str'] = comms_df['contact_date'].dt.date.astype(str)  # used later for feature generation
comms_df = add_calendar_values(comms_df, 'contact_date', prefix='contact_date_')
display(comms_df.info(show_counts=True))

es.add_dataframe(
    comms_df,
    dataframe_name='comms',
    index='comm_id',
    time_index='contact_date',
    make_index=True,
    logical_types={
        'client_id': Unknown,
        'cat_c2': Categorical,
        'cat_c3': Categorical,
        'cat_c4': Categorical,
        'cat_c5': Categorical,
        'contact_date_str': Categorical,
    }
)
display(es['comms'].ww.schema)

es.add_relationship('clients', 'client_id', 'comms', 'client_id')
display(es)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19586922 entries, 0 to 19586921
Data columns (total 12 columns):
 #   Column                         Non-Null Count     Dtype
---  ------                         --------------     -----
 0   client_id                      19586922 non-null  object
 1   contact_date                   19586922 non-null  datetime64[ns]
 2   cat_c2                         19586922 non-null  category
 3   cat_c3                         19586922 non-null  int32
 4   cat_c4                         19586922 non-null  int32
 5   cat_c5                         19586917 non-null  category
 6   contact_date_str               19586922 non-null  object
 7   contact_date_is_weekend        19586922 non-null  bool
 8   contact_date_day_of_week_sin   19586922 non-null  float64
 9   contact_date_day_of_week_cos   19586922 non-null  float64
 10  contact_date_day_of_month_sin  19586922 non-null  float64
 11  contact_date_day_of_month_cos  19586922 non-null  float64
dtypes: bool(1), category(2), datetime64[ns](1), float64(4), int32(2), object(2)
memory usage: 1.2+ GB

None

                              Logical Type Semantic Tag(s)
Column
comm_id                            Integer       ['index']
client_id                          Unknown              []
contact_date                      Datetime  ['time_index']
cat_c2                         Categorical    ['category']
cat_c3                         Categorical    ['category']
cat_c4                         Categorical    ['category']
cat_c5                         Categorical    ['category']
contact_date_str               Categorical    ['category']
contact_date_is_weekend            Boolean              []
contact_date_day_of_week_sin        Double     ['numeric']
contact_date_day_of_week_cos        Double     ['numeric']
contact_date_day_of_month_sin       Double     ['numeric']
contact_date_day_of_month_cos       Double     ['numeric']

Entityset: client_data
  DataFrames:
    clients [Rows: 36337, Columns: 4]
    transactions [Rows: 15654626, Columns: 28]
    activities [Rows: 17665187, Columns: 20]
    comms [Rows: 19586922, Columns: 13]
  Relationships:
    transactions.client_id -> clients.client_id
    activities.client_id -> clients.client_id
    comms.client_id -> clients.client_id

## Deep Feature Synthesis

In [8]:
MIN_DATE_STR = '2024-12-01 00:00:00'
MAX_DATE_STR = '2025-09-01 00:00:00'

agg_primitives = [
    'count',
    'first', 'last', TimeSinceFirst(unit='days'), TimeSinceLast(unit='days'),  # for date
    'mean', 'std', 'skew', 'kurtosis', 'min', 'max', 'sum',   # for numeric
    'num_unique', 'mode',  # for categorical
    'percent_true',  # for boolean
]

primitive_options = {}
for agg in agg_primitives:
    primitive_options[agg]= {'include_columns': {}}
    for df_name in ('transactions', 'activities', 'comms'):
         if agg not in ('count',) and isinstance(agg, str):
             primitive_options[agg]['include_columns'][df_name] = []

In [9]:
"""Transactions"""

df_name = 'transactions'

# Date
for prim in ['first', 'last']:
    primitive_options[prim]['include_columns'][df_name] += ['tran_date']
primitive_options['mean']['include_columns'][df_name] += [
    'tran_date_day_of_week_sin', 'tran_date_day_of_week_cos',
    'tran_date_day_of_month_sin', 'tran_date_day_of_month_cos',
]

# Numeric
num_cols = ['float_c16', 'float_c17', 'float_c18', 'int_c19', 'float_c20', 'float_c21']
for prim in ['mean', 'std', 'skew', 'kurtosis', 'min', 'max', 'sum']:
    primitive_options[prim]['include_columns'][df_name] += num_cols
    # primitive_options[prim] = {'include_columns': {df_name: num_cols}}

# Categorical
cat_cols = list(es[df_name].ww.select(Categorical).columns)
for prim in ['num_unique', 'mode']:
    # primitive_options['mode'] = {'include_columns': {df_name: cat_cols}}
    primitive_options[prim]['include_columns'][df_name] += cat_cols
primitive_options['mode']['include_columns'][df_name].remove('tran_date_str')  # delete redundant primitive

# Boolean
bool_cols = list(es[df_name].ww.select([Boolean, BooleanNullable]).columns)
# primitive_options['percent_true'] = {'include_columns': {df_name: bool_cols}}
primitive_options['percent_true']['include_columns'][df_name] += bool_cols


# Interesting values
interesting_values = {
    'cat_c2': [4, 14, 15],
    'cat_c3': [209, 303, 305, 314],
    'int_c19': [-1, 1],
    'fl_c12': [True, False],
    'fl_c13': [True, False],
    'fl_c14': [True, False],
    'tran_date_is_weekend': [True, False],
}
es.add_interesting_values(dataframe_name=df_name, values=interesting_values)

In [10]:
"""Activities"""

df_name = 'activities'

# Date
for prim in ['first', 'last']:
    primitive_options[prim]['include_columns'][df_name] += ['activity_date']
primitive_options['mean']['include_columns'][df_name] += [
    'activity_date_day_of_week_sin', 'activity_date_day_of_week_cos',
    'activity_date_day_of_month_sin', 'activity_date_day_of_month_cos',
]

# Numeric
num_cols = ['float_c11', 'float_c12', 'float_c13', 'float_c14', 'float_c15', 'float_c16', 'float_c17']
for prim in ['mean', 'std', 'skew', 'kurtosis', 'min', 'max', 'sum']:
    primitive_options[prim]['include_columns'][df_name] += num_cols

# Categorical
cat_cols = list(es[df_name].ww.select(Categorical).columns)
for prim in ['num_unique', 'mode']:
    primitive_options[prim]['include_columns'][df_name] += cat_cols
primitive_options['mode']['include_columns'][df_name].remove('activity_date_str')  # delete redundant primitive

# Boolean
bool_cols = list(es[df_name].ww.select([Boolean, BooleanNullable]).columns)
primitive_options['percent_true']['include_columns'][df_name] += bool_cols


# Interesting values
interesting_values = {
    'cat_c4': [1, 2],
    'cat_c6': [1, 2, 3],
    'cat_c9': [1, 2],
    'cat_c8': [True, False],
    'cat_c10': [True, False],
    'activity_date_is_weekend': [True, False],
}
es.add_interesting_values(dataframe_name=df_name, values=interesting_values)

In [11]:
"""Communications"""

df_name = 'comms'

# Date
for prim in ['first', 'last']:
    primitive_options[prim]['include_columns'][df_name] += ['contact_date']
primitive_options['mean']['include_columns'][df_name] += [
    'contact_date_day_of_week_sin', 'contact_date_day_of_week_cos',
    'contact_date_day_of_month_sin', 'contact_date_day_of_month_cos',
]

# Categorical
cat_cols = list(es[df_name].ww.select(Categorical).columns)
for prim in ['num_unique', 'mode']:
    primitive_options[prim]['include_columns'][df_name] += cat_cols
primitive_options['mode']['include_columns'][df_name].remove('contact_date_str')  # delete redundant primitive


# Boolean
bool_cols = list(es[df_name].ww.select([Boolean, BooleanNullable]).columns)
primitive_options['percent_true']['include_columns'][df_name] += bool_cols

# Interesting values
interesting_values = {
    'cat_c2': ['S3564', 'S3565', 'S3677', 'S3769'],
    'cat_c3': [3, 4, 7],
    'cat_c4': [1, 2],
    'cat_c5': ['4', '7'],
    'contact_date_is_weekend': [True, False],
}
es.add_interesting_values(dataframe_name=df_name, values=interesting_values)

In [12]:
# cluster = LocalCluster()
feature_matrix, feature_defs = ft.dfs(
    entityset=es,
    target_dataframe_name='clients',
    # ignore_dataframes=['transactions', 'comms'],
    # cutoff_time=transactions_df['tran_date'].max(),
    cutoff_time=MAX_DATE_STR,
    agg_primitives=agg_primitives,
    trans_primitives=['day', 'month', 'weekday', 'is_weekend'],
    where_primitives=['mean', 'sum', 'count'],
    primitive_options=primitive_options,
    max_depth=2,
    verbose=True,
    features_only=False,
    n_jobs=1,
    # chunk_size=.05,
    # dask_kwargs={'cluster': cluster.scheduler.address},
    return_types='all',
)
feature_matrix_enc, features_enc = ft.encode_features(
    feature_matrix,
    feature_defs,
    top_n={
        # Transactions
        'MODE(transactions.cat_c2)': 10,
        'MODE(transactions.cat_c3)': 10,
        'MODE(transactions.cat_c4)': 5,

        # Activities
        'MODE(activities.cat_c3)': 3,
        'MODE(activities.cat_c4)': 2,
        'MODE(activities.cat_c5)': 1,
        'MODE(activities.cat_c6)': 7,
        'MODE(activities.cat_c9)': 2,

        # Communications
        'MODE(comms.cat_c2)': 10,
        'MODE(comms.cat_c3)': 3,
        'MODE(comms.cat_c4)': 3,
        'MODE(comms.cat_c5)': 3,
    },
    to_encode=[
        'MODE(transactions.cat_c2)', 'MODE(transactions.cat_c3)', 'MODE(transactions.cat_c4)',  # transactions
        'MODE(activities.cat_c3)', 'MODE(activities.cat_c4)', 'MODE(activities.cat_c5)', 'MODE(activities.cat_c6)', 'MODE(activities.cat_c9)',  # activities
        'MODE(comms.cat_c2)', 'MODE(comms.cat_c3)', 'MODE(comms.cat_c4)', 'MODE(comms.cat_c5)',  # communications
    ],
)
ft.save_features(features_enc, '../data/features/feature_definitions_v3.json')
feature_matrix_enc.to_csv('../data/features/features_auto_v3_raw.csv', index=False)

display(features_enc)
display(feature_matrix_enc.head())
display(feature_matrix_enc.info(verbose=True, show_counts=True))
display(feature_matrix_enc.describe())

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\primitives\options_utils.py:39: UserWarning: Column 'float_c13' not in dataframe 'activities'
  warnings.warn(
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\primitives\options_utils.py:39: UserWarning: Column 'float_c15' not in dataframe 'activities'
  warnings.warn(
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\primitives\options_utils.py:39: UserWarning: Column 'float_c16' not in dataframe 'activities'
  warnings.warn(
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\primitives\options_utils.py:39: UserWarning: Column 'float_c17' not in dataframe 'activities'
  warnings.warn(

Built 680 features
Elapsed: 03:08 | Progress:  18%|█▊

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:763: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ).apply(wrap)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function std at 0x000001C5340EBBA0> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function min at 0x000001C5340EB1A0> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function max at 0x000001C5340EB060> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\primitives\standard\aggregation\kurtosis.py:67: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  return kurtosis(

Elapsed: 07:37 | Progress:  24%|██▍

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 07:52 | Progress:  25%|██▌

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 07:58 | Progress:  27%|██▋

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 08:07 | Progress:  28%|██▊

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 08:20 | Progress:  29%|██▉

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 08:37 | Progress:  29%|██▉

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 08:40 | Progress:  30%|███

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 08:42 | Progress:  32%|███▏

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 08:50 | Progress:  33%|███▎

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 08:56 | Progress:  34%|███▍

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 09:01 | Progress:  36%|███▌

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 09:04 | Progress:  37%|███▋

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 09:17 | Progress:  37%|███▋

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 09:22 | Progress:  38%|███▊

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 09:34 | Progress:  40%|███▉

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 10:27 | Progress:  41%|████▏

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:763: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ).apply(wrap)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 11:32 | Progress:  44%|████▍

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 11:32 | Progress:  45%|████▍

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 11:34 | Progress:  45%|████▌

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 11:35 | Progress:  46%|████▌

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 11:36 | Progress:  47%|████▋

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 11:41 | Progress:  48%|████▊

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 11:48 | Progress:  49%|████▉

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 11:52 | Progress:  49%|████▉

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 12:08 | Progress:  50%|█████

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 12:10 | Progress:  51%|█████

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 12:22 | Progress:  51%|█████

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 12:43 | Progress:  52%|█████▏

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:763: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ).apply(wrap)

Elapsed: 13:15 | Progress:  52%|█████▏

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function std at 0x000001C5340EBBA0> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\primitives\standard\aggregation\kurtosis.py:67: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  return kurtosis(
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function min at 0x000001C5340EB1A0> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function max at 0x000001C5340EB060> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ).agg(to_agg)

Elapsed: 19:10 | Progress:  61%|██████

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 19:12 | Progress:  63%|██████▎

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 19:13 | Progress:  65%|██████▍

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 19:14 | Progress:  67%|██████▋

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 19:15 | Progress:  69%|██████▉

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 19:16 | Progress:  71%|███████

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 19:17 | Progress:  73%|███████▎

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 19:19 | Progress:  75%|███████▌

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 19:24 | Progress:  77%|███████▋

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 19:26 | Progress:  79%|███████▉

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 19:30 | Progress:  81%|████████

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 19:32 | Progress:  83%|████████▎

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 19:36 | Progress:  85%|████████▌

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 19:38 | Progress:  87%|████████▋

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 19:42 | Progress:  89%|████████▉

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 19:44 | Progress:  91%|█████████

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 19:48 | Progress:  93%|█████████▎

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x000001C5340EBA60> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x000001C5340EA660> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 19:52 | Progress: 100%|██████████

[<Feature: target>,
 <Feature: is_train>,
 <Feature: communication_month>,
 <Feature: COUNT(transactions)>,
 <Feature: FIRST(transactions.tran_date)>,
 <Feature: KURTOSIS(transactions.float_c16)>,
 <Feature: KURTOSIS(transactions.float_c17)>,
 <Feature: KURTOSIS(transactions.float_c18)>,
 <Feature: KURTOSIS(transactions.float_c20)>,
 <Feature: KURTOSIS(transactions.float_c21)>,
 <Feature: KURTOSIS(transactions.int_c19)>,
 <Feature: LAST(transactions.tran_date)>,
 <Feature: MAX(transactions.float_c16)>,
 <Feature: MAX(transactions.float_c17)>,
 <Feature: MAX(transactions.float_c18)>,
 <Feature: MAX(transactions.float_c20)>,
 <Feature: MAX(transactions.float_c21)>,
 <Feature: MAX(transactions.int_c19)>,
 <Feature: MEAN(transactions.float_c16)>,
 <Feature: MEAN(transactions.float_c17)>,
 <Feature: MEAN(transactions.float_c18)>,
 <Feature: MEAN(transactions.float_c20)>,
 <Feature: MEAN(transactions.float_c21)>,
 <Feature: MEAN(transactions.int_c19)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_sin)>,
 <Feature: MIN(transactions.float_c16)>,
 <Feature: MIN(transactions.float_c17)>,
 <Feature: MIN(transactions.float_c18)>,
 <Feature: MIN(transactions.float_c20)>,
 <Feature: MIN(transactions.float_c21)>,
 <Feature: MIN(transactions.int_c19)>,
 <Feature: MODE(transactions.cat_c2) = 14>,
 <Feature: MODE(transactions.cat_c2) = 15>,
 <Feature: MODE(transactions.cat_c2) = 4>,
 <Feature: MODE(transactions.cat_c2) = 1>,
 <Feature: MODE(transactions.cat_c2) = 17>,
 <Feature: MODE(transactions.cat_c2) = 18>,
 <Feature: MODE(transactions.cat_c2) = 2>,
 <Feature: MODE(transactions.cat_c2) = 21>,
 <Feature: MODE(transactions.cat_c2) = 13>,
 <Feature: MODE(transactions.cat_c2) = 23>,
 <Feature: MODE(transactions.cat_c2) is unknown>,
 <Feature: MODE(transactions.cat_c3) = 314>,
 <Feature: MODE(transactions.cat_c3) = 209>,
 <Feature: MODE(transactions.cat_c3) = 305>,
 <Feature: MODE(transactions.cat_c3) = 303>,
 <Feature: MODE(transactions.cat_c3) = 149>,
 <Feature: MODE(transactions.cat_c3) = 312>,
 <Feature: MODE(transactions.cat_c3) = 304>,
 <Feature: MODE(transactions.cat_c3) = 356>,
 <Feature: MODE(transactions.cat_c3) = 311>,
 <Feature: MODE(transactions.cat_c3) = 252>,
 <Feature: MODE(transactions.cat_c3) is unknown>,
 <Feature: MODE(transactions.cat_c4) = 31>,
 <Feature: MODE(transactions.cat_c4) = 792>,
 <Feature: MODE(transactions.cat_c4) = 840>,
 <Feature: MODE(transactions.cat_c4) = 616>,
 <Feature: MODE(transactions.cat_c4) = 372>,
 <Feature: MODE(transactions.cat_c4) is unknown>,
 <Feature: NUM_UNIQUE(transactions.cat_c2)>,
 <Feature: NUM_UNIQUE(transactions.cat_c3)>,
 <Feature: NUM_UNIQUE(transactions.cat_c4)>,
 <Feature: NUM_UNIQUE(transactions.tran_date_str)>,
 <Feature: PERCENT_TRUE(transactions.fl_c10)>,
 <Feature: PERCENT_TRUE(transactions.fl_c11)>,
 <Feature: PERCENT_TRUE(transactions.fl_c12)>,
 <Feature: PERCENT_TRUE(transactions.fl_c13)>,
 <Feature: PERCENT_TRUE(transactions.fl_c14)>,
 <Feature: PERCENT_TRUE(transactions.fl_c15)>,
 <Feature: PERCENT_TRUE(transactions.fl_c6)>,
 <Feature: PERCENT_TRUE(transactions.fl_c7)>,
 <Feature: PERCENT_TRUE(transactions.fl_c8)>,
 <Feature: PERCENT_TRUE(transactions.fl_c9)>,
 <Feature: PERCENT_TRUE(transactions.tran_date_is_weekend)>,
 <Feature: SKEW(transactions.float_c16)>,
 <Feature: SKEW(transactions.float_c17)>,
 <Feature: SKEW(transactions.float_c18)>,
 <Feature: SKEW(transactions.float_c20)>,
 <Feature: SKEW(transactions.float_c21)>,
 <Feature: SKEW(transactions.int_c19)>,
 <Feature: STD(transactions.float_c16)>,
 <Feature: STD(transactions.float_c17)>,
 <Feature: STD(transactions.float_c18)>,
 <Feature: STD(transactions.float_c20)>,
 <Feature: STD(transactions.float_c21)>,
 <Feature: STD(transactions.int_c19)>,
 <Feature: SUM(transactions.float_c16)>,
 <Feature: SUM(transactions.float_c17)>,
 <Feature: SUM(transactions.float_c18)>,
 <Feature: SUM(transactions.float_c20)>,
 <Feature: SUM(transactions.float_c21)>,
 <Feature: SUM(transactions.int_c19)>,
 <Feature: TIME_SINCE_FIRST(transactions.tran_date, unit=days)>,
 <Feature: TIME_SINCE_LAST(transactions.tran_date, unit=days)>,
 <Feature: COUNT(activities)>,
 <Feature: FIRST(activities.activity_date)>,
 <Feature: KURTOSIS(activities.float_c11)>,
 <Feature: KURTOSIS(activities.float_c12)>,
 <Feature: KURTOSIS(activities.float_c14)>,
 <Feature: LAST(activities.activity_date)>,
 <Feature: MAX(activities.float_c11)>,
 <Feature: MAX(activities.float_c12)>,
 <Feature: MAX(activities.float_c14)>,
 <Feature: MEAN(activities.activity_date_day_of_month_cos)>,
 <Feature: MEAN(activities.activity_date_day_of_month_sin)>,
 <Feature: MEAN(activities.activity_date_day_of_week_cos)>,
 <Feature: MEAN(activities.activity_date_day_of_week_sin)>,
 <Feature: MEAN(activities.float_c11)>,
 <Feature: MEAN(activities.float_c12)>,
 <Feature: MEAN(activities.float_c14)>,
 <Feature: MIN(activities.float_c11)>,
 <Feature: MIN(activities.float_c12)>,
 <Feature: MIN(activities.float_c14)>,
 <Feature: MODE(activities.cat_c3) = 21>,
 <Feature: MODE(activities.cat_c3) = 13>,
 <Feature: MODE(activities.cat_c3) = 10>,
 <Feature: MODE(activities.cat_c3) is unknown>,
 <Feature: MODE(activities.cat_c4) = 1>,
 <Feature: MODE(activities.cat_c4) = 2>,
 <Feature: MODE(activities.cat_c4) is unknown>,
 <Feature: MODE(activities.cat_c5) = 3>,
 <Feature: MODE(activities.cat_c5) is unknown>,
 <Feature: MODE(activities.cat_c6) = 1>,
 <Feature: MODE(activities.cat_c6) = 2>,
 <Feature: MODE(activities.cat_c6) = 3>,
 <Feature: MODE(activities.cat_c6) = 4>,
 <Feature: MODE(activities.cat_c6) = 8>,
 <Feature: MODE(activities.cat_c6) = 5>,
 <Feature: MODE(activities.cat_c6) = 6>,
 <Feature: MODE(activities.cat_c6) is unknown>,
 <Feature: MODE(activities.cat_c9) = 1>,
 <Feature: MODE(activities.cat_c9) = 2>,
 <Feature: MODE(activities.cat_c9) is unknown>,
 <Feature: NUM_UNIQUE(activities.activity_date_str)>,
 <Feature: NUM_UNIQUE(activities.cat_c3)>,
 <Feature: NUM_UNIQUE(activities.cat_c4)>,
 <Feature: NUM_UNIQUE(activities.cat_c5)>,
 <Feature: NUM_UNIQUE(activities.cat_c6)>,
 <Feature: NUM_UNIQUE(activities.cat_c9)>,
 <Feature: PERCENT_TRUE(activities.activity_date_is_weekend)>,
 <Feature: PERCENT_TRUE(activities.cat_c10)>,
 <Feature: PERCENT_TRUE(activities.cat_c8)>,
 <Feature: SKEW(activities.float_c11)>,
 <Feature: SKEW(activities.float_c12)>,
 <Feature: SKEW(activities.float_c14)>,
 <Feature: STD(activities.float_c11)>,
 <Feature: STD(activities.float_c12)>,
 <Feature: STD(activities.float_c14)>,
 <Feature: SUM(activities.float_c11)>,
 <Feature: SUM(activities.float_c12)>,
 <Feature: SUM(activities.float_c14)>,
 <Feature: TIME_SINCE_FIRST(activities.activity_date, unit=days)>,
 <Feature: TIME_SINCE_LAST(activities.activity_date, unit=days)>,
 <Feature: COUNT(comms)>,
 <Feature: FIRST(comms.contact_date)>,
 <Feature: LAST(comms.contact_date)>,
 <Feature: MEAN(comms.contact_date_day_of_month_cos)>,
 <Feature: MEAN(comms.contact_date_day_of_month_sin)>,
 <Feature: MEAN(comms.contact_date_day_of_week_cos)>,
 <Feature: MEAN(comms.contact_date_day_of_week_sin)>,
 <Feature: MODE(comms.cat_c2) = S3565>,
 <Feature: MODE(comms.cat_c2) = S3677>,
 <Feature: MODE(comms.cat_c2) = S3564>,
 <Feature: MODE(comms.cat_c2) = S3769>,
 <Feature: MODE(comms.cat_c2) = S3566>,
 <Feature: MODE(comms.cat_c2) = S3736>,
 <Feature: MODE(comms.cat_c2) = S27888>,
 <Feature: MODE(comms.cat_c2) = S7474>,
 <Feature: MODE(comms.cat_c2) = S3563>,
 <Feature: MODE(comms.cat_c2) = B12034>,
 <Feature: MODE(comms.cat_c2) is unknown>,
 <Feature: MODE(comms.cat_c3) = 4>,
 <Feature: MODE(comms.cat_c3) = 1>,
 <Feature: MODE(comms.cat_c3) = 3>,
 <Feature: MODE(comms.cat_c3) is unknown>,
 <Feature: MODE(comms.cat_c4) = 1>,
 <Feature: MODE(comms.cat_c4) = 2>,
 <Feature: MODE(comms.cat_c4) = 3>,
 <Feature: MODE(comms.cat_c4) is unknown>,
 <Feature: MODE(comms.cat_c5) = 4>,
 <Feature: MODE(comms.cat_c5) = 0>,
 <Feature: MODE(comms.cat_c5) = 7>,
 <Feature: MODE(comms.cat_c5) is unknown>,
 <Feature: NUM_UNIQUE(comms.cat_c2)>,
 <Feature: NUM_UNIQUE(comms.cat_c3)>,
 <Feature: NUM_UNIQUE(comms.cat_c4)>,
 <Feature: NUM_UNIQUE(comms.cat_c5)>,
 <Feature: NUM_UNIQUE(comms.contact_date_str)>,
 <Feature: PERCENT_TRUE(comms.contact_date_is_weekend)>,
 <Feature: TIME_SINCE_FIRST(comms.contact_date, unit=days)>,
 <Feature: TIME_SINCE_LAST(comms.contact_date, unit=days)>,
 <Feature: DAY(communication_month)>,
 <Feature: IS_WEEKEND(communication_month)>,
 <Feature: MONTH(communication_month)>,
 <Feature: WEEKDAY(communication_month)>,
 <Feature: COUNT(transactions WHERE cat_c2 = 4)>,
 <Feature: COUNT(transactions WHERE cat_c3 = 314)>,
 <Feature: COUNT(transactions WHERE fl_c14 = True)>,
 <Feature: COUNT(transactions WHERE fl_c14 = False)>,
 <Feature: COUNT(transactions WHERE cat_c3 = 209)>,
 <Feature: COUNT(transactions WHERE cat_c3 = 305)>,
 <Feature: COUNT(transactions WHERE cat_c2 = 15)>,
 <Feature: COUNT(transactions WHERE fl_c12 = True)>,
 <Feature: COUNT(transactions WHERE fl_c12 = False)>,
 <Feature: COUNT(transactions WHERE tran_date_is_weekend = True)>,
 <Feature: COUNT(transactions WHERE int_c19 = -1)>,
 <Feature: COUNT(transactions WHERE tran_date_is_weekend = False)>,
 <Feature: COUNT(transactions WHERE cat_c2 = 14)>,
 <Feature: COUNT(transactions WHERE fl_c13 = True)>,
 <Feature: COUNT(transactions WHERE cat_c3 = 303)>,
 <Feature: COUNT(transactions WHERE int_c19 = 1)>,
 <Feature: COUNT(transactions WHERE fl_c13 = False)>,
 <Feature: FIRST(transactions.DAY(tran_date))>,
 <Feature: FIRST(transactions.IS_WEEKEND(tran_date))>,
 <Feature: FIRST(transactions.MONTH(tran_date))>,
 <Feature: FIRST(transactions.WEEKDAY(tran_date))>,
 <Feature: LAST(transactions.DAY(tran_date))>,
 <Feature: LAST(transactions.IS_WEEKEND(tran_date))>,
 <Feature: LAST(transactions.MONTH(tran_date))>,
 <Feature: LAST(transactions.WEEKDAY(tran_date))>,
 <Feature: MEAN(transactions.float_c16 WHERE cat_c2 = 4)>,
 <Feature: MEAN(transactions.float_c16 WHERE cat_c3 = 314)>,
 <Feature: MEAN(transactions.float_c16 WHERE fl_c14 = True)>,
 <Feature: MEAN(transactions.float_c16 WHERE fl_c14 = False)>,
 <Feature: MEAN(transactions.float_c16 WHERE cat_c3 = 209)>,
 <Feature: MEAN(transactions.float_c16 WHERE cat_c3 = 305)>,
 <Feature: MEAN(transactions.float_c16 WHERE cat_c2 = 15)>,
 <Feature: MEAN(transactions.float_c16 WHERE fl_c12 = True)>,
 <Feature: MEAN(transactions.float_c16 WHERE fl_c12 = False)>,
 <Feature: MEAN(transactions.float_c16 WHERE tran_date_is_weekend = True)>,
 <Feature: MEAN(transactions.float_c16 WHERE int_c19 = -1)>,
 <Feature: MEAN(transactions.float_c16 WHERE tran_date_is_weekend = False)>,
 <Feature: MEAN(transactions.float_c16 WHERE cat_c2 = 14)>,
 <Feature: MEAN(transactions.float_c16 WHERE fl_c13 = True)>,
 <Feature: MEAN(transactions.float_c16 WHERE cat_c3 = 303)>,
 <Feature: MEAN(transactions.float_c16 WHERE int_c19 = 1)>,
 <Feature: MEAN(transactions.float_c16 WHERE fl_c13 = False)>,
 <Feature: MEAN(transactions.float_c17 WHERE cat_c2 = 4)>,
 <Feature: MEAN(transactions.float_c17 WHERE cat_c3 = 314)>,
 <Feature: MEAN(transactions.float_c17 WHERE fl_c14 = True)>,
 <Feature: MEAN(transactions.float_c17 WHERE fl_c14 = False)>,
 <Feature: MEAN(transactions.float_c17 WHERE cat_c3 = 209)>,
 <Feature: MEAN(transactions.float_c17 WHERE cat_c3 = 305)>,
 <Feature: MEAN(transactions.float_c17 WHERE cat_c2 = 15)>,
 <Feature: MEAN(transactions.float_c17 WHERE fl_c12 = True)>,
 <Feature: MEAN(transactions.float_c17 WHERE fl_c12 = False)>,
 <Feature: MEAN(transactions.float_c17 WHERE tran_date_is_weekend = True)>,
 <Feature: MEAN(transactions.float_c17 WHERE int_c19 = -1)>,
 <Feature: MEAN(transactions.float_c17 WHERE tran_date_is_weekend = False)>,
 <Feature: MEAN(transactions.float_c17 WHERE cat_c2 = 14)>,
 <Feature: MEAN(transactions.float_c17 WHERE fl_c13 = True)>,
 <Feature: MEAN(transactions.float_c17 WHERE cat_c3 = 303)>,
 <Feature: MEAN(transactions.float_c17 WHERE int_c19 = 1)>,
 <Feature: MEAN(transactions.float_c17 WHERE fl_c13 = False)>,
 <Feature: MEAN(transactions.float_c18 WHERE cat_c2 = 4)>,
 <Feature: MEAN(transactions.float_c18 WHERE cat_c3 = 314)>,
 <Feature: MEAN(transactions.float_c18 WHERE fl_c14 = True)>,
 <Feature: MEAN(transactions.float_c18 WHERE fl_c14 = False)>,
 <Feature: MEAN(transactions.float_c18 WHERE cat_c3 = 209)>,
 <Feature: MEAN(transactions.float_c18 WHERE cat_c3 = 305)>,
 <Feature: MEAN(transactions.float_c18 WHERE cat_c2 = 15)>,
 <Feature: MEAN(transactions.float_c18 WHERE fl_c12 = True)>,
 <Feature: MEAN(transactions.float_c18 WHERE fl_c12 = False)>,
 <Feature: MEAN(transactions.float_c18 WHERE tran_date_is_weekend = True)>,
 <Feature: MEAN(transactions.float_c18 WHERE int_c19 = -1)>,
 <Feature: MEAN(transactions.float_c18 WHERE tran_date_is_weekend = False)>,
 <Feature: MEAN(transactions.float_c18 WHERE cat_c2 = 14)>,
 <Feature: MEAN(transactions.float_c18 WHERE fl_c13 = True)>,
 <Feature: MEAN(transactions.float_c18 WHERE cat_c3 = 303)>,
 <Feature: MEAN(transactions.float_c18 WHERE int_c19 = 1)>,
 <Feature: MEAN(transactions.float_c18 WHERE fl_c13 = False)>,
 <Feature: MEAN(transactions.float_c20 WHERE cat_c2 = 4)>,
 <Feature: MEAN(transactions.float_c20 WHERE cat_c3 = 314)>,
 <Feature: MEAN(transactions.float_c20 WHERE fl_c14 = True)>,
 <Feature: MEAN(transactions.float_c20 WHERE fl_c14 = False)>,
 <Feature: MEAN(transactions.float_c20 WHERE cat_c3 = 209)>,
 <Feature: MEAN(transactions.float_c20 WHERE cat_c3 = 305)>,
 <Feature: MEAN(transactions.float_c20 WHERE cat_c2 = 15)>,
 <Feature: MEAN(transactions.float_c20 WHERE fl_c12 = True)>,
 <Feature: MEAN(transactions.float_c20 WHERE fl_c12 = False)>,
 <Feature: MEAN(transactions.float_c20 WHERE tran_date_is_weekend = True)>,
 <Feature: MEAN(transactions.float_c20 WHERE int_c19 = -1)>,
 <Feature: MEAN(transactions.float_c20 WHERE tran_date_is_weekend = False)>,
 <Feature: MEAN(transactions.float_c20 WHERE cat_c2 = 14)>,
 <Feature: MEAN(transactions.float_c20 WHERE fl_c13 = True)>,
 <Feature: MEAN(transactions.float_c20 WHERE cat_c3 = 303)>,
 <Feature: MEAN(transactions.float_c20 WHERE int_c19 = 1)>,
 <Feature: MEAN(transactions.float_c20 WHERE fl_c13 = False)>,
 <Feature: MEAN(transactions.float_c21 WHERE cat_c2 = 4)>,
 <Feature: MEAN(transactions.float_c21 WHERE cat_c3 = 314)>,
 <Feature: MEAN(transactions.float_c21 WHERE fl_c14 = True)>,
 <Feature: MEAN(transactions.float_c21 WHERE fl_c14 = False)>,
 <Feature: MEAN(transactions.float_c21 WHERE cat_c3 = 209)>,
 <Feature: MEAN(transactions.float_c21 WHERE cat_c3 = 305)>,
 <Feature: MEAN(transactions.float_c21 WHERE cat_c2 = 15)>,
 <Feature: MEAN(transactions.float_c21 WHERE fl_c12 = True)>,
 <Feature: MEAN(transactions.float_c21 WHERE fl_c12 = False)>,
 <Feature: MEAN(transactions.float_c21 WHERE tran_date_is_weekend = True)>,
 <Feature: MEAN(transactions.float_c21 WHERE int_c19 = -1)>,
 <Feature: MEAN(transactions.float_c21 WHERE tran_date_is_weekend = False)>,
 <Feature: MEAN(transactions.float_c21 WHERE cat_c2 = 14)>,
 <Feature: MEAN(transactions.float_c21 WHERE fl_c13 = True)>,
 <Feature: MEAN(transactions.float_c21 WHERE cat_c3 = 303)>,
 <Feature: MEAN(transactions.float_c21 WHERE int_c19 = 1)>,
 <Feature: MEAN(transactions.float_c21 WHERE fl_c13 = False)>,
 <Feature: MEAN(transactions.int_c19 WHERE cat_c2 = 4)>,
 <Feature: MEAN(transactions.int_c19 WHERE cat_c3 = 314)>,
 <Feature: MEAN(transactions.int_c19 WHERE fl_c14 = True)>,
 <Feature: MEAN(transactions.int_c19 WHERE fl_c14 = False)>,
 <Feature: MEAN(transactions.int_c19 WHERE cat_c3 = 209)>,
 <Feature: MEAN(transactions.int_c19 WHERE cat_c3 = 305)>,
 <Feature: MEAN(transactions.int_c19 WHERE cat_c2 = 15)>,
 <Feature: MEAN(transactions.int_c19 WHERE fl_c12 = True)>,
 <Feature: MEAN(transactions.int_c19 WHERE fl_c12 = False)>,
 <Feature: MEAN(transactions.int_c19 WHERE tran_date_is_weekend = True)>,
 <Feature: MEAN(transactions.int_c19 WHERE tran_date_is_weekend = False)>,
 <Feature: MEAN(transactions.int_c19 WHERE cat_c2 = 14)>,
 <Feature: MEAN(transactions.int_c19 WHERE fl_c13 = True)>,
 <Feature: MEAN(transactions.int_c19 WHERE cat_c3 = 303)>,
 <Feature: MEAN(transactions.int_c19 WHERE fl_c13 = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 4)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 314)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c14 = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c14 = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 209)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 305)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 15)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c12 = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c12 = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE tran_date_is_weekend = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE int_c19 = -1)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE tran_date_is_weekend = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 14)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c13 = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 303)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE int_c19 = 1)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c13 = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 4)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 314)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c14 = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c14 = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 209)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 305)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 15)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c12 = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c12 = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE tran_date_is_weekend = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE int_c19 = -1)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE tran_date_is_weekend = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 14)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c13 = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 303)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE int_c19 = 1)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c13 = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 4)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 314)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c14 = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c14 = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 209)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 305)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 15)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c12 = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c12 = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE tran_date_is_weekend = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE int_c19 = -1)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE tran_date_is_weekend = False)>,

,target,is_train,communication_month,COUNT(transactions),FIRST(transactions.tran_date),KURTOSIS(transactions.float_c16),KURTOSIS(transactions.float_c17),KURTOSIS(transactions.float_c18),KURTOSIS(transactions.float_c20),KURTOSIS(transactions.float_c21),KURTOSIS(transactions.int_c19),LAST(transactions.tran_date),MAX(transactions.float_c16),MAX(transactions.float_c17),MAX(transactions.float_c18),MAX(transactions.float_c20),MAX(transactions.float_c21),MAX(transactions.int_c19),MEAN(transactions.float_c16),MEAN(transactions.float_c17),MEAN(transactions.float_c18),MEAN(transactions.float_c20),MEAN(transactions.float_c21),MEAN(transactions.int_c19),MEAN(transactions.tran_date_day_of_month_cos),MEAN(transactions.tran_date_day_of_month_sin),MEAN(transactions.tran_date_day_of_week_cos),MEAN(transactions.tran_date_day_of_week_sin),MIN(transactions.float_c16),MIN(transactions.float_c17),MIN(transactions.float_c18),MIN(transactions.float_c20),MIN(transactions.float_c21),MIN(transactions.int_c19),NUM_UNIQUE(transactions.cat_c2),NUM_UNIQUE(transactions.cat_c3),NUM_UNIQUE(transactions.cat_c4),NUM_UNIQUE(transactions.tran_date_str),PERCENT_TRUE(transactions.fl_c10),PERCENT_TRUE(transactions.fl_c11),PERCENT_TRUE(transactions.fl_c12),PERCENT_TRUE(transactions.fl_c13),PERCENT_TRUE(transactions.fl_c14),PERCENT_TRUE(transactions.fl_c15),PERCENT_TRUE(transactions.fl_c6),PERCENT_TRUE(transactions.fl_c7),PERCENT_TRUE(transactions.fl_c8),PERCENT_TRUE(transactions.fl_c9),PERCENT_TRUE(transactions.tran_date_is_weekend),SKEW(transactions.float_c16),SKEW(transactions.float_c17),SKEW(transactions.float_c18),SKEW(transactions.float_c20),SKEW(transactions.float_c21),SKEW(transactions.int_c19),STD(transactions.float_c16),STD(transactions.float_c17),STD(transactions.float_c18),STD(transactions.float_c20),STD(transactions.float_c21),STD(transactions.int_c19),SUM(transactions.float_c16),SUM(transactions.float_c17),SUM(transactions.float_c18),SUM(transactions.float_c20),SUM(transactions.float_c21),SUM(transactions.int_c19),"TIME_SINCE_FIRST(transactions.tran_date, unit=days)","TIME_SINCE_LAST(transactions.tran_date, unit=days)",COUNT(activities),FIRST(activities.activity_date),KURTOSIS(activities.float_c11),KURTOSIS(activities.float_c12),KURTOSIS(activities.float_c14),LAST(activities.activity_date),MAX(activities.float_c11),MAX(activities.float_c12),MAX(activities.float_c14),MEAN(activities.activity_date_day_of_month_cos),MEAN(activities.activity_date_day_of_month_sin),MEAN(activities.activity_date_day_of_week_cos),MEAN(activities.activity_date_day_of_week_sin),MEAN(activities.float_c11),MEAN(activities.float_c12),MEAN(activities.float_c14),MIN(activities.float_c11),MIN(activities.float_c12),MIN(activities.float_c14),NUM_UNIQUE(activities.activity_date_str),NUM_UNIQUE(activities.cat_c3),NUM_UNIQUE(activities.cat_c4),NUM_UNIQUE(activities.cat_c5),NUM_UNIQUE(activities.cat_c6),NUM_UNIQUE(activities.cat_c9),PERCENT_TRUE(activities.activity_date_is_weekend),PERCENT_TRUE(activities.cat_c10),PERCENT_TRUE(activities.cat_c8),SKEW(activities.float_c11),SKEW(activities.float_c12),SKEW(activities.float_c14),STD(activities.float_c11),STD(activities.float_c12),STD(activities.float_c14),SUM(activities.float_c11),SUM(activities.float_c12),SUM(activities.float_c14),"TIME_SINCE_FIRST(activities.activity_date, unit=days)","TIME_SINCE_LAST(activities.activity_date, unit=days)",COUNT(comms),FIRST(comms.contact_date),LAST(comms.contact_date),MEAN(comms.contact_date_day_of_month_cos),MEAN(comms.contact_date_day_of_month_sin),MEAN(comms.contact_date_day_of_week_cos),MEAN(comms.contact_date_day_of_week_sin),NUM_UNIQUE(comms.cat_c2),NUM_UNIQUE(comms.cat_c3),NUM_UNIQUE(comms.cat_c4),NUM_UNIQUE(comms.cat_c5),NUM_UNIQUE(comms.contact_date_str),PERCENT_TRUE(comms.contact_date_is_weekend),"TIME_SINCE_FIRST(comms.contact_date, unit=days)","TIME_SINCE_LAST(comms.contact_date, unit=days)",DAY(communication_month),IS_WEEKEND(communication_month),MONTH(communication_month),WEEKDAY(communication_month),COUNT(transactions WHERE cat_c2 = 4),COUNT(transactions WHERE cat_c3 = 314),COUNT(transactions WHERE fl_c14 = True),COUNT(transactions WHERE fl_c14 = False),COUNT(transactions WHERE cat_c3 = 209),COUNT(transactions WHERE cat_c3 = 305),COUNT(transactions WHERE cat_c2 = 15),COUNT(transactions WHERE fl_c12 = True),COUNT(transactions WHERE fl_c12 = False),COUNT(transactions WHERE tran_date_is_weekend = True),COUNT(transactions WHERE int_c19 = -1),COUNT(transactions WHERE tran_date_is_weekend = False),COUNT(transactions WHERE cat_c2 = 14),COUNT(transactions WHERE fl_c13 = True),COUNT(transactions WHERE cat_c3 = 303),COUNT(transactions WHERE int_c19 = 1),COUNT(transactions WHERE fl_c13 = False),FIRST(transactions.DAY(tran_date)),FIRST(transactions.IS_WEEKEND(tran_date)),FIRST(transactions.MONTH(tran_date)),FIRST(transactions.WEEKDAY(tran_date)),LAST(transactions.DAY(tran_date)),LAST(transactions.IS_WEEKEND(tran_date)),LAST(transactions.MONTH(tran_date)),LAST(transactions.WEEKDAY(tran_date)),MEAN(transactions.float_c16 WHERE cat_c2 = 4),MEAN(transactions.float_c16 WHERE cat_c3 = 314),MEAN(transactions.float_c16 WHERE fl_c14 = True),MEAN(transactions.float_c16 WHERE fl_c14 = False),MEAN(transactions.float_c16 WHERE cat_c3 = 209),MEAN(transactions.float_c16 WHERE cat_c3 = 305),MEAN(transactions.float_c16 WHERE cat_c2 = 15),MEAN(transactions.float_c16 WHERE fl_c12 = True),MEAN(transactions.float_c16 WHERE fl_c12 = False),MEAN(transactions.float_c16 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c16 WHERE int_c19 = -1),MEAN(transactions.float_c16 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c16 WHERE cat_c2 = 14),MEAN(transactions.float_c16 WHERE fl_c13 = True),MEAN(transactions.float_c16 WHERE cat_c3 = 303),MEAN(transactions.float_c16 WHERE int_c19 = 1),MEAN(transactions.float_c16 WHERE fl_c13 = False),MEAN(transactions.float_c17 WHERE cat_c2 = 4),MEAN(transactions.float_c17 WHERE cat_c3 = 314),MEAN(transactions.float_c17 WHERE fl_c14 = True),MEAN(transactions.float_c17 WHERE fl_c14 = False),MEAN(transactions.float_c17 WHERE cat_c3 = 209),MEAN(transactions.float_c17 WHERE cat_c3 = 305),MEAN(transactions.float_c17 WHERE cat_c2 = 15),MEAN(transactions.float_c17 WHERE fl_c12 = True),MEAN(transactions.float_c17 WHERE fl_c12 = False),MEAN(transactions.float_c17 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c17 WHERE int_c19 = -1),MEAN(transactions.float_c17 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c17 WHERE cat_c2 = 14),MEAN(transactions.float_c17 WHERE fl_c13 = True),MEAN(transactions.float_c17 WHERE cat_c3 = 303),MEAN(transactions.float_c17 WHERE int_c19 = 1),MEAN(transactions.float_c17 WHERE fl_c13 = False),MEAN(transactions.float_c18 WHERE cat_c2 = 4),MEAN(transactions.float_c18 WHERE cat_c3 = 314),MEAN(transactions.float_c18 WHERE fl_c14 = True),MEAN(transactions.float_c18 WHERE fl_c14 = False),MEAN(transactions.float_c18 WHERE cat_c3 = 209),MEAN(transactions.float_c18 WHERE cat_c3 = 305),MEAN(transactions.float_c18 WHERE cat_c2 = 15),MEAN(transactions.float_c18 WHERE fl_c12 = True),MEAN(transactions.float_c18 WHERE fl_c12 = False),MEAN(transactions.float_c18 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c18 WHERE int_c19 = -1),MEAN(transactions.float_c18 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c18 WHERE cat_c2 = 14),MEAN(transactions.float_c18 WHERE fl_c13 = True),MEAN(transactions.float_c18 WHERE cat_c3 = 303),MEAN(transactions.float_c18 WHERE int_c19 = 1),MEAN(transactions.float_c18 WHERE fl_c13 = False),MEAN(transactions.float_c20 WHERE cat_c2 = 4),MEAN(transactions.float_c20 WHERE cat_c3 = 314),MEAN(transactions.float_c20 WHERE fl_c14 = True),MEAN(transactions.float_c20 WHERE fl_c14 = False),MEAN(transactions.float_c20 WHERE cat_c3 = 209),MEAN(transactions.float_c20 WHERE cat_c3 = 305),MEAN(transactions.float_c20 WHERE cat_c2 = 15),MEAN(transactions.float_c20 WHERE fl_c12 = True),MEAN(transactions.float_c20 WHERE fl_c12 = False),MEAN(transactions.float_c20 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c20 WHERE int_c19 = -1),MEAN(transactions.float_c20 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c20 WHERE cat_c2 = 14),MEAN(transactions.float_c20 WHERE fl_c13 = True),MEAN(transactions.float_c20 WHERE cat_c3 = 303),MEAN(transactions.float_c20 WHERE int_c19 = 1),MEAN(transactions.float_c20 WHERE fl_c13 = False),MEAN(transactions.float_c21 WHERE cat_c2 = 4),MEAN(transactions.float_c21 WHERE cat_c3 = 314),MEAN(transactions.float_c21 WHERE fl_c14 = True),MEAN(transactions.float_c21 WHERE fl_c14 = False),MEAN(transactions.float_c21 WHERE cat_c3 = 209),MEAN(transactions.float_c21 WHERE cat_c3 = 305),MEAN(transactions.float_c21 WHERE cat_c2 = 15),MEAN(transactions.float_c21 WHERE fl_c12 = True),MEAN(transactions.float_c21 WHERE fl_c12 = False),MEAN(transactions.float_c21 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c21 WHERE int_c19 = -1),MEAN(transactions.float_c21 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c21 WHERE cat_c2 = 14),MEAN(transactions.float_c21 WHERE fl_c13 = True),MEAN(transactions.float_c21 WHERE cat_c3 = 303),MEAN(transactions.float_c21 WHERE int_c19 = 1),MEAN(transactions.float_c21 WHERE fl_c13 = False),MEAN(transactions.int_c19 WHERE cat_c2 = 4),MEAN(transactions.int_c19 WHERE cat_c3 = 314),MEAN(transactions.int_c19 WHERE fl_c14 = True),MEAN(transactions.int_c19 WHERE fl_c14 = False),MEAN(transactions.int_c19 WHERE cat_c3 = 209),MEAN(transactions.int_c19 WHERE cat_c3 = 305),MEAN(transactions.int_c19 WHERE cat_c2 = 15),MEAN(transactions.int_c19 WHERE fl_c12 = True),MEAN(transactions.int_c19 WHERE fl_c12 = False),MEAN(transactions.int_c19 WHERE tran_date_is_weekend = True),MEAN(transactions.int_c19 WHERE tran_date_is_weekend = False),MEAN(transactions.int_c19 WHERE cat_c2 = 14),MEAN(transactions.int_c19 WHERE fl_c13 = True),MEAN(transactions.int_c19 WHERE cat_c3 = 303),MEAN(transactions.int_c19 WHERE fl_c13 = False),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 4),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 314),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c14 = True),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c14 = False),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 209),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 305),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 15),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c12 = True),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c12 = False),MEAN(transactions.tran_date_day_of_month_cos WHERE tran_date_is_weekend = True),MEAN(transactions.tran_date_day_of_month_cos WHERE int_c19 = -1),MEAN(transactions.tran_date_day_of_month_cos WHERE tran_date_is_weekend = False),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 14),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c13 = True),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 303),MEAN(transactions.tran_date_day_of_month_cos WHERE int_c19 = 1),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c13 = False),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 4),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 314),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c14 = True),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c14 = False),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 209),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 305),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 15),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c12 = True),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c12 = False),MEAN(transactions.tran_date_day_of_month_sin WHERE tran_date_is_weekend = True),MEAN(transactions.tran_date_day_of_month_sin WHERE int_c19 = -1),MEAN(transactions.tran_date_day_of_month_sin WHERE tran_date_is_weekend = False),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 14),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c13 = True),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 303),MEAN(transactions.tran_date_day_of_month_sin WHERE int_c19 = 1),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c13 = False),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 4),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 314),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c14 = True),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c14 = False),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 209),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 305),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 15),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c12 = True),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c12 = False),MEAN(transactions.tran_date_day_of_week_cos WHERE tran_date_is_weekend = True),MEAN(transactions.tran_date_day_of_week_cos WHERE int_c19 = -1),MEAN(transactions.tran_date_day_of_week_cos WHERE tran_date_is_weekend = False),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 14),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c13 = True),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 303),MEAN(transactions.tran_date_day_of_week_cos WHERE int_c19 = 1),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c13 = False),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 4),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 314),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c14 = True),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c14 = False),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 209),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 305),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 15),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c12 = True),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c12 = False),MEAN(transactions.tran_date_day_of_week_sin WHERE tran_date_is_weekend = True),MEAN(transactions.tran_date_day_of_week_sin WHERE int_c19 = -1),MEAN(transactions.tran_date_day_of_week_sin WHERE tran_date_is_weekend = False),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 14),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c13 = True),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 303),MEAN(transactions.tran_date_day_of_week_sin WHERE int_c19 = 1),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c13 = False),SUM(transactions.float_c16 WHERE cat_c2 = 4),SUM(transactions.float_c16 WHERE cat_c3 = 314),SUM(transactions.float_c16 WHERE fl_c14 = True),SUM(transactions.float_c16 WHERE fl_c14 = False),SUM(transactions.float_c16 WHERE cat_c3 = 209),SUM(transactions.float_c16 WHERE cat_c3 = 305),SUM(transactions.float_c16 WHERE cat_c2 = 15),SUM(transactions.float_c16 WHERE fl_c12 = True),SUM(transactions.float_c16 WHERE fl_c12 = False),SUM(transactions.float_c16 WHERE tran_date_is_weekend = True),SUM(transactions.float_c16 WHERE int_c19 = -1),SUM(transactions.float_c16 WHERE tran_date_is_weekend = False),SUM(transactions.float_c16 WHERE cat_c2 = 14),SUM(transactions.float_c16 WHERE fl_c13 = True),SUM(transactions.float_c16 WHERE cat_c3 = 303),SUM(transactions.float_c16 WHERE int_c19 = 1),SUM(transactions.float_c16 WHERE fl_c13 = False),SUM(transactions.float_c17 WHERE cat_c2 = 4),SUM(transactions.float_c17 WHERE cat_c3 = 314),SUM(transactions.float_c17 WHERE fl_c14 = True),SUM(transactions.float_c17 WHERE fl_c14 = False),SUM(transactions.float_c17 WHERE cat_c3 = 209),SUM(transactions.float_c17 WHERE cat_c3 = 305),SUM(transactions.float_c17 WHERE cat_c2 = 15),SUM(transactions.float_c17 WHERE fl_c12 = True),SUM(transactions.float_c17 WHERE fl_c12 = False),SUM(transactions.float_c17 WHERE tran_date_is_weekend = True),SUM(transactions.float_c17 WHERE int_c19 = -1),SUM(transactions.float_c17 WHERE tran_date_is_weekend = False),SUM(transactions.float_c17 WHERE cat_c2 = 14),SUM(transactions.float_c17 WHERE fl_c13 = True),SUM(transactions.float_c17 WHERE cat_c3 = 303),SUM(transactions.float_c17 WHERE int_c19 = 1),SUM(transactions.float_c17 WHERE fl_c13 = False),SUM(transactions.float_c18 WHERE cat_c2 = 4),SUM(transactions.float_c18 WHERE cat_c3 = 314),SUM(transactions.float_c18 WHERE fl_c14 = True),SUM(transactions.float_c18 WHERE fl_c14 = False),SUM(transactions.float_c18 WHERE cat_c3 = 209),SUM(transactions.float_c18 WHERE cat_c3 = 305),SUM(transactions.float_c18 WHERE cat_c2 = 15),SUM(transactions.float_c18 WHERE fl_c12 = True),SUM(transactions.float_c18 WHERE fl_c12 = False),SUM(transactions.float_c18 WHERE tran_date_is_weekend = True),SUM(transactions.float_c18 WHERE int_c19 = -1),SUM(transactions.float_c18 WHERE tran_date_is_weekend = False),SUM(transactions.float_c18 WHERE cat_c2 = 14),SUM(transactions.float_c18 WHERE fl_c13 = True),SUM(transactions.float_c18 WHERE cat_c3 = 303),SUM(transactions.float_c18 WHERE int_c19 = 1),SUM(transactions.float_c18 WHERE fl_c13 = False),SUM(transactions.float_c20 WHERE cat_c2 = 4),SUM(transactions.float_c20 WHERE cat_c3 = 314),SUM(transactions.float_c20 WHERE fl_c14 = True),SUM(transactions.float_c20 WHERE fl_c14 = False),SUM(transactions.float_c20 WHERE cat_c3 = 209),SUM(transactions.float_c20 WHERE cat_c3 = 305),SUM(transactions.float_c20 WHERE cat_c2 = 15),SUM(transactions.float_c20 WHERE fl_c12 = True),SUM(transactions.float_c20 WHERE fl_c12 = False),SUM(transactions.float_c20 WHERE tran_date_is_weekend = True),SUM(transactions.float_c20 WHERE int_c19 = -1),SUM(transactions.float_c20 WHERE tran_date_is_weekend = False),SUM(transactions.float_c20 WHERE cat_c2 = 14),SUM(transactions.float_c20 WHERE fl_c13 = True),SUM(transactions.float_c20 WHERE cat_c3 = 303),SUM(transactions.float_c20 WHERE int_c19 = 1),SUM(transactions.float_c20 WHERE fl_c13 = False),SUM(transactions.float_c21 WHERE cat_c2 = 4),SUM(transactions.float_c21 WHERE cat_c3 = 314),SUM(transactions.float_c21 WHERE fl_c14 = True),SUM(transactions.float_c21 WHERE fl_c14 = False),SUM(transactions.float_c21 WHERE cat_c3 = 209),SUM(transactions.float_c21 WHERE cat_c3 = 305),SUM(transactions.float_c21 WHERE cat_c2 = 15),SUM(transactions.float_c21 WHERE fl_c12 = True),SUM(transactions.float_c21 WHERE fl_c12 = False),SUM(transactions.float_c21 WHERE tran_date_is_weekend = True),SUM(transactions.float_c21 WHERE int_c19 = -1),SUM(transactions.float_c21 WHERE tran_date_is_weekend = False),SUM(transactions.float_c21 WHERE cat_c2 = 14),SUM(transactions.float_c21 WHERE fl_c13 = True),SUM(transactions.float_c21 WHERE cat_c3 = 303),SUM(transactions.float_c21 WHERE int_c19 = 1),SUM(transactions.float_c21 WHERE fl_c13 = False),SUM(transactions.int_c19 WHERE cat_c2 = 4),SUM(transactions.int_c19 WHERE cat_c3 = 314),SUM(transactions.int_c19 WHERE fl_c14 = True),SUM(transactions.int_c19 WHERE fl_c14 = False),SUM(transactions.int_c19 WHERE cat_c3 = 209),SUM(transactions.int_c19 WHERE cat_c3 = 305),SUM(transactions.int_c19 WHERE cat_c2 = 15),SUM(transactions.int_c19 WHERE fl_c12 = True),SUM(transactions.int_c19 WHERE fl_c12 = False),SUM(transactions.int_c19 WHERE tran_date_is_weekend = True),SUM(transactions.int_c19 WHERE tran_date_is_weekend = False),SUM(transactions.int_c19 WHERE cat_c2 = 14),SUM(transactions.int_c19 WHERE fl_c13 = True),SUM(transactions.int_c19 WHERE cat_c3 = 303),SUM(transactions.int_c19 WHERE fl_c13 = False),COUNT(activities WHERE cat_c8 = True),COUNT(activities WHERE cat_c6 = 2),COUNT(activities WHERE cat_c6 = 3),COUNT(activities WHERE cat_c8 = False),COUNT(activities WHERE cat_c9 = 1),COUNT(activities WHERE cat_c9 = 2),COUNT(activities WHERE cat_c10 = False),COUNT(activities WHERE activity_date_is_weekend = True),COUNT(activities WHERE cat_c10 = True),COUNT(activities WHERE cat_c4 = 1),COUNT(activities WHERE cat_c4 = 2),COUNT(activities WHERE activity_date_is_weekend = False),COUNT(activities WHERE cat_c6 = 1),FIRST(activities.DAY(activity_date)),FIRST(activities.IS_WEEKEND(activity_date)),FIRST(activit

<class 'pandas.core.frame.DataFrame'>
Index: 36337 entries, 10000196835799192770 to 9997098291014878881
Data columns (total 739 columns):
 #    Column                                                                                  Non-Null Count  Dtype
---   ------                                                                                  --------------  -----
 0    target                                                                                  36337 non-null  bool
 1    is_train                                                                                36337 non-null  bool
 2    communication_month                                                                     36337 non-null  datetime64[ns]
 3    COUNT(transactions)                                                                     36337 non-null  Int64
 4    FIRST(transactions.tran_date)                                                           35070 non-null  datetime64[ns]
 5    KURTOSIS(transactions.float_c16)                                                        36337 non-null  float64
 6    KURTOSIS(transactions.float_c17)                                                        36337 non-null  float64
 7    KURTOSIS(transactions.float_c18)                                                        36337 non-null  float64
 8    KURTOSIS(transactions.float_c20)                                                        36337 non-null  float64
 9    KURTOSIS(transactions.float_c21)                                                        36337 non-null  float64
 10   KURTOSIS(transactions.int_c19)                                                          36337 non-null  float64
 11   LAST(transactions.tran_date)                                                            35070 non-null  datetime64[ns]
 12   MAX(transactions.float_c16)                                                             35070 non-null  float64
 13   MAX(transactions.float_c17)                                                             35070 non-null  float64
 14   MAX(transactions.float_c18)                                                             35070 non-null  float64
 15   MAX(transactions.float_c20)                                                             35070 non-null  float64
 16   MAX(transactions.float_c21)                                                             35070 non-null  float64
 17   MAX(transactions.int_c19)                                                               35070 non-null  float64
 18   MEAN(transactions.float_c16)                                                            35070 non-null  float64
 19   MEAN(transactions.float_c17)                                                            35070 non-null  float64
 20   MEAN(transactions.float_c18)                                                            35070 non-null  float64
 21   MEAN(transactions.float_c20)                                                            35070 non-null  float64
 22   MEAN(transactions.float_c21)                                                            35070 non-null  float64
 23   MEAN(transactions.int_c19)                                                              35070 non-null  float64
 24   MEAN(transactions.tran_date_day_of_month_cos)                                           35070 non-null  float64
 25   MEAN(transactions.tran_date_day_of_month_sin)                                           35070 non-null  float64
 26   MEAN(transactions.tran_date_day_of_week_cos)                                            35070 non-null  float64
 27   MEAN(transactions.tran_date_day_of_week_sin)                                            35070 non-null  float64
 28   MIN(transactions.float_c16)                                                             35070 non-null  float64
 29   MIN(transactions.float_c17)                                                             35070 non-null  float64
 30   MIN(transactions.float_c18)                                                             35070 non-null  float64
 31   MIN(transactions.float_c20)                                                             35070 non-null  float64
 32   MIN(transactions.float_c21)                                                             35070 non-null  float64
 33   MIN(transactions.int_c19)                                                               35070 non-null  float64
 34   NUM_UNIQUE(transactions.cat_c2)                                                         35070 non-null  Int64
 35   NUM_UNIQUE(transactions.cat_c3)                                                         35070 non-null  Int64
 36   NUM_UNIQUE(transactions.cat_c4)                                                         35070 non-null  Int64
 37   NUM_UNIQUE(transactions.tran_date_str)                                                  35070 non-null  Int64
 38   PERCENT_TRUE(transactions.fl_c10)                                                       35070 non-null  float64
 39   PERCENT_TRUE(transactions.fl_c11)                                                       35070 non-null  float64
 40   PERCENT_TRUE(transactions.fl_c12)                                                       35070 non-null  float64
 41   PERCENT_TRUE(transactions.fl_c13)                                                       35070 non-null  float64
 42   PERCENT_TRUE(transactions.fl_c14)                                                       35070 non-null  float64
 43   PERCENT_TRUE(transactions.fl_c15)                                                       35070 non-null  float64
 44   PERCENT_TRUE(transactions.fl_c6)                                                        35070 non-null  float64
 45   PERCENT_TRUE(transactions.fl_c7)                                                        35070 non-null  float64
 46   PERCENT_TRUE(transactions.fl_c8)                                                        35070 non-null  float64
 47   PERCENT_TRUE(transactions.fl_c9)                                                        35070 non-null  float64
 48   PERCENT_TRUE(transactions.tran_date_is_weekend)                                         35070 non-null  float64
 49   SKEW(transactions.float_c16)                                                            34815 non-null  float64
 50   SKEW(transactions.float_c17)                                                            34815 non-null  float64
 51   SKEW(transactions.float_c18)                                                            34815 non-null  float64
 52   SKEW(transactions.float_c20)                                                            34815 non-null  float64
 53   SKEW(transactions.float_c21)                                                            34815 non-null  float64
 54   SKEW(transactions.int_c19)                                                              34815 non-null  float64
 55   STD(transactions.float_c16)                                                             34989 non-null  float64
 56   STD(transactions.float_c17)                                                             34989 non-null  float64
 57   STD(transactions.float_c18)                                                             34989 non-null  float64
 58   STD(transactions.float_c20)                                                             34989 non-null  float64
 59   STD(transactions.float_c21)                                                             34989 non-null  float64
 60   STD(transactions.int_c19)                                                               34989 non-null  float64
 61   SUM(transactions.float_c16)                                                             36337 non-null  float64
 62   SUM(transactions.float_c17)                                                             36337 non-null  float64
 63   SUM(transactions.float_c18)                                                             36337 non-null  float64
 64   SUM(transactions.float_c20)                                                             36337 non-null  float64
 65   SUM(transactions.float_c21)                                                             36337 non-null  float64
 66   SUM(transactions.int_c19)                                                               36337 non-null  float64
 67   TIME_SINCE_FIRST(transactions.tran_date, unit=days)                                     35070 non-null  float64
 68   TIME_SINCE_LAST(transactions.tran_date, unit=days)                                      35070 non-null  float64
 69   COUNT(activities)                                                                       36337 non-null  Int64
 70   FIRST(activities.activity_date)                                                         35669 non-null  datetime64[ns]
 71   KURTOSIS(activities.float_c11)                                                          36337 non-null  float64
 72   KURTOSIS(activities.float_c12)                                                          36337 non-null  float64
 73   KURTOSIS(activities.float_c14)                                                          36337 non-null  float64
 74   LAST(activities.activity_date)                                                          35669 non-null  datetime64[ns]
 75   MAX(activities.float_c11)                                                               35669 non-null  float64
 76   MAX(activities.float_c12)                                                               35669 non-null  float64
 77   MAX(activities.float_c14)                                                               35669 non-null  float64
 78   MEAN(activities.activity_date_day_of_month_cos)                                         35669 non-null  float64
 79   MEAN(activities.activity_date_day_of_month_sin)                                         35669 non-null  float64
 80   MEAN(activities.activity_date_day_of_week_cos)                                          35669 non-null  float64
 81   MEAN(activities.activity_date_day_of_week_sin)                                          35669 non-null  float64
 82   MEAN(activities.float_c11)                                                              35669 non-null  float64
 83   MEAN(activities.float_c12)                                                              35669 non-null  float64
 84   MEAN(activities.float_c14)                                                              35669 non-null  float64
 85   MIN(activities.float_c11)                                                               35669 non-null  float64
 86   MIN(activities.float_c12)                                                               35669 non-null  float64
 87   MIN(activities.float_c14)                                                               35669 non-null  float64
 88   NUM_UNIQUE(activities.activity_date_str)                                                35669 non-null  Int64
 89   NUM_UNIQUE(activities.cat_c3)                                                           35669 non-null  Int64
 90   NUM_UNIQUE(activities.cat_c4)                                                           35669 non-null  Int64
 91   NUM_UNIQUE(activities.cat_c5)                                                           35669 non-null  Int64
 92   NUM_UNIQUE(activities.cat_c6)                                                           35669 non-null  Int64
 93   NUM_UNIQUE(activities.cat_c9)                                                           35669 non-null  Int64
 94   PERCENT_TRUE(activities.activity_date_is_weekend)                                       35669 non-null  float64
 95   PERCENT_TRUE(activities.cat_c10)                                                        35669 non-null  float64
 96   PERCENT_TRUE(activities.cat_c8)                                                         35669 non-null  float64
 97   SKEW(activities.float_c11)                                                              35567 non-null  float64
 98   SKEW(activities.float_c12)                                                              35567 non-null  float64
 99   SKEW(activities.float_c14)                                                              35567 non-null  float64
 100  STD(activities.float_c11)                                                               35623 non-null  float64
 101  STD(activities.float_c12)                                                               35623 non-null  float64
 102  STD(activities.float_c14)                                                               35623 non-null  float64
 103  SUM(activities.float_c11)                                                               36337 non-null  float64
 104  SUM(activities.float_c12)                                                               36337 non-null  float64
 105  SUM(activities.float_c14)                                                               36337 non-null  float64
 106  TIME_SINCE_FIRST(activities.activity_date, unit=days)                                   35669 non-null  float64
 107  TIME_SINCE_LAST(activities.activity_date, unit=days)                                    35669 non-null  float64
 108  COUNT(comms)                                                                            36337 non-null  Int64
 109  FIRST(comms.contact_date)                                                               35805 non-null  datetime64[ns]
 110  LAST(comms.contact_date)                                                                35805 non-null  datetime64[ns]
 111  MEAN(comms.contact_date_day_of_month_cos)                                               35805 non-null  float64
 112  MEAN(comms.contact_date_day_of_month_sin)                                               35805 non-null  float64
 113  MEAN(comms.contact_date_day_of_week_cos)                                                35805 non-null  float64
 114  MEAN(comms.contact_date_day_of_week_sin)                                                35805 non-null  float64
 115  NUM_UNIQUE(comms.cat_c2)                                                                35805 non-null  Int64
 116  NUM_UNIQUE(comms.cat_c3)                                                                35805 non-null  Int64
 117  NUM_UNIQUE(comms.cat_c4)                                                                35805 non-null  Int64
 118  NUM_UNIQUE(comms.cat_c5)                                                                35805 non-null  Int64
 119  NUM_UNIQUE(comms.contact_date_str)                                                      35805 non-null  Int64
 120  PERCENT_TRUE(comms.contact_date_is_weekend)                                             35805 non-null  float64
 121  TIME_SINCE_FIRST(comms.contact_date, unit=days)                                         35805 non-null  float64
 122  TIME_SINCE_LAST(comms.contact_date, unit=days)                                          35805 non-null  float64
 123  DAY(communication_month)                                                                36337 non-null  category
 124  IS_WEEKEND(communication_month)                                                         36337 non-null  boolean
 125  MONTH(communication_month)                                                              36337 non-null  category
 126  WEEKDAY(communication_month)                                                            36337 non-null  category
 127  COUNT(transactions WHERE cat_c2 = 4)                                                    36337 non-null  Int64
 128  COUNT(transactions WHERE cat_c3 = 314)                                                  36337 non-null  Int64
 129  COUNT(transactions WHERE fl_c14 = True)                                                 36337 non-null  Int64
 130  COUNT(transactions WHERE fl_c14 = False)                                                36337 non-null  Int64
 131  COUNT(transactions WHERE cat_c3 = 209)                                                  36337 non-null  Int64
 132  COUNT(transactions WHERE cat_c3 = 305)                                                  36337 non-null  Int64
 133  COUNT(transactions WHERE cat_c2 = 15)                                                   36337 non-null  Int64
 134  COUNT(transactions WHERE fl_c12 = True)                                                 36337 non-null  Int64
 135  COUNT(transactions WHERE fl_c12 = False)                                                36337 non-null  Int64
 136  COUNT(transactions WHERE tran_date_is_weekend = True)                                   36337 non-null  Int64
 137  COUNT(transactions WHERE int_c19 = -1)                                                  36337 non-null  Int64
 138  COUNT(transactions WHERE tran_date_is_weekend = False)                                  36337 non-null  Int64
 139  COUNT(transactions WHERE cat_c2 = 14)                                                   36337 non-null  Int64
 140  COUNT(transactions WHERE fl_c13 = True)                                                 36337 non-null  Int64
 141  COUNT(transactions WHERE cat_c3 = 303)                                                  36337 non-null  Int64
 142  COUNT(transactions WHERE int_c19 = 1)                                                   36337 non-null  Int64
 143  COUNT(transactions WHERE fl_c13 = False)                                                36337 non-null  Int64
 144  FIRST(transactions.DAY(tran_date))                                                      35070 non-null  category
 145  FIRST(transactions.IS_WEEKEND(tran_date))                                               35070 non-null  boolean
 146  FIRST(transactions.MONTH(tran_date))                                                    35070 non-null  category
 147  FIRST(transactions.WEEKDAY(tran_date))                                                  35070 non-null  category
 148  LAST(transactions.DAY(tran_date))                                                       35070 non-null  category
 149  LAST(transactions.IS_WEEKEND(tran_date))                                                35070 non-null  boolean
 150  LAST(transactions.MONTH(tran_date))                                                     35070 non-null  category
 151  LAST(transactions.WEEKDAY(tran_date))                                                   35070 non-null  category
 152  MEAN(transactions.float_c16 WHERE cat_c2 = 4)                                           29604 non-null  float64
 153  MEAN(transactions.float_c16 WHERE cat_c3 = 314)                                         34633 non-null  float64
 154  MEAN(transactions.float_c16 WHERE fl_c14 = True)                                        30510 non-null  float64
 155  MEAN(transactions.float_c16 WHERE fl_c14 = False)                                       35066 non-null  float64
 156  MEAN(transactions.float_c16 WHERE cat_c3 = 209)                                         29362 non-null  float64
 157  MEAN(transactions.float_c16 WHERE cat_c3 = 305)                                         33917 non-null  float64
 158  MEAN(transactions.float_c16 WHERE cat_c2 = 15)                                          34393 non-null  float64
 159  MEAN(transactions.float_c16 WHERE fl_c12 = True)                                        34393 non-null  float64
 160  MEAN(transactions.float_c16 WHERE fl_c12 = False)                                       35045 non-null  float64
 161  MEAN(transactions.float_c16 WHERE tran_date_is_weekend = True)                          34540 non-null  float64
 162  MEAN(transactions.float_c16 WHERE int_c19 = -1)                                         34910 non-null  float64
 163  MEAN(transactions.float_c16 WHERE tran_date_is_weekend = False)                         34976 non-null  float64
 164  MEAN(transactions.float_c16 WHERE cat_c2 = 14)                                          34938 non-null  float64
 165  MEAN(transactions.float_c16 WHERE fl_c13 = True)                                        31739 non-null  float64

None

,communication_month,COUNT(transactions),FIRST(transactions.tran_date),KURTOSIS(transactions.float_c16),KURTOSIS(transactions.float_c17),KURTOSIS(transactions.float_c18),KURTOSIS(transactions.float_c20),KURTOSIS(transactions.float_c21),KURTOSIS(transactions.int_c19),LAST(transactions.tran_date),MAX(transactions.float_c16),MAX(transactions.float_c17),MAX(transactions.float_c18),MAX(transactions.float_c20),MAX(transactions.float_c21),MAX(transactions.int_c19),MEAN(transactions.float_c16),MEAN(transactions.float_c17),MEAN(transactions.float_c18),MEAN(transactions.float_c20),MEAN(transactions.float_c21),MEAN(transactions.int_c19),MEAN(transactions.tran_date_day_of_month_cos),MEAN(transactions.tran_date_day_of_month_sin),MEAN(transactions.tran_date_day_of_week_cos),MEAN(transactions.tran_date_day_of_week_sin),MIN(transactions.float_c16),MIN(transactions.float_c17),MIN(transactions.float_c18),MIN(transactions.float_c20),MIN(transactions.float_c21),MIN(transactions.int_c19),NUM_UNIQUE(transactions.cat_c2),NUM_UNIQUE(transactions.cat_c3),NUM_UNIQUE(transactions.cat_c4),NUM_UNIQUE(transactions.tran_date_str),PERCENT_TRUE(transactions.fl_c10),PERCENT_TRUE(transactions.fl_c11),PERCENT_TRUE(transactions.fl_c12),PERCENT_TRUE(transactions.fl_c13),PERCENT_TRUE(transactions.fl_c14),PERCENT_TRUE(transactions.fl_c15),PERCENT_TRUE(transactions.fl_c6),PERCENT_TRUE(transactions.fl_c7),PERCENT_TRUE(transactions.fl_c8),PERCENT_TRUE(transactions.fl_c9),PERCENT_TRUE(transactions.tran_date_is_weekend),SKEW(transactions.float_c16),SKEW(transactions.float_c17),SKEW(transactions.float_c18),SKEW(transactions.float_c20),SKEW(transactions.float_c21),SKEW(transactions.int_c19),STD(transactions.float_c16),STD(transactions.float_c17),STD(transactions.float_c18),STD(transactions.float_c20),STD(transactions.float_c21),STD(transactions.int_c19),SUM(transactions.float_c16),SUM(transactions.float_c17),SUM(transactions.float_c18),SUM(transactions.float_c20),SUM(transactions.float_c21),SUM(transactions.int_c19),"TIME_SINCE_FIRST(transactions.tran_date, unit=days)","TIME_SINCE_LAST(transactions.tran_date, unit=days)",COUNT(activities),FIRST(activities.activity_date),KURTOSIS(activities.float_c11),KURTOSIS(activities.float_c12),KURTOSIS(activities.float_c14),LAST(activities.activity_date),MAX(activities.float_c11),MAX(activities.float_c12),MAX(activities.float_c14),MEAN(activities.activity_date_day_of_month_cos),MEAN(activities.activity_date_day_of_month_sin),MEAN(activities.activity_date_day_of_week_cos),MEAN(activities.activity_date_day_of_week_sin),MEAN(activities.float_c11),MEAN(activities.float_c12),MEAN(activities.float_c14),MIN(activities.float_c11),MIN(activities.float_c12),MIN(activities.float_c14),NUM_UNIQUE(activities.activity_date_str),NUM_UNIQUE(activities.cat_c3),NUM_UNIQUE(activities.cat_c4),NUM_UNIQUE(activities.cat_c5),NUM_UNIQUE(activities.cat_c6),NUM_UNIQUE(activities.cat_c9),PERCENT_TRUE(activities.activity_date_is_weekend),PERCENT_TRUE(activities.cat_c10),PERCENT_TRUE(activities.cat_c8),SKEW(activities.float_c11),SKEW(activities.float_c12),SKEW(activities.float_c14),STD(activities.float_c11),STD(activities.float_c12),STD(activities.float_c14),SUM(activities.float_c11),SUM(activities.float_c12),SUM(activities.float_c14),"TIME_SINCE_FIRST(activities.activity_date, unit=days)","TIME_SINCE_LAST(activities.activity_date, unit=days)",COUNT(comms),FIRST(comms.contact_date),LAST(comms.contact_date),MEAN(comms.contact_date_day_of_month_cos),MEAN(comms.contact_date_day_of_month_sin),MEAN(comms.contact_date_day_of_week_cos),MEAN(comms.contact_date_day_of_week_sin),NUM_UNIQUE(comms.cat_c2),NUM_UNIQUE(comms.cat_c3),NUM_UNIQUE(comms.cat_c4),NUM_UNIQUE(comms.cat_c5),NUM_UNIQUE(comms.contact_date_str),PERCENT_TRUE(comms.contact_date_is_weekend),"TIME_SINCE_FIRST(comms.contact_date, unit=days)","TIME_SINCE_LAST(comms.contact_date, unit=days)",COUNT(transactions WHERE cat_c2 = 4),COUNT(transactions WHERE cat_c3 = 314),COUNT(transactions WHERE fl_c14 = True),COUNT(transactions WHERE fl_c14 = False),COUNT(transactions WHERE cat_c3 = 209),COUNT(transactions WHERE cat_c3 = 305),COUNT(transactions WHERE cat_c2 = 15),COUNT(transactions WHERE fl_c12 = True),COUNT(transactions WHERE fl_c12 = False),COUNT(transactions WHERE tran_date_is_weekend = True),COUNT(transactions WHERE int_c19 = -1),COUNT(transactions WHERE tran_date_is_weekend = False),COUNT(transactions WHERE cat_c2 = 14),COUNT(transactions WHERE fl_c13 = True),COUNT(transactions WHERE cat_c3 = 303),COUNT(transactions WHERE int_c19 = 1),COUNT(transactions WHERE fl_c13 = False),MEAN(transactions.float_c16 WHERE cat_c2 = 4),MEAN(transactions.float_c16 WHERE cat_c3 = 314),MEAN(transactions.float_c16 WHERE fl_c14 = True),MEAN(transactions.float_c16 WHERE fl_c14 = False),MEAN(transactions.float_c16 WHERE cat_c3 = 209),MEAN(transactions.float_c16 WHERE cat_c3 = 305),MEAN(transactions.float_c16 WHERE cat_c2 = 15),MEAN(transactions.float_c16 WHERE fl_c12 = True),MEAN(transactions.float_c16 WHERE fl_c12 = False),MEAN(transactions.float_c16 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c16 WHERE int_c19 = -1),MEAN(transactions.float_c16 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c16 WHERE cat_c2 = 14),MEAN(transactions.float_c16 WHERE fl_c13 = True),MEAN(transactions.float_c16 WHERE cat_c3 = 303),MEAN(transactions.float_c16 WHERE int_c19 = 1),MEAN(transactions.float_c16 WHERE fl_c13 = False),MEAN(transactions.float_c17 WHERE cat_c2 = 4),MEAN(transactions.float_c17 WHERE cat_c3 = 314),MEAN(transactions.float_c17 WHERE fl_c14 = True),MEAN(transactions.float_c17 WHERE fl_c14 = False),MEAN(transactions.float_c17 WHERE cat_c3 = 209),MEAN(transactions.float_c17 WHERE cat_c3 = 305),MEAN(transactions.float_c17 WHERE cat_c2 = 15),MEAN(transactions.float_c17 WHERE fl_c12 = True),MEAN(transactions.float_c17 WHERE fl_c12 = False),MEAN(transactions.float_c17 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c17 WHERE int_c19 = -1),MEAN(transactions.float_c17 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c17 WHERE cat_c2 = 14),MEAN(transactions.float_c17 WHERE fl_c13 = True),MEAN(transactions.float_c17 WHERE cat_c3 = 303),MEAN(transactions.float_c17 WHERE int_c19 = 1),MEAN(transactions.float_c17 WHERE fl_c13 = False),MEAN(transactions.float_c18 WHERE cat_c2 = 4),MEAN(transactions.float_c18 WHERE cat_c3 = 314),MEAN(transactions.float_c18 WHERE fl_c14 = True),MEAN(transactions.float_c18 WHERE fl_c14 = False),MEAN(transactions.float_c18 WHERE cat_c3 = 209),MEAN(transactions.float_c18 WHERE cat_c3 = 305),MEAN(transactions.float_c18 WHERE cat_c2 = 15),MEAN(transactions.float_c18 WHERE fl_c12 = True),MEAN(transactions.float_c18 WHERE fl_c12 = False),MEAN(transactions.float_c18 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c18 WHERE int_c19 = -1),MEAN(transactions.float_c18 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c18 WHERE cat_c2 = 14),MEAN(transactions.float_c18 WHERE fl_c13 = True),MEAN(transactions.float_c18 WHERE cat_c3 = 303),MEAN(transactions.float_c18 WHERE int_c19 = 1),MEAN(transactions.float_c18 WHERE fl_c13 = False),MEAN(transactions.float_c20 WHERE cat_c2 = 4),MEAN(transactions.float_c20 WHERE cat_c3 = 314),MEAN(transactions.float_c20 WHERE fl_c14 = True),MEAN(transactions.float_c20 WHERE fl_c14 = False),MEAN(transactions.float_c20 WHERE cat_c3 = 209),MEAN(transactions.float_c20 WHERE cat_c3 = 305),MEAN(transactions.float_c20 WHERE cat_c2 = 15),MEAN(transactions.float_c20 WHERE fl_c12 = True),MEAN(transactions.float_c20 WHERE fl_c12 = False),MEAN(transactions.float_c20 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c20 WHERE int_c19 = -1),MEAN(transactions.float_c20 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c20 WHERE cat_c2 = 14),MEAN(transactions.float_c20 WHERE fl_c13 = True),MEAN(transactions.float_c20 WHERE cat_c3 = 303),MEAN(transactions.float_c20 WHERE int_c19 = 1),MEAN(transactions.float_c20 WHERE fl_c13 = False),MEAN(transactions.float_c21 WHERE cat_c2 = 4),MEAN(transactions.float_c21 WHERE cat_c3 = 314),MEAN(transactions.float_c21 WHERE fl_c14 = True),MEAN(transactions.float_c21 WHERE fl_c14 = False),MEAN(transactions.float_c21 WHERE cat_c3 = 209),MEAN(transactions.float_c21 WHERE cat_c3 = 305),MEAN(transactions.float_c21 WHERE cat_c2 = 15),MEAN(transactions.float_c21 WHERE fl_c12 = True),MEAN(transactions.float_c21 WHERE fl_c12 = False),MEAN(transactions.float_c21 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c21 WHERE int_c19 = -1),MEAN(transactions.float_c21 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c21 WHERE cat_c2 = 14),MEAN(transactions.float_c21 WHERE fl_c13 = True),MEAN(transactions.float_c21 WHERE cat_c3 = 303),MEAN(transactions.float_c21 WHERE int_c19 = 1),MEAN(transactions.float_c21 WHERE fl_c13 = False),MEAN(transactions.int_c19 WHERE cat_c2 = 4),MEAN(transactions.int_c19 WHERE cat_c3 = 314),MEAN(transactions.int_c19 WHERE fl_c14 = True),MEAN(transactions.int_c19 WHERE fl_c14 = False),MEAN(transactions.int_c19 WHERE cat_c3 = 209),MEAN(transactions.int_c19 WHERE cat_c3 = 305),MEAN(transactions.int_c19 WHERE cat_c2 = 15),MEAN(transactions.int_c19 WHERE fl_c12 = True),MEAN(transactions.int_c19 WHERE fl_c12 = False),MEAN(transactions.int_c19 WHERE tran_date_is_weekend = True),MEAN(transactions.int_c19 WHERE tran_date_is_weekend = False),MEAN(transactions.int_c19 WHERE cat_c2 = 14),MEAN(transactions.int_c19 WHERE fl_c13 = True),MEAN(transactions.int_c19 WHERE cat_c3 = 303),MEAN(transactions.int_c19 WHERE fl_c13 = False),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 4),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 314),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c14 = True),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c14 = False),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 209),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 305),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 15),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c12 = True),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c12 = False),MEAN(transactions.tran_date_day_of_month_cos WHERE tran_date_is_weekend = True),MEAN(transactions.tran_date_day_of_month_cos WHERE int_c19 = -1),MEAN(transactions.tran_date_day_of_month_cos WHERE tran_date_is_weekend = False),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 14),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c13 = True),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 303),MEAN(transactions.tran_date_day_of_month_cos WHERE int_c19 = 1),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c13 = False),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 4),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 314),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c14 = True),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c14 = False),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 209),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 305),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 15),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c12 = True),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c12 = False),MEAN(transactions.tran_date_day_of_month_sin WHERE tran_date_is_weekend = True),MEAN(transactions.tran_date_day_of_month_sin WHERE int_c19 = -1),MEAN(transactions.tran_date_day_of_month_sin WHERE tran_date_is_weekend = False),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 14),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c13 = True),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 303),MEAN(transactions.tran_date_day_of_month_sin WHERE int_c19 = 1),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c13 = False),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 4),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 314),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c14 = True),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c14 = False),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 209),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 305),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 15),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c12 = True),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c12 = False),MEAN(transactions.tran_date_day_of_week_cos WHERE tran_date_is_weekend = True),MEAN(transactions.tran_date_day_of_week_cos WHERE int_c19 = -1),MEAN(transactions.tran_date_day_of_week_cos WHERE tran_date_is_weekend = False),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 14),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c13 = True),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 303),MEAN(transactions.tran_date_day_of_week_cos WHERE int_c19 = 1),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c13 = False),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 4),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 314),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c14 = True),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c14 = False),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 209),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 305),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 15),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c12 = True),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c12 = False),MEAN(transactions.tran_date_day_of_week_sin WHERE tran_date_is_weekend = True),MEAN(transactions.tran_date_day_of_week_sin WHERE int_c19 = -1),MEAN(transactions.tran_date_day_of_week_sin WHERE tran_date_is_weekend = False),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 14),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c13 = True),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 303),MEAN(transactions.tran_date_day_of_week_sin WHERE int_c19 = 1),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c13 = False),SUM(transactions.float_c16 WHERE cat_c2 = 4),SUM(transactions.float_c16 WHERE cat_c3 = 314),SUM(transactions.float_c16 WHERE fl_c14 = True),SUM(transactions.float_c16 WHERE fl_c14 = False),SUM(transactions.float_c16 WHERE cat_c3 = 209),SUM(transactions.float_c16 WHERE cat_c3 = 305),SUM(transactions.float_c16 WHERE cat_c2 = 15),SUM(transactions.float_c16 WHERE fl_c12 = True),SUM(transactions.float_c16 WHERE fl_c12 = False),SUM(transactions.float_c16 WHERE tran_date_is_weekend = True),SUM(transactions.float_c16 WHERE int_c19 = -1),SUM(transactions.float_c16 WHERE tran_date_is_weekend = False),SUM(transactions.float_c16 WHERE cat_c2 = 14),SUM(transactions.float_c16 WHERE fl_c13 = True),SUM(transactions.float_c16 WHERE cat_c3 = 303),SUM(transactions.float_c16 WHERE int_c19 = 1),SUM(transactions.float_c16 WHERE fl_c13 = False),SUM(transactions.float_c17 WHERE cat_c2 = 4),SUM(transactions.float_c17 WHERE cat_c3 = 314),SUM(transactions.float_c17 WHERE fl_c14 = True),SUM(transactions.float_c17 WHERE fl_c14 = False),SUM(transactions.float_c17 WHERE cat_c3 = 209),SUM(transactions.float_c17 WHERE cat_c3 = 305),SUM(transactions.float_c17 WHERE cat_c2 = 15),SUM(transactions.float_c17 WHERE fl_c12 = True),SUM(transactions.float_c17 WHERE fl_c12 = False),SUM(transactions.float_c17 WHERE tran_date_is_weekend = True),SUM(transactions.float_c17 WHERE int_c19 = -1),SUM(transactions.float_c17 WHERE tran_date_is_weekend = False),SUM(transactions.float_c17 WHERE cat_c2 = 14),SUM(transactions.float_c17 WHERE fl_c13 = True),SUM(transactions.float_c17 WHERE cat_c3 = 303),SUM(transactions.float_c17 WHERE int_c19 = 1),SUM(transactions.float_c17 WHERE fl_c13 = False),SUM(transactions.float_c18 WHERE cat_c2 = 4),SUM(transactions.float_c18 WHERE cat_c3 = 314),SUM(transactions.float_c18 WHERE fl_c14 = True),SUM(transactions.float_c18 WHERE fl_c14 = False),SUM(transactions.float_c18 WHERE cat_c3 = 209),SUM(transactions.float_c18 WHERE cat_c3 = 305),SUM(transactions.float_c18 WHERE cat_c2 = 15),SUM(transactions.float_c18 WHERE fl_c12 = True),SUM(transactions.float_c18 WHERE fl_c12 = False),SUM(transactions.float_c18 WHERE tran_date_is_weekend = True),SUM(transactions.float_c18 WHERE int_c19 = -1),SUM(transactions.float_c18 WHERE tran_date_is_weekend = False),SUM(transactions.float_c18 WHERE cat_c2 = 14),SUM(transactions.float_c18 WHERE fl_c13 = True),SUM(transactions.float_c18 WHERE cat_c3 = 303),SUM(transactions.float_c18 WHERE int_c19 = 1),SUM(transactions.float_c18 WHERE fl_c13 = False),SUM(transactions.float_c20 WHERE cat_c2 = 4),SUM(transactions.float_c20 WHERE cat_c3 = 314),SUM(transactions.float_c20 WHERE fl_c14 = True),SUM(transactions.float_c20 WHERE fl_c14 = False),SUM(transactions.float_c20 WHERE cat_c3 = 209),SUM(transactions.float_c20 WHERE cat_c3 = 305),SUM(transactions.float_c20 WHERE cat_c2 = 15),SUM(transactions.float_c20 WHERE fl_c12 = True),SUM(transactions.float_c20 WHERE fl_c12 = False),SUM(transactions.float_c20 WHERE tran_date_is_weekend = True),SUM(transactions.float_c20 WHERE int_c19 = -1),SUM(transactions.float_c20 WHERE tran_date_is_weekend = False),SUM(transactions.float_c20 WHERE cat_c2 = 14),SUM(transactions.float_c20 WHERE fl_c13 = True),SUM(transactions.float_c20 WHERE cat_c3 = 303),SUM(transactions.float_c20 WHERE int_c19 = 1),SUM(transactions.float_c20 WHERE fl_c13 = False),SUM(transactions.float_c21 WHERE cat_c2 = 4),SUM(transactions.float_c21 WHERE cat_c3 = 314),SUM(transactions.float_c21 WHERE fl_c14 = True),SUM(transactions.float_c21 WHERE fl_c14 = False),SUM(transactions.float_c21 WHERE cat_c3 = 209),SUM(transactions.float_c21 WHERE cat_c3 = 305),SUM(transactions.float_c21 WHERE cat_c2 = 15),SUM(transactions.float_c21 WHERE fl_c12 = True),SUM(transactions.float_c21 WHERE fl_c12 = False),SUM(transactions.float_c21 WHERE tran_date_is_weekend = True),SUM(transactions.float_c21 WHERE int_c19 = -1),SUM(transactions.float_c21 WHERE tran_date_is_weekend = False),SUM(transactions.float_c21 WHERE cat_c2 = 14),SUM(transactions.float_c21 WHERE fl_c13 = True),SUM(transactions.float_c21 WHERE cat_c3 = 303),SUM(transactions.float_c21 WHERE int_c19 = 1),SUM(transactions.float_c21 WHERE fl_c13 = False),SUM(transactions.int_c19 WHERE cat_c2 = 4),SUM(transactions.int_c19 WHERE cat_c3 = 314),SUM(transactions.int_c19 WHERE fl_c14 = True),SUM(transactions.int_c19 WHERE fl_c14 = False),SUM(transactions.int_c19 WHERE cat_c3 = 209),SUM(transactions.int_c19 WHERE cat_c3 = 305),SUM(transactions.int_c19 WHERE cat_c2 = 15),SUM(transactions.int_c19 WHERE fl_c12 = True),SUM(transactions.int_c19 WHERE fl_c12 = False),SUM(transactions.int_c19 WHERE tran_date_is_weekend = True),SUM(transactions.int_c19 WHERE tran_date_is_weekend = False),SUM(transactions.int_c19 WHERE cat_c2 = 14),SUM(transactions.int_c19 WHERE fl_c13 = True),SUM(transactions.int_c19 WHERE cat_c3 = 303),SUM(transactions.int_c19 WHERE fl_c13 = False),COUNT(activities WHERE cat_c8 = True),COUNT(activities WHERE cat_c6 = 2),COUNT(activities WHERE cat_c6 = 3),COUNT(activities WHERE cat_c8 = False),COUNT(activities WHERE cat_c9 = 1),COUNT(activities WHERE cat_c9 = 2),COUNT(activities WHERE cat_c10 = False),COUNT(activities WHERE activity_date_is_weekend = True),COUNT(activities WHERE cat_c10 = True),COUNT(activities WHERE cat_c4 = 1),COUNT(activities WHERE cat_c4 = 2),COUNT(activities WHERE activity_date_is_weekend = False),COUNT(activities WHERE cat_c6 = 1),MEAN(activities.activity_date_day_of_month_cos WHERE cat_c8 = True),MEAN(activities.activity_date_day_of_month_cos WHERE cat_c6 = 2),MEAN(activities.activity_date_day_of_month_cos WHERE cat_c6 = 3),MEAN(activities.activity_date_day_of_month_cos WHERE cat_c8 = False),MEAN(activities.activity_date_day_of_month_cos WHERE cat_c9 = 1),MEAN(activities.activity_date_day_of_month_cos WHERE cat_c9 = 2),MEAN(activities.activity_date_day_of_month_cos WHERE cat_c10 = False),MEAN(activities.activity_date_day_of_month_cos WHERE activ

## Add more time-series features

In [13]:
def prep_time_gaps(df, date_col, prefix):
    df = df.sort_values(by=['client_id', date_col])

    gap_col_name = f'{prefix}_gap_days'
    df[gap_col_name] = df.groupby('client_id')[date_col].diff().dt.total_seconds() / (3600 * 24)
    df[gap_col_name] = df[gap_col_name].fillna(0)

    return df[['client_id', date_col, gap_col_name]]

df_transactions_ts = prep_time_gaps(transactions_df, 'tran_date', 'tran_date')
df_transactions_ts['float_c18_diff'] = transactions_df.groupby('client_id')['float_c18'].diff().fillna(0)  # difference between transactions amount
df_activities_ts = prep_time_gaps(activities_df, 'activity_date', 'activity_date')
df_comms_ts  = prep_time_gaps(comms_df, 'contact_date', 'contact_date')

display(df_transactions_ts.head(10))

                   client_id  tran_date  tran_date_gap_days  float_c18_diff
461179  10000196835799192770 2024-12-01               0.000           0.000
461290  10000196835799192770 2024-12-01               0.000          31.620
461139  10000196835799192770 2024-12-03               2.000         -28.340
461189  10000196835799192770 2024-12-03               0.000          -0.690
461143  10000196835799192770 2024-12-05               2.000          -1.400
461195  10000196835799192770 2024-12-05               0.000          18.690
461117  10000196835799192770 2024-12-07               2.000         -17.310
461146  10000196835799192770 2024-12-07               0.000          30.510
461201  10000196835799192770 2024-12-07               0.000          86.800
461202  10000196835799192770 2024-12-07               0.000         -40.000

In [14]:
datasets = {
    'transactions': (df_transactions_ts, 'tran_date', ['tran_date_gap_days', 'float_c18_diff']),
    'activities': (df_activities_ts, 'activity_date', ['activity_date_gap_days']),
    'communications': (df_comms_ts, 'contact_date', ['contact_date_gap_days'])
}
all_features = []
for name, (df, date_col, val_cols) in datasets.items():
    print(f'Processing {name}...')

    for val_col in val_cols:
        fc_parameters = {
            'median': None,
            'mean': None,
            'maximum': None,
            'minimum': None,
            'standard_deviation': None,
            'skewness': None,
            'kurtosis': None,
            'quantile': [
                {'q': 0.1},
                {'q': 0.25},
                {'q': 0.75},
                {'q': 0.9}
            ],
            'linear_trend': [{'attr': 'slope'}],
            'approximate_entropy': [{'m': 2, 'r': 0.25}],
            'ratio_beyond_r_sigma': [{'r': 2}],
            'autocorrelation': [{'lag': 1}],
            'fft_aggregated': [{'aggtype': 'centroid'}, {'aggtype': 'variance'}],
            'longest_strike_above_mean': None,
            'longest_strike_below_mean': None,
            'count_above_mean': None,
        }
        features = extract_features(
            timeseries_container=df,
            column_id='client_id',
            column_sort=date_col,
            column_value=val_col,
            default_fc_parameters=fc_parameters,
            n_jobs=14,
        )
        features = features.reset_index(names='client_id')
        all_features.append(features)

final_features = feature_matrix_enc
for features in all_features:
    final_features = final_features.merge(features, on='client_id', how='left')

display(final_features.info(verbose=True, show_counts=True))

Processing transactions...

Feature Extraction: 100%|██████████| 70/70 [06:53<00:00,  5.90s/it]
Feature Extraction: 100%|██████████| 70/70 [07:17<00:00,  6.24s/it]

Processing activities...

Feature Extraction: 100%|██████████| 70/70 [08:33<00:00,  7.33s/it]

Processing communications...

Feature Extraction: 100%|██████████| 70/70 [09:45<00:00,  8.37s/it]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36337 entries, 0 to 36336
Data columns (total 820 columns):
 #    Column                                                                                  Non-Null Count  Dtype
---   ------                                                                                  --------------  -----
 0    client_id                                                                               36337 non-null  string
 1    target                                                                                  36337 non-null  bool
 2    is_train                                                                                36337 non-null  bool
 3    communication_month                                                                     36337 non-null  datetime64[ns]
 4    COUNT(transactions)                                                                     36337 non-null  Int64
 5    FIRST(transactions.tran_date)                                                           35070 non-null  datetime64[ns]
 6    KURTOSIS(transactions.float_c16)                                                        36337 non-null  float64
 7    KURTOSIS(transactions.float_c17)                                                        36337 non-null  float64
 8    KURTOSIS(transactions.float_c18)                                                        36337 non-null  float64
 9    KURTOSIS(transactions.float_c20)                                                        36337 non-null  float64
 10   KURTOSIS(transactions.float_c21)                                                        36337 non-null  float64
 11   KURTOSIS(transactions.int_c19)                                                          36337 non-null  float64
 12   LAST(transactions.tran_date)                                                            35070 non-null  datetime64[ns]
 13   MAX(transactions.float_c16)                                                             35070 non-null  float64
 14   MAX(transactions.float_c17)                                                             35070 non-null  float64
 15   MAX(transactions.float_c18)                                                             35070 non-null  float64
 16   MAX(transactions.float_c20)                                                             35070 non-null  float64
 17   MAX(transactions.float_c21)                                                             35070 non-null  float64
 18   MAX(transactions.int_c19)                                                               35070 non-null  float64
 19   MEAN(transactions.float_c16)                                                            35070 non-null  float64
 20   MEAN(transactions.float_c17)                                                            35070 non-null  float64
 21   MEAN(transactions.float_c18)                                                            35070 non-null  float64
 22   MEAN(transactions.float_c20)                                                            35070 non-null  float64
 23   MEAN(transactions.float_c21)                                                            35070 non-null  float64
 24   MEAN(transactions.int_c19)                                                              35070 non-null  float64
 25   MEAN(transactions.tran_date_day_of_month_cos)                                           35070 non-null  float64
 26   MEAN(transactions.tran_date_day_of_month_sin)                                           35070 non-null  float64
 27   MEAN(transactions.tran_date_day_of_week_cos)                                            35070 non-null  float64
 28   MEAN(transactions.tran_date_day_of_week_sin)                                            35070 non-null  float64
 29   MIN(transactions.float_c16)                                                             35070 non-null  float64
 30   MIN(transactions.float_c17)                                                             35070 non-null  float64
 31   MIN(transactions.float_c18)                                                             35070 non-null  float64
 32   MIN(transactions.float_c20)                                                             35070 non-null  float64
 33   MIN(transactions.float_c21)                                                             35070 non-null  float64
 34   MIN(transactions.int_c19)                                                               35070 non-null  float64
 35   NUM_UNIQUE(transactions.cat_c2)                                                         35070 non-null  Int64
 36   NUM_UNIQUE(transactions.cat_c3)                                                         35070 non-null  Int64
 37   NUM_UNIQUE(transactions.cat_c4)                                                         35070 non-null  Int64
 38   NUM_UNIQUE(transactions.tran_date_str)                                                  35070 non-null  Int64
 39   PERCENT_TRUE(transactions.fl_c10)                                                       35070 non-null  float64
 40   PERCENT_TRUE(transactions.fl_c11)                                                       35070 non-null  float64
 41   PERCENT_TRUE(transactions.fl_c12)                                                       35070 non-null  float64
 42   PERCENT_TRUE(transactions.fl_c13)                                                       35070 non-null  float64
 43   PERCENT_TRUE(transactions.fl_c14)                                                       35070 non-null  float64
 44   PERCENT_TRUE(transactions.fl_c15)                                                       35070 non-null  float64
 45   PERCENT_TRUE(transactions.fl_c6)                                                        35070 non-null  float64
 46   PERCENT_TRUE(transactions.fl_c7)                                                        35070 non-null  float64
 47   PERCENT_TRUE(transactions.fl_c8)                                                        35070 non-null  float64
 48   PERCENT_TRUE(transactions.fl_c9)                                                        35070 non-null  float64
 49   PERCENT_TRUE(transactions.tran_date_is_weekend)                                         35070 non-null  float64
 50   SKEW(transactions.float_c16)                                                            34815 non-null  float64
 51   SKEW(transactions.float_c17)                                                            34815 non-null  float64
 52   SKEW(transactions.float_c18)                                                            34815 non-null  float64
 53   SKEW(transactions.float_c20)                                                            34815 non-null  float64
 54   SKEW(transactions.float_c21)                                                            34815 non-null  float64
 55   SKEW(transactions.int_c19)                                                              34815 non-null  float64
 56   STD(transactions.float_c16)                                                             34989 non-null  float64
 57   STD(transactions.float_c17)                                                             34989 non-null  float64
 58   STD(transactions.float_c18)                                                             34989 non-null  float64
 59   STD(transactions.float_c20)                                                             34989 non-null  float64
 60   STD(transactions.float_c21)                                                             34989 non-null  float64
 61   STD(transactions.int_c19)                                                               34989 non-null  float64
 62   SUM(transactions.float_c16)                                                             36337 non-null  float64
 63   SUM(transactions.float_c17)                                                             36337 non-null  float64
 64   SUM(transactions.float_c18)                                                             36337 non-null  float64
 65   SUM(transactions.float_c20)                                                             36337 non-null  float64
 66   SUM(transactions.float_c21)                                                             36337 non-null  float64
 67   SUM(transactions.int_c19)                                                               36337 non-null  float64
 68   TIME_SINCE_FIRST(transactions.tran_date, unit=days)                                     35070 non-null  float64
 69   TIME_SINCE_LAST(transactions.tran_date, unit=days)                                      35070 non-null  float64
 70   COUNT(activities)                                                                       36337 non-null  Int64
 71   FIRST(activities.activity_date)                                                         35669 non-null  datetime64[ns]
 72   KURTOSIS(activities.float_c11)                                                          36337 non-null  float64
 73   KURTOSIS(activities.float_c12)                                                          36337 non-null  float64
 74   KURTOSIS(activities.float_c14)                                                          36337 non-null  float64
 75   LAST(activities.activity_date)                                                          35669 non-null  datetime64[ns]
 76   MAX(activities.float_c11)                                                               35669 non-null  float64
 77   MAX(activities.float_c12)                                                               35669 non-null  float64
 78   MAX(activities.float_c14)                                                               35669 non-null  float64
 79   MEAN(activities.activity_date_day_of_month_cos)                                         35669 non-null  float64
 80   MEAN(activities.activity_date_day_of_month_sin)                                         35669 non-null  float64
 81   MEAN(activities.activity_date_day_of_week_cos)                                          35669 non-null  float64
 82   MEAN(activities.activity_date_day_of_week_sin)                                          35669 non-null  float64
 83   MEAN(activities.float_c11)                                                              35669 non-null  float64
 84   MEAN(activities.float_c12)                                                              35669 non-null  float64
 85   MEAN(activities.float_c14)                                                              35669 non-null  float64
 86   MIN(activities.float_c11)                                                               35669 non-null  float64
 87   MIN(activities.float_c12)                                                               35669 non-null  float64
 88   MIN(activities.float_c14)                                                               35669 non-null  float64
 89   NUM_UNIQUE(activities.activity_date_str)                                                35669 non-null  Int64
 90   NUM_UNIQUE(activities.cat_c3)                                                           35669 non-null  Int64
 91   NUM_UNIQUE(activities.cat_c4)                                                           35669 non-null  Int64
 92   NUM_UNIQUE(activities.cat_c5)                                                           35669 non-null  Int64
 93   NUM_UNIQUE(activities.cat_c6)                                                           35669 non-null  Int64
 94   NUM_UNIQUE(activities.cat_c9)                                                           35669 non-null  Int64
 95   PERCENT_TRUE(activities.activity_date_is_weekend)                                       35669 non-null  float64
 96   PERCENT_TRUE(activities.cat_c10)                                                        35669 non-null  float64
 97   PERCENT_TRUE(activities.cat_c8)                                                         35669 non-null  float64
 98   SKEW(activities.float_c11)                                                              35567 non-null  float64
 99   SKEW(activities.float_c12)                                                              35567 non-null  float64
 100  SKEW(activities.float_c14)                                                              35567 non-null  float64
 101  STD(activities.float_c11)                                                               35623 non-null  float64
 102  STD(activities.float_c12)                                                               35623 non-null  float64
 103  STD(activities.float_c14)                                                               35623 non-null  float64
 104  SUM(activities.float_c11)                                                               36337 non-null  float64
 105  SUM(activities.float_c12)                                                               36337 non-null  float64
 106  SUM(activities.float_c14)                                                               36337 non-null  float64
 107  TIME_SINCE_FIRST(activities.activity_date, unit=days)                                   35669 non-null  float64
 108  TIME_SINCE_LAST(activities.activity_date, unit=days)                                    35669 non-null  float64
 109  COUNT(comms)                                                                            36337 non-null  Int64
 110  FIRST(comms.contact_date)                                                               35805 non-null  datetime64[ns]
 111  LAST(comms.contact_date)                                                                35805 non-null  datetime64[ns]
 112  MEAN(comms.contact_date_day_of_month_cos)                                               35805 non-null  float64
 113  MEAN(comms.contact_date_day_of_month_sin)                                               35805 non-null  float64
 114  MEAN(comms.contact_date_day_of_week_cos)                                                35805 non-null  float64
 115  MEAN(comms.contact_date_day_of_week_sin)                                                35805 non-null  float64
 116  NUM_UNIQUE(comms.cat_c2)                                                                35805 non-null  Int64
 117  NUM_UNIQUE(comms.cat_c3)                                                                35805 non-null  Int64
 118  NUM_UNIQUE(comms.cat_c4)                                                                35805 non-null  Int64
 119  NUM_UNIQUE(comms.cat_c5)                                                                35805 non-null  Int64
 120  NUM_UNIQUE(comms.contact_date_str)                                                      35805 non-null  Int64
 121  PERCENT_TRUE(comms.contact_date_is_weekend)                                             35805 non-null  float64
 122  TIME_SINCE_FIRST(comms.contact_date, unit=days)                                         35805 non-null  float64
 123  TIME_SINCE_LAST(comms.contact_date, unit=days)                                          35805 non-null  float64
 124  DAY(communication_month)                                                                36337 non-null  category
 125  IS_WEEKEND(communication_month)                                                         36337 non-null  boolean
 126  MONTH(communication_month)                                                              36337 non-null  category
 127  WEEKDAY(communication_month)                                                            36337 non-null  category
 128  COUNT(transactions WHERE cat_c2 = 4)                                                    36337 non-null  Int64
 129  COUNT(transactions WHERE cat_c3 = 314)                                                  36337 non-null  Int64
 130  COUNT(transactions WHERE fl_c14 = True)                                                 36337 non-null  Int64
 131  COUNT(transactions WHERE fl_c14 = False)                                                36337 non-null  Int64
 132  COUNT(transactions WHERE cat_c3 = 209)                                                  36337 non-null  Int64
 133  COUNT(transactions WHERE cat_c3 = 305)                                                  36337 non-null  Int64
 134  COUNT(transactions WHERE cat_c2 = 15)                                                   36337 non-null  Int64
 135  COUNT(transactions WHERE fl_c12 = True)                                                 36337 non-null  Int64
 136  COUNT(transactions WHERE fl_c12 = False)                                                36337 non-null  Int64
 137  COUNT(transactions WHERE tran_date_is_weekend = True)                                   36337 non-null  Int64
 138  COUNT(transactions WHERE int_c19 = -1)                                                  36337 non-null  Int64
 139  COUNT(transactions WHERE tran_date_is_weekend = False)                                  36337 non-null  Int64
 140  COUNT(transactions WHERE cat_c2 = 14)                                                   36337 non-null  Int64
 141  COUNT(transactions WHERE fl_c13 = True)                                                 36337 non-null  Int64
 142  COUNT(transactions WHERE cat_c3 = 303)                                                  36337 non-null  Int64
 143  COUNT(transactions WHERE int_c19 = 1)                                                   36337 non-null  Int64
 144  COUNT(transactions WHERE fl_c13 = False)                                                36337 non-null  Int64
 145  FIRST(transactions.DAY(tran_date))                                                      35070 non-null  category
 146  FIRST(transactions.IS_WEEKEND(tran_date))                                               35070 non-null  boolean
 147  FIRST(transactions.MONTH(tran_date))                                                    35070 non-null  category
 148  FIRST(transactions.WEEKDAY(tran_date))                                                  35070 non-null  category
 149  LAST(transactions.DAY(tran_date))                                                       35070 non-null  category
 150  LAST(transactions.IS_WEEKEND(tran_date))                                                35070 non-null  boolean
 151  LAST(transactions.MONTH(tran_date))                                                     35070 non-null  category
 152  LAST(transactions.WEEKDAY(tran_date))                                                   35070 non-null  category
 153  MEAN(transactions.float_c16 WHERE cat_c2 = 4)                                           29604 non-null  float64
 154  MEAN(transactions.float_c16 WHERE cat_c3 = 314)                                         34633 non-null  float64
 155  MEAN(transactions.float_c16 WHERE fl_c14 = True)                                        30510 non-null  float64
 156  MEAN(transactions.float_c16 WHERE fl_c14 = False)                                       35066 non-null  float64
 157  MEAN(transactions.float_c16 WHERE cat_c3 = 209)                                         29362 non-null  float64
 158  MEAN(transactions.float_c16 WHERE cat_c3 = 305)                                         33917 non-null  float64
 159  MEAN(transactions.float_c16 WHERE cat_c2 = 15)                                          34393 non-null  float64
 160  MEAN(transactions.float_c16 WHERE fl_c12 = True)                                        34393 non-null  float64
 161  MEAN(transactions.float_c16 WHERE fl_c12 = False)                                       35045 non-null  float64
 162  MEAN(transactions.float_c16 WHERE tran_date_is_weekend = True)                          34540 non-null  float64
 163  MEAN(transactions.float_c16 WHERE int_c19 = -1)                                         34910 non-null  float64
 164  MEAN(transactions.float_c16 WHERE tran_date_is_weekend = False)                         34976 non-null  float64
 165  MEAN(transactions.float_c16 WHERE cat_c2 = 14)                                          34938 non-null  float64

None

## Postprocessing

In [15]:
df = final_features
df = df.reset_index()
# df = df.drop(columns=['client_id'])
df = df.dropna(subset=[
    # Transactions
    'NUM_UNIQUE(transactions.tran_date_str)', 'MEAN(transactions.float_c16 WHERE int_c19 = -1)', 'MEAN(transactions.float_c16 WHERE int_c19 = 1)',

    # Activities
    'NUM_UNIQUE(activities.activity_date_str)', 'STD(activities.float_c11)',

    # Communications
    'NUM_UNIQUE(comms.contact_date_str)',
])

# Convert dates to days from initial point
for date_col in df.select_dtypes(include=['datetime64[ns]']).columns:
    df[date_col + '_days'] = (df[date_col] - pd.to_datetime(MIN_DATE_STR)).dt.days
    df = df.drop(columns=[date_col])

# Encode cyclical features (e.g. day of week, month)
time_cols = ['DAY(communication_month)', 'MONTH(communication_month)', 'WEEKDAY(communication_month)']
df = df.astype({col: 'int8' for col in time_cols})
cyclical = CyclicalFeatures(variables=time_cols, drop_original=True)
df = cyclical.fit_transform(df)

# Fill  missing data
cols_to_fill_with_mean = [
    c for c in df.columns
    if (' WHERE ' in c and c.startswith('MEAN(')
        or c.startswith('SKEW(')
        or c.endswith('__skewness')
        or c.endswith('__kurtosis')
        or '__autocorrelation' in c
        or '__fft_aggregated__aggtype' in c)
]
ami = AddMissingIndicator(variables=cols_to_fill_with_mean)
df = ami.fit_transform(df)
mmi = MeanMedianImputer(imputation_method='mean', variables=cols_to_fill_with_mean)
df = mmi.fit_transform(df)

# Convert boolean values to 0 and 1
df = df.astype({col: 'int8' for col in df.select_dtypes(include=['bool']).columns})
df = df.astype({col: 'Int8' for col in df.select_dtypes(include=['boolean']).columns})

df.to_csv('../data/features/features_auto_v3.csv', index=False)
display(df.info(verbose=True, show_counts=True))
display(df.describe())

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)

<class 'pandas.core.frame.DataFrame'>
Index: 34837 entries, 0 to 36336
Data columns (total 1098 columns):
 #     Column                                                                                     Non-Null Count  Dtype
---    ------                                                                                     --------------  -----
 0     index                                                                                      34837 non-null  int64
 1     client_id                                                                                  34837 non-null  string
 2     target                                                                                     34837 non-null  int8
 3     is_train                                                                                   34837 non-null  int8
 4     COUNT(transactions)                                                                        34837 non-null  Int64
 5     KURTOSIS(transactions.float_c16)                                                           34837 non-null  float64
 6     KURTOSIS(transactions.float_c17)                                                           34837 non-null  float64
 7     KURTOSIS(transactions.float_c18)                                                           34837 non-null  float64
 8     KURTOSIS(transactions.float_c20)                                                           34837 non-null  float64
 9     KURTOSIS(transactions.float_c21)                                                           34837 non-null  float64
 10    KURTOSIS(transactions.int_c19)                                                             34837 non-null  float64
 11    MAX(transactions.float_c16)                                                                34837 non-null  float64
 12    MAX(transactions.float_c17)                                                                34837 non-null  float64
 13    MAX(transactions.float_c18)                                                                34837 non-null  float64
 14    MAX(transactions.float_c20)                                                                34837 non-null  float64
 15    MAX(transactions.float_c21)                                                                34837 non-null  float64
 16    MAX(transactions.int_c19)                                                                  34837 non-null  float64
 17    MEAN(transactions.float_c16)                                                               34837 non-null  float64
 18    MEAN(transactions.float_c17)                                                               34837 non-null  float64
 19    MEAN(transactions.float_c18)                                                               34837 non-null  float64
 20    MEAN(transactions.float_c20)                                                               34837 non-null  float64
 21    MEAN(transactions.float_c21)                                                               34837 non-null  float64
 22    MEAN(transactions.int_c19)                                                                 34837 non-null  float64
 23    MEAN(transactions.tran_date_day_of_month_cos)                                              34837 non-null  float64
 24    MEAN(transactions.tran_date_day_of_month_sin)                                              34837 non-null  float64
 25    MEAN(transactions.tran_date_day_of_week_cos)                                               34837 non-null  float64
 26    MEAN(transactions.tran_date_day_of_week_sin)                                               34837 non-null  float64
 27    MIN(transactions.float_c16)                                                                34837 non-null  float64
 28    MIN(transactions.float_c17)                                                                34837 non-null  float64
 29    MIN(transactions.float_c18)                                                                34837 non-null  float64
 30    MIN(transactions.float_c20)                                                                34837 non-null  float64
 31    MIN(transactions.float_c21)                                                                34837 non-null  float64
 32    MIN(transactions.int_c19)                                                                  34837 non-null  float64
 33    NUM_UNIQUE(transactions.cat_c2)                                                            34837 non-null  Int64
 34    NUM_UNIQUE(transactions.cat_c3)                                                            34837 non-null  Int64
 35    NUM_UNIQUE(transactions.cat_c4)                                                            34837 non-null  Int64
 36    NUM_UNIQUE(transactions.tran_date_str)                                                     34837 non-null  Int64
 37    PERCENT_TRUE(transactions.fl_c10)                                                          34837 non-null  float64
 38    PERCENT_TRUE(transactions.fl_c11)                                                          34837 non-null  float64
 39    PERCENT_TRUE(transactions.fl_c12)                                                          34837 non-null  float64
 40    PERCENT_TRUE(transactions.fl_c13)                                                          34837 non-null  float64
 41    PERCENT_TRUE(transactions.fl_c14)                                                          34837 non-null  float64
 42    PERCENT_TRUE(transactions.fl_c15)                                                          34837 non-null  float64
 43    PERCENT_TRUE(transactions.fl_c6)                                                           34837 non-null  float64
 44    PERCENT_TRUE(transactions.fl_c7)                                                           34837 non-null  float64
 45    PERCENT_TRUE(transactions.fl_c8)                                                           34837 non-null  float64
 46    PERCENT_TRUE(transactions.fl_c9)                                                           34837 non-null  float64
 47    PERCENT_TRUE(transactions.tran_date_is_weekend)                                            34837 non-null  float64
 48    SKEW(transactions.float_c16)                                                               34837 non-null  float64
 49    SKEW(transactions.float_c17)                                                               34837 non-null  float64
 50    SKEW(transactions.float_c18)                                                               34837 non-null  float64
 51    SKEW(transactions.float_c20)                                                               34837 non-null  float64
 52    SKEW(transactions.float_c21)                                                               34837 non-null  float64
 53    SKEW(transactions.int_c19)                                                                 34837 non-null  float64
 54    STD(transactions.float_c16)                                                                34837 non-null  float64
 55    STD(transactions.float_c17)                                                                34837 non-null  float64
 56    STD(transactions.float_c18)                                                                34837 non-null  float64
 57    STD(transactions.float_c20)                                                                34837 non-null  float64
 58    STD(transactions.float_c21)                                                                34837 non-null  float64
 59    STD(transactions.int_c19)                                                                  34837 non-null  float64
 60    SUM(transactions.float_c16)                                                                34837 non-null  float64
 61    SUM(transactions.float_c17)                                                                34837 non-null  float64
 62    SUM(transactions.float_c18)                                                                34837 non-null  float64
 63    SUM(transactions.float_c20)                                                                34837 non-null  float64
 64    SUM(transactions.float_c21)                                                                34837 non-null  float64
 65    SUM(transactions.int_c19)                                                                  34837 non-null  float64
 66    TIME_SINCE_FIRST(transactions.tran_date, unit=days)                                        34837 non-null  float64
 67    TIME_SINCE_LAST(transactions.tran_date, unit=days)                                         34837 non-null  float64
 68    COUNT(activities)                                                                          34837 non-null  Int64
 69    KURTOSIS(activities.float_c11)                                                             34837 non-null  float64
 70    KURTOSIS(activities.float_c12)                                                             34837 non-null  float64
 71    KURTOSIS(activities.float_c14)                                                             34837 non-null  float64
 72    MAX(activities.float_c11)                                                                  34837 non-null  float64
 73    MAX(activities.float_c12)                                                                  34837 non-null  float64
 74    MAX(activities.float_c14)                                                                  34837 non-null  float64
 75    MEAN(activities.activity_date_day_of_month_cos)                                            34837 non-null  float64
 76    MEAN(activities.activity_date_day_of_month_sin)                                            34837 non-null  float64
 77    MEAN(activities.activity_date_day_of_week_cos)                                             34837 non-null  float64
 78    MEAN(activities.activity_date_day_of_week_sin)                                             34837 non-null  float64
 79    MEAN(activities.float_c11)                                                                 34837 non-null  float64
 80    MEAN(activities.float_c12)                                                                 34837 non-null  float64
 81    MEAN(activities.float_c14)                                                                 34837 non-null  float64
 82    MIN(activities.float_c11)                                                                  34837 non-null  float64
 83    MIN(activities.float_c12)                                                                  34837 non-null  float64
 84    MIN(activities.float_c14)                                                                  34837 non-null  float64
 85    NUM_UNIQUE(activities.activity_date_str)                                                   34837 non-null  Int64
 86    NUM_UNIQUE(activities.cat_c3)                                                              34837 non-null  Int64
 87    NUM_UNIQUE(activities.cat_c4)                                                              34837 non-null  Int64
 88    NUM_UNIQUE(activities.cat_c5)                                                              34837 non-null  Int64
 89    NUM_UNIQUE(activities.cat_c6)                                                              34837 non-null  Int64
 90    NUM_UNIQUE(activities.cat_c9)                                                              34837 non-null  Int64
 91    PERCENT_TRUE(activities.activity_date_is_weekend)                                          34837 non-null  float64
 92    PERCENT_TRUE(activities.cat_c10)                                                           34837 non-null  float64
 93    PERCENT_TRUE(activities.cat_c8)                                                            34837 non-null  float64
 94    SKEW(activities.float_c11)                                                                 34837 non-null  float64
 95    SKEW(activities.float_c12)                                                                 34837 non-null  float64
 96    SKEW(activities.float_c14)                                                                 34837 non-null  float64
 97    STD(activities.float_c11)                                                                  34837 non-null  float64
 98    STD(activities.float_c12)                                                                  34837 non-null  float64
 99    STD(activities.float_c14)                                                                  34837 non-null  float64
 100   SUM(activities.float_c11)                                                                  34837 non-null  float64
 101   SUM(activities.float_c12)                                                                  34837 non-null  float64
 102   SUM(activities.float_c14)                                                                  34837 non-null  float64
 103   TIME_SINCE_FIRST(activities.activity_date, unit=days)                                      34837 non-null  float64
 104   TIME_SINCE_LAST(activities.activity_date, unit=days)                                       34837 non-null  float64
 105   COUNT(comms)                                                                               34837 non-null  Int64
 106   MEAN(comms.contact_date_day_of_month_cos)                                                  34837 non-null  float64
 107   MEAN(comms.contact_date_day_of_month_sin)                                                  34837 non-null  float64
 108   MEAN(comms.contact_date_day_of_week_cos)                                                   34837 non-null  float64
 109   MEAN(comms.contact_date_day_of_week_sin)                                                   34837 non-null  float64
 110   NUM_UNIQUE(comms.cat_c2)                                                                   34837 non-null  Int64
 111   NUM_UNIQUE(comms.cat_c3)                                                                   34837 non-null  Int64
 112   NUM_UNIQUE(comms.cat_c4)                                                                   34837 non-null  Int64
 113   NUM_UNIQUE(comms.cat_c5)                                                                   34837 non-null  Int64
 114   NUM_UNIQUE(comms.contact_date_str)                                                         34837 non-null  Int64
 115   PERCENT_TRUE(comms.contact_date_is_weekend)                                                34837 non-null  float64
 116   TIME_SINCE_FIRST(comms.contact_date, unit=days)                                            34837 non-null  float64
 117   TIME_SINCE_LAST(comms.contact_date, unit=days)                                             34837 non-null  float64
 118   IS_WEEKEND(communication_month)                                                            34837 non-null  int8
 119   COUNT(transactions WHERE cat_c2 = 4)                                                       34837 non-null  Int64
 120   COUNT(transactions WHERE cat_c3 = 314)                                                     34837 non-null  Int64
 121   COUNT(transactions WHERE fl_c14 = True)                                                    34837 non-null  Int64
 122   COUNT(transactions WHERE fl_c14 = False)                                                   34837 non-null  Int64
 123   COUNT(transactions WHERE cat_c3 = 209)                                                     34837 non-null  Int64
 124   COUNT(transactions WHERE cat_c3 = 305)                                                     34837 non-null  Int64
 125   COUNT(transactions WHERE cat_c2 = 15)                                                      34837 non-null  Int64
 126   COUNT(transactions WHERE fl_c12 = True)                                                    34837 non-null  Int64
 127   COUNT(transactions WHERE fl_c12 = False)                                                   34837 non-null  Int64
 128   COUNT(transactions WHERE tran_date_is_weekend = True)                                      34837 non-null  Int64
 129   COUNT(transactions WHERE int_c19 = -1)                                                     34837 non-null  Int64
 130   COUNT(transactions WHERE tran_date_is_weekend = False)                                     34837 non-null  Int64
 131   COUNT(transactions WHERE cat_c2 = 14)                                                      34837 non-null  Int64
 132   COUNT(transactions WHERE fl_c13 = True)                                                    34837 non-null  Int64
 133   COUNT(transactions WHERE cat_c3 = 303)                                                     34837 non-null  Int64
 134   COUNT(transactions WHERE int_c19 = 1)                                                      34837 non-null  Int64
 135   COUNT(transactions WHERE fl_c13 = False)                                                   34837 non-null  Int64
 136   FIRST(transactions.DAY(tran_date))                                                         34837 non-null  category
 137   FIRST(transactions.IS_WEEKEND(tran_date))                                                  34837 non-null  int8
 138   FIRST(transactions.MONTH(tran_date))                                                       34837 non-null  category
 139   FIRST(transactions.WEEKDAY(tran_date))                                                     34837 non-null  category
 140   LAST(transactions.DAY(tran_date))                                                          34837 non-null  category
 141   LAST(transactions.IS_WEEKEND(tran_date))                                                   34837 non-null  int8
 142   LAST(transactions.MONTH(tran_date))                                                        34837 non-null  category
 143   LAST(transactions.WEEKDAY(tran_date))                                                      34837 non-null  category
 144   MEAN(transactions.float_c16 WHERE cat_c2 = 4)                                              34837 non-null  float64
 145   MEAN(transactions.float_c16 WHERE cat_c3 = 314)                                            34837 non-null  float64
 146   MEAN(transactions.float_c16 WHERE fl_c14 = True)                                           34837 non-null  float64
 147   MEAN(transactions.float_c16 WHERE fl_c14 = False)                                          34837 non-null  float64
 148   MEAN(transactions.float_c16 WHERE cat_c3 = 209)                                            34837 non-null  float64
 149   MEAN(transactions.float_c16 WHERE cat_c3 = 305)                                            34837 non-null  float64
 150   MEAN(transactions.float_c16 WHERE cat_c2 = 15)                                             34837 non-null  float64
 151   MEAN(transactions.float_c16 WHERE fl_c12 = True)                                           34837 non-null  float64
 152   MEAN(transactions.float_c16 WHERE fl_c12 = False)                                          34837 non-null  float64
 153   MEAN(transactions.float_c16 WHERE tran_date_is_weekend = True)                             34837 non-null  float64
 154   MEAN(transactions.float_c16 WHERE int_c19 = -1)                                            34837 non-null  float64
 155   MEAN(transactions.float_c16 WHERE tran_date_is_weekend = False)                            34837 non-null  float64
 156   MEAN(transactions.float_c16 WHERE cat_c2 = 14)                                             34837 non-null  float64
 157   MEAN(transactions.float_c16 WHERE fl_c13 = True)                                           34837 non-null  float64
 158   MEAN(transactions.float_c16 WHERE cat_c3 = 303)                                            34837 non-null  float64
 159   MEAN(transactions.float_c16 WHERE int_c19 = 1)                                             34837 non-null  float64
 160   MEAN(transactions.float_c16 WHERE fl_c13 = False)                                          34837 non-null  float64

None

,index,target,is_train,COUNT(transactions),KURTOSIS(transactions.float_c16),KURTOSIS(transactions.float_c17),KURTOSIS(transactions.float_c18),KURTOSIS(transactions.float_c20),KURTOSIS(transactions.float_c21),KURTOSIS(transactions.int_c19),MAX(transactions.float_c16),MAX(transactions.float_c17),MAX(transactions.float_c18),MAX(transactions.float_c20),MAX(transactions.float_c21),MAX(transactions.int_c19),MEAN(transactions.float_c16),MEAN(transactions.float_c17),MEAN(transactions.float_c18),MEAN(transactions.float_c20),MEAN(transactions.float_c21),MEAN(transactions.int_c19),MEAN(transactions.tran_date_day_of_month_cos),MEAN(transactions.tran_date_day_of_month_sin),MEAN(transactions.tran_date_day_of_week_cos),MEAN(transactions.tran_date_day_of_week_sin),MIN(transactions.float_c16),MIN(transactions.float_c17),MIN(transactions.float_c18),MIN(transactions.float_c20),MIN(transactions.float_c21),MIN(transactions.int_c19),NUM_UNIQUE(transactions.cat_c2),NUM_UNIQUE(transactions.cat_c3),NUM_UNIQUE(transactions.cat_c4),NUM_UNIQUE(transactions.tran_date_str),PERCENT_TRUE(transactions.fl_c10),PERCENT_TRUE(transactions.fl_c11),PERCENT_TRUE(transactions.fl_c12),PERCENT_TRUE(transactions.fl_c13),PERCENT_TRUE(transactions.fl_c14),PERCENT_TRUE(transactions.fl_c15),PERCENT_TRUE(transactions.fl_c6),PERCENT_TRUE(transactions.fl_c7),PERCENT_TRUE(transactions.fl_c8),PERCENT_TRUE(transactions.fl_c9),PERCENT_TRUE(transactions.tran_date_is_weekend),SKEW(transactions.float_c16),SKEW(transactions.float_c17),SKEW(transactions.float_c18),SKEW(transactions.float_c20),SKEW(transactions.float_c21),SKEW(transactions.int_c19),STD(transactions.float_c16),STD(transactions.float_c17),STD(transactions.float_c18),STD(transactions.float_c20),STD(transactions.float_c21),STD(transactions.int_c19),SUM(transactions.float_c16),SUM(transactions.float_c17),SUM(transactions.float_c18),SUM(transactions.float_c20),SUM(transactions.float_c21),SUM(transactions.int_c19),"TIME_SINCE_FIRST(transactions.tran_date, unit=days)","TIME_SINCE_LAST(transactions.tran_date, unit=days)",COUNT(activities),KURTOSIS(activities.float_c11),KURTOSIS(activities.float_c12),KURTOSIS(activities.float_c14),MAX(activities.float_c11),MAX(activities.float_c12),MAX(activities.float_c14),MEAN(activities.activity_date_day_of_month_cos),MEAN(activities.activity_date_day_of_month_sin),MEAN(activities.activity_date_day_of_week_cos),MEAN(activities.activity_date_day_of_week_sin),MEAN(activities.float_c11),MEAN(activities.float_c12),MEAN(activities.float_c14),MIN(activities.float_c11),MIN(activities.float_c12),MIN(activities.float_c14),NUM_UNIQUE(activities.activity_date_str),NUM_UNIQUE(activities.cat_c3),NUM_UNIQUE(activities.cat_c4),NUM_UNIQUE(activities.cat_c5),NUM_UNIQUE(activities.cat_c6),NUM_UNIQUE(activities.cat_c9),PERCENT_TRUE(activities.activity_date_is_weekend),PERCENT_TRUE(activities.cat_c10),PERCENT_TRUE(activities.cat_c8),SKEW(activities.float_c11),SKEW(activities.float_c12),SKEW(activities.float_c14),STD(activities.float_c11),STD(activities.float_c12),STD(activities.float_c14),SUM(activities.float_c11),SUM(activities.float_c12),SUM(activities.float_c14),"TIME_SINCE_FIRST(activities.activity_date, unit=days)","TIME_SINCE_LAST(activities.activity_date, unit=days)",COUNT(comms),MEAN(comms.contact_date_day_of_month_cos),MEAN(comms.contact_date_day_of_month_sin),MEAN(comms.contact_date_day_of_week_cos),MEAN(comms.contact_date_day_of_week_sin),NUM_UNIQUE(comms.cat_c2),NUM_UNIQUE(comms.cat_c3),NUM_UNIQUE(comms.cat_c4),NUM_UNIQUE(comms.cat_c5),NUM_UNIQUE(comms.contact_date_str),PERCENT_TRUE(comms.contact_date_is_weekend),"TIME_SINCE_FIRST(comms.contact_date, unit=days)","TIME_SINCE_LAST(comms.contact_date, unit=days)",IS_WEEKEND(communication_month),COUNT(transactions WHERE cat_c2 = 4),COUNT(transactions WHERE cat_c3 = 314),COUNT(transactions WHERE fl_c14 = True),COUNT(transactions WHERE fl_c14 = False),COUNT(transactions WHERE cat_c3 = 209),COUNT(transactions WHERE cat_c3 = 305),COUNT(transactions WHERE cat_c2 = 15),COUNT(transactions WHERE fl_c12 = True),COUNT(transactions WHERE fl_c12 = False),COUNT(transactions WHERE tran_date_is_weekend = True),COUNT(transactions WHERE int_c19 = -1),COUNT(transactions WHERE tran_date_is_weekend = False),COUNT(transactions WHERE cat_c2 = 14),COUNT(transactions WHERE fl_c13 = True),COUNT(transactions WHERE cat_c3 = 303),COUNT(transactions WHERE int_c19 = 1),COUNT(transactions WHERE fl_c13 = False),FIRST(transactions.IS_WEEKEND(tran_date)),LAST(transactions.IS_WEEKEND(tran_date)),MEAN(transactions.float_c16 WHERE cat_c2 = 4),MEAN(transactions.float_c16 WHERE cat_c3 = 314),MEAN(transactions.float_c16 WHERE fl_c14 = True),MEAN(transactions.float_c16 WHERE fl_c14 = False),MEAN(transactions.float_c16 WHERE cat_c3 = 209),MEAN(transactions.float_c16 WHERE cat_c3 = 305),MEAN(transactions.float_c16 WHERE cat_c2 = 15),MEAN(transactions.float_c16 WHERE fl_c12 = True),MEAN(transactions.float_c16 WHERE fl_c12 = False),MEAN(transactions.float_c16 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c16 WHERE int_c19 = -1),MEAN(transactions.float_c16 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c16 WHERE cat_c2 = 14),MEAN(transactions.float_c16 WHERE fl_c13 = True),MEAN(transactions.float_c16 WHERE cat_c3 = 303),MEAN(transactions.float_c16 WHERE int_c19 = 1),MEAN(transactions.float_c16 WHERE fl_c13 = False),MEAN(transactions.float_c17 WHERE cat_c2 = 4),MEAN(transactions.float_c17 WHERE cat_c3 = 314),MEAN(transactions.float_c17 WHERE fl_c14 = True),MEAN(transactions.float_c17 WHERE fl_c14 = False),MEAN(transactions.float_c17 WHERE cat_c3 = 209),MEAN(transactions.float_c17 WHERE cat_c3 = 305),MEAN(transactions.float_c17 WHERE cat_c2 = 15),MEAN(transactions.float_c17 WHERE fl_c12 = True),MEAN(transactions.float_c17 WHERE fl_c12 = False),MEAN(transactions.float_c17 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c17 WHERE int_c19 = -1),MEAN(transactions.float_c17 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c17 WHERE cat_c2 = 14),MEAN(transactions.float_c17 WHERE fl_c13 = True),MEAN(transactions.float_c17 WHERE cat_c3 = 303),MEAN(transactions.float_c17 WHERE int_c19 = 1),MEAN(transactions.float_c17 WHERE fl_c13 = False),MEAN(transactions.float_c18 WHERE cat_c2 = 4),MEAN(transactions.float_c18 WHERE cat_c3 = 314),MEAN(transactions.float_c18 WHERE fl_c14 = True),MEAN(transactions.float_c18 WHERE fl_c14 = False),MEAN(transactions.float_c18 WHERE cat_c3 = 209),MEAN(transactions.float_c18 WHERE cat_c3 = 305),MEAN(transactions.float_c18 WHERE cat_c2 = 15),MEAN(transactions.float_c18 WHERE fl_c12 = True),MEAN(transactions.float_c18 WHERE fl_c12 = False),MEAN(transactions.float_c18 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c18 WHERE int_c19 = -1),MEAN(transactions.float_c18 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c18 WHERE cat_c2 = 14),MEAN(transactions.float_c18 WHERE fl_c13 = True),MEAN(transactions.float_c18 WHERE cat_c3 = 303),MEAN(transactions.float_c18 WHERE int_c19 = 1),MEAN(transactions.float_c18 WHERE fl_c13 = False),MEAN(transactions.float_c20 WHERE cat_c2 = 4),MEAN(transactions.float_c20 WHERE cat_c3 = 314),MEAN(transactions.float_c20 WHERE fl_c14 = True),MEAN(transactions.float_c20 WHERE fl_c14 = False),MEAN(transactions.float_c20 WHERE cat_c3 = 209),MEAN(transactions.float_c20 WHERE cat_c3 = 305),MEAN(transactions.float_c20 WHERE cat_c2 = 15),MEAN(transactions.float_c20 WHERE fl_c12 = True),MEAN(transactions.float_c20 WHERE fl_c12 = False),MEAN(transactions.float_c20 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c20 WHERE int_c19 = -1),MEAN(transactions.float_c20 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c20 WHERE cat_c2 = 14),MEAN(transactions.float_c20 WHERE fl_c13 = True),MEAN(transactions.float_c20 WHERE cat_c3 = 303),MEAN(transactions.float_c20 WHERE int_c19 = 1),MEAN(transactions.float_c20 WHERE fl_c13 = False),MEAN(transactions.float_c21 WHERE cat_c2 = 4),MEAN(transactions.float_c21 WHERE cat_c3 = 314),MEAN(transactions.float_c21 WHERE fl_c14 = True),MEAN(transactions.float_c21 WHERE fl_c14 = False),MEAN(transactions.float_c21 WHERE cat_c3 = 209),MEAN(transactions.float_c21 WHERE cat_c3 = 305),MEAN(transactions.float_c21 WHERE cat_c2 = 15),MEAN(transactions.float_c21 WHERE fl_c12 = True),MEAN(transactions.float_c21 WHERE fl_c12 = False),MEAN(transactions.float_c21 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c21 WHERE int_c19 = -1),MEAN(transactions.float_c21 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c21 WHERE cat_c2 = 14),MEAN(transactions.float_c21 WHERE fl_c13 = True),MEAN(transactions.float_c21 WHERE cat_c3 = 303),MEAN(transactions.float_c21 WHERE int_c19 = 1),MEAN(transactions.float_c21 WHERE fl_c13 = False),MEAN(transactions.int_c19 WHERE cat_c2 = 4),MEAN(transactions.int_c19 WHERE cat_c3 = 314),MEAN(transactions.int_c19 WHERE fl_c14 = True),MEAN(transactions.int_c19 WHERE fl_c14 = False),MEAN(transactions.int_c19 WHERE cat_c3 = 209),MEAN(transactions.int_c19 WHERE cat_c3 = 305),MEAN(transactions.int_c19 WHERE cat_c2 = 15),MEAN(transactions.int_c19 WHERE fl_c12 = True),MEAN(transactions.int_c19 WHERE fl_c12 = False),MEAN(transactions.int_c19 WHERE tran_date_is_weekend = True),MEAN(transactions.int_c19 WHERE tran_date_is_weekend = False),MEAN(transactions.int_c19 WHERE cat_c2 = 14),MEAN(transactions.int_c19 WHERE fl_c13 = True),MEAN(transactions.int_c19 WHERE cat_c3 = 303),MEAN(transactions.int_c19 WHERE fl_c13 = False),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 4),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 314),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c14 = True),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c14 = False),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 209),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 305),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 15),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c12 = True),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c12 = False),MEAN(transactions.tran_date_day_of_month_cos WHERE tran_date_is_weekend = True),MEAN(transactions.tran_date_day_of_month_cos WHERE int_c19 = -1),MEAN(transactions.tran_date_day_of_month_cos WHERE tran_date_is_weekend = False),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 14),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c13 = True),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 303),MEAN(transactions.tran_date_day_of_month_cos WHERE int_c19 = 1),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c13 = False),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 4),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 314),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c14 = True),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c14 = False),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 209),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 305),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 15),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c12 = True),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c12 = False),MEAN(transactions.tran_date_day_of_month_sin WHERE tran_date_is_weekend = True),MEAN(transactions.tran_date_day_of_month_sin WHERE int_c19 = -1),MEAN(transactions.tran_date_day_of_month_sin WHERE tran_date_is_weekend = False),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 14),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c13 = True),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 303),MEAN(transactions.tran_date_day_of_month_sin WHERE int_c19 = 1),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c13 = False),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 4),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 314),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c14 = True),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c14 = False),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 209),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 305),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 15),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c12 = True),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c12 = False),MEAN(transactions.tran_date_day_of_week_cos WHERE tran_date_is_weekend = True),MEAN(transactions.tran_date_day_of_week_cos WHERE int_c19 = -1),MEAN(transactions.tran_date_day_of_week_cos WHERE tran_date_is_weekend = False),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 14),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c13 = True),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 303),MEAN(transactions.tran_date_day_of_week_cos WHERE int_c19 = 1),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c13 = False),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 4),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 314),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c14 = True),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c14 = False),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 209),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 305),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 15),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c12 = True),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c12 = False),MEAN(transactions.tran_date_day_of_week_sin WHERE tran_date_is_weekend = True),MEAN(transactions.tran_date_day_of_week_sin WHERE int_c19 = -1),MEAN(transactions.tran_date_day_of_week_sin WHERE tran_date_is_weekend = False),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 14),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c13 = True),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 303),MEAN(transactions.tran_date_day_of_week_sin WHERE int_c19 = 1),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c13 = False),SUM(transactions.float_c16 WHERE cat_c2 = 4),SUM(transactions.float_c16 WHERE cat_c3 = 314),SUM(transactions.float_c16 WHERE fl_c14 = True),SUM(transactions.float_c16 WHERE fl_c14 = False),SUM(transactions.float_c16 WHERE cat_c3 = 209),SUM(transactions.float_c16 WHERE cat_c3 = 305),SUM(transactions.float_c16 WHERE cat_c2 = 15),SUM(transactions.float_c16 WHERE fl_c12 = True),SUM(transactions.float_c16 WHERE fl_c12 = False),SUM(transactions.float_c16 WHERE tran_date_is_weekend = True),SUM(transactions.float_c16 WHERE int_c19 = -1),SUM(transactions.float_c16 WHERE tran_date_is_weekend = False),SUM(transactions.float_c16 WHERE cat_c2 = 14),SUM(transactions.float_c16 WHERE fl_c13 = True),SUM(transactions.float_c16 WHERE cat_c3 = 303),SUM(transactions.float_c16 WHERE int_c19 = 1),SUM(transactions.float_c16 WHERE fl_c13 = False),SUM(transactions.float_c17 WHERE cat_c2 = 4),SUM(transactions.float_c17 WHERE cat_c3 = 314),SUM(transactions.float_c17 WHERE fl_c14 = True),SUM(transactions.float_c17 WHERE fl_c14 = False),SUM(transactions.float_c17 WHERE cat_c3 = 209),SUM(transactions.float_c17 WHERE cat_c3 = 305),SUM(transactions.float_c17 WHERE cat_c2 = 15),SUM(transactions.float_c17 WHERE fl_c12 = True),SUM(transactions.float_c17 WHERE fl_c12 = False),SUM(transactions.float_c17 WHERE tran_date_is_weekend = True),SUM(transactions.float_c17 WHERE int_c19 = -1),SUM(transactions.float_c17 WHERE tran_date_is_weekend = False),SUM(transactions.float_c17 WHERE cat_c2 = 14),SUM(transactions.float_c17 WHERE fl_c13 = True),SUM(transactions.float_c17 WHERE cat_c3 = 303),SUM(transactions.float_c17 WHERE int_c19 = 1),SUM(transactions.float_c17 WHERE fl_c13 = False),SUM(transactions.float_c18 WHERE cat_c2 = 4),SUM(transactions.float_c18 WHERE cat_c3 = 314),SUM(transactions.float_c18 WHERE fl_c14 = True),SUM(transactions.float_c18 WHERE fl_c14 = False),SUM(transactions.float_c18 WHERE cat_c3 = 209),SUM(transactions.float_c18 WHERE cat_c3 = 305),SUM(transactions.float_c18 WHERE cat_c2 = 15),SUM(transactions.float_c18 WHERE fl_c12 = True),SUM(transactions.float_c18 WHERE fl_c12 = False),SUM(transactions.float_c18 WHERE tran_date_is_weekend = True),SUM(transactions.float_c18 WHERE int_c19 = -1),SUM(transactions.float_c18 WHERE tran_date_is_weekend = False),SUM(transactions.float_c18 WHERE cat_c2 = 14),SUM(transactions.float_c18 WHERE fl_c13 = True),SUM(transactions.float_c18 WHERE cat_c3 = 303),SUM(transactions.float_c18 WHERE int_c19 = 1),SUM(transactions.float_c18 WHERE fl_c13 = False),SUM(transactions.float_c20 WHERE cat_c2 = 4),SUM(transactions.float_c20 WHERE cat_c3 = 314),SUM(transactions.float_c20 WHERE fl_c14 = True),SUM(transactions.float_c20 WHERE fl_c14 = False),SUM(transactions.float_c20 WHERE cat_c3 = 209),SUM(transactions.float_c20 WHERE cat_c3 = 305),SUM(transactions.float_c20 WHERE cat_c2 = 15),SUM(transactions.float_c20 WHERE fl_c12 = True),SUM(transactions.float_c20 WHERE fl_c12 = False),SUM(transactions.float_c20 WHERE tran_date_is_weekend = True),SUM(transactions.float_c20 WHERE int_c19 = -1),SUM(transactions.float_c20 WHERE tran_date_is_weekend = False),SUM(transactions.float_c20 WHERE cat_c2 = 14),SUM(transactions.float_c20 WHERE fl_c13 = True),SUM(transactions.float_c20 WHERE cat_c3 = 303),SUM(transactions.float_c20 WHERE int_c19 = 1),SUM(transactions.float_c20 WHERE fl_c13 = False),SUM(transactions.float_c21 WHERE cat_c2 = 4),SUM(transactions.float_c21 WHERE cat_c3 = 314),SUM(transactions.float_c21 WHERE fl_c14 = True),SUM(transactions.float_c21 WHERE fl_c14 = False),SUM(transactions.float_c21 WHERE cat_c3 = 209),SUM(transactions.float_c21 WHERE cat_c3 = 305),SUM(transactions.float_c21 WHERE cat_c2 = 15),SUM(transactions.float_c21 WHERE fl_c12 = True),SUM(transactions.float_c21 WHERE fl_c12 = False),SUM(transactions.float_c21 WHERE tran_date_is_weekend = True),SUM(transactions.float_c21 WHERE int_c19 = -1),SUM(transactions.float_c21 WHERE tran_date_is_weekend = False),SUM(transactions.float_c21 WHERE cat_c2 = 14),SUM(transactions.float_c21 WHERE fl_c13 = True),SUM(transactions.float_c21 WHERE cat_c3 = 303),SUM(transactions.float_c21 WHERE int_c19 = 1),SUM(transactions.float_c21 WHERE fl_c13 = False),SUM(transactions.int_c19 WHERE cat_c2 = 4),SUM(transactions.int_c19 WHERE cat_c3 = 314),SUM(transactions.int_c19 WHERE fl_c14 = True),SUM(transactions.int_c19 WHERE fl_c14 = False),SUM(transactions.int_c19 WHERE cat_c3 = 209),SUM(transactions.int_c19 WHERE cat_c3 = 305),SUM(transactions.int_c19 WHERE cat_c2 = 15),SUM(transactions.int_c19 WHERE fl_c12 = True),SUM(transactions.int_c19 WHERE fl_c12 = False),SUM(transactions.int_c19 WHERE tran_date_is_weekend = True),SUM(transactions.int_c19 WHERE tran_date_is_weekend = False),SUM(transactions.int_c19 WHERE cat_c2 = 14),SUM(transactions.int_c19 WHERE fl_c13 = True),SUM(transactions.int_c19 WHERE cat_c3 = 303),SUM(transactions.int_c19 WHERE fl_c13 = False),COUNT(activities WHERE cat_c8 = True),COUNT(activities WHERE cat_c6 = 2),COUNT(activities WHERE cat_c6 = 3),COUNT(activities WHERE cat_c8 = False),COUNT(activities WHERE cat_c9 = 1),COUNT(activities WHERE cat_c9 = 2),COUNT(activities WHERE cat_c10 = False),COUNT(activities WHERE activity_date_is_weekend = True),COUNT(activities WHERE cat_c10 = True),COUNT(activities WHERE cat_c4 = 1),COUNT(activities WHERE cat_c4 = 2),COUNT(activities WHERE activity_date_is_weekend = False),COUNT(activities WHERE cat_c6 = 1),FIRST(activities.IS_WEEKEND(activity_date)),LAST(activities.IS_WEEKEND(activity_date)),MEAN(activities.activity_date_day_of_month_cos WHERE cat_c8 = True),MEAN(activities.activity_date_day_of_month_cos WHERE cat_c6 = 2),MEAN(activities.activity_date_day_of_month_cos WHERE cat_c6 = 3),MEAN(activities.activity_date_day_of_month_cos WHERE cat_c8 = False),MEAN(activities.activity_date_day_of_month_cos WHERE cat_c9 = 1),MEAN(activities.activity_date_day_of_month_cos WHERE cat_c9 = 2),MEAN(activities.activity_date_day_of_month_cos WHERE cat_c10 = False),MEAN(activities.activity_da