# Automated Feature Engineering (paralleled version)

In [36]:
import json
import os
import warnings

import dask
import dask.bag as db
import featuretools as ft
import numpy as np
import pandas as pd
from IPython.display import display
from dask.distributed import Client, LocalCluster, Worker, get_task_stream
from feature_engine.creation import CyclicalFeatures
from feature_engine.encoding import OneHotEncoder
from feature_engine.imputation import AddMissingIndicator, MeanMedianImputer
from featuretools.primitives import TimeSinceFirst, TimeSinceLast
from tsfresh import extract_features
from woodwork.logical_types import Boolean, BooleanNullable, Categorical, Unknown

from utils import add_calendar_values

In [2]:
pd.set_option('display.float_format', '{:.3f}'.format)
pd.set_option('display.max_columns', None)

In [3]:
warnings.simplefilter(action='ignore', category=FutureWarning)

## Create EntitySet

In [4]:
"""Clients"""

from utils import read_clients


def add_clients_dataframes(es, path):
    clients_df = read_clients(path, encode_bool=False)
    clients_df = clients_df.astype({'client_id': str})
    display(clients_df.info())

    es.add_dataframe(
        clients_df,
        dataframe_name='clients',
        index='client_id',
        time_index='communication_month',
        # make_index=True,
        logical_types={
            'client_id': Unknown,
            'target': Boolean,
            'is_train': Boolean,
        }
    )
    display(es['clients'].ww.schema)
    display(es)

In [5]:
"""Transactions"""

from utils import read_transactions


def add_transactions_dataframe(es, path):
    transactions_df = read_transactions(path, encode_bool=False, encode_category=False)
    transactions_df = transactions_df.astype({'client_id': str})
    # transactions_df['tran_date_str'] = transactions_df['tran_date'].dt.date.astype(str)  # used later for feature generation
    transactions_df = add_calendar_values(transactions_df, 'tran_date', prefix='tran_date_')
    display(transactions_df.info())

    es.add_dataframe(
        transactions_df,
        dataframe_name='transactions',
        index='transaction_id',
        time_index='tran_date',
        make_index=True,
        logical_types={
            'client_id': Unknown,
            'cat_c2': Categorical,
            'cat_c3': Categorical,
            'cat_c4': Categorical,
            # 'tran_date_str': Categorical,
            'fl_c6': Boolean,
            'fl_c7': Boolean,
            'fl_c8': Boolean,
            'fl_c9': Boolean,
            'fl_c10': Boolean,
            'fl_c11': Boolean,
            'fl_c12': Boolean,
            'fl_c13': Boolean,
            'fl_c14': Boolean,
            'fl_c15': Boolean,
        }
    )
    display(es['transactions'].ww.schema)

    es.add_relationship('clients', 'client_id', 'transactions', 'client_id')
    display(es)

In [6]:
"""App activity"""

from utils import preprocess_app_activity_data, read_app_activity


def add_activities_dataframe(es, path):
    activities_df = read_app_activity(path, encode_bool=False, encode_category=False)
    activities_df = activities_df.astype({'client_id': str})
    activities_df = preprocess_app_activity_data(activities_df)
    # activities_df['activity_date_str'] = activities_df['activity_date'].dt.date.astype(str)  # used later for feature generation
    activities_df = add_calendar_values(activities_df, 'activity_date', prefix='activity_date_')
    display(activities_df.info())

    es.add_dataframe(
        activities_df,
        dataframe_name='activities',
        index='activity_id',
        time_index='activity_date',
        make_index=True,
        logical_types={
            'client_id': Unknown,
            'cat_c3': Categorical,
            'cat_c4': Categorical,
            'cat_c5': Categorical,
            'cat_c6': Categorical,
            'cat_c9': Categorical,
            # 'activity_date_str': Categorical,
            'cat_c8': BooleanNullable,
            'cat_c10': BooleanNullable,
        }
    )
    display(es['activities'].ww.schema)

    es.add_relationship('clients', 'client_id', 'activities', 'client_id')
    display(es)

In [7]:
"""Communications"""

from utils import read_communications


def add_communications_dataframe(es, path):
    comms_df = read_communications(path, encode_category=False)
    comms_df = comms_df.astype({'client_id': str})
    # comms_df = preprocess_comm_data(comms)
    # comms_df = encode_comm_categories(comms)
    # comms_df['contact_date_str'] = comms_df['contact_date'].dt.date.astype(str)  # used later for feature generation
    comms_df = add_calendar_values(comms_df, 'contact_date', prefix='contact_date_')
    display(comms_df.info(show_counts=True))

    es.add_dataframe(
        comms_df,
        dataframe_name='comms',
        index='comm_id',
        time_index='contact_date',
        make_index=True,
        logical_types={
            'client_id': Unknown,
            'cat_c2': Categorical,
            'cat_c3': Categorical,
            'cat_c4': Categorical,
            'cat_c5': Categorical,
            # 'contact_date_str': Categorical,
        }
    )
    display(es['comms'].ww.schema)

    es.add_relationship('clients', 'client_id', 'comms', 'client_id')
    display(es)

In [8]:
def entityset_from_partition(chunk_num: int, chunks_dir):
    es = ft.EntitySet(id='client_data')
    chunk_dir = os.path.join(chunks_dir, str(chunk_num))

    clients_path = os.path.join(chunk_dir, f'CLIENTS.csv')
    transactions_path = os.path.join(chunk_dir, f'TRANSACTIONS.csv')
    activities_path = os.path.join(chunk_dir, f'APP_ACTIVITY.csv')
    comms_path = os.path.join(chunk_dir, f'COMMUNICATIONS.csv')

    add_clients_dataframes(es, clients_path)
    add_transactions_dataframe(es, transactions_path)
    add_activities_dataframe(es, activities_path)
    add_communications_dataframe(es, comms_path)

    es.add_last_time_indexes()

    return {
        'es': es,
        'chunk_num': chunk_num,
    }

## Deep Feature Synthesis

In [9]:
"""Transactions"""

def prepare_dfs_transactions(es, primitive_options):
    df_name = 'transactions'

    # Date
    for prim in ['first', 'last']:
        primitive_options[prim]['include_columns'][df_name] += ['tran_date']
    primitive_options['mean']['include_columns'][df_name] += [
        'tran_date_day_of_week_sin', 'tran_date_day_of_week_cos',
        'tran_date_day_of_month_sin', 'tran_date_day_of_month_cos',
    ]

    # Numeric
    num_cols = ['float_c16', 'float_c17', 'float_c18', 'int_c19', 'float_c20', 'float_c21']
    for prim in ['mean', 'std', 'skew', 'kurtosis', 'min', 'max', 'sum']:
        primitive_options[prim]['include_columns'][df_name] += num_cols
        # primitive_options[prim] = {'include_columns': {df_name: num_cols}}

    # Categorical
    cat_cols = list(es[df_name].ww.select(Categorical).columns)
    for prim in ['num_unique', 'mode', 'entropy']:
        # primitive_options['mode'] = {'include_columns': {df_name: cat_cols}}
        primitive_options[prim]['include_columns'][df_name] += cat_cols
    # for prim in ('mode', 'entropy'):
    #     # Delete redundant primitive
    #     primitive_options[prim]['include_columns'][df_name].remove('tran_date_str')

    # Boolean
    bool_cols = list(es[df_name].ww.select([Boolean, BooleanNullable]).columns)
    # primitive_options['percent_true'] = {'include_columns': {df_name: bool_cols}}
    primitive_options['percent_true']['include_columns'][df_name] += bool_cols


    # Interesting values
    interesting_values = {
        'cat_c2': ['4', '14', '15'],
        'cat_c3': ['209', '303', '305', '314'],
        'int_c19': [-1, 1],
        'fl_c12': [True, False],
        'fl_c13': [True, False],
        'fl_c14': [True, False],
        'tran_date_is_weekend': [True, False],
    }
    es.add_interesting_values(dataframe_name=df_name, values=interesting_values)

In [10]:
"""Activities"""

def prepare_dfs_activities(es, primitive_options):
    df_name = 'activities'

    # Date
    for prim in ['first', 'last']:
        primitive_options[prim]['include_columns'][df_name] += ['activity_date']
    primitive_options['mean']['include_columns'][df_name] += [
        'activity_date_day_of_week_sin', 'activity_date_day_of_week_cos',
        'activity_date_day_of_month_sin', 'activity_date_day_of_month_cos',
    ]

    # Numeric
    num_cols = ['float_c11', 'float_c12', 'float_c13', 'float_c14', 'float_c15', 'float_c16', 'float_c17']
    for prim in ['mean', 'std', 'skew', 'kurtosis', 'min', 'max', 'sum']:
        primitive_options[prim]['include_columns'][df_name] += num_cols

    # Categorical
    cat_cols = list(es[df_name].ww.select(Categorical).columns)
    for prim in ['num_unique', 'mode', 'entropy']:
        primitive_options[prim]['include_columns'][df_name] += cat_cols
    # for prim in ('mode', 'entropy'):
    #     # Delete redundant primitive
    #     primitive_options[prim]['include_columns'][df_name].remove('activity_date_str')

    # Boolean
    bool_cols = list(es[df_name].ww.select([Boolean, BooleanNullable]).columns)
    primitive_options['percent_true']['include_columns'][df_name] += bool_cols


    # Interesting values
    interesting_values = {
        'cat_c4': ['1', '2'],
        'cat_c6': ['1', '2', '3'],
        'cat_c9': ['1', '2'],
        'cat_c8': [True, False],
        'cat_c10': [True, False],
        'activity_date_is_weekend': [True, False],
    }
    es.add_interesting_values(dataframe_name=df_name, values=interesting_values)

In [11]:
"""Communications"""

def prepare_dfs_communications(es, primitive_options):
    df_name = 'comms'

    # Date
    for prim in ['first', 'last']:
        primitive_options[prim]['include_columns'][df_name] += ['contact_date']
    primitive_options['mean']['include_columns'][df_name] += [
        'contact_date_day_of_week_sin', 'contact_date_day_of_week_cos',
        'contact_date_day_of_month_sin', 'contact_date_day_of_month_cos',
    ]

    # Categorical
    cat_cols = list(es[df_name].ww.select(Categorical).columns)
    for prim in ['num_unique', 'mode', 'entropy']:
        primitive_options[prim]['include_columns'][df_name] += cat_cols
    # for prim in ('mode', 'entropy'):
    #     # Delete redundant primitive
    #     primitive_options[prim]['include_columns'][df_name].remove('contact_date_str')


    # Boolean
    bool_cols = list(es[df_name].ww.select([Boolean, BooleanNullable]).columns)
    primitive_options['percent_true']['include_columns'][df_name] += bool_cols

    # Interesting values
    interesting_values = {
        'cat_c2': ['S3564', 'S3565', 'S3677', 'S3769'],
        'cat_c3': ['3', '4', '7'],
        'cat_c4': ['1', '2'],
        'cat_c5': ['4', '7'],
        'contact_date_is_weekend': [True, False],
    }
    es.add_interesting_values(dataframe_name=df_name, values=interesting_values)

In [12]:
MIN_DATE_STR = '2024-12-01 00:00:00'
MAX_DATE_STR = '2025-09-01 00:00:00'

AGG_PRIMITIVES = [
    'count',
    'first', 'last', TimeSinceFirst(unit='days'), TimeSinceLast(unit='days'),  # for date
    'mean', 'std', 'skew', 'kurtosis', 'min', 'max', 'sum',   # for numeric
    'num_unique', 'mode', 'entropy',  # for categorical
    'percent_true',  # for boolean
]

def prepare_dfs(es):
    primitive_options = {}
    for agg in AGG_PRIMITIVES:
        primitive_options[agg]= {'include_columns': {}}
        for df_name in ('transactions', 'activities', 'comms'):
             if agg not in ('count',) and isinstance(agg, str):
                 primitive_options[agg]['include_columns'][df_name] = []

    prepare_dfs_transactions(es, primitive_options)
    prepare_dfs_activities(es, primitive_options)
    prepare_dfs_communications(es, primitive_options)

    return primitive_options

In [13]:
"""Cut-off time dataframe"""

def get_cutoff_time(es):
    cutoff_df = es.dataframe_dict['clients'][['client_id', 'communication_month']].copy()
    cutoff_df.rename(columns={'communication_month': 'time'}, inplace=True)
    return cutoff_df

In [14]:
def run_dfs(es, primitive_options, cutoff_df):
    feature_matrix, feature_defs = ft.dfs(
        entityset=es,
        target_dataframe_name='clients',
        cutoff_time=cutoff_df,
        agg_primitives=AGG_PRIMITIVES,
        trans_primitives=['day', 'month', 'weekday', 'is_weekend'],
        where_primitives=['mean', 'sum', 'count'],
        primitive_options=primitive_options,
        max_depth=1,
        verbose=True,
        features_only=False,
        n_jobs=1,
        chunk_size=es.dataframe_dict['clients'].shape[0],
        return_types='all',
    )
    # feature_matrix_enc, features_enc = ft.encode_features(
    #     feature_matrix,
    #     feature_defs,
    #     top_n={
    #         # Transactions
    #         'MODE(transactions.cat_c2)': 10,
    #         'MODE(transactions.cat_c3)': 10,
    #         'MODE(transactions.cat_c4)': 5,
    #
    #         # Activities
    #         'MODE(activities.cat_c3)': 3,
    #         'MODE(activities.cat_c4)': 2,
    #         'MODE(activities.cat_c5)': 1,
    #         'MODE(activities.cat_c6)': 7,
    #         'MODE(activities.cat_c9)': 2,
    #
    #         # Communications
    #         'MODE(comms.cat_c2)': 10,
    #         'MODE(comms.cat_c3)': 3,
    #         'MODE(comms.cat_c4)': 3,
    #         'MODE(comms.cat_c5)': 3,
    #     },
    #     to_encode=[
    #         'MODE(transactions.cat_c2)', 'MODE(transactions.cat_c3)', 'MODE(transactions.cat_c4)',  # transactions
    #         'MODE(activities.cat_c3)', 'MODE(activities.cat_c4)', 'MODE(activities.cat_c5)', 'MODE(activities.cat_c6)', 'MODE(activities.cat_c9)',  # activities
    #         'MODE(comms.cat_c2)', 'MODE(comms.cat_c3)', 'MODE(comms.cat_c4)', 'MODE(comms.cat_c5)',  # communications
    #     ],
    # )

    return feature_matrix, feature_defs

## Ratio of periods features

In [15]:
def compute_ratios_for_periods(es, fm, cutoff_df, primitive_options):
    """Ratios between last 45/90 days periods"""
    fm_45d, _ = ft.dfs(
        entityset=es,
        target_dataframe_name='clients',
        cutoff_time=cutoff_df,
        training_window='45 days',
        agg_primitives=['count', 'sum', 'mean', 'std', 'percent_true'],
        trans_primitives=[],
        where_primitives=['count'],
        primitive_options=primitive_options,
        max_depth=1,
        verbose=True,
        features_only=False,
        n_jobs=1,
        chunk_size=es.dataframe_dict['clients'].shape[0],
        return_types='all',
    )
    fm_90d, _ = ft.dfs(
        entityset=es,
        target_dataframe_name='clients',
        cutoff_time=cutoff_df,
        training_window='90 days',
        agg_primitives=['count', 'sum', 'mean', 'std', 'percent_true'],
        trans_primitives=[],
        where_primitives=['count'],
        primitive_options=primitive_options,
        max_depth=1,
        verbose=True,
        features_only=False,
        n_jobs=1,
        chunk_size=es.dataframe_dict['clients'].shape[0],
        return_types='all',
    )

    # Rename to make columns unique
    fm_45d = fm_45d.add_prefix('D45_')
    fm_90d = fm_90d.add_prefix('D90_')

    trend_features = pd.DataFrame(index=fm_45d.index)
    for col_45, col_90 in zip(fm_45d.columns, fm_90d.columns):
        col = col_45.replace('D45_', '')
        if col in ['client_id', 'target', 'is_train']:
            continue

        if pd.api.types.is_numeric_dtype(fm_45d[col_45]):
            trend_features[f"TREND_45_90_{col}"] = fm_45d[col_45] / fm_90d[col_90].replace(0, np.nan)

    trend_features.fillna(0, inplace=True)

    display(trend_features.head())
    display(trend_features.info(verbose=True, show_counts=True))

    return fm.merge(trend_features, on='client_id', how='left')

## Other features

In [16]:
def add_extra_unique_features(es, fm):
    transactions_df = es.dataframe_dict['transactions']
    activities_df = es.dataframe_dict['activities']
    comms_df = es.dataframe_dict['comms']

    transactions_df['tran_date_str'] = transactions_df['tran_date'].dt.date.astype('category')
    tx_dates_unique = transactions_df.groupby('client_id').agg(tran_date_str_nunique=('tran_date_str', 'nunique')).reset_index(names='client_id')

    activities_df['activity_date_str'] = activities_df['activity_date'].dt.date.astype('category')
    act_dates_unique = activities_df.groupby('client_id').agg(activity_date_str_nunique=('activity_date_str', 'nunique')).reset_index(names='client_id')
    act_devices_unique = activities_df.groupby('client_id').agg(device_id_nunique=('device_id', 'nunique')).reset_index(names='client_id')

    comms_df['contact_date_str'] = comms_df['contact_date'].dt.date.astype('category')
    comms_dates_unique = comms_df.groupby('client_id').agg(contact_date_str_nunique=('contact_date_str', 'nunique')).reset_index(names='client_id')

    fm = fm.merge(comms_dates_unique, on='client_id', how='left')
    fm = fm.merge(act_dates_unique, on='client_id', how='left')
    fm = fm.merge(act_devices_unique, on='client_id', how='left')
    fm = fm.merge(tx_dates_unique, on='client_id', how='left')

    return fm

In [17]:
def add_cross_table_interaction_features(es, fm):
    fm['INTERACTION_activity_per_trans'] = fm['COUNT(activities)'] / fm['COUNT(transactions)'].replace(0, 1)
    fm['INTERACTION_contact_per_trans'] = fm['COUNT(comms)'] / fm['COUNT(transactions)'].replace(0, 1)
    fm['INTERACTION_contact_per_activity'] = fm['COUNT(comms)'] / fm['COUNT(activities)'].replace(0, 1)
    return fm

In [18]:
def add_financial_balance_features(es, fm):
    pos_sum = fm['SUM(transactions.float_c18 WHERE int_c19 = 1)']
    neg_sum = fm['SUM(transactions.float_c18 WHERE int_c19 = -1)']
    fm['BALANCE_net_flow'] = pos_sum - neg_sum
    fm['BALANCE_savings_potential'] = pos_sum / neg_sum
    return fm

## Add more time-series features

In [19]:
def prep_time_gaps(df, date_col, prefix):
    df = df.sort_values(by=['client_id', date_col])

    gap_col_name = f'{prefix}_gap_days'
    df[gap_col_name] = df.groupby('client_id')[date_col].diff().dt.total_seconds() / (3600 * 24)
    df[gap_col_name] = df[gap_col_name].fillna(0)

    return df[['client_id', date_col, gap_col_name]]


def add_time_series_features(es, fm):
    transactions_df = es.dataframe_dict['transactions']
    activities_df = es.dataframe_dict['activities']
    comms_df = es.dataframe_dict['comms']

    df_transactions_ts = prep_time_gaps(transactions_df, 'tran_date', 'tran_date')
    df_transactions_ts['float_c18_diff'] = transactions_df.groupby('client_id')['float_c18'].diff().fillna(0)  # difference between transactions amount
    df_activities_ts = prep_time_gaps(activities_df, 'activity_date', 'activity_date')
    df_comms_ts  = prep_time_gaps(comms_df, 'contact_date', 'contact_date')

    display(df_transactions_ts.head(10))

    datasets = {
        'transactions': (df_transactions_ts, 'tran_date', ['tran_date_gap_days', 'float_c18_diff']),
        'activities': (df_activities_ts, 'activity_date', ['activity_date_gap_days']),
        'communications': (df_comms_ts, 'contact_date', ['contact_date_gap_days'])
    }
    all_features = []
    for name, (df, date_col, val_cols) in datasets.items():
        print(f'Processing {name}...')

        for val_col in val_cols:
            fc_parameters = {
                'median': None,
                'mean': None,
                'maximum': None,
                'minimum': None,
                'standard_deviation': None,
                'skewness': None,
                'kurtosis': None,
                'quantile': [
                    {'q': 0.1},
                    {'q': 0.25},
                    {'q': 0.75},
                    {'q': 0.9}
                ],
                'linear_trend': [{'attr': 'slope'}],
                'approximate_entropy': [{'m': 2, 'r': 0.25}],
                'ratio_beyond_r_sigma': [{'r': 2}],
                'autocorrelation': [{'lag': 1}],
                'fft_aggregated': [{'aggtype': 'centroid'}, {'aggtype': 'variance'}],
                'longest_strike_above_mean': None,
                'longest_strike_below_mean': None,
                'count_above_mean': None,
            }
            features = extract_features(
                timeseries_container=df,
                column_id='client_id',
                column_sort=date_col,
                column_value=val_col,
                default_fc_parameters=fc_parameters,
                n_jobs=1,
            )
            features = features.reset_index(names='client_id')
            all_features.append(features)

    for features in all_features:
        fm = fm.merge(features, on='client_id', how='left')

    return fm

## Main method

In [32]:
CHUNKS_DIR = '../data/chunks/'
FM_OUTPUT_DIR = '../data/fm_test/'

In [21]:
def feature_matrix_from_entityset(es_dict, save=True):
    es = es_dict['es']
    chunk_num = es_dict['chunk_num']

    primitive_options = prepare_dfs(es)
    cutoff_df = get_cutoff_time(es)

    fm, fd = run_dfs(es, primitive_options, cutoff_df)
    display(fd)
    display(fm.head())
    display(fm.info(verbose=True, show_counts=True))
    display(fm.describe())

    fm = compute_ratios_for_periods(es, fm, cutoff_df, primitive_options)
    fm = add_extra_unique_features(es, fm)
    fm = add_cross_table_interaction_features(es, fm)
    fm = add_financial_balance_features(es, fm)
    fm = add_time_series_features(es, fm)

    display(fm.info(verbose=True, show_counts=True))

    if save:
        # chunk_dir = os.path.join(FM_OUTPUT_DIR, str(es_dict['chunk_num']))
        # os.makedirs(chunk_dir, exist_ok=True)
        fm_output_path = os.path.join(FM_OUTPUT_DIR, f'feature_matrix_{chunk_num}.csv')
        fm.to_csv(fm_output_path, index=False)

        dtypes_output_path = os.path.join(FM_OUTPUT_DIR, f'fm_dtypes_{chunk_num}.json')
        with open(dtypes_output_path, 'w') as f:
            json.dump(fm.dtypes.astype(str).to_dict(), f)

In [38]:
"""For testing purposes only"""

es_dict = entityset_from_partition(1, CHUNKS_DIR)
fm = feature_matrix_from_entityset(es_dict, save=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   client_id            260 non-null    object
 1   target               260 non-null    bool
 2   is_train             260 non-null    bool
 3   communication_month  260 non-null    datetime64[ns]
dtypes: bool(2), datetime64[ns](1), object(1)
memory usage: 4.7+ KB

None

                    Logical Type Semantic Tag(s)
Column
client_id                Unknown       ['index']
target                   Boolean              []
is_train                 Boolean              []
communication_month     Datetime  ['time_index']

Entityset: client_data
  DataFrames:
    clients [Rows: 260, Columns: 4]
  Relationships:
    No relationships

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120688 entries, 0 to 120687
Data columns (total 26 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   client_id                   120688 non-null  object
 1   tran_date                   120688 non-null  datetime64[ns]
 2   cat_c2                      120688 non-null  category
 3   cat_c3                      120688 non-null  category
 4   cat_c4                      120688 non-null  category
 5   fl_c6                       120688 non-null  bool
 6   fl_c7                       120688 non-null  bool
 7   fl_c8                       120688 non-null  bool
 8   fl_c9                       120688 non-null  bool
 9   fl_c10                      120688 non-null  bool
 10  fl_c11                      120688 non-null  bool
 11  fl_c12                      120688 non-null  bool
 12  fl_c13                      120688 non-null  bool
 13  fl_c14                      120688 non-null  bool
 14  fl_c15                      120688 non-null  bool
 15  float_c16                   120688 non-null  float32
 16  float_c17                   120688 non-null  float32
 17  float_c18                   120688 non-null  float32
 18  int_c19                     120688 non-null  int32
 19  float_c20                   120688 non-null  float32
 20  float_c21                   120688 non-null  float32
 21  tran_date_is_weekend        120688 non-null  bool
 22  tran_date_day_of_week_sin   120688 non-null  float32
 23  tran_date_day_of_week_cos   120688 non-null  float32
 24  tran_date_day_of_month_sin  120688 non-null  float32
 25  tran_date_day_of_month_cos  120688 non-null  float32
dtypes: bool(11), category(3), datetime64[ns](1), float32(9), int32(1), object(1)
memory usage: 8.2+ MB

None

                           Logical Type Semantic Tag(s)
Column
transaction_id                  Integer       ['index']
client_id                       Unknown              []
tran_date                      Datetime  ['time_index']
cat_c2                      Categorical    ['category']
cat_c3                      Categorical    ['category']
cat_c4                      Categorical    ['category']
fl_c6                           Boolean              []
fl_c7                           Boolean              []
fl_c8                           Boolean              []
fl_c9                           Boolean              []
fl_c10                          Boolean              []
fl_c11                          Boolean              []
fl_c12                          Boolean              []
fl_c13                          Boolean              []
fl_c14                          Boolean              []
fl_c15                          Boolean              []
float_c16                        Double     ['numeric']
float_c17                        Double     ['numeric']
float_c18                        Double     ['numeric']
int_c19                         Integer     ['numeric']
float_c20                        Double     ['numeric']
float_c21                        Double     ['numeric']
tran_date_is_weekend            Boolean              []
tran_date_day_of_week_sin        Double     ['numeric']
tran_date_day_of_week_cos        Double     ['numeric']
tran_date_day_of_month_sin       Double     ['numeric']
tran_date_day_of_month_cos       Double     ['numeric']

Entityset: client_data
  DataFrames:
    clients [Rows: 260, Columns: 4]
    transactions [Rows: 120688, Columns: 27]
  Relationships:
    transactions.client_id -> clients.client_id

<class 'pandas.core.frame.DataFrame'>
Index: 130813 entries, 0 to 131403
Data columns (total 18 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   client_id                       130813 non-null  object
 1   device_id                       130813 non-null  uint64
 2   activity_date                   130813 non-null  datetime64[ns]
 3   cat_c3                          130813 non-null  category
 4   cat_c4                          130813 non-null  category
 5   cat_c5                          130813 non-null  category
 6   cat_c6                          130813 non-null  category
 7   cat_c8                          130813 non-null  boolean
 8   cat_c9                          130813 non-null  category
 9   cat_c10                         130813 non-null  boolean
 10  float_c11                       130813 non-null  float32
 11  float_c12                       130813 non-null  float32
 12  float_c14                       130813 non-null  float32
 13  activity_date_is_weekend        130813 non-null  bool
 14  activity_date_day_of_week_sin   130813 non-null  float32
 15  activity_date_day_of_week_cos   130813 non-null  float32
 16  activity_date_day_of_month_sin  130813 non-null  float32
 17  activity_date_day_of_month_cos  130813 non-null  float32
dtypes: bool(1), boolean(2), category(5), datetime64[ns](1), float32(7), object(1), uint64(1)
memory usage: 8.7+ MB

None

                                   Logical Type Semantic Tag(s)
Column
activity_id                             Integer       ['index']
client_id                               Unknown              []
device_id                               Integer     ['numeric']
activity_date                          Datetime  ['time_index']
cat_c3                              Categorical    ['category']
cat_c4                              Categorical    ['category']
cat_c5                              Categorical    ['category']
cat_c6                              Categorical    ['category']
cat_c8                          BooleanNullable              []
cat_c9                              Categorical    ['category']
cat_c10                         BooleanNullable              []
float_c11                                Double     ['numeric']
float_c12                                Double     ['numeric']
float_c14                                Double     ['numeric']
activity_date_is_weekend                Boolean              []
activity_date_day_of_week_sin            Double     ['numeric']
activity_date_day_of_week_cos            Double     ['numeric']
activity_date_day_of_month_sin           Double     ['numeric']
activity_date_day_of_month_cos           Double     ['numeric']

Entityset: client_data
  DataFrames:
    clients [Rows: 260, Columns: 4]
    transactions [Rows: 120688, Columns: 27]
    activities [Rows: 130813, Columns: 19]
  Relationships:
    transactions.client_id -> clients.client_id
    activities.client_id -> clients.client_id

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148781 entries, 0 to 148780
Data columns (total 11 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   client_id                      148781 non-null  object
 1   contact_date                   148781 non-null  datetime64[ns]
 2   cat_c2                         148781 non-null  category
 3   cat_c3                         148781 non-null  category
 4   cat_c4                         148781 non-null  category
 5   cat_c5                         148781 non-null  category
 6   contact_date_is_weekend        148781 non-null  bool
 7   contact_date_day_of_week_sin   148781 non-null  float32
 8   contact_date_day_of_week_cos   148781 non-null  float32
 9   contact_date_day_of_month_sin  148781 non-null  float32
 10  contact_date_day_of_month_cos  148781 non-null  float32
dtypes: bool(1), category(4), datetime64[ns](1), float32(4), object(1)
memory usage: 5.4+ MB

None

                              Logical Type Semantic Tag(s)
Column
comm_id                            Integer       ['index']
client_id                          Unknown              []
contact_date                      Datetime  ['time_index']
cat_c2                         Categorical    ['category']
cat_c3                         Categorical    ['category']
cat_c4                         Categorical    ['category']
cat_c5                         Categorical    ['category']
contact_date_is_weekend            Boolean              []
contact_date_day_of_week_sin        Double     ['numeric']
contact_date_day_of_week_cos        Double     ['numeric']
contact_date_day_of_month_sin       Double     ['numeric']
contact_date_day_of_month_cos       Double     ['numeric']

Entityset: client_data
  DataFrames:
    clients [Rows: 260, Columns: 4]
    transactions [Rows: 120688, Columns: 27]
    activities [Rows: 130813, Columns: 19]
    comms [Rows: 148781, Columns: 12]
  Relationships:
    transactions.client_id -> clients.client_id
    activities.client_id -> clients.client_id
    comms.client_id -> clients.client_id

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\primitives\options_utils.py:39: UserWarning: Column 'float_c13' not in dataframe 'activities'
  warnings.warn(
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\primitives\options_utils.py:39: UserWarning: Column 'float_c15' not in dataframe 'activities'
  warnings.warn(
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\primitives\options_utils.py:39: UserWarning: Column 'float_c16' not in dataframe 'activities'
  warnings.warn(
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\primitives\options_utils.py:39: UserWarning: Column 'float_c17' not in dataframe 'activities'
  warnings.warn(

Built 641 features
Elapsed: 00:00 | Progress:   0%|

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\primitives\standard\aggregation\kurtosis.py:67: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  return kurtosis(

Elapsed: 00:03 | Progress:  87%|

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\primitives\standard\aggregation\kurtosis.py:67: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  return kurtosis(

Elapsed: 00:04 | Progress: 100%|

[<Feature: target>,
 <Feature: is_train>,
 <Feature: communication_month>,
 <Feature: COUNT(transactions)>,
 <Feature: ENTROPY(transactions.cat_c2)>,
 <Feature: ENTROPY(transactions.cat_c3)>,
 <Feature: ENTROPY(transactions.cat_c4)>,
 <Feature: FIRST(transactions.tran_date)>,
 <Feature: KURTOSIS(transactions.float_c16)>,
 <Feature: KURTOSIS(transactions.float_c17)>,
 <Feature: KURTOSIS(transactions.float_c18)>,
 <Feature: KURTOSIS(transactions.float_c20)>,
 <Feature: KURTOSIS(transactions.float_c21)>,
 <Feature: KURTOSIS(transactions.int_c19)>,
 <Feature: LAST(transactions.tran_date)>,
 <Feature: MAX(transactions.float_c16)>,
 <Feature: MAX(transactions.float_c17)>,
 <Feature: MAX(transactions.float_c18)>,
 <Feature: MAX(transactions.float_c20)>,
 <Feature: MAX(transactions.float_c21)>,
 <Feature: MAX(transactions.int_c19)>,
 <Feature: MEAN(transactions.float_c16)>,
 <Feature: MEAN(transactions.float_c17)>,
 <Feature: MEAN(transactions.float_c18)>,
 <Feature: MEAN(transactions.float_c20)>,
 <Feature: MEAN(transactions.float_c21)>,
 <Feature: MEAN(transactions.int_c19)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_sin)>,
 <Feature: MIN(transactions.float_c16)>,
 <Feature: MIN(transactions.float_c17)>,
 <Feature: MIN(transactions.float_c18)>,
 <Feature: MIN(transactions.float_c20)>,
 <Feature: MIN(transactions.float_c21)>,
 <Feature: MIN(transactions.int_c19)>,
 <Feature: MODE(transactions.cat_c2)>,
 <Feature: MODE(transactions.cat_c3)>,
 <Feature: MODE(transactions.cat_c4)>,
 <Feature: NUM_UNIQUE(transactions.cat_c2)>,
 <Feature: NUM_UNIQUE(transactions.cat_c3)>,
 <Feature: NUM_UNIQUE(transactions.cat_c4)>,
 <Feature: PERCENT_TRUE(transactions.fl_c10)>,
 <Feature: PERCENT_TRUE(transactions.fl_c11)>,
 <Feature: PERCENT_TRUE(transactions.fl_c12)>,
 <Feature: PERCENT_TRUE(transactions.fl_c13)>,
 <Feature: PERCENT_TRUE(transactions.fl_c14)>,
 <Feature: PERCENT_TRUE(transactions.fl_c15)>,
 <Feature: PERCENT_TRUE(transactions.fl_c6)>,
 <Feature: PERCENT_TRUE(transactions.fl_c7)>,
 <Feature: PERCENT_TRUE(transactions.fl_c8)>,
 <Feature: PERCENT_TRUE(transactions.fl_c9)>,
 <Feature: PERCENT_TRUE(transactions.tran_date_is_weekend)>,
 <Feature: SKEW(transactions.float_c16)>,
 <Feature: SKEW(transactions.float_c17)>,
 <Feature: SKEW(transactions.float_c18)>,
 <Feature: SKEW(transactions.float_c20)>,
 <Feature: SKEW(transactions.float_c21)>,
 <Feature: SKEW(transactions.int_c19)>,
 <Feature: STD(transactions.float_c16)>,
 <Feature: STD(transactions.float_c17)>,
 <Feature: STD(transactions.float_c18)>,
 <Feature: STD(transactions.float_c20)>,
 <Feature: STD(transactions.float_c21)>,
 <Feature: STD(transactions.int_c19)>,
 <Feature: SUM(transactions.float_c16)>,
 <Feature: SUM(transactions.float_c17)>,
 <Feature: SUM(transactions.float_c18)>,
 <Feature: SUM(transactions.float_c20)>,
 <Feature: SUM(transactions.float_c21)>,
 <Feature: SUM(transactions.int_c19)>,
 <Feature: TIME_SINCE_FIRST(transactions.tran_date, unit=days)>,
 <Feature: TIME_SINCE_LAST(transactions.tran_date, unit=days)>,
 <Feature: COUNT(activities)>,
 <Feature: ENTROPY(activities.cat_c3)>,
 <Feature: ENTROPY(activities.cat_c4)>,
 <Feature: ENTROPY(activities.cat_c5)>,
 <Feature: ENTROPY(activities.cat_c6)>,
 <Feature: ENTROPY(activities.cat_c9)>,
 <Feature: FIRST(activities.activity_date)>,
 <Feature: KURTOSIS(activities.float_c11)>,
 <Feature: KURTOSIS(activities.float_c12)>,
 <Feature: KURTOSIS(activities.float_c14)>,
 <Feature: LAST(activities.activity_date)>,
 <Feature: MAX(activities.float_c11)>,
 <Feature: MAX(activities.float_c12)>,
 <Feature: MAX(activities.float_c14)>,
 <Feature: MEAN(activities.activity_date_day_of_month_cos)>,
 <Feature: MEAN(activities.activity_date_day_of_month_sin)>,
 <Feature: MEAN(activities.activity_date_day_of_week_cos)>,
 <Feature: MEAN(activities.activity_date_day_of_week_sin)>,
 <Feature: MEAN(activities.float_c11)>,
 <Feature: MEAN(activities.float_c12)>,
 <Feature: MEAN(activities.float_c14)>,
 <Feature: MIN(activities.float_c11)>,
 <Feature: MIN(activities.float_c12)>,
 <Feature: MIN(activities.float_c14)>,
 <Feature: MODE(activities.cat_c3)>,
 <Feature: MODE(activities.cat_c4)>,
 <Feature: MODE(activities.cat_c5)>,
 <Feature: MODE(activities.cat_c6)>,
 <Feature: MODE(activities.cat_c9)>,
 <Feature: NUM_UNIQUE(activities.cat_c3)>,
 <Feature: NUM_UNIQUE(activities.cat_c4)>,
 <Feature: NUM_UNIQUE(activities.cat_c5)>,
 <Feature: NUM_UNIQUE(activities.cat_c6)>,
 <Feature: NUM_UNIQUE(activities.cat_c9)>,
 <Feature: PERCENT_TRUE(activities.activity_date_is_weekend)>,
 <Feature: PERCENT_TRUE(activities.cat_c10)>,
 <Feature: PERCENT_TRUE(activities.cat_c8)>,
 <Feature: SKEW(activities.float_c11)>,
 <Feature: SKEW(activities.float_c12)>,
 <Feature: SKEW(activities.float_c14)>,
 <Feature: STD(activities.float_c11)>,
 <Feature: STD(activities.float_c12)>,
 <Feature: STD(activities.float_c14)>,
 <Feature: SUM(activities.float_c11)>,
 <Feature: SUM(activities.float_c12)>,
 <Feature: SUM(activities.float_c14)>,
 <Feature: TIME_SINCE_FIRST(activities.activity_date, unit=days)>,
 <Feature: TIME_SINCE_LAST(activities.activity_date, unit=days)>,
 <Feature: COUNT(comms)>,
 <Feature: ENTROPY(comms.cat_c2)>,
 <Feature: ENTROPY(comms.cat_c3)>,
 <Feature: ENTROPY(comms.cat_c4)>,
 <Feature: ENTROPY(comms.cat_c5)>,
 <Feature: FIRST(comms.contact_date)>,
 <Feature: LAST(comms.contact_date)>,
 <Feature: MEAN(comms.contact_date_day_of_month_cos)>,
 <Feature: MEAN(comms.contact_date_day_of_month_sin)>,
 <Feature: MEAN(comms.contact_date_day_of_week_cos)>,
 <Feature: MEAN(comms.contact_date_day_of_week_sin)>,
 <Feature: MODE(comms.cat_c2)>,
 <Feature: MODE(comms.cat_c3)>,
 <Feature: MODE(comms.cat_c4)>,
 <Feature: MODE(comms.cat_c5)>,
 <Feature: NUM_UNIQUE(comms.cat_c2)>,
 <Feature: NUM_UNIQUE(comms.cat_c3)>,
 <Feature: NUM_UNIQUE(comms.cat_c4)>,
 <Feature: NUM_UNIQUE(comms.cat_c5)>,
 <Feature: PERCENT_TRUE(comms.contact_date_is_weekend)>,
 <Feature: TIME_SINCE_FIRST(comms.contact_date, unit=days)>,
 <Feature: TIME_SINCE_LAST(comms.contact_date, unit=days)>,
 <Feature: DAY(communication_month)>,
 <Feature: IS_WEEKEND(communication_month)>,
 <Feature: MONTH(communication_month)>,
 <Feature: WEEKDAY(communication_month)>,
 <Feature: COUNT(transactions WHERE cat_c2 = 15)>,
 <Feature: COUNT(transactions WHERE tran_date_is_weekend = True)>,
 <Feature: COUNT(transactions WHERE cat_c3 = 209)>,
 <Feature: COUNT(transactions WHERE cat_c2 = 4)>,
 <Feature: COUNT(transactions WHERE cat_c3 = 305)>,
 <Feature: COUNT(transactions WHERE cat_c3 = 314)>,
 <Feature: COUNT(transactions WHERE fl_c12 = True)>,
 <Feature: COUNT(transactions WHERE fl_c12 = False)>,
 <Feature: COUNT(transactions WHERE int_c19 = -1)>,
 <Feature: COUNT(transactions WHERE tran_date_is_weekend = False)>,
 <Feature: COUNT(transactions WHERE fl_c13 = False)>,
 <Feature: COUNT(transactions WHERE fl_c14 = True)>,
 <Feature: COUNT(transactions WHERE cat_c2 = 14)>,
 <Feature: COUNT(transactions WHERE int_c19 = 1)>,
 <Feature: COUNT(transactions WHERE fl_c14 = False)>,
 <Feature: COUNT(transactions WHERE fl_c13 = True)>,
 <Feature: COUNT(transactions WHERE cat_c3 = 303)>,
 <Feature: MEAN(transactions.float_c16 WHERE cat_c2 = 15)>,
 <Feature: MEAN(transactions.float_c16 WHERE tran_date_is_weekend = True)>,
 <Feature: MEAN(transactions.float_c16 WHERE cat_c3 = 209)>,
 <Feature: MEAN(transactions.float_c16 WHERE cat_c2 = 4)>,
 <Feature: MEAN(transactions.float_c16 WHERE cat_c3 = 305)>,
 <Feature: MEAN(transactions.float_c16 WHERE cat_c3 = 314)>,
 <Feature: MEAN(transactions.float_c16 WHERE fl_c12 = True)>,
 <Feature: MEAN(transactions.float_c16 WHERE fl_c12 = False)>,
 <Feature: MEAN(transactions.float_c16 WHERE int_c19 = -1)>,
 <Feature: MEAN(transactions.float_c16 WHERE tran_date_is_weekend = False)>,
 <Feature: MEAN(transactions.float_c16 WHERE fl_c13 = False)>,
 <Feature: MEAN(transactions.float_c16 WHERE fl_c14 = True)>,
 <Feature: MEAN(transactions.float_c16 WHERE cat_c2 = 14)>,
 <Feature: MEAN(transactions.float_c16 WHERE int_c19 = 1)>,
 <Feature: MEAN(transactions.float_c16 WHERE fl_c14 = False)>,
 <Feature: MEAN(transactions.float_c16 WHERE fl_c13 = True)>,
 <Feature: MEAN(transactions.float_c16 WHERE cat_c3 = 303)>,
 <Feature: MEAN(transactions.float_c17 WHERE cat_c2 = 15)>,
 <Feature: MEAN(transactions.float_c17 WHERE tran_date_is_weekend = True)>,
 <Feature: MEAN(transactions.float_c17 WHERE cat_c3 = 209)>,
 <Feature: MEAN(transactions.float_c17 WHERE cat_c2 = 4)>,
 <Feature: MEAN(transactions.float_c17 WHERE cat_c3 = 305)>,
 <Feature: MEAN(transactions.float_c17 WHERE cat_c3 = 314)>,
 <Feature: MEAN(transactions.float_c17 WHERE fl_c12 = True)>,
 <Feature: MEAN(transactions.float_c17 WHERE fl_c12 = False)>,
 <Feature: MEAN(transactions.float_c17 WHERE int_c19 = -1)>,
 <Feature: MEAN(transactions.float_c17 WHERE tran_date_is_weekend = False)>,
 <Feature: MEAN(transactions.float_c17 WHERE fl_c13 = False)>,
 <Feature: MEAN(transactions.float_c17 WHERE fl_c14 = True)>,
 <Feature: MEAN(transactions.float_c17 WHERE cat_c2 = 14)>,
 <Feature: MEAN(transactions.float_c17 WHERE int_c19 = 1)>,
 <Feature: MEAN(transactions.float_c17 WHERE fl_c14 = False)>,
 <Feature: MEAN(transactions.float_c17 WHERE fl_c13 = True)>,
 <Feature: MEAN(transactions.float_c17 WHERE cat_c3 = 303)>,
 <Feature: MEAN(transactions.float_c18 WHERE cat_c2 = 15)>,
 <Feature: MEAN(transactions.float_c18 WHERE tran_date_is_weekend = True)>,
 <Feature: MEAN(transactions.float_c18 WHERE cat_c3 = 209)>,
 <Feature: MEAN(transactions.float_c18 WHERE cat_c2 = 4)>,
 <Feature: MEAN(transactions.float_c18 WHERE cat_c3 = 305)>,
 <Feature: MEAN(transactions.float_c18 WHERE cat_c3 = 314)>,
 <Feature: MEAN(transactions.float_c18 WHERE fl_c12 = True)>,
 <Feature: MEAN(transactions.float_c18 WHERE fl_c12 = False)>,
 <Feature: MEAN(transactions.float_c18 WHERE int_c19 = -1)>,
 <Feature: MEAN(transactions.float_c18 WHERE tran_date_is_weekend = False)>,
 <Feature: MEAN(transactions.float_c18 WHERE fl_c13 = False)>,
 <Feature: MEAN(transactions.float_c18 WHERE fl_c14 = True)>,
 <Feature: MEAN(transactions.float_c18 WHERE cat_c2 = 14)>,
 <Feature: MEAN(transactions.float_c18 WHERE int_c19 = 1)>,
 <Feature: MEAN(transactions.float_c18 WHERE fl_c14 = False)>,
 <Feature: MEAN(transactions.float_c18 WHERE fl_c13 = True)>,
 <Feature: MEAN(transactions.float_c18 WHERE cat_c3 = 303)>,
 <Feature: MEAN(transactions.float_c20 WHERE cat_c2 = 15)>,
 <Feature: MEAN(transactions.float_c20 WHERE tran_date_is_weekend = True)>,
 <Feature: MEAN(transactions.float_c20 WHERE cat_c3 = 209)>,
 <Feature: MEAN(transactions.float_c20 WHERE cat_c2 = 4)>,
 <Feature: MEAN(transactions.float_c20 WHERE cat_c3 = 305)>,
 <Feature: MEAN(transactions.float_c20 WHERE cat_c3 = 314)>,
 <Feature: MEAN(transactions.float_c20 WHERE fl_c12 = True)>,
 <Feature: MEAN(transactions.float_c20 WHERE fl_c12 = False)>,
 <Feature: MEAN(transactions.float_c20 WHERE int_c19 = -1)>,
 <Feature: MEAN(transactions.float_c20 WHERE tran_date_is_weekend = False)>,
 <Feature: MEAN(transactions.float_c20 WHERE fl_c13 = False)>,
 <Feature: MEAN(transactions.float_c20 WHERE fl_c14 = True)>,
 <Feature: MEAN(transactions.float_c20 WHERE cat_c2 = 14)>,
 <Feature: MEAN(transactions.float_c20 WHERE int_c19 = 1)>,
 <Feature: MEAN(transactions.float_c20 WHERE fl_c14 = False)>,
 <Feature: MEAN(transactions.float_c20 WHERE fl_c13 = True)>,
 <Feature: MEAN(transactions.float_c20 WHERE cat_c3 = 303)>,
 <Feature: MEAN(transactions.float_c21 WHERE cat_c2 = 15)>,
 <Feature: MEAN(transactions.float_c21 WHERE tran_date_is_weekend = True)>,
 <Feature: MEAN(transactions.float_c21 WHERE cat_c3 = 209)>,
 <Feature: MEAN(transactions.float_c21 WHERE cat_c2 = 4)>,
 <Feature: MEAN(transactions.float_c21 WHERE cat_c3 = 305)>,
 <Feature: MEAN(transactions.float_c21 WHERE cat_c3 = 314)>,
 <Feature: MEAN(transactions.float_c21 WHERE fl_c12 = True)>,
 <Feature: MEAN(transactions.float_c21 WHERE fl_c12 = False)>,
 <Feature: MEAN(transactions.float_c21 WHERE int_c19 = -1)>,
 <Feature: MEAN(transactions.float_c21 WHERE tran_date_is_weekend = False)>,
 <Feature: MEAN(transactions.float_c21 WHERE fl_c13 = False)>,
 <Feature: MEAN(transactions.float_c21 WHERE fl_c14 = True)>,
 <Feature: MEAN(transactions.float_c21 WHERE cat_c2 = 14)>,
 <Feature: MEAN(transactions.float_c21 WHERE int_c19 = 1)>,
 <Feature: MEAN(transactions.float_c21 WHERE fl_c14 = False)>,
 <Feature: MEAN(transactions.float_c21 WHERE fl_c13 = True)>,
 <Feature: MEAN(transactions.float_c21 WHERE cat_c3 = 303)>,
 <Feature: MEAN(transactions.int_c19 WHERE cat_c2 = 15)>,
 <Feature: MEAN(transactions.int_c19 WHERE tran_date_is_weekend = True)>,
 <Feature: MEAN(transactions.int_c19 WHERE cat_c3 = 209)>,
 <Feature: MEAN(transactions.int_c19 WHERE cat_c2 = 4)>,
 <Feature: MEAN(transactions.int_c19 WHERE cat_c3 = 305)>,
 <Feature: MEAN(transactions.int_c19 WHERE cat_c3 = 314)>,
 <Feature: MEAN(transactions.int_c19 WHERE fl_c12 = True)>,
 <Feature: MEAN(transactions.int_c19 WHERE fl_c12 = False)>,
 <Feature: MEAN(transactions.int_c19 WHERE tran_date_is_weekend = False)>,
 <Feature: MEAN(transactions.int_c19 WHERE fl_c13 = False)>,
 <Feature: MEAN(transactions.int_c19 WHERE fl_c14 = True)>,
 <Feature: MEAN(transactions.int_c19 WHERE cat_c2 = 14)>,
 <Feature: MEAN(transactions.int_c19 WHERE fl_c14 = False)>,
 <Feature: MEAN(transactions.int_c19 WHERE fl_c13 = True)>,
 <Feature: MEAN(transactions.int_c19 WHERE cat_c3 = 303)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 15)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE tran_date_is_weekend = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 209)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 4)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 305)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 314)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c12 = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c12 = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE int_c19 = -1)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE tran_date_is_weekend = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c13 = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c14 = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 14)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE int_c19 = 1)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c14 = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c13 = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 303)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 15)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE tran_date_is_weekend = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 209)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 4)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 305)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 314)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c12 = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c12 = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE int_c19 = -1)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE tran_date_is_weekend = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c13 = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c14 = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 14)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE int_c19 = 1)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c14 = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c13 = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 303)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 15)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE tran_date_is_weekend = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 209)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 4)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 305)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 314)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c12 = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c12 = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE int_c19 = -1)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE tran_date_is_weekend = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c13 = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c14 = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 14)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE int_c19 = 1)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c14 = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c13 = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 303)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 15)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_sin WHERE tran_date_is_weekend = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 209)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 4)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 305)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 314)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c12 = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c12 = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_sin WHERE int_c19 = -1)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_sin WHERE tran_date_is_weekend = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c13 = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c14 = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 14)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_sin WHERE int_c19 = 1)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c14 = False)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c13 = True)>,
 <Feature: MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 303)>,
 <Feature: SUM(transactions.float_c16 WHERE cat_c2 = 15)>,
 <Feature: SUM(transactions.float_c16 WHERE tran_date_is_weekend = True)>,
 <Feature: SUM(transactions.float_c16 WHERE cat_c3 = 209)>,
 <Feature: SUM(transactions.float_c16 WHERE cat_c2 = 4)>,
 <Feature: SUM(transactions.float_c16 WHERE cat_c3 = 305)>,
 <Feature: SUM(transactions.float_c16 WHERE cat_c3 = 314)>,
 <Feature: SUM(transactions.float_c16 WHERE fl_c12 = True)>,
 <Feature: SUM(transactions.float_c16 WHERE fl_c12 = False)>,
 <Feature: SUM(transactions.float_c16 WHERE int_c19 = -1)>,
 <Feature: SUM(transactions.float_c16 WHERE tran_date_is_weekend = False)>,
 <Feature: SUM(transactions.float_c16 WHERE fl_c13 = False)>,
 <Feature: SUM(transactions.float_c16 WHERE fl_c14 = True)>,
 <Feature: SUM(transactions.float_c16 WHERE cat_c2 = 14)>,
 <Feature: SUM(transactions.float_c16 WHERE int_c19 = 1)>,
 <Feature: SUM(transactions.float_c16 WHERE fl_c14 = False)>,
 <Feature: SUM(transactions.float_c16 WHERE fl_c13 = True)>,

,target,is_train,communication_month,COUNT(transactions),ENTROPY(transactions.cat_c2),ENTROPY(transactions.cat_c3),ENTROPY(transactions.cat_c4),FIRST(transactions.tran_date),KURTOSIS(transactions.float_c16),KURTOSIS(transactions.float_c17),KURTOSIS(transactions.float_c18),KURTOSIS(transactions.float_c20),KURTOSIS(transactions.float_c21),KURTOSIS(transactions.int_c19),LAST(transactions.tran_date),MAX(transactions.float_c16),MAX(transactions.float_c17),MAX(transactions.float_c18),MAX(transactions.float_c20),MAX(transactions.float_c21),MAX(transactions.int_c19),MEAN(transactions.float_c16),MEAN(transactions.float_c17),MEAN(transactions.float_c18),MEAN(transactions.float_c20),MEAN(transactions.float_c21),MEAN(transactions.int_c19),MEAN(transactions.tran_date_day_of_month_cos),MEAN(transactions.tran_date_day_of_month_sin),MEAN(transactions.tran_date_day_of_week_cos),MEAN(transactions.tran_date_day_of_week_sin),MIN(transactions.float_c16),MIN(transactions.float_c17),MIN(transactions.float_c18),MIN(transactions.float_c20),MIN(transactions.float_c21),MIN(transactions.int_c19),MODE(transactions.cat_c2),MODE(transactions.cat_c3),MODE(transactions.cat_c4),NUM_UNIQUE(transactions.cat_c2),NUM_UNIQUE(transactions.cat_c3),NUM_UNIQUE(transactions.cat_c4),PERCENT_TRUE(transactions.fl_c10),PERCENT_TRUE(transactions.fl_c11),PERCENT_TRUE(transactions.fl_c12),PERCENT_TRUE(transactions.fl_c13),PERCENT_TRUE(transactions.fl_c14),PERCENT_TRUE(transactions.fl_c15),PERCENT_TRUE(transactions.fl_c6),PERCENT_TRUE(transactions.fl_c7),PERCENT_TRUE(transactions.fl_c8),PERCENT_TRUE(transactions.fl_c9),PERCENT_TRUE(transactions.tran_date_is_weekend),SKEW(transactions.float_c16),SKEW(transactions.float_c17),SKEW(transactions.float_c18),SKEW(transactions.float_c20),SKEW(transactions.float_c21),SKEW(transactions.int_c19),STD(transactions.float_c16),STD(transactions.float_c17),STD(transactions.float_c18),STD(transactions.float_c20),STD(transactions.float_c21),STD(transactions.int_c19),SUM(transactions.float_c16),SUM(transactions.float_c17),SUM(transactions.float_c18),SUM(transactions.float_c20),SUM(transactions.float_c21),SUM(transactions.int_c19),"TIME_SINCE_FIRST(transactions.tran_date, unit=days)","TIME_SINCE_LAST(transactions.tran_date, unit=days)",COUNT(activities),ENTROPY(activities.cat_c3),ENTROPY(activities.cat_c4),ENTROPY(activities.cat_c5),ENTROPY(activities.cat_c6),ENTROPY(activities.cat_c9),FIRST(activities.activity_date),KURTOSIS(activities.float_c11),KURTOSIS(activities.float_c12),KURTOSIS(activities.float_c14),LAST(activities.activity_date),MAX(activities.float_c11),MAX(activities.float_c12),MAX(activities.float_c14),MEAN(activities.activity_date_day_of_month_cos),MEAN(activities.activity_date_day_of_month_sin),MEAN(activities.activity_date_day_of_week_cos),MEAN(activities.activity_date_day_of_week_sin),MEAN(activities.float_c11),MEAN(activities.float_c12),MEAN(activities.float_c14),MIN(activities.float_c11),MIN(activities.float_c12),MIN(activities.float_c14),MODE(activities.cat_c3),MODE(activities.cat_c4),MODE(activities.cat_c5),MODE(activities.cat_c6),MODE(activities.cat_c9),NUM_UNIQUE(activities.cat_c3),NUM_UNIQUE(activities.cat_c4),NUM_UNIQUE(activities.cat_c5),NUM_UNIQUE(activities.cat_c6),NUM_UNIQUE(activities.cat_c9),PERCENT_TRUE(activities.activity_date_is_weekend),PERCENT_TRUE(activities.cat_c10),PERCENT_TRUE(activities.cat_c8),SKEW(activities.float_c11),SKEW(activities.float_c12),SKEW(activities.float_c14),STD(activities.float_c11),STD(activities.float_c12),STD(activities.float_c14),SUM(activities.float_c11),SUM(activities.float_c12),SUM(activities.float_c14),"TIME_SINCE_FIRST(activities.activity_date, unit=days)","TIME_SINCE_LAST(activities.activity_date, unit=days)",COUNT(comms),ENTROPY(comms.cat_c2),ENTROPY(comms.cat_c3),ENTROPY(comms.cat_c4),ENTROPY(comms.cat_c5),FIRST(comms.contact_date),LAST(comms.contact_date),MEAN(comms.contact_date_day_of_month_cos),MEAN(comms.contact_date_day_of_month_sin),MEAN(comms.contact_date_day_of_week_cos),MEAN(comms.contact_date_day_of_week_sin),MODE(comms.cat_c2),MODE(comms.cat_c3),MODE(comms.cat_c4),MODE(comms.cat_c5),NUM_UNIQUE(comms.cat_c2),NUM_UNIQUE(comms.cat_c3),NUM_UNIQUE(comms.cat_c4),NUM_UNIQUE(comms.cat_c5),PERCENT_TRUE(comms.contact_date_is_weekend),"TIME_SINCE_FIRST(comms.contact_date, unit=days)","TIME_SINCE_LAST(comms.contact_date, unit=days)",DAY(communication_month),IS_WEEKEND(communication_month),MONTH(communication_month),WEEKDAY(communication_month),COUNT(transactions WHERE cat_c2 = 15),COUNT(transactions WHERE tran_date_is_weekend = True),COUNT(transactions WHERE cat_c3 = 209),COUNT(transactions WHERE cat_c2 = 4),COUNT(transactions WHERE cat_c3 = 305),COUNT(transactions WHERE cat_c3 = 314),COUNT(transactions WHERE fl_c12 = True),COUNT(transactions WHERE fl_c12 = False),COUNT(transactions WHERE int_c19 = -1),COUNT(transactions WHERE tran_date_is_weekend = False),COUNT(transactions WHERE fl_c13 = False),COUNT(transactions WHERE fl_c14 = True),COUNT(transactions WHERE cat_c2 = 14),COUNT(transactions WHERE int_c19 = 1),COUNT(transactions WHERE fl_c14 = False),COUNT(transactions WHERE fl_c13 = True),COUNT(transactions WHERE cat_c3 = 303),MEAN(transactions.float_c16 WHERE cat_c2 = 15),MEAN(transactions.float_c16 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c16 WHERE cat_c3 = 209),MEAN(transactions.float_c16 WHERE cat_c2 = 4),MEAN(transactions.float_c16 WHERE cat_c3 = 305),MEAN(transactions.float_c16 WHERE cat_c3 = 314),MEAN(transactions.float_c16 WHERE fl_c12 = True),MEAN(transactions.float_c16 WHERE fl_c12 = False),MEAN(transactions.float_c16 WHERE int_c19 = -1),MEAN(transactions.float_c16 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c16 WHERE fl_c13 = False),MEAN(transactions.float_c16 WHERE fl_c14 = True),MEAN(transactions.float_c16 WHERE cat_c2 = 14),MEAN(transactions.float_c16 WHERE int_c19 = 1),MEAN(transactions.float_c16 WHERE fl_c14 = False),MEAN(transactions.float_c16 WHERE fl_c13 = True),MEAN(transactions.float_c16 WHERE cat_c3 = 303),MEAN(transactions.float_c17 WHERE cat_c2 = 15),MEAN(transactions.float_c17 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c17 WHERE cat_c3 = 209),MEAN(transactions.float_c17 WHERE cat_c2 = 4),MEAN(transactions.float_c17 WHERE cat_c3 = 305),MEAN(transactions.float_c17 WHERE cat_c3 = 314),MEAN(transactions.float_c17 WHERE fl_c12 = True),MEAN(transactions.float_c17 WHERE fl_c12 = False),MEAN(transactions.float_c17 WHERE int_c19 = -1),MEAN(transactions.float_c17 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c17 WHERE fl_c13 = False),MEAN(transactions.float_c17 WHERE fl_c14 = True),MEAN(transactions.float_c17 WHERE cat_c2 = 14),MEAN(transactions.float_c17 WHERE int_c19 = 1),MEAN(transactions.float_c17 WHERE fl_c14 = False),MEAN(transactions.float_c17 WHERE fl_c13 = True),MEAN(transactions.float_c17 WHERE cat_c3 = 303),MEAN(transactions.float_c18 WHERE cat_c2 = 15),MEAN(transactions.float_c18 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c18 WHERE cat_c3 = 209),MEAN(transactions.float_c18 WHERE cat_c2 = 4),MEAN(transactions.float_c18 WHERE cat_c3 = 305),MEAN(transactions.float_c18 WHERE cat_c3 = 314),MEAN(transactions.float_c18 WHERE fl_c12 = True),MEAN(transactions.float_c18 WHERE fl_c12 = False),MEAN(transactions.float_c18 WHERE int_c19 = -1),MEAN(transactions.float_c18 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c18 WHERE fl_c13 = False),MEAN(transactions.float_c18 WHERE fl_c14 = True),MEAN(transactions.float_c18 WHERE cat_c2 = 14),MEAN(transactions.float_c18 WHERE int_c19 = 1),MEAN(transactions.float_c18 WHERE fl_c14 = False),MEAN(transactions.float_c18 WHERE fl_c13 = True),MEAN(transactions.float_c18 WHERE cat_c3 = 303),MEAN(transactions.float_c20 WHERE cat_c2 = 15),MEAN(transactions.float_c20 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c20 WHERE cat_c3 = 209),MEAN(transactions.float_c20 WHERE cat_c2 = 4),MEAN(transactions.float_c20 WHERE cat_c3 = 305),MEAN(transactions.float_c20 WHERE cat_c3 = 314),MEAN(transactions.float_c20 WHERE fl_c12 = True),MEAN(transactions.float_c20 WHERE fl_c12 = False),MEAN(transactions.float_c20 WHERE int_c19 = -1),MEAN(transactions.float_c20 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c20 WHERE fl_c13 = False),MEAN(transactions.float_c20 WHERE fl_c14 = True),MEAN(transactions.float_c20 WHERE cat_c2 = 14),MEAN(transactions.float_c20 WHERE int_c19 = 1),MEAN(transactions.float_c20 WHERE fl_c14 = False),MEAN(transactions.float_c20 WHERE fl_c13 = True),MEAN(transactions.float_c20 WHERE cat_c3 = 303),MEAN(transactions.float_c21 WHERE cat_c2 = 15),MEAN(transactions.float_c21 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c21 WHERE cat_c3 = 209),MEAN(transactions.float_c21 WHERE cat_c2 = 4),MEAN(transactions.float_c21 WHERE cat_c3 = 305),MEAN(transactions.float_c21 WHERE cat_c3 = 314),MEAN(transactions.float_c21 WHERE fl_c12 = True),MEAN(transactions.float_c21 WHERE fl_c12 = False),MEAN(transactions.float_c21 WHERE int_c19 = -1),MEAN(transactions.float_c21 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c21 WHERE fl_c13 = False),MEAN(transactions.float_c21 WHERE fl_c14 = True),MEAN(transactions.float_c21 WHERE cat_c2 = 14),MEAN(transactions.float_c21 WHERE int_c19 = 1),MEAN(transactions.float_c21 WHERE fl_c14 = False),MEAN(transactions.float_c21 WHERE fl_c13 = True),MEAN(transactions.float_c21 WHERE cat_c3 = 303),MEAN(transactions.int_c19 WHERE cat_c2 = 15),MEAN(transactions.int_c19 WHERE tran_date_is_weekend = True),MEAN(transactions.int_c19 WHERE cat_c3 = 209),MEAN(transactions.int_c19 WHERE cat_c2 = 4),MEAN(transactions.int_c19 WHERE cat_c3 = 305),MEAN(transactions.int_c19 WHERE cat_c3 = 314),MEAN(transactions.int_c19 WHERE fl_c12 = True),MEAN(transactions.int_c19 WHERE fl_c12 = False),MEAN(transactions.int_c19 WHERE tran_date_is_weekend = False),MEAN(transactions.int_c19 WHERE fl_c13 = False),MEAN(transactions.int_c19 WHERE fl_c14 = True),MEAN(transactions.int_c19 WHERE cat_c2 = 14),MEAN(transactions.int_c19 WHERE fl_c14 = False),MEAN(transactions.int_c19 WHERE fl_c13 = True),MEAN(transactions.int_c19 WHERE cat_c3 = 303),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 15),MEAN(transactions.tran_date_day_of_month_cos WHERE tran_date_is_weekend = True),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 209),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 4),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 305),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 314),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c12 = True),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c12 = False),MEAN(transactions.tran_date_day_of_month_cos WHERE int_c19 = -1),MEAN(transactions.tran_date_day_of_month_cos WHERE tran_date_is_weekend = False),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c13 = False),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c14 = True),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 14),MEAN(transactions.tran_date_day_of_month_cos WHERE int_c19 = 1),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c14 = False),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c13 = True),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 303),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 15),MEAN(transactions.tran_date_day_of_month_sin WHERE tran_date_is_weekend = True),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 209),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 4),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 305),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 314),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c12 = True),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c12 = False),MEAN(transactions.tran_date_day_of_month_sin WHERE int_c19 = -1),MEAN(transactions.tran_date_day_of_month_sin WHERE tran_date_is_weekend = False),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c13 = False),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c14 = True),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 14),MEAN(transactions.tran_date_day_of_month_sin WHERE int_c19 = 1),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c14 = False),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c13 = True),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 303),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 15),MEAN(transactions.tran_date_day_of_week_cos WHERE tran_date_is_weekend = True),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 209),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 4),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 305),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 314),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c12 = True),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c12 = False),MEAN(transactions.tran_date_day_of_week_cos WHERE int_c19 = -1),MEAN(transactions.tran_date_day_of_week_cos WHERE tran_date_is_weekend = False),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c13 = False),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c14 = True),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 14),MEAN(transactions.tran_date_day_of_week_cos WHERE int_c19 = 1),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c14 = False),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c13 = True),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 303),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 15),MEAN(transactions.tran_date_day_of_week_sin WHERE tran_date_is_weekend = True),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 209),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 4),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 305),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 314),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c12 = True),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c12 = False),MEAN(transactions.tran_date_day_of_week_sin WHERE int_c19 = -1),MEAN(transactions.tran_date_day_of_week_sin WHERE tran_date_is_weekend = False),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c13 = False),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c14 = True),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 14),MEAN(transactions.tran_date_day_of_week_sin WHERE int_c19 = 1),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c14 = False),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c13 = True),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 303),SUM(transactions.float_c16 WHERE cat_c2 = 15),SUM(transactions.float_c16 WHERE tran_date_is_weekend = True),SUM(transactions.float_c16 WHERE cat_c3 = 209),SUM(transactions.float_c16 WHERE cat_c2 = 4),SUM(transactions.float_c16 WHERE cat_c3 = 305),SUM(transactions.float_c16 WHERE cat_c3 = 314),SUM(transactions.float_c16 WHERE fl_c12 = True),SUM(transactions.float_c16 WHERE fl_c12 = False),SUM(transactions.float_c16 WHERE int_c19 = -1),SUM(transactions.float_c16 WHERE tran_date_is_weekend = False),SUM(transactions.float_c16 WHERE fl_c13 = False),SUM(transactions.float_c16 WHERE fl_c14 = True),SUM(transactions.float_c16 WHERE cat_c2 = 14),SUM(transactions.float_c16 WHERE int_c19 = 1),SUM(transactions.float_c16 WHERE fl_c14 = False),SUM(transactions.float_c16 WHERE fl_c13 = True),SUM(transactions.float_c16 WHERE cat_c3 = 303),SUM(transactions.float_c17 WHERE cat_c2 = 15),SUM(transactions.float_c17 WHERE tran_date_is_weekend = True),SUM(transactions.float_c17 WHERE cat_c3 = 209),SUM(transactions.float_c17 WHERE cat_c2 = 4),SUM(transactions.float_c17 WHERE cat_c3 = 305),SUM(transactions.float_c17 WHERE cat_c3 = 314),SUM(transactions.float_c17 WHERE fl_c12 = True),SUM(transactions.float_c17 WHERE fl_c12 = False),SUM(transactions.float_c17 WHERE int_c19 = -1),SUM(transactions.float_c17 WHERE tran_date_is_weekend = False),SUM(transactions.float_c17 WHERE fl_c13 = False),SUM(transactions.float_c17 WHERE fl_c14 = True),SUM(transactions.float_c17 WHERE cat_c2 = 14),SUM(transactions.float_c17 WHERE int_c19 = 1),SUM(transactions.float_c17 WHERE fl_c14 = False),SUM(transactions.float_c17 WHERE fl_c13 = True),SUM(transactions.float_c17 WHERE cat_c3 = 303),SUM(transactions.float_c18 WHERE cat_c2 = 15),SUM(transactions.float_c18 WHERE tran_date_is_weekend = True),SUM(transactions.float_c18 WHERE cat_c3 = 209),SUM(transactions.float_c18 WHERE cat_c2 = 4),SUM(transactions.float_c18 WHERE cat_c3 = 305),SUM(transactions.float_c18 WHERE cat_c3 = 314),SUM(transactions.float_c18 WHERE fl_c12 = True),SUM(transactions.float_c18 WHERE fl_c12 = False),SUM(transactions.float_c18 WHERE int_c19 = -1),SUM(transactions.float_c18 WHERE tran_date_is_weekend = False),SUM(transactions.float_c18 WHERE fl_c13 = False),SUM(transactions.float_c18 WHERE fl_c14 = True),SUM(transactions.float_c18 WHERE cat_c2 = 14),SUM(transactions.float_c18 WHERE int_c19 = 1),SUM(transactions.float_c18 WHERE fl_c14 = False),SUM(transactions.float_c18 WHERE fl_c13 = True),SUM(transactions.float_c18 WHERE cat_c3 = 303),SUM(transactions.float_c20 WHERE cat_c2 = 15),SUM(transactions.float_c20 WHERE tran_date_is_weekend = True),SUM(transactions.float_c20 WHERE cat_c3 = 209),SUM(transactions.float_c20 WHERE cat_c2 = 4),SUM(transactions.float_c20 WHERE cat_c3 = 305),SUM(transactions.float_c20 WHERE cat_c3 = 314),SUM(transactions.float_c20 WHERE fl_c12 = True),SUM(transactions.float_c20 WHERE fl_c12 = False),SUM(transactions.float_c20 WHERE int_c19 = -1),SUM(transactions.float_c20 WHERE tran_date_is_weekend = False),SUM(transactions.float_c20 WHERE fl_c13 = False),SUM(transactions.float_c20 WHERE fl_c14 = True),SUM(transactions.float_c20 WHERE cat_c2 = 14),SUM(transactions.float_c20 WHERE int_c19 = 1),SUM(transactions.float_c20 WHERE fl_c14 = False),SUM(transactions.float_c20 WHERE fl_c13 = True),SUM(transactions.float_c20 WHERE cat_c3 = 303),SUM(transactions.float_c21 WHERE cat_c2 = 15),SUM(transactions.float_c21 WHERE tran_date_is_weekend = True),SUM(transactions.float_c21 WHERE cat_c3 = 209),SUM(transactions.float_c21 WHERE cat_c2 = 4),SUM(transactions.float_c21 WHERE cat_c3 = 305),SUM(transactions.float_c21 WHERE cat_c3 = 314),SUM(transactions.float_c21 WHERE fl_c12 = True),SUM(transactions.float_c21 WHERE fl_c12 = False),SUM(transactions.float_c21 WHERE int_c19 = -1),SUM(transactions.float_c21 WHERE tran_date_is_weekend = False),SUM(transactions.float_c21 WHERE fl_c13 = False),SUM(transactions.float_c21 WHERE fl_c14 = True),SUM(transactions.float_c21 WHERE cat_c2 = 14),SUM(transactions.float_c21 WHERE int_c19 = 1),SUM(transactions.float_c21 WHERE fl_c14 = False),SUM(transactions.float_c21 WHERE fl_c13 = True),SUM(transactions.float_c21 WHERE cat_c3 = 303),SUM(transactions.int_c19 WHERE cat_c2 = 15),SUM(transactions.int_c19 WHERE tran_date_is_weekend = True),SUM(transactions.int_c19 WHERE cat_c3 = 209),SUM(transactions.int_c19 WHERE cat_c2 = 4),SUM(transactions.int_c19 WHERE cat_c3 = 305),SUM(transactions.int_c19 WHERE cat_c3 = 314),SUM(transactions.int_c19 WHERE fl_c12 = True),SUM(transactions.int_c19 WHERE fl_c12 = False),SUM(transactions.int_c19 WHERE tran_date_is_weekend = False),SUM(transactions.int_c19 WHERE fl_c13 = False),SUM(transactions.int_c19 WHERE fl_c14 = True),SUM(transactions.int_c19 WHERE cat_c2 = 14),SUM(transactions.int_c19 WHERE fl_c14 = False),SUM(transactions.int_c19 WHERE fl_c13 = True),SUM(transactions.int_c19 WHERE cat_c3 = 303),COUNT(activities WHERE cat_c8 = True),COUNT(activities WHERE cat_c6 = 1),COUNT(activities WHERE cat_c10 = False),COUNT(activities WHERE activity_date_is_weekend = True),COUNT(activities WHERE cat_c9 = 2),COUNT(activities WHERE cat_c6 = 3),COUNT(activities WHERE cat_c4 = 1),COUNT(activities WHERE cat_c4 = 2),COUNT(activities WHERE cat_c6 = 2),COUNT(activities WHERE activity_date_is_weekend = False),COUNT(activities WHERE cat_c8 = False),C

<class 'pandas.core.frame.DataFrame'>
Index: 260 entries, 100278850497212911 to 95756598557287578
Data columns (total 641 columns):
 #    Column                                                                                  Non-Null Count  Dtype
---   ------                                                                                  --------------  -----
 0    target                                                                                  260 non-null    bool
 1    is_train                                                                                260 non-null    bool
 2    communication_month                                                                     260 non-null    datetime64[ns]
 3    COUNT(transactions)                                                                     260 non-null    Int64
 4    ENTROPY(transactions.cat_c2)                                                            256 non-null    float64
 5    ENTROPY(transactions.cat_c3)                                                            256 non-null    float64
 6    ENTROPY(transactions.cat_c4)                                                            256 non-null    float64
 7    FIRST(transactions.tran_date)                                                           256 non-null    datetime64[ns]
 8    KURTOSIS(transactions.float_c16)                                                        260 non-null    float64
 9    KURTOSIS(transactions.float_c17)                                                        260 non-null    float64
 10   KURTOSIS(transactions.float_c18)                                                        260 non-null    float64
 11   KURTOSIS(transactions.float_c20)                                                        260 non-null    float64
 12   KURTOSIS(transactions.float_c21)                                                        260 non-null    float64
 13   KURTOSIS(transactions.int_c19)                                                          260 non-null    float64
 14   LAST(transactions.tran_date)                                                            256 non-null    datetime64[ns]
 15   MAX(transactions.float_c16)                                                             256 non-null    float64
 16   MAX(transactions.float_c17)                                                             256 non-null    float64
 17   MAX(transactions.float_c18)                                                             256 non-null    float64
 18   MAX(transactions.float_c20)                                                             256 non-null    float64
 19   MAX(transactions.float_c21)                                                             256 non-null    float64
 20   MAX(transactions.int_c19)                                                               256 non-null    float64
 21   MEAN(transactions.float_c16)                                                            256 non-null    float64
 22   MEAN(transactions.float_c17)                                                            256 non-null    float64
 23   MEAN(transactions.float_c18)                                                            256 non-null    float64
 24   MEAN(transactions.float_c20)                                                            256 non-null    float64
 25   MEAN(transactions.float_c21)                                                            256 non-null    float64
 26   MEAN(transactions.int_c19)                                                              256 non-null    float64
 27   MEAN(transactions.tran_date_day_of_month_cos)                                           256 non-null    float64
 28   MEAN(transactions.tran_date_day_of_month_sin)                                           256 non-null    float64
 29   MEAN(transactions.tran_date_day_of_week_cos)                                            256 non-null    float64
 30   MEAN(transactions.tran_date_day_of_week_sin)                                            256 non-null    float64
 31   MIN(transactions.float_c16)                                                             256 non-null    float64
 32   MIN(transactions.float_c17)                                                             256 non-null    float64
 33   MIN(transactions.float_c18)                                                             256 non-null    float64
 34   MIN(transactions.float_c20)                                                             256 non-null    float64
 35   MIN(transactions.float_c21)                                                             256 non-null    float64
 36   MIN(transactions.int_c19)                                                               256 non-null    float64
 37   MODE(transactions.cat_c2)                                                               256 non-null    category
 38   MODE(transactions.cat_c3)                                                               256 non-null    category
 39   MODE(transactions.cat_c4)                                                               256 non-null    category
 40   NUM_UNIQUE(transactions.cat_c2)                                                         256 non-null    Int64
 41   NUM_UNIQUE(transactions.cat_c3)                                                         256 non-null    Int64
 42   NUM_UNIQUE(transactions.cat_c4)                                                         256 non-null    Int64
 43   PERCENT_TRUE(transactions.fl_c10)                                                       256 non-null    float64
 44   PERCENT_TRUE(transactions.fl_c11)                                                       256 non-null    float64
 45   PERCENT_TRUE(transactions.fl_c12)                                                       256 non-null    float64
 46   PERCENT_TRUE(transactions.fl_c13)                                                       256 non-null    float64
 47   PERCENT_TRUE(transactions.fl_c14)                                                       256 non-null    float64
 48   PERCENT_TRUE(transactions.fl_c15)                                                       256 non-null    float64
 49   PERCENT_TRUE(transactions.fl_c6)                                                        256 non-null    float64
 50   PERCENT_TRUE(transactions.fl_c7)                                                        256 non-null    float64
 51   PERCENT_TRUE(transactions.fl_c8)                                                        256 non-null    float64
 52   PERCENT_TRUE(transactions.fl_c9)                                                        256 non-null    float64
 53   PERCENT_TRUE(transactions.tran_date_is_weekend)                                         256 non-null    float64
 54   SKEW(transactions.float_c16)                                                            254 non-null    float64
 55   SKEW(transactions.float_c17)                                                            254 non-null    float64
 56   SKEW(transactions.float_c18)                                                            254 non-null    float64
 57   SKEW(transactions.float_c20)                                                            254 non-null    float64
 58   SKEW(transactions.float_c21)                                                            254 non-null    float64
 59   SKEW(transactions.int_c19)                                                              254 non-null    float64
 60   STD(transactions.float_c16)                                                             254 non-null    float64
 61   STD(transactions.float_c17)                                                             254 non-null    float64
 62   STD(transactions.float_c18)                                                             254 non-null    float64
 63   STD(transactions.float_c20)                                                             254 non-null    float64
 64   STD(transactions.float_c21)                                                             254 non-null    float64
 65   STD(transactions.int_c19)                                                               254 non-null    float64
 66   SUM(transactions.float_c16)                                                             260 non-null    float64
 67   SUM(transactions.float_c17)                                                             260 non-null    float64
 68   SUM(transactions.float_c18)                                                             260 non-null    float64
 69   SUM(transactions.float_c20)                                                             260 non-null    float64
 70   SUM(transactions.float_c21)                                                             260 non-null    float64
 71   SUM(transactions.int_c19)                                                               260 non-null    float64
 72   TIME_SINCE_FIRST(transactions.tran_date, unit=days)                                     256 non-null    float64
 73   TIME_SINCE_LAST(transactions.tran_date, unit=days)                                      256 non-null    float64
 74   COUNT(activities)                                                                       260 non-null    Int64
 75   ENTROPY(activities.cat_c3)                                                              257 non-null    float64
 76   ENTROPY(activities.cat_c4)                                                              257 non-null    float64
 77   ENTROPY(activities.cat_c5)                                                              257 non-null    float64
 78   ENTROPY(activities.cat_c6)                                                              257 non-null    float64
 79   ENTROPY(activities.cat_c9)                                                              257 non-null    float64
 80   FIRST(activities.activity_date)                                                         257 non-null    datetime64[ns]
 81   KURTOSIS(activities.float_c11)                                                          260 non-null    float64
 82   KURTOSIS(activities.float_c12)                                                          260 non-null    float64
 83   KURTOSIS(activities.float_c14)                                                          260 non-null    float64
 84   LAST(activities.activity_date)                                                          257 non-null    datetime64[ns]
 85   MAX(activities.float_c11)                                                               257 non-null    float64
 86   MAX(activities.float_c12)                                                               257 non-null    float64
 87   MAX(activities.float_c14)                                                               257 non-null    float64
 88   MEAN(activities.activity_date_day_of_month_cos)                                         257 non-null    float64
 89   MEAN(activities.activity_date_day_of_month_sin)                                         257 non-null    float64
 90   MEAN(activities.activity_date_day_of_week_cos)                                          257 non-null    float64
 91   MEAN(activities.activity_date_day_of_week_sin)                                          257 non-null    float64
 92   MEAN(activities.float_c11)                                                              257 non-null    float64
 93   MEAN(activities.float_c12)                                                              257 non-null    float64
 94   MEAN(activities.float_c14)                                                              257 non-null    float64
 95   MIN(activities.float_c11)                                                               257 non-null    float64
 96   MIN(activities.float_c12)                                                               257 non-null    float64
 97   MIN(activities.float_c14)                                                               257 non-null    float64
 98   MODE(activities.cat_c3)                                                                 257 non-null    category
 99   MODE(activities.cat_c4)                                                                 257 non-null    category
 100  MODE(activities.cat_c5)                                                                 257 non-null    category
 101  MODE(activities.cat_c6)                                                                 257 non-null    category
 102  MODE(activities.cat_c9)                                                                 257 non-null    category
 103  NUM_UNIQUE(activities.cat_c3)                                                           257 non-null    Int64
 104  NUM_UNIQUE(activities.cat_c4)                                                           257 non-null    Int64
 105  NUM_UNIQUE(activities.cat_c5)                                                           257 non-null    Int64
 106  NUM_UNIQUE(activities.cat_c6)                                                           257 non-null    Int64
 107  NUM_UNIQUE(activities.cat_c9)                                                           257 non-null    Int64
 108  PERCENT_TRUE(activities.activity_date_is_weekend)                                       257 non-null    float64
 109  PERCENT_TRUE(activities.cat_c10)                                                        257 non-null    float64
 110  PERCENT_TRUE(activities.cat_c8)                                                         257 non-null    float64
 111  SKEW(activities.float_c11)                                                              257 non-null    float64
 112  SKEW(activities.float_c12)                                                              257 non-null    float64
 113  SKEW(activities.float_c14)                                                              257 non-null    float64
 114  STD(activities.float_c11)                                                               257 non-null    float64
 115  STD(activities.float_c12)                                                               257 non-null    float64
 116  STD(activities.float_c14)                                                               257 non-null    float64
 117  SUM(activities.float_c11)                                                               260 non-null    float64
 118  SUM(activities.float_c12)                                                               260 non-null    float64
 119  SUM(activities.float_c14)                                                               260 non-null    float64
 120  TIME_SINCE_FIRST(activities.activity_date, unit=days)                                   257 non-null    float64
 121  TIME_SINCE_LAST(activities.activity_date, unit=days)                                    257 non-null    float64
 122  COUNT(comms)                                                                            260 non-null    Int64
 123  ENTROPY(comms.cat_c2)                                                                   257 non-null    float64
 124  ENTROPY(comms.cat_c3)                                                                   257 non-null    float64
 125  ENTROPY(comms.cat_c4)                                                                   257 non-null    float64
 126  ENTROPY(comms.cat_c5)                                                                   257 non-null    float64
 127  FIRST(comms.contact_date)                                                               257 non-null    datetime64[ns]
 128  LAST(comms.contact_date)                                                                257 non-null    datetime64[ns]
 129  MEAN(comms.contact_date_day_of_month_cos)                                               257 non-null    float64
 130  MEAN(comms.contact_date_day_of_month_sin)                                               257 non-null    float64
 131  MEAN(comms.contact_date_day_of_week_cos)                                                257 non-null    float64
 132  MEAN(comms.contact_date_day_of_week_sin)                                                257 non-null    float64
 133  MODE(comms.cat_c2)                                                                      257 non-null    category
 134  MODE(comms.cat_c3)                                                                      257 non-null    category
 135  MODE(comms.cat_c4)                                                                      257 non-null    category
 136  MODE(comms.cat_c5)                                                                      257 non-null    category
 137  NUM_UNIQUE(comms.cat_c2)                                                                257 non-null    Int64
 138  NUM_UNIQUE(comms.cat_c3)                                                                257 non-null    Int64
 139  NUM_UNIQUE(comms.cat_c4)                                                                257 non-null    Int64
 140  NUM_UNIQUE(comms.cat_c5)                                                                257 non-null    Int64
 141  PERCENT_TRUE(comms.contact_date_is_weekend)                                             257 non-null    float64
 142  TIME_SINCE_FIRST(comms.contact_date, unit=days)                                         257 non-null    float64
 143  TIME_SINCE_LAST(comms.contact_date, unit=days)                                          257 non-null    float64
 144  DAY(communication_month)                                                                260 non-null    category
 145  IS_WEEKEND(communication_month)                                                         260 non-null    boolean
 146  MONTH(communication_month)                                                              260 non-null    category
 147  WEEKDAY(communication_month)                                                            260 non-null    category
 148  COUNT(transactions WHERE cat_c2 = 15)                                                   260 non-null    Int64
 149  COUNT(transactions WHERE tran_date_is_weekend = True)                                   260 non-null    Int64
 150  COUNT(transactions WHERE cat_c3 = 209)                                                  260 non-null    Int64
 151  COUNT(transactions WHERE cat_c2 = 4)                                                    260 non-null    Int64
 152  COUNT(transactions WHERE cat_c3 = 305)                                                  260 non-null    Int64
 153  COUNT(transactions WHERE cat_c3 = 314)                                                  260 non-null    Int64
 154  COUNT(transactions WHERE fl_c12 = True)                                                 260 non-null    Int64
 155  COUNT(transactions WHERE fl_c12 = False)                                                260 non-null    Int64
 156  COUNT(transactions WHERE int_c19 = -1)                                                  260 non-null    Int64
 157  COUNT(transactions WHERE tran_date_is_weekend = False)                                  260 non-null    Int64
 158  COUNT(transactions WHERE fl_c13 = False)                                                260 non-null    Int64
 159  COUNT(transactions WHERE fl_c14 = True)                                                 260 non-null    Int64
 160  COUNT(transactions WHERE cat_c2 = 14)                                                   260 non-null    Int64
 161  COUNT(transactions WHERE int_c19 = 1)                                                   260 non-null    Int64
 162  COUNT(transactions WHERE fl_c14 = False)                                                260 non-null    Int64
 163  COUNT(transactions WHERE fl_c13 = True)                                                 260 non-null    Int64
 164  COUNT(transactions WHERE cat_c3 = 303)                                                  260 non-null    Int64
 165  MEAN(transactions.float_c16 WHERE cat_c2 = 15)                                          250 non-null    float64

None

,communication_month,COUNT(transactions),ENTROPY(transactions.cat_c2),ENTROPY(transactions.cat_c3),ENTROPY(transactions.cat_c4),FIRST(transactions.tran_date),KURTOSIS(transactions.float_c16),KURTOSIS(transactions.float_c17),KURTOSIS(transactions.float_c18),KURTOSIS(transactions.float_c20),KURTOSIS(transactions.float_c21),KURTOSIS(transactions.int_c19),LAST(transactions.tran_date),MAX(transactions.float_c16),MAX(transactions.float_c17),MAX(transactions.float_c18),MAX(transactions.float_c20),MAX(transactions.float_c21),MAX(transactions.int_c19),MEAN(transactions.float_c16),MEAN(transactions.float_c17),MEAN(transactions.float_c18),MEAN(transactions.float_c20),MEAN(transactions.float_c21),MEAN(transactions.int_c19),MEAN(transactions.tran_date_day_of_month_cos),MEAN(transactions.tran_date_day_of_month_sin),MEAN(transactions.tran_date_day_of_week_cos),MEAN(transactions.tran_date_day_of_week_sin),MIN(transactions.float_c16),MIN(transactions.float_c17),MIN(transactions.float_c18),MIN(transactions.float_c20),MIN(transactions.float_c21),MIN(transactions.int_c19),NUM_UNIQUE(transactions.cat_c2),NUM_UNIQUE(transactions.cat_c3),NUM_UNIQUE(transactions.cat_c4),PERCENT_TRUE(transactions.fl_c10),PERCENT_TRUE(transactions.fl_c11),PERCENT_TRUE(transactions.fl_c12),PERCENT_TRUE(transactions.fl_c13),PERCENT_TRUE(transactions.fl_c14),PERCENT_TRUE(transactions.fl_c15),PERCENT_TRUE(transactions.fl_c6),PERCENT_TRUE(transactions.fl_c7),PERCENT_TRUE(transactions.fl_c8),PERCENT_TRUE(transactions.fl_c9),PERCENT_TRUE(transactions.tran_date_is_weekend),SKEW(transactions.float_c16),SKEW(transactions.float_c17),SKEW(transactions.float_c18),SKEW(transactions.float_c20),SKEW(transactions.float_c21),SKEW(transactions.int_c19),STD(transactions.float_c16),STD(transactions.float_c17),STD(transactions.float_c18),STD(transactions.float_c20),STD(transactions.float_c21),STD(transactions.int_c19),SUM(transactions.float_c16),SUM(transactions.float_c17),SUM(transactions.float_c18),SUM(transactions.float_c20),SUM(transactions.float_c21),SUM(transactions.int_c19),"TIME_SINCE_FIRST(transactions.tran_date, unit=days)","TIME_SINCE_LAST(transactions.tran_date, unit=days)",COUNT(activities),ENTROPY(activities.cat_c3),ENTROPY(activities.cat_c4),ENTROPY(activities.cat_c5),ENTROPY(activities.cat_c6),ENTROPY(activities.cat_c9),FIRST(activities.activity_date),KURTOSIS(activities.float_c11),KURTOSIS(activities.float_c12),KURTOSIS(activities.float_c14),LAST(activities.activity_date),MAX(activities.float_c11),MAX(activities.float_c12),MAX(activities.float_c14),MEAN(activities.activity_date_day_of_month_cos),MEAN(activities.activity_date_day_of_month_sin),MEAN(activities.activity_date_day_of_week_cos),MEAN(activities.activity_date_day_of_week_sin),MEAN(activities.float_c11),MEAN(activities.float_c12),MEAN(activities.float_c14),MIN(activities.float_c11),MIN(activities.float_c12),MIN(activities.float_c14),NUM_UNIQUE(activities.cat_c3),NUM_UNIQUE(activities.cat_c4),NUM_UNIQUE(activities.cat_c5),NUM_UNIQUE(activities.cat_c6),NUM_UNIQUE(activities.cat_c9),PERCENT_TRUE(activities.activity_date_is_weekend),PERCENT_TRUE(activities.cat_c10),PERCENT_TRUE(activities.cat_c8),SKEW(activities.float_c11),SKEW(activities.float_c12),SKEW(activities.float_c14),STD(activities.float_c11),STD(activities.float_c12),STD(activities.float_c14),SUM(activities.float_c11),SUM(activities.float_c12),SUM(activities.float_c14),"TIME_SINCE_FIRST(activities.activity_date, unit=days)","TIME_SINCE_LAST(activities.activity_date, unit=days)",COUNT(comms),ENTROPY(comms.cat_c2),ENTROPY(comms.cat_c3),ENTROPY(comms.cat_c4),ENTROPY(comms.cat_c5),FIRST(comms.contact_date),LAST(comms.contact_date),MEAN(comms.contact_date_day_of_month_cos),MEAN(comms.contact_date_day_of_month_sin),MEAN(comms.contact_date_day_of_week_cos),MEAN(comms.contact_date_day_of_week_sin),NUM_UNIQUE(comms.cat_c2),NUM_UNIQUE(comms.cat_c3),NUM_UNIQUE(comms.cat_c4),NUM_UNIQUE(comms.cat_c5),PERCENT_TRUE(comms.contact_date_is_weekend),"TIME_SINCE_FIRST(comms.contact_date, unit=days)","TIME_SINCE_LAST(comms.contact_date, unit=days)",COUNT(transactions WHERE cat_c2 = 15),COUNT(transactions WHERE tran_date_is_weekend = True),COUNT(transactions WHERE cat_c3 = 209),COUNT(transactions WHERE cat_c2 = 4),COUNT(transactions WHERE cat_c3 = 305),COUNT(transactions WHERE cat_c3 = 314),COUNT(transactions WHERE fl_c12 = True),COUNT(transactions WHERE fl_c12 = False),COUNT(transactions WHERE int_c19 = -1),COUNT(transactions WHERE tran_date_is_weekend = False),COUNT(transactions WHERE fl_c13 = False),COUNT(transactions WHERE fl_c14 = True),COUNT(transactions WHERE cat_c2 = 14),COUNT(transactions WHERE int_c19 = 1),COUNT(transactions WHERE fl_c14 = False),COUNT(transactions WHERE fl_c13 = True),COUNT(transactions WHERE cat_c3 = 303),MEAN(transactions.float_c16 WHERE cat_c2 = 15),MEAN(transactions.float_c16 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c16 WHERE cat_c3 = 209),MEAN(transactions.float_c16 WHERE cat_c2 = 4),MEAN(transactions.float_c16 WHERE cat_c3 = 305),MEAN(transactions.float_c16 WHERE cat_c3 = 314),MEAN(transactions.float_c16 WHERE fl_c12 = True),MEAN(transactions.float_c16 WHERE fl_c12 = False),MEAN(transactions.float_c16 WHERE int_c19 = -1),MEAN(transactions.float_c16 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c16 WHERE fl_c13 = False),MEAN(transactions.float_c16 WHERE fl_c14 = True),MEAN(transactions.float_c16 WHERE cat_c2 = 14),MEAN(transactions.float_c16 WHERE int_c19 = 1),MEAN(transactions.float_c16 WHERE fl_c14 = False),MEAN(transactions.float_c16 WHERE fl_c13 = True),MEAN(transactions.float_c16 WHERE cat_c3 = 303),MEAN(transactions.float_c17 WHERE cat_c2 = 15),MEAN(transactions.float_c17 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c17 WHERE cat_c3 = 209),MEAN(transactions.float_c17 WHERE cat_c2 = 4),MEAN(transactions.float_c17 WHERE cat_c3 = 305),MEAN(transactions.float_c17 WHERE cat_c3 = 314),MEAN(transactions.float_c17 WHERE fl_c12 = True),MEAN(transactions.float_c17 WHERE fl_c12 = False),MEAN(transactions.float_c17 WHERE int_c19 = -1),MEAN(transactions.float_c17 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c17 WHERE fl_c13 = False),MEAN(transactions.float_c17 WHERE fl_c14 = True),MEAN(transactions.float_c17 WHERE cat_c2 = 14),MEAN(transactions.float_c17 WHERE int_c19 = 1),MEAN(transactions.float_c17 WHERE fl_c14 = False),MEAN(transactions.float_c17 WHERE fl_c13 = True),MEAN(transactions.float_c17 WHERE cat_c3 = 303),MEAN(transactions.float_c18 WHERE cat_c2 = 15),MEAN(transactions.float_c18 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c18 WHERE cat_c3 = 209),MEAN(transactions.float_c18 WHERE cat_c2 = 4),MEAN(transactions.float_c18 WHERE cat_c3 = 305),MEAN(transactions.float_c18 WHERE cat_c3 = 314),MEAN(transactions.float_c18 WHERE fl_c12 = True),MEAN(transactions.float_c18 WHERE fl_c12 = False),MEAN(transactions.float_c18 WHERE int_c19 = -1),MEAN(transactions.float_c18 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c18 WHERE fl_c13 = False),MEAN(transactions.float_c18 WHERE fl_c14 = True),MEAN(transactions.float_c18 WHERE cat_c2 = 14),MEAN(transactions.float_c18 WHERE int_c19 = 1),MEAN(transactions.float_c18 WHERE fl_c14 = False),MEAN(transactions.float_c18 WHERE fl_c13 = True),MEAN(transactions.float_c18 WHERE cat_c3 = 303),MEAN(transactions.float_c20 WHERE cat_c2 = 15),MEAN(transactions.float_c20 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c20 WHERE cat_c3 = 209),MEAN(transactions.float_c20 WHERE cat_c2 = 4),MEAN(transactions.float_c20 WHERE cat_c3 = 305),MEAN(transactions.float_c20 WHERE cat_c3 = 314),MEAN(transactions.float_c20 WHERE fl_c12 = True),MEAN(transactions.float_c20 WHERE fl_c12 = False),MEAN(transactions.float_c20 WHERE int_c19 = -1),MEAN(transactions.float_c20 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c20 WHERE fl_c13 = False),MEAN(transactions.float_c20 WHERE fl_c14 = True),MEAN(transactions.float_c20 WHERE cat_c2 = 14),MEAN(transactions.float_c20 WHERE int_c19 = 1),MEAN(transactions.float_c20 WHERE fl_c14 = False),MEAN(transactions.float_c20 WHERE fl_c13 = True),MEAN(transactions.float_c20 WHERE cat_c3 = 303),MEAN(transactions.float_c21 WHERE cat_c2 = 15),MEAN(transactions.float_c21 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c21 WHERE cat_c3 = 209),MEAN(transactions.float_c21 WHERE cat_c2 = 4),MEAN(transactions.float_c21 WHERE cat_c3 = 305),MEAN(transactions.float_c21 WHERE cat_c3 = 314),MEAN(transactions.float_c21 WHERE fl_c12 = True),MEAN(transactions.float_c21 WHERE fl_c12 = False),MEAN(transactions.float_c21 WHERE int_c19 = -1),MEAN(transactions.float_c21 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c21 WHERE fl_c13 = False),MEAN(transactions.float_c21 WHERE fl_c14 = True),MEAN(transactions.float_c21 WHERE cat_c2 = 14),MEAN(transactions.float_c21 WHERE int_c19 = 1),MEAN(transactions.float_c21 WHERE fl_c14 = False),MEAN(transactions.float_c21 WHERE fl_c13 = True),MEAN(transactions.float_c21 WHERE cat_c3 = 303),MEAN(transactions.int_c19 WHERE cat_c2 = 15),MEAN(transactions.int_c19 WHERE tran_date_is_weekend = True),MEAN(transactions.int_c19 WHERE cat_c3 = 209),MEAN(transactions.int_c19 WHERE cat_c2 = 4),MEAN(transactions.int_c19 WHERE cat_c3 = 305),MEAN(transactions.int_c19 WHERE cat_c3 = 314),MEAN(transactions.int_c19 WHERE fl_c12 = True),MEAN(transactions.int_c19 WHERE fl_c12 = False),MEAN(transactions.int_c19 WHERE tran_date_is_weekend = False),MEAN(transactions.int_c19 WHERE fl_c13 = False),MEAN(transactions.int_c19 WHERE fl_c14 = True),MEAN(transactions.int_c19 WHERE cat_c2 = 14),MEAN(transactions.int_c19 WHERE fl_c14 = False),MEAN(transactions.int_c19 WHERE fl_c13 = True),MEAN(transactions.int_c19 WHERE cat_c3 = 303),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 15),MEAN(transactions.tran_date_day_of_month_cos WHERE tran_date_is_weekend = True),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 209),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 4),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 305),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 314),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c12 = True),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c12 = False),MEAN(transactions.tran_date_day_of_month_cos WHERE int_c19 = -1),MEAN(transactions.tran_date_day_of_month_cos WHERE tran_date_is_weekend = False),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c13 = False),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c14 = True),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 14),MEAN(transactions.tran_date_day_of_month_cos WHERE int_c19 = 1),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c14 = False),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c13 = True),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 303),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 15),MEAN(transactions.tran_date_day_of_month_sin WHERE tran_date_is_weekend = True),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 209),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 4),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 305),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 314),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c12 = True),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c12 = False),MEAN(transactions.tran_date_day_of_month_sin WHERE int_c19 = -1),MEAN(transactions.tran_date_day_of_month_sin WHERE tran_date_is_weekend = False),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c13 = False),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c14 = True),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 14),MEAN(transactions.tran_date_day_of_month_sin WHERE int_c19 = 1),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c14 = False),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c13 = True),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 303),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 15),MEAN(transactions.tran_date_day_of_week_cos WHERE tran_date_is_weekend = True),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 209),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 4),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 305),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 314),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c12 = True),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c12 = False),MEAN(transactions.tran_date_day_of_week_cos WHERE int_c19 = -1),MEAN(transactions.tran_date_day_of_week_cos WHERE tran_date_is_weekend = False),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c13 = False),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c14 = True),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 14),MEAN(transactions.tran_date_day_of_week_cos WHERE int_c19 = 1),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c14 = False),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c13 = True),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 303),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 15),MEAN(transactions.tran_date_day_of_week_sin WHERE tran_date_is_weekend = True),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 209),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 4),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 305),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 314),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c12 = True),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c12 = False),MEAN(transactions.tran_date_day_of_week_sin WHERE int_c19 = -1),MEAN(transactions.tran_date_day_of_week_sin WHERE tran_date_is_weekend = False),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c13 = False),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c14 = True),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 14),MEAN(transactions.tran_date_day_of_week_sin WHERE int_c19 = 1),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c14 = False),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c13 = True),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 303),SUM(transactions.float_c16 WHERE cat_c2 = 15),SUM(transactions.float_c16 WHERE tran_date_is_weekend = True),SUM(transactions.float_c16 WHERE cat_c3 = 209),SUM(transactions.float_c16 WHERE cat_c2 = 4),SUM(transactions.float_c16 WHERE cat_c3 = 305),SUM(transactions.float_c16 WHERE cat_c3 = 314),SUM(transactions.float_c16 WHERE fl_c12 = True),SUM(transactions.float_c16 WHERE fl_c12 = False),SUM(transactions.float_c16 WHERE int_c19 = -1),SUM(transactions.float_c16 WHERE tran_date_is_weekend = False),SUM(transactions.float_c16 WHERE fl_c13 = False),SUM(transactions.float_c16 WHERE fl_c14 = True),SUM(transactions.float_c16 WHERE cat_c2 = 14),SUM(transactions.float_c16 WHERE int_c19 = 1),SUM(transactions.float_c16 WHERE fl_c14 = False),SUM(transactions.float_c16 WHERE fl_c13 = True),SUM(transactions.float_c16 WHERE cat_c3 = 303),SUM(transactions.float_c17 WHERE cat_c2 = 15),SUM(transactions.float_c17 WHERE tran_date_is_weekend = True),SUM(transactions.float_c17 WHERE cat_c3 = 209),SUM(transactions.float_c17 WHERE cat_c2 = 4),SUM(transactions.float_c17 WHERE cat_c3 = 305),SUM(transactions.float_c17 WHERE cat_c3 = 314),SUM(transactions.float_c17 WHERE fl_c12 = True),SUM(transactions.float_c17 WHERE fl_c12 = False),SUM(transactions.float_c17 WHERE int_c19 = -1),SUM(transactions.float_c17 WHERE tran_date_is_weekend = False),SUM(transactions.float_c17 WHERE fl_c13 = False),SUM(transactions.float_c17 WHERE fl_c14 = True),SUM(transactions.float_c17 WHERE cat_c2 = 14),SUM(transactions.float_c17 WHERE int_c19 = 1),SUM(transactions.float_c17 WHERE fl_c14 = False),SUM(transactions.float_c17 WHERE fl_c13 = True),SUM(transactions.float_c17 WHERE cat_c3 = 303),SUM(transactions.float_c18 WHERE cat_c2 = 15),SUM(transactions.float_c18 WHERE tran_date_is_weekend = True),SUM(transactions.float_c18 WHERE cat_c3 = 209),SUM(transactions.float_c18 WHERE cat_c2 = 4),SUM(transactions.float_c18 WHERE cat_c3 = 305),SUM(transactions.float_c18 WHERE cat_c3 = 314),SUM(transactions.float_c18 WHERE fl_c12 = True),SUM(transactions.float_c18 WHERE fl_c12 = False),SUM(transactions.float_c18 WHERE int_c19 = -1),SUM(transactions.float_c18 WHERE tran_date_is_weekend = False),SUM(transactions.float_c18 WHERE fl_c13 = False),SUM(transactions.float_c18 WHERE fl_c14 = True),SUM(transactions.float_c18 WHERE cat_c2 = 14),SUM(transactions.float_c18 WHERE int_c19 = 1),SUM(transactions.float_c18 WHERE fl_c14 = False),SUM(transactions.float_c18 WHERE fl_c13 = True),SUM(transactions.float_c18 WHERE cat_c3 = 303),SUM(transactions.float_c20 WHERE cat_c2 = 15),SUM(transactions.float_c20 WHERE tran_date_is_weekend = True),SUM(transactions.float_c20 WHERE cat_c3 = 209),SUM(transactions.float_c20 WHERE cat_c2 = 4),SUM(transactions.float_c20 WHERE cat_c3 = 305),SUM(transactions.float_c20 WHERE cat_c3 = 314),SUM(transactions.float_c20 WHERE fl_c12 = True),SUM(transactions.float_c20 WHERE fl_c12 = False),SUM(transactions.float_c20 WHERE int_c19 = -1),SUM(transactions.float_c20 WHERE tran_date_is_weekend = False),SUM(transactions.float_c20 WHERE fl_c13 = False),SUM(transactions.float_c20 WHERE fl_c14 = True),SUM(transactions.float_c20 WHERE cat_c2 = 14),SUM(transactions.float_c20 WHERE int_c19 = 1),SUM(transactions.float_c20 WHERE fl_c14 = False),SUM(transactions.float_c20 WHERE fl_c13 = True),SUM(transactions.float_c20 WHERE cat_c3 = 303),SUM(transactions.float_c21 WHERE cat_c2 = 15),SUM(transactions.float_c21 WHERE tran_date_is_weekend = True),SUM(transactions.float_c21 WHERE cat_c3 = 209),SUM(transactions.float_c21 WHERE cat_c2 = 4),SUM(transactions.float_c21 WHERE cat_c3 = 305),SUM(transactions.float_c21 WHERE cat_c3 = 314),SUM(transactions.float_c21 WHERE fl_c12 = True),SUM(transactions.float_c21 WHERE fl_c12 = False),SUM(transactions.float_c21 WHERE int_c19 = -1),SUM(transactions.float_c21 WHERE tran_date_is_weekend = False),SUM(transactions.float_c21 WHERE fl_c13 = False),SUM(transactions.float_c21 WHERE fl_c14 = True),SUM(transactions.float_c21 WHERE cat_c2 = 14),SUM(transactions.float_c21 WHERE int_c19 = 1),SUM(transactions.float_c21 WHERE fl_c14 = False),SUM(transactions.float_c21 WHERE fl_c13 = True),SUM(transactions.float_c21 WHERE cat_c3 = 303),SUM(transactions.int_c19 WHERE cat_c2 = 15),SUM(transactions.int_c19 WHERE tran_date_is_weekend = True),SUM(transactions.int_c19 WHERE cat_c3 = 209),SUM(transactions.int_c19 WHERE cat_c2 = 4),SUM(transactions.int_c19 WHERE cat_c3 = 305),SUM(transactions.int_c19 WHERE cat_c3 = 314),SUM(transactions.int_c19 WHERE fl_c12 = True),SUM(transactions.int_c19 WHERE fl_c12 = False),SUM(transactions.int_c19 WHERE tran_date_is_weekend = False),SUM(transactions.int_c19 WHERE fl_c13 = False),SUM(transactions.int_c19 WHERE fl_c14 = True),SUM(transactions.int_c19 WHERE cat_c2 = 14),SUM(transactions.int_c19 WHERE fl_c14 = False),SUM(transactions.int_c19 WHERE fl_c13 = True),SUM(transactions.int_c19 WHERE cat_c3 = 303),COUNT(activities WHERE cat_c8 = True),COUNT(activities WHERE cat_c6 = 1),COUNT(activities WHERE cat_c10 = False),COUNT(activities WHERE activity_date_is_weekend = True),COUNT(activities WHERE cat_c9 = 2),COUNT(activities WHERE cat_c6 = 3),COUNT(activities WHERE cat_c4 = 1),COUNT(activities WHERE cat_c4 = 2),COUNT(activities WHERE cat_c6 = 2),COUNT(activities WHERE activity_date_is_weekend = False),COUNT(activities WHERE cat_c8 = False),COUNT(activities WHERE cat_c9 = 1),COUNT(activities WHERE cat_c10 = True),MEAN(activities.activity_date_day_of_month_cos WHERE cat_c8 = True),MEAN(activities.activity_date_day_of_month_cos WHERE cat_c6 = 1),MEAN(activities.activity_date_day_of_month_cos WHERE cat_c10 = False),MEAN(activities.activity_date_day_of_month_cos WHERE activity_date_is_weekend = True),MEAN(activities.activity_date_day_of_mont

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\primitives\options_utils.py:39: UserWarning: Column 'float_c13' not in dataframe 'activities'
  warnings.warn(
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\primitives\options_utils.py:39: UserWarning: Column 'float_c15' not in dataframe 'activities'
  warnings.warn(
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\primitives\options_utils.py:39: UserWarning: Column 'float_c16' not in dataframe 'activities'
  warnings.warn(
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\primitives\options_utils.py:39: UserWarning: Column 'float_c17' not in dataframe 'activities'
  warnings.warn(

Built 103 features
Elapsed: 00:00 | Progress: 100%|

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\primitives\options_utils.py:39: UserWarning: Column 'float_c13' not in dataframe 'activities'
  warnings.warn(
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\primitives\options_utils.py:39: UserWarning: Column 'float_c15' not in dataframe 'activities'
  warnings.warn(
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\primitives\options_utils.py:39: UserWarning: Column 'float_c16' not in dataframe 'activities'
  warnings.warn(
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\primitives\options_utils.py:39: UserWarning: Column 'float_c17' not in dataframe 'activities'
  warnings.warn(

Built 103 features
Elapsed: 00:00 | Progress: 100%|

,TREND_45_90_COUNT(transactions),TREND_45_90_MEAN(transactions.float_c16),TREND_45_90_MEAN(transactions.float_c17),TREND_45_90_MEAN(transactions.float_c18),TREND_45_90_MEAN(transactions.float_c20),TREND_45_90_MEAN(transactions.float_c21),TREND_45_90_MEAN(transactions.int_c19),TREND_45_90_MEAN(transactions.tran_date_day_of_month_cos),TREND_45_90_MEAN(transactions.tran_date_day_of_month_sin),TREND_45_90_MEAN(transactions.tran_date_day_of_week_cos),TREND_45_90_MEAN(transactions.tran_date_day_of_week_sin),TREND_45_90_PERCENT_TRUE(transactions.fl_c10),TREND_45_90_PERCENT_TRUE(transactions.fl_c11),TREND_45_90_PERCENT_TRUE(transactions.fl_c12),TREND_45_90_PERCENT_TRUE(transactions.fl_c13),TREND_45_90_PERCENT_TRUE(transactions.fl_c14),TREND_45_90_PERCENT_TRUE(transactions.fl_c15),TREND_45_90_PERCENT_TRUE(transactions.fl_c6),TREND_45_90_PERCENT_TRUE(transactions.fl_c7),TREND_45_90_PERCENT_TRUE(transactions.fl_c8),TREND_45_90_PERCENT_TRUE(transactions.fl_c9),TREND_45_90_PERCENT_TRUE(transactions.tran_date_is_weekend),TREND_45_90_STD(transactions.float_c16),TREND_45_90_STD(transactions.float_c17),TREND_45_90_STD(transactions.float_c18),TREND_45_90_STD(transactions.float_c20),TREND_45_90_STD(transactions.float_c21),TREND_45_90_STD(transactions.int_c19),TREND_45_90_SUM(transactions.float_c16),TREND_45_90_SUM(transactions.float_c17),TREND_45_90_SUM(transactions.float_c18),TREND_45_90_SUM(transactions.float_c20),TREND_45_90_SUM(transactions.float_c21),TREND_45_90_SUM(transactions.int_c19),TREND_45_90_COUNT(activities),TREND_45_90_MEAN(activities.activity_date_day_of_month_cos),TREND_45_90_MEAN(activities.activity_date_day_of_month_sin),TREND_45_90_MEAN(activities.activity_date_day_of_week_cos),TREND_45_90_MEAN(activities.activity_date_day_of_week_sin),TREND_45_90_MEAN(activities.float_c11),TREND_45_90_MEAN(activities.float_c12),TREND_45_90_MEAN(activities.float_c14),TREND_45_90_PERCENT_TRUE(activities.activity_date_is_weekend),TREND_45_90_PERCENT_TRUE(activities.cat_c10),TREND_45_90_PERCENT_TRUE(activities.cat_c8),TREND_45_90_STD(activities.float_c11),TREND_45_90_STD(activities.float_c12),TREND_45_90_STD(activities.float_c14),TREND_45_90_SUM(activities.float_c11),TREND_45_90_SUM(activities.float_c12),TREND_45_90_SUM(activities.float_c14),TREND_45_90_COUNT(comms),TREND_45_90_MEAN(comms.contact_date_day_of_month_cos),TREND_45_90_MEAN(comms.contact_date_day_of_month_sin),TREND_45_90_MEAN(comms.contact_date_day_of_week_cos),TREND_45_90_MEAN(comms.contact_date_day_of_week_sin),TREND_45_90_PERCENT_TRUE(comms.contact_date_is_weekend),TREND_45_90_COUNT(transactions WHERE cat_c2 = 15),TREND_45_90_COUNT(transactions WHERE tran_date_is_weekend = True),TREND_45_90_COUNT(transactions WHERE cat_c3 = 209),TREND_45_90_COUNT(transactions WHERE cat_c2 = 4),TREND_45_90_COUNT(transactions WHERE cat_c3 = 305),TREND_45_90_COUNT(transactions WHERE cat_c3 = 314),TREND_45_90_COUNT(transactions WHERE fl_c12 = True),TREND_45_90_COUNT(transactions WHERE fl_c12 = False),TREND_45_90_COUNT(transactions WHERE int_c19 = -1),TREND_45_90_COUNT(transactions WHERE tran_date_is_weekend = False),TREND_45_90_COUNT(transactions WHERE fl_c13 = False),TREND_45_90_COUNT(transactions WHERE fl_c14 = True),TREND_45_90_COUNT(transactions WHERE cat_c2 = 14),TREND_45_90_COUNT(transactions WHERE int_c19 = 1),TREND_45_90_COUNT(transactions WHERE fl_c14 = False),TREND_45_90_COUNT(transactions WHERE fl_c13 = True),TREND_45_90_COUNT(transactions WHERE cat_c3 = 303),TREND_45_90_COUNT(activities WHERE cat_c8 = True),TREND_45_90_COUNT(activities WHERE cat_c6 = 1),TREND_45_90_COUNT(activities WHERE cat_c10 = False),TREND_45_90_COUNT(activities WHERE activity_date_is_weekend = True),TREND_45_90_COUNT(activities WHERE cat_c9 = 2),TREND_45_90_COUNT(activities WHERE cat_c6 = 3),TREND_45_90_COUNT(activities WHERE cat_c4 = 1),TREND_45_90_COUNT(activities WHERE cat_c4 = 2),TREND_45_90_COUNT(activities WHERE cat_c6 = 2),TREND_45_90_COUNT(activities WHERE activity_date_is_weekend = False),TREND_45_90_COUNT(activities WHERE cat_c8 = False),TREND_45_90_COUNT(activities WHERE cat_c9 = 1),TREND_45_90_COUNT(activities WHERE cat_c10 = True),TREND_45_90_COUNT(comms WHERE contact_date_is_weekend = False),TREND_45_90_COUNT(comms WHERE contact_date_is_weekend = True),TREND_45_90_COUNT(comms WHERE cat_c2 = S3677),TREND_45_90_COUNT(comms WHERE cat_c5 = 7),TREND_45_90_COUNT(comms WHERE cat_c3 = 3),TREND_45_90_COUNT(comms WHERE cat_c4 = 1),TREND_45_90_COUNT(comms WHERE cat_c2 = S3564),TREND_45_90_COUNT(comms WHERE cat_c2 = S3565),TREND_45_90_COUNT(comms WHERE cat_c3 = 4),TREND_45_90_COUNT(comms WHERE cat_c2 = S3769),TREND_45_90_COUNT(comms WHERE cat_c3 = 7),TREND_45_90_COUNT(comms WHERE cat_c5 = 4),TREND_45_90_COUNT(comms WHERE cat_c4 = 2)
client_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100278850497212911,0.487,1.524,1.057,0.911,0.000,0.911,0.740,0.123,6.052,0.911,-1.082,0.000,0.000,1.019,1.360,1.435,0.881,2.055,1.000,1.000,0.000,0.913,1.267,1.170,0.750,0.000,0.750,1.015,0.742,0.515,0.443,0.000,0.443,0.360,0.463,1.718,2.835,1.354,-3.777,0.975,1.049,1.202,0.870,1.195,1.000,0.737,0.949,0.973,0.452,0.486,0.557,0.505,-0.112,14.359,0.921,-0.802,0.979,0.496,0.444,0.677,0.677,0.480,0.454,0.496,0.485,0.528,0.502,0.469,0.698,0.459,0.462,0.470,0.662,0.548,0.463,0.000,0.341,0.403,0.000,0.467,0.491,0.000,0.000,0.489,0.000,0.463,0.554,0.509,0.495,0.491,1.000,0.500,0.506,0.677,0.504,0.505,0.528,0.600,0.505,0.481
10489728880803456,0.551,1.113,0.000,1.085,0.000,1.085,0.974,0.110,-1.388,1.278,3.400,0.000,0.000,0.863,1.161,1.133,0.453,0.000,1.020,1.000,0.000,1.145,1.137,0.000,1.139,0.000,1.139,1.008,0.614,0.000,0.598,0.000,0.598,0.537,0.500,0.864,0.246,1.318,3.000,1.147,0.905,1.071,1.000,1.301,1.000,1.107,0.976,0.928,0.574,0.453,0.535,0.565,-0.454,-2.590,1.512,2.416,1.124,0.476,0.632,0.565,0.538,0.529,0.538,0.476,0.565,0.547,0.520,0.500,0.625,0.579,0.561,0.511,0.640,0.500,0.500,0.500,0.037,0.500,0.500,0.000,0.500,0.500,0.000,0.500,0.000,0.000,0.651,0.537,0.635,0.579,0.500,0.700,0.535,0.538,0.476,0.549,0.450,1.000,0.565,0.704
108896783035281240,0.494,0.000,1.457,1.015,0.000,1.015,1.349,-6.967,1.189,1.369,3.035,0.000,0.000,0.934,0.899,0.934,2.023,0.000,0.996,1.000,0.000,0.798,0.000,1.370,0.974,0.000,0.974,0.992,0.000,0.720,0.502,0.000,0.502,0.667,0.483,-1.906,0.892,1.184,-53.857,0.851,1.003,1.000,0.539,1.000,1.000,0.601,0.973,0.000,0.411,0.484,0.483,0.508,-5.087,1.130,1.229,3.934,0.782,0.462,0.394,0.222,0.222,0.529,0.513,0.462,0.502,0.464,0.532,0.500,0.462,0.517,0.517,0.496,0.444,0.414,0.483,0.000,0.000,0.260,0.000,0.000,0.472,0.750,0.483,0.556,0.000,0.483,0.483,0.548,0.397,0.517,1.000,0.600,0.502,0.222,0.462,0.502,0.769,1.000,0.507,0.536
109005112042976661,0.548,1.018,0.991,0.651,0.000,0.651,0.829,0.773,0.512,0.231,1.189,0.000,0.000,0.711,1.195,1.264,0.912,1.824,1.006,1.000,0.000,0.912,0.826,1.080,0.532,0.000,0.532,1.008,0.558,0.543,0.357,0.000,0.357,0.455,0.411,-0.614,-0.577,0.578,2.837,0.775,0.988,0.982,0.921,0.787,1.000,0.589,1.037,0.972,0.319,0.406,0.404,0.576,0.754,0.411,0.202,1.012,0.905,0.390,0.500,0.706,0.722,0.680,0.341,0.390,0.591,0.533,0.563,0.500,0.693,0.552,0.571,0.495,0.655,0.200,0.411,0.411,0.455,0.379,0.411,0.000,0.411,0.000,0.000,0.420,0.000,0.000,0.324,0.591,0.522,0.558,0.400,0.750,0.576,0.722,0.411,0.573,0.000,0.600,0.582,0.567
109044147991749067,0.456,1.245,0.000,1.098,0.000,1.098,1.422,2.909,-16.162,1.456,-0.071,0.000,1.316,0.971,1.290,1.267,0.988,0.920,1.006,1.000,0.000,1.042,1.031,0.000,1.028,0.000,1.028,0.988,0.568,0.000,0.501,0.000,0.501,0.648,0.469,573.421,-16.094,1.109,0.936,0.766,1.051,1.038,1.013,0.983,1.000,0.609,1.004,0.943,0.359,0.493,0.487,0.452,2.858,-20.519,1.550,-0.310,1.050,0.443,0.475,0.519,0.536,0.476,0.415,0.443,0.459,0.481,0.449,0.439,0.578,0.423,0.421,0.441,0.588,0.470,0.469,0.469,0.479,0.475,0.469,0.000,0.465,1.000,0.000,0.467,0.000,0.000,0.461,0.444,0.474,0.439,0.500,0.429,0.451,0.536,0.445,0.451,0.466,1.000,0.451,0.500

<class 'pandas.core.frame.DataFrame'>
Index: 260 entries, 100278850497212911 to 95756598557287578
Data columns (total 100 columns):
 #   Column                                                                Non-Null Count  Dtype
---  ------                                                                --------------  -----
 0   TREND_45_90_COUNT(transactions)                                       260 non-null    Float64
 1   TREND_45_90_MEAN(transactions.float_c16)                              260 non-null    float64
 2   TREND_45_90_MEAN(transactions.float_c17)                              260 non-null    float64
 3   TREND_45_90_MEAN(transactions.float_c18)                              260 non-null    float64
 4   TREND_45_90_MEAN(transactions.float_c20)                              260 non-null    float64
 5   TREND_45_90_MEAN(transactions.float_c21)                              260 non-null    float64
 6   TREND_45_90_MEAN(transactions.int_c19)                                260 non-null    float64
 7   TREND_45_90_MEAN(transactions.tran_date_day_of_month_cos)             260 non-null    float64
 8   TREND_45_90_MEAN(transactions.tran_date_day_of_month_sin)             260 non-null    float64
 9   TREND_45_90_MEAN(transactions.tran_date_day_of_week_cos)              260 non-null    float64
 10  TREND_45_90_MEAN(transactions.tran_date_day_of_week_sin)              260 non-null    float64
 11  TREND_45_90_PERCENT_TRUE(transactions.fl_c10)                         260 non-null    float64
 12  TREND_45_90_PERCENT_TRUE(transactions.fl_c11)                         260 non-null    float64
 13  TREND_45_90_PERCENT_TRUE(transactions.fl_c12)                         260 non-null    float64
 14  TREND_45_90_PERCENT_TRUE(transactions.fl_c13)                         260 non-null    float64
 15  TREND_45_90_PERCENT_TRUE(transactions.fl_c14)                         260 non-null    float64
 16  TREND_45_90_PERCENT_TRUE(transactions.fl_c15)                         260 non-null    float64
 17  TREND_45_90_PERCENT_TRUE(transactions.fl_c6)                          260 non-null    float64
 18  TREND_45_90_PERCENT_TRUE(transactions.fl_c7)                          260 non-null    float64
 19  TREND_45_90_PERCENT_TRUE(transactions.fl_c8)                          260 non-null    float64
 20  TREND_45_90_PERCENT_TRUE(transactions.fl_c9)                          260 non-null    float64
 21  TREND_45_90_PERCENT_TRUE(transactions.tran_date_is_weekend)           260 non-null    float64
 22  TREND_45_90_STD(transactions.float_c16)                               260 non-null    float64
 23  TREND_45_90_STD(transactions.float_c17)                               260 non-null    float64
 24  TREND_45_90_STD(transactions.float_c18)                               260 non-null    float64
 25  TREND_45_90_STD(transactions.float_c20)                               260 non-null    float64
 26  TREND_45_90_STD(transactions.float_c21)                               260 non-null    float64
 27  TREND_45_90_STD(transactions.int_c19)                                 260 non-null    float64
 28  TREND_45_90_SUM(transactions.float_c16)                               260 non-null    float64
 29  TREND_45_90_SUM(transactions.float_c17)                               260 non-null    float64
 30  TREND_45_90_SUM(transactions.float_c18)                               260 non-null    float64
 31  TREND_45_90_SUM(transactions.float_c20)                               260 non-null    float64
 32  TREND_45_90_SUM(transactions.float_c21)                               260 non-null    float64
 33  TREND_45_90_SUM(transactions.int_c19)                                 260 non-null    float64
 34  TREND_45_90_COUNT(activities)                                         260 non-null    Float64
 35  TREND_45_90_MEAN(activities.activity_date_day_of_month_cos)           260 non-null    float64
 36  TREND_45_90_MEAN(activities.activity_date_day_of_month_sin)           260 non-null    float64
 37  TREND_45_90_MEAN(activities.activity_date_day_of_week_cos)            260 non-null    float64
 38  TREND_45_90_MEAN(activities.activity_date_day_of_week_sin)            260 non-null    float64
 39  TREND_45_90_MEAN(activities.float_c11)                                260 non-null    float64
 40  TREND_45_90_MEAN(activities.float_c12)                                260 non-null    float64
 41  TREND_45_90_MEAN(activities.float_c14)                                260 non-null    float64
 42  TREND_45_90_PERCENT_TRUE(activities.activity_date_is_weekend)         260 non-null    float64
 43  TREND_45_90_PERCENT_TRUE(activities.cat_c10)                          260 non-null    float64
 44  TREND_45_90_PERCENT_TRUE(activities.cat_c8)                           260 non-null    float64
 45  TREND_45_90_STD(activities.float_c11)                                 260 non-null    float64
 46  TREND_45_90_STD(activities.float_c12)                                 260 non-null    float64
 47  TREND_45_90_STD(activities.float_c14)                                 260 non-null    float64
 48  TREND_45_90_SUM(activities.float_c11)                                 260 non-null    float64
 49  TREND_45_90_SUM(activities.float_c12)                                 260 non-null    float64
 50  TREND_45_90_SUM(activities.float_c14)                                 260 non-null    float64
 51  TREND_45_90_COUNT(comms)                                              260 non-null    Float64
 52  TREND_45_90_MEAN(comms.contact_date_day_of_month_cos)                 260 non-null    float64
 53  TREND_45_90_MEAN(comms.contact_date_day_of_month_sin)                 260 non-null    float64
 54  TREND_45_90_MEAN(comms.contact_date_day_of_week_cos)                  260 non-null    float64
 55  TREND_45_90_MEAN(comms.contact_date_day_of_week_sin)                  260 non-null    float64
 56  TREND_45_90_PERCENT_TRUE(comms.contact_date_is_weekend)               260 non-null    float64
 57  TREND_45_90_COUNT(transactions WHERE cat_c2 = 15)                     260 non-null    Float64
 58  TREND_45_90_COUNT(transactions WHERE tran_date_is_weekend = True)     260 non-null    Float64
 59  TREND_45_90_COUNT(transactions WHERE cat_c3 = 209)                    260 non-null    Float64
 60  TREND_45_90_COUNT(transactions WHERE cat_c2 = 4)                      260 non-null    Float64
 61  TREND_45_90_COUNT(transactions WHERE cat_c3 = 305)                    260 non-null    Float64
 62  TREND_45_90_COUNT(transactions WHERE cat_c3 = 314)                    260 non-null    Float64
 63  TREND_45_90_COUNT(transactions WHERE fl_c12 = True)                   260 non-null    Float64
 64  TREND_45_90_COUNT(transactions WHERE fl_c12 = False)                  260 non-null    Float64
 65  TREND_45_90_COUNT(transactions WHERE int_c19 = -1)                    260 non-null    Float64
 66  TREND_45_90_COUNT(transactions WHERE tran_date_is_weekend = False)    260 non-null    Float64
 67  TREND_45_90_COUNT(transactions WHERE fl_c13 = False)                  260 non-null    Float64
 68  TREND_45_90_COUNT(transactions WHERE fl_c14 = True)                   260 non-null    Float64
 69  TREND_45_90_COUNT(transactions WHERE cat_c2 = 14)                     260 non-null    Float64
 70  TREND_45_90_COUNT(transactions WHERE int_c19 = 1)                     260 non-null    Float64
 71  TREND_45_90_COUNT(transactions WHERE fl_c14 = False)                  260 non-null    Float64
 72  TREND_45_90_COUNT(transactions WHERE fl_c13 = True)                   260 non-null    Float64
 73  TREND_45_90_COUNT(transactions WHERE cat_c3 = 303)                    260 non-null    Float64
 74  TREND_45_90_COUNT(activities WHERE cat_c8 = True)                     260 non-null    Float64
 75  TREND_45_90_COUNT(activities WHERE cat_c6 = 1)                        260 non-null    Float64
 76  TREND_45_90_COUNT(activities WHERE cat_c10 = False)                   260 non-null    Float64
 77  TREND_45_90_COUNT(activities WHERE activity_date_is_weekend = True)   260 non-null    Float64
 78  TREND_45_90_COUNT(activities WHERE cat_c9 = 2)                        260 non-null    Float64
 79  TREND_45_90_COUNT(activities WHERE cat_c6 = 3)                        260 non-null    Float64
 80  TREND_45_90_COUNT(activities WHERE cat_c4 = 1)                        260 non-null    Float64
 81  TREND_45_90_COUNT(activities WHERE cat_c4 = 2)                        260 non-null    Float64
 82  TREND_45_90_COUNT(activities WHERE cat_c6 = 2)                        260 non-null    Float64
 83  TREND_45_90_COUNT(activities WHERE activity_date_is_weekend = False)  260 non-null    Float64
 84  TREND_45_90_COUNT(activities WHERE cat_c8 = False)                    260 non-null    Float64
 85  TREND_45_90_COUNT(activities WHERE cat_c9 = 1)                        260 non-null    Float64
 86  TREND_45_90_COUNT(activities WHERE cat_c10 = True)                    260 non-null    Float64
 87  TREND_45_90_COUNT(comms WHERE contact_date_is_weekend = False)        260 non-null    Float64
 88  TREND_45_90_COUNT(comms WHERE contact_date_is_weekend = True)         260 non-null    Float64
 89  TREND_45_90_COUNT(comms WHERE cat_c2 = S3677)                         260 non-null    Float64
 90  TREND_45_90_COUNT(comms WHERE cat_c5 = 7)                             260 non-null    Float64
 91  TREND_45_90_COUNT(comms WHERE cat_c3 = 3)                             260 non-null    Float64
 92  TREND_45_90_COUNT(comms WHERE cat_c4 = 1)                             260 non-null    Float64
 93  TREND_45_90_COUNT(comms WHERE cat_c2 = S3564)                         260 non-null    Float64
 94  TREND_45_90_COUNT(comms WHERE cat_c2 = S3565)                         260 non-null    Float64
 95  TREND_45_90_COUNT(comms WHERE cat_c3 = 4)                             260 non-null    Float64
 96  TREND_45_90_COUNT(comms WHERE cat_c2 = S3769)                         260 non-null    Float64
 97  TREND_45_90_COUNT(comms WHERE cat_c3 = 7)                             260 non-null    Float64
 98  TREND_45_90_COUNT(comms WHERE cat_c5 = 4)                             260 non-null    Float64
 99  TREND_45_90_COUNT(comms WHERE cat_c4 = 2)                             260 non-null    Float64
dtypes: Float64(46), float64(54)
memory usage: 216.8+ KB

None

               client_id  tran_date  tran_date_gap_days  float_c18_diff
9400  100278850497212911 2024-12-01               0.000           0.000
9424  100278850497212911 2024-12-01               0.000         -91.000
9475  100278850497212911 2024-12-01               0.000         -38.470
9476  100278850497212911 2024-12-01               0.000          24.470
9477  100278850497212911 2024-12-01               0.000          69.000
9478  100278850497212911 2024-12-01               0.000           6.000
9720  100278850497212911 2024-12-01               0.000         -70.000
9721  100278850497212911 2024-12-01               0.000         170.000
9722  100278850497212911 2024-12-01               0.000        -170.000
9416  100278850497212911 2024-12-02               1.000          70.000

Processing transactions...

Feature Extraction: 100%|| 256/256 [00:07<00:00, 32.09it/s]
Feature Extraction: 100%|| 256/256 [00:09<00:00, 26.76it/s]

Processing activities...

Feature Extraction: 100%|| 257/257 [00:08<00:00, 31.73it/s]

Processing communications...

Feature Extraction: 100%|| 257/257 [00:10<00:00, 23.54it/s]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 831 columns):
 #    Column                                                                                  Non-Null Count  Dtype
---   ------                                                                                  --------------  -----
 0    client_id                                                                               260 non-null    string
 1    target                                                                                  260 non-null    bool
 2    is_train                                                                                260 non-null    bool
 3    communication_month                                                                     260 non-null    datetime64[ns]
 4    COUNT(transactions)                                                                     260 non-null    Int64
 5    ENTROPY(transactions.cat_c2)                                                            256 non-null    float64
 6    ENTROPY(transactions.cat_c3)                                                            256 non-null    float64
 7    ENTROPY(transactions.cat_c4)                                                            256 non-null    float64
 8    FIRST(transactions.tran_date)                                                           256 non-null    datetime64[ns]
 9    KURTOSIS(transactions.float_c16)                                                        260 non-null    float64
 10   KURTOSIS(transactions.float_c17)                                                        260 non-null    float64
 11   KURTOSIS(transactions.float_c18)                                                        260 non-null    float64
 12   KURTOSIS(transactions.float_c20)                                                        260 non-null    float64
 13   KURTOSIS(transactions.float_c21)                                                        260 non-null    float64
 14   KURTOSIS(transactions.int_c19)                                                          260 non-null    float64
 15   LAST(transactions.tran_date)                                                            256 non-null    datetime64[ns]
 16   MAX(transactions.float_c16)                                                             256 non-null    float64
 17   MAX(transactions.float_c17)                                                             256 non-null    float64
 18   MAX(transactions.float_c18)                                                             256 non-null    float64
 19   MAX(transactions.float_c20)                                                             256 non-null    float64
 20   MAX(transactions.float_c21)                                                             256 non-null    float64
 21   MAX(transactions.int_c19)                                                               256 non-null    float64
 22   MEAN(transactions.float_c16)                                                            256 non-null    float64
 23   MEAN(transactions.float_c17)                                                            256 non-null    float64
 24   MEAN(transactions.float_c18)                                                            256 non-null    float64
 25   MEAN(transactions.float_c20)                                                            256 non-null    float64
 26   MEAN(transactions.float_c21)                                                            256 non-null    float64
 27   MEAN(transactions.int_c19)                                                              256 non-null    float64
 28   MEAN(transactions.tran_date_day_of_month_cos)                                           256 non-null    float64
 29   MEAN(transactions.tran_date_day_of_month_sin)                                           256 non-null    float64
 30   MEAN(transactions.tran_date_day_of_week_cos)                                            256 non-null    float64
 31   MEAN(transactions.tran_date_day_of_week_sin)                                            256 non-null    float64
 32   MIN(transactions.float_c16)                                                             256 non-null    float64
 33   MIN(transactions.float_c17)                                                             256 non-null    float64
 34   MIN(transactions.float_c18)                                                             256 non-null    float64
 35   MIN(transactions.float_c20)                                                             256 non-null    float64
 36   MIN(transactions.float_c21)                                                             256 non-null    float64
 37   MIN(transactions.int_c19)                                                               256 non-null    float64
 38   MODE(transactions.cat_c2)                                                               256 non-null    category
 39   MODE(transactions.cat_c3)                                                               256 non-null    category
 40   MODE(transactions.cat_c4)                                                               256 non-null    category
 41   NUM_UNIQUE(transactions.cat_c2)                                                         256 non-null    Int64
 42   NUM_UNIQUE(transactions.cat_c3)                                                         256 non-null    Int64
 43   NUM_UNIQUE(transactions.cat_c4)                                                         256 non-null    Int64
 44   PERCENT_TRUE(transactions.fl_c10)                                                       256 non-null    float64
 45   PERCENT_TRUE(transactions.fl_c11)                                                       256 non-null    float64
 46   PERCENT_TRUE(transactions.fl_c12)                                                       256 non-null    float64
 47   PERCENT_TRUE(transactions.fl_c13)                                                       256 non-null    float64
 48   PERCENT_TRUE(transactions.fl_c14)                                                       256 non-null    float64
 49   PERCENT_TRUE(transactions.fl_c15)                                                       256 non-null    float64
 50   PERCENT_TRUE(transactions.fl_c6)                                                        256 non-null    float64
 51   PERCENT_TRUE(transactions.fl_c7)                                                        256 non-null    float64
 52   PERCENT_TRUE(transactions.fl_c8)                                                        256 non-null    float64
 53   PERCENT_TRUE(transactions.fl_c9)                                                        256 non-null    float64
 54   PERCENT_TRUE(transactions.tran_date_is_weekend)                                         256 non-null    float64
 55   SKEW(transactions.float_c16)                                                            254 non-null    float64
 56   SKEW(transactions.float_c17)                                                            254 non-null    float64
 57   SKEW(transactions.float_c18)                                                            254 non-null    float64
 58   SKEW(transactions.float_c20)                                                            254 non-null    float64
 59   SKEW(transactions.float_c21)                                                            254 non-null    float64
 60   SKEW(transactions.int_c19)                                                              254 non-null    float64
 61   STD(transactions.float_c16)                                                             254 non-null    float64
 62   STD(transactions.float_c17)                                                             254 non-null    float64
 63   STD(transactions.float_c18)                                                             254 non-null    float64
 64   STD(transactions.float_c20)                                                             254 non-null    float64
 65   STD(transactions.float_c21)                                                             254 non-null    float64
 66   STD(transactions.int_c19)                                                               254 non-null    float64
 67   SUM(transactions.float_c16)                                                             260 non-null    float64
 68   SUM(transactions.float_c17)                                                             260 non-null    float64
 69   SUM(transactions.float_c18)                                                             260 non-null    float64
 70   SUM(transactions.float_c20)                                                             260 non-null    float64
 71   SUM(transactions.float_c21)                                                             260 non-null    float64
 72   SUM(transactions.int_c19)                                                               260 non-null    float64
 73   TIME_SINCE_FIRST(transactions.tran_date, unit=days)                                     256 non-null    float64
 74   TIME_SINCE_LAST(transactions.tran_date, unit=days)                                      256 non-null    float64
 75   COUNT(activities)                                                                       260 non-null    Int64
 76   ENTROPY(activities.cat_c3)                                                              257 non-null    float64
 77   ENTROPY(activities.cat_c4)                                                              257 non-null    float64
 78   ENTROPY(activities.cat_c5)                                                              257 non-null    float64
 79   ENTROPY(activities.cat_c6)                                                              257 non-null    float64
 80   ENTROPY(activities.cat_c9)                                                              257 non-null    float64
 81   FIRST(activities.activity_date)                                                         257 non-null    datetime64[ns]
 82   KURTOSIS(activities.float_c11)                                                          260 non-null    float64
 83   KURTOSIS(activities.float_c12)                                                          260 non-null    float64
 84   KURTOSIS(activities.float_c14)                                                          260 non-null    float64
 85   LAST(activities.activity_date)                                                          257 non-null    datetime64[ns]
 86   MAX(activities.float_c11)                                                               257 non-null    float64
 87   MAX(activities.float_c12)                                                               257 non-null    float64
 88   MAX(activities.float_c14)                                                               257 non-null    float64
 89   MEAN(activities.activity_date_day_of_month_cos)                                         257 non-null    float64
 90   MEAN(activities.activity_date_day_of_month_sin)                                         257 non-null    float64
 91   MEAN(activities.activity_date_day_of_week_cos)                                          257 non-null    float64
 92   MEAN(activities.activity_date_day_of_week_sin)                                          257 non-null    float64
 93   MEAN(activities.float_c11)                                                              257 non-null    float64
 94   MEAN(activities.float_c12)                                                              257 non-null    float64
 95   MEAN(activities.float_c14)                                                              257 non-null    float64
 96   MIN(activities.float_c11)                                                               257 non-null    float64
 97   MIN(activities.float_c12)                                                               257 non-null    float64
 98   MIN(activities.float_c14)                                                               257 non-null    float64
 99   MODE(activities.cat_c3)                                                                 257 non-null    category
 100  MODE(activities.cat_c4)                                                                 257 non-null    category
 101  MODE(activities.cat_c5)                                                                 257 non-null    category
 102  MODE(activities.cat_c6)                                                                 257 non-null    category
 103  MODE(activities.cat_c9)                                                                 257 non-null    category
 104  NUM_UNIQUE(activities.cat_c3)                                                           257 non-null    Int64
 105  NUM_UNIQUE(activities.cat_c4)                                                           257 non-null    Int64
 106  NUM_UNIQUE(activities.cat_c5)                                                           257 non-null    Int64
 107  NUM_UNIQUE(activities.cat_c6)                                                           257 non-null    Int64
 108  NUM_UNIQUE(activities.cat_c9)                                                           257 non-null    Int64
 109  PERCENT_TRUE(activities.activity_date_is_weekend)                                       257 non-null    float64
 110  PERCENT_TRUE(activities.cat_c10)                                                        257 non-null    float64
 111  PERCENT_TRUE(activities.cat_c8)                                                         257 non-null    float64
 112  SKEW(activities.float_c11)                                                              257 non-null    float64
 113  SKEW(activities.float_c12)                                                              257 non-null    float64
 114  SKEW(activities.float_c14)                                                              257 non-null    float64
 115  STD(activities.float_c11)                                                               257 non-null    float64
 116  STD(activities.float_c12)                                                               257 non-null    float64
 117  STD(activities.float_c14)                                                               257 non-null    float64
 118  SUM(activities.float_c11)                                                               260 non-null    float64
 119  SUM(activities.float_c12)                                                               260 non-null    float64
 120  SUM(activities.float_c14)                                                               260 non-null    float64
 121  TIME_SINCE_FIRST(activities.activity_date, unit=days)                                   257 non-null    float64
 122  TIME_SINCE_LAST(activities.activity_date, unit=days)                                    257 non-null    float64
 123  COUNT(comms)                                                                            260 non-null    Int64
 124  ENTROPY(comms.cat_c2)                                                                   257 non-null    float64
 125  ENTROPY(comms.cat_c3)                                                                   257 non-null    float64
 126  ENTROPY(comms.cat_c4)                                                                   257 non-null    float64
 127  ENTROPY(comms.cat_c5)                                                                   257 non-null    float64
 128  FIRST(comms.contact_date)                                                               257 non-null    datetime64[ns]
 129  LAST(comms.contact_date)                                                                257 non-null    datetime64[ns]
 130  MEAN(comms.contact_date_day_of_month_cos)                                               257 non-null    float64
 131  MEAN(comms.contact_date_day_of_month_sin)                                               257 non-null    float64
 132  MEAN(comms.contact_date_day_of_week_cos)                                                257 non-null    float64
 133  MEAN(comms.contact_date_day_of_week_sin)                                                257 non-null    float64
 134  MODE(comms.cat_c2)                                                                      257 non-null    category
 135  MODE(comms.cat_c3)                                                                      257 non-null    category
 136  MODE(comms.cat_c4)                                                                      257 non-null    category
 137  MODE(comms.cat_c5)                                                                      257 non-null    category
 138  NUM_UNIQUE(comms.cat_c2)                                                                257 non-null    Int64
 139  NUM_UNIQUE(comms.cat_c3)                                                                257 non-null    Int64
 140  NUM_UNIQUE(comms.cat_c4)                                                                257 non-null    Int64
 141  NUM_UNIQUE(comms.cat_c5)                                                                257 non-null    Int64
 142  PERCENT_TRUE(comms.contact_date_is_weekend)                                             257 non-null    float64
 143  TIME_SINCE_FIRST(comms.contact_date, unit=days)                                         257 non-null    float64
 144  TIME_SINCE_LAST(comms.contact_date, unit=days)                                          257 non-null    float64
 145  DAY(communication_month)                                                                260 non-null    category
 146  IS_WEEKEND(communication_month)                                                         260 non-null    boolean
 147  MONTH(communication_month)                                                              260 non-null    category
 148  WEEKDAY(communication_month)                                                            260 non-null    category
 149  COUNT(transactions WHERE cat_c2 = 15)                                                   260 non-null    Int64
 150  COUNT(transactions WHERE tran_date_is_weekend = True)                                   260 non-null    Int64
 151  COUNT(transactions WHERE cat_c3 = 209)                                                  260 non-null    Int64
 152  COUNT(transactions WHERE cat_c2 = 4)                                                    260 non-null    Int64
 153  COUNT(transactions WHERE cat_c3 = 305)                                                  260 non-null    Int64
 154  COUNT(transactions WHERE cat_c3 = 314)                                                  260 non-null    Int64
 155  COUNT(transactions WHERE fl_c12 = True)                                                 260 non-null    Int64
 156  COUNT(transactions WHERE fl_c12 = False)                                                260 non-null    Int64
 157  COUNT(transactions WHERE int_c19 = -1)                                                  260 non-null    Int64
 158  COUNT(transactions WHERE tran_date_is_weekend = False)                                  260 non-null    Int64
 159  COUNT(transactions WHERE fl_c13 = False)                                                260 non-null    Int64
 160  COUNT(transactions WHERE fl_c14 = True)                                                 260 non-null    Int64
 161  COUNT(transactions WHERE cat_c2 = 14)                                                   260 non-null    Int64
 162  COUNT(transactions WHERE int_c19 = 1)                                                   260 non-null    Int64
 163  COUNT(transactions WHERE fl_c14 = False)                                                260 non-null    Int64
 164  COUNT(transactions WHERE fl_c13 = True)                                                 260 non-null    Int64
 165  COUNT(transactions WHERE cat_c3 = 303)                                                  260 non-null    Int64

None

## Compute with Dask

In [33]:
dask.config.set({
    'distributed.worker.memory.target': 0.70,
    'distributed.worker.memory.spill': 0.85,
    'distributed.worker.memory.pause': 0.90,
    'distributed.worker.memory.terminate': False,
})
client = Client(
    n_workers=6,
    threads_per_worker=1,
    memory_limit='12GB'
)
print(f'Dask Dashboard available at: {client.dashboard_link}')

Dask Dashboard available at: http://127.0.0.1:8787/status

In [34]:
CHUNKS = 18

chunks_nums = list(range(1, CHUNKS + 1))
b = dask.bag.from_sequence(chunks_nums, npartitions=len(chunks_nums))  # specify npartitions implicitly to avoid auto-grouping
b = b.map(entityset_from_partition, chunks_dir=CHUNKS_DIR)
b = b.map(feature_matrix_from_entityset)
display(b)

dask.bag<feature_matrix_from_entityset, npartitions=12>

In [37]:
with get_task_stream() as ts:
    result = b.compute()

history = pd.DataFrame(ts.data)
display(history)

,stimulus_id,worker,nbytes,type,typename,metadata,thread,startstops,status,key
0,task-finished-1764499312.372845,tcp://127.0.0.1:56067,104,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},26608,"({'action': 'compute', 'start': 1764499069.648...",OK,(entityset_from_partition-from_sequence-featur...
1,task-finished-1764499320.0882206,tcp://127.0.0.1:56082,104,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},13480,"({'action': 'compute', 'start': 1764499069.652...",OK,(entityset_from_partition-from_sequence-featur...
2,task-finished-1764499329.8171976,tcp://127.0.0.1:56071,104,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},29448,"({'action': 'compute', 'start': 1764499069.652...",OK,(entityset_from_partition-from_sequence-featur...
3,task-finished-1764499330.9458785,tcp://127.0.0.1:56079,104,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},39148,"({'action': 'compute', 'start': 1764499069.662...",OK,(entityset_from_partition-from_sequence-featur...
4,task-finished-1764499355.2944841,tcp://127.0.0.1:56072,104,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},3712,"({'action': 'compute', 'start': 1764499069.663...",OK,(entityset_from_partition-from_sequence-featur...
5,task-finished-1764499394.7087617,tcp://127.0.0.1:56070,104,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},40412,"({'action': 'compute', 'start': 1764499069.683...",OK,(entityset_from_partition-from_sequence-featur...
6,task-finished-1764499565.8992894,tcp://127.0.0.1:56082,104,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},13480,"({'action': 'compute', 'start': 1764499320.270...",OK,(entityset_from_partition-from_sequence-featur...
7,task-finished-1764499565.9043424,tcp://127.0.0.1:56082,104,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},13480,"({'action': 'compute', 'start': 1764499565.891...",OK,(feature_matrix_from_entityset-f1186aee9c83161...
8,task-finished-1764499565.9103992,tcp://127.0.0.1:56082,104,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},13480,"({'action': 'compute', 'start': 1764499565.898...",OK,(feature_matrix_from_entityset-f1186aee9c83161...
9,task-finished-1764499586.093483,tcp://127.0.0.1:56071,104,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},29448,"({'action': 'compute', 'start': 1764499329.927...",OK,(entityset_from_partition-from_sequence-featur...
10,task-finished-1764499586.0983515,tcp://127.0.0.1:56071,104,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},29448,"({'action': 'compute', 'start': 1764499586.109...",OK,(feature_matrix_from_entityset-f1186aee9c83161...
11,task-finished-1764499586.3720582,tcp://127.0.0.1:56071,104,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},29448,"({'action': 'compute', 'start': 1764499586.383...",OK,(feature_matrix_from_entityset-f1186aee9c83161...
12,task-finished-1764499612.9181316,tcp://127.0.0.1:56067,104,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},26608,"({'action': 'compute', 'start': 1764499312.446...",OK,(entityset_from_partition-from_sequence-featur...
13,task-finished-1764499612.922147,tcp://127.0.0.1:56067,104,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},26608,"({'action': 'compute', 'start': 1764499612.934...",OK,(feature_matrix_from_entityset-f1186aee9c83161...
14,task-finished-1764499612.9277632,tcp://127.0.0.1:56067,104,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},26608,"({'action': 'compute', 'start': 1764499612.940...",OK,(feature_matrix_from_entityset-f1186aee9c83161...
15,task-finished-1764499617.8810575,tcp://127.0.0.1:56079,104,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},39148,"({'action': 'compute', 'start': 1764499331.007...",OK,(entityset_from_partition-from_sequence-featur...
16,task-finished-1764499617.8841393,tcp://127.0.0.1:56079,104,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},39148,"({'action': 'compute', 'start': 1764499617.929...",OK,(feature_matrix_from_entityset-f1186aee9c83161...
17,task-finished-1764499617.887198,tcp://127.0.0.1:56079,104,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},39148,"({'action': 'compute', 'start': 1764499617.933...",OK,(feature_matrix_from_entityset-f1186aee9c83161...
18,task-finished-1764499658.667596,tcp://127.0.0.1:56070,104,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},40412,"({'action': 'compute', 'start': 1764499394.682...",OK,(entityset_from_partition-from_sequence-featur...
19,task-finished-1764499658.6707685,tcp://127.0.0.1:56070,104,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},40412,"({'action': 'compute', 'start': 1764499658.664...",OK,(feature_matrix_from_entityset-f1186aee9c83161...
20,task-finished-1764499658.820285,tcp://127.0.0.1:56070,104,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},40412,"({'action': 'compute', 'start': 1764499658.814...",OK,(feature_matrix_from_entityset-f1186aee9c83161...
21,task-finished-1764499685.2241466,tcp://127.0.0.1:56072,104,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},3712,"({'action': 'compute', 'start': 1764499355.356...",OK,(entityset_from_partition-from_sequence-featur...
22,task-finished-1764499685.2276335,tcp://127.0.0.1:56072,104,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},3712,"({'action': 'compute', 'start': 1764499685.230...",OK,(feature_matrix_from_entityset-f1186aee9c83161...
23,task-finished-1764499685.2947505,tcp://127.0.0.1:56072,104,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},3712,"({'action': 'compute', 'start': 1764499685.297...",OK,(feature_matrix_from_entityset-f1186aee9c83161...
24,task-finished-1764499685.333974,tcp://127.0.0.1:56079,376,b'\x80\x05\x95\x15\x00\x00\x00\x00\x00\x00\x00...,list,{},39148,"({'action': 'transfer', 'start': 1764499685.38...",OK,finalize-hlgfinalizecompute-eba5a95865f24c31bd...

In [39]:
client.close()

## Final Feature Matrix

In [29]:
fms = []
for i in chunks_nums:
    path = os.path.join(FM_OUTPUT_DIR, f'feature_matrix_{i}.csv')
    dtype_path = os.path.join(FM_OUTPUT_DIR, f'fm_dtypes_{i}.json')
    with open(dtype_path, 'r') as f:
        fm_dtype = json.load(f)
    date_cols = [col for col, dtype in fm_dtype.items() if dtype == 'datetime64[ns]']
    fm_dtype = {col: dtype for col, dtype in fm_dtype.items() if col not in date_cols}
    fms.append(pd.read_csv(path, dtype=fm_dtype, parse_dates=date_cols))

feature_matrix = pd.concat(fms, axis=0)
feature_matrix.to_csv('../data/features/features_auto_v5_raw.csv', index=False)

## Postprocessing

In [30]:
df = feature_matrix
df = df.reset_index()
# df = df.drop(columns=['client_id'])
df = df.dropna(subset=[
    # Transactions
    'tran_date_str_nunique', 'MEAN(transactions.float_c16 WHERE int_c19 = -1)', 'MEAN(transactions.float_c16 WHERE int_c19 = 1)',

    # Activities
    'activity_date_str_nunique', 'STD(activities.float_c11)',

    # Communications
    'contact_date_str_nunique',
])

# Convert dates to days from initial point
for date_col in df.select_dtypes(include=['datetime64[ns]']).columns:
    df[date_col + '_days'] = (df[date_col] - pd.to_datetime(MIN_DATE_STR)).dt.days
    df = df.drop(columns=[date_col])

# Encode cyclical features (e.g. day of week, month)
time_cols = ['DAY(communication_month)', 'MONTH(communication_month)', 'WEEKDAY(communication_month)']
df = df.astype({col: 'int8' for col in time_cols})
cyclical = CyclicalFeatures(variables=time_cols, drop_original=True)
df = cyclical.fit_transform(df)

# Encode categorical features
top_n_categ = {
    # Transactions
    'MODE(transactions.cat_c2)': 10,
    'MODE(transactions.cat_c3)': 10,
    'MODE(transactions.cat_c4)': 5,

    # Activities
    'MODE(activities.cat_c3)': 3,
    'MODE(activities.cat_c4)': 2,
    'MODE(activities.cat_c5)': 1,
    'MODE(activities.cat_c6)': 7,
    'MODE(activities.cat_c9)': 2,

    # Communications
    'MODE(comms.cat_c2)': 10,
    'MODE(comms.cat_c3)': 3,
    'MODE(comms.cat_c4)': 3,
    'MODE(comms.cat_c5)': 3,
}
for col, top_n in top_n_categ.items():
    ohe = OneHotEncoder(top_categories=top_n, variables=[col])
    df = ohe.fit_transform(df)

# Fill missing data
cols_to_fill_with_mean = [
    c for c in df.columns
    if (' WHERE ' in c and c.startswith('MEAN(')
        or c.startswith('SKEW(')
        or c.endswith('__skewness')
        or c.endswith('__kurtosis')
        or '__autocorrelation' in c
        or '__fft_aggregated__aggtype' in c)
]
ami = AddMissingIndicator(variables=cols_to_fill_with_mean)
df = ami.fit_transform(df)
mmi = MeanMedianImputer(imputation_method='mean', variables=cols_to_fill_with_mean)
df = mmi.fit_transform(df)

# Convert boolean values to 0 and 1
df = df.astype({col: 'int8' for col in df.select_dtypes(include=['bool']).columns})
df = df.astype({col: 'Int8' for col in df.select_dtypes(include=['boolean']).columns})

df.to_csv('../data/features/features_auto_v5.csv', index=False)
display(df.info(verbose=True, show_counts=True))
display(df.describe())

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\feature_engine\imputation\missing_indicator.py:165: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  X[indicator_names] = X[self.variables_].isna().astype(int)

<class 'pandas.core.frame.DataFrame'>
Index: 34837 entries, 0 to 36336
Data columns (total 1155 columns):
 #     Column                                                                                     Non-Null Count  Dtype
---    ------                                                                                     --------------  -----
 0     index                                                                                      34837 non-null  int64
 1     client_id                                                                                  34837 non-null  string
 2     target                                                                                     34837 non-null  int8
 3     is_train                                                                                   34837 non-null  int8
 4     COUNT(transactions)                                                                        34837 non-null  Int64
 5     ENTROPY(transactions.cat_c2)                                                               34837 non-null  float64
 6     ENTROPY(transactions.cat_c3)                                                               34837 non-null  float64
 7     ENTROPY(transactions.cat_c4)                                                               34837 non-null  float64
 8     KURTOSIS(transactions.float_c16)                                                           34837 non-null  float64
 9     KURTOSIS(transactions.float_c17)                                                           34837 non-null  float64
 10    KURTOSIS(transactions.float_c18)                                                           34837 non-null  float64
 11    KURTOSIS(transactions.float_c20)                                                           34837 non-null  float64
 12    KURTOSIS(transactions.float_c21)                                                           34837 non-null  float64
 13    KURTOSIS(transactions.int_c19)                                                             34837 non-null  float64
 14    MAX(transactions.float_c16)                                                                34837 non-null  float64
 15    MAX(transactions.float_c17)                                                                34837 non-null  float64
 16    MAX(transactions.float_c18)                                                                34837 non-null  float64
 17    MAX(transactions.float_c20)                                                                34837 non-null  float64
 18    MAX(transactions.float_c21)                                                                34837 non-null  float64
 19    MAX(transactions.int_c19)                                                                  34837 non-null  float64
 20    MEAN(transactions.float_c16)                                                               34837 non-null  float64
 21    MEAN(transactions.float_c17)                                                               34837 non-null  float64
 22    MEAN(transactions.float_c18)                                                               34837 non-null  float64
 23    MEAN(transactions.float_c20)                                                               34837 non-null  float64
 24    MEAN(transactions.float_c21)                                                               34837 non-null  float64
 25    MEAN(transactions.int_c19)                                                                 34837 non-null  float64
 26    MEAN(transactions.tran_date_day_of_month_cos)                                              34837 non-null  float64
 27    MEAN(transactions.tran_date_day_of_month_sin)                                              34837 non-null  float64
 28    MEAN(transactions.tran_date_day_of_week_cos)                                               34837 non-null  float64
 29    MEAN(transactions.tran_date_day_of_week_sin)                                               34837 non-null  float64
 30    MIN(transactions.float_c16)                                                                34837 non-null  float64
 31    MIN(transactions.float_c17)                                                                34837 non-null  float64
 32    MIN(transactions.float_c18)                                                                34837 non-null  float64
 33    MIN(transactions.float_c20)                                                                34837 non-null  float64
 34    MIN(transactions.float_c21)                                                                34837 non-null  float64
 35    MIN(transactions.int_c19)                                                                  34837 non-null  float64
 36    NUM_UNIQUE(transactions.cat_c2)                                                            34837 non-null  Int64
 37    NUM_UNIQUE(transactions.cat_c3)                                                            34837 non-null  Int64
 38    NUM_UNIQUE(transactions.cat_c4)                                                            34837 non-null  Int64
 39    PERCENT_TRUE(transactions.fl_c10)                                                          34837 non-null  float64
 40    PERCENT_TRUE(transactions.fl_c11)                                                          34837 non-null  float64
 41    PERCENT_TRUE(transactions.fl_c12)                                                          34837 non-null  float64
 42    PERCENT_TRUE(transactions.fl_c13)                                                          34837 non-null  float64
 43    PERCENT_TRUE(transactions.fl_c14)                                                          34837 non-null  float64
 44    PERCENT_TRUE(transactions.fl_c15)                                                          34837 non-null  float64
 45    PERCENT_TRUE(transactions.fl_c6)                                                           34837 non-null  float64
 46    PERCENT_TRUE(transactions.fl_c7)                                                           34837 non-null  float64
 47    PERCENT_TRUE(transactions.fl_c8)                                                           34837 non-null  float64
 48    PERCENT_TRUE(transactions.fl_c9)                                                           34837 non-null  float64
 49    PERCENT_TRUE(transactions.tran_date_is_weekend)                                            34837 non-null  float64
 50    SKEW(transactions.float_c16)                                                               34837 non-null  float64
 51    SKEW(transactions.float_c17)                                                               34837 non-null  float64
 52    SKEW(transactions.float_c18)                                                               34837 non-null  float64
 53    SKEW(transactions.float_c20)                                                               34837 non-null  float64
 54    SKEW(transactions.float_c21)                                                               34837 non-null  float64
 55    SKEW(transactions.int_c19)                                                                 34837 non-null  float64
 56    STD(transactions.float_c16)                                                                34837 non-null  float64
 57    STD(transactions.float_c17)                                                                34837 non-null  float64
 58    STD(transactions.float_c18)                                                                34837 non-null  float64
 59    STD(transactions.float_c20)                                                                34837 non-null  float64
 60    STD(transactions.float_c21)                                                                34837 non-null  float64
 61    STD(transactions.int_c19)                                                                  34837 non-null  float64
 62    SUM(transactions.float_c16)                                                                34837 non-null  float64
 63    SUM(transactions.float_c17)                                                                34837 non-null  float64
 64    SUM(transactions.float_c18)                                                                34837 non-null  float64
 65    SUM(transactions.float_c20)                                                                34837 non-null  float64
 66    SUM(transactions.float_c21)                                                                34837 non-null  float64
 67    SUM(transactions.int_c19)                                                                  34837 non-null  float64
 68    TIME_SINCE_FIRST(transactions.tran_date, unit=days)                                        34837 non-null  float64
 69    TIME_SINCE_LAST(transactions.tran_date, unit=days)                                         34837 non-null  float64
 70    COUNT(activities)                                                                          34837 non-null  Int64
 71    ENTROPY(activities.cat_c3)                                                                 34837 non-null  float64
 72    ENTROPY(activities.cat_c4)                                                                 34837 non-null  float64
 73    ENTROPY(activities.cat_c5)                                                                 34837 non-null  float64
 74    ENTROPY(activities.cat_c6)                                                                 34837 non-null  float64
 75    ENTROPY(activities.cat_c9)                                                                 34837 non-null  float64
 76    KURTOSIS(activities.float_c11)                                                             34837 non-null  float64
 77    KURTOSIS(activities.float_c12)                                                             34837 non-null  float64
 78    KURTOSIS(activities.float_c14)                                                             34837 non-null  float64
 79    MAX(activities.float_c11)                                                                  34837 non-null  float64
 80    MAX(activities.float_c12)                                                                  34837 non-null  float64
 81    MAX(activities.float_c14)                                                                  34837 non-null  float64
 82    MEAN(activities.activity_date_day_of_month_cos)                                            34837 non-null  float64
 83    MEAN(activities.activity_date_day_of_month_sin)                                            34837 non-null  float64
 84    MEAN(activities.activity_date_day_of_week_cos)                                             34837 non-null  float64
 85    MEAN(activities.activity_date_day_of_week_sin)                                             34837 non-null  float64
 86    MEAN(activities.float_c11)                                                                 34837 non-null  float64
 87    MEAN(activities.float_c12)                                                                 34837 non-null  float64
 88    MEAN(activities.float_c14)                                                                 34837 non-null  float64
 89    MIN(activities.float_c11)                                                                  34837 non-null  float64
 90    MIN(activities.float_c12)                                                                  34837 non-null  float64
 91    MIN(activities.float_c14)                                                                  34837 non-null  float64
 92    NUM_UNIQUE(activities.cat_c3)                                                              34837 non-null  Int64
 93    NUM_UNIQUE(activities.cat_c4)                                                              34837 non-null  Int64
 94    NUM_UNIQUE(activities.cat_c5)                                                              34837 non-null  Int64
 95    NUM_UNIQUE(activities.cat_c6)                                                              34837 non-null  Int64
 96    NUM_UNIQUE(activities.cat_c9)                                                              34837 non-null  Int64
 97    PERCENT_TRUE(activities.activity_date_is_weekend)                                          34837 non-null  float64
 98    PERCENT_TRUE(activities.cat_c10)                                                           34837 non-null  float64
 99    PERCENT_TRUE(activities.cat_c8)                                                            34837 non-null  float64
 100   SKEW(activities.float_c11)                                                                 34837 non-null  float64
 101   SKEW(activities.float_c12)                                                                 34837 non-null  float64
 102   SKEW(activities.float_c14)                                                                 34837 non-null  float64
 103   STD(activities.float_c11)                                                                  34837 non-null  float64
 104   STD(activities.float_c12)                                                                  34837 non-null  float64
 105   STD(activities.float_c14)                                                                  34837 non-null  float64
 106   SUM(activities.float_c11)                                                                  34837 non-null  float64
 107   SUM(activities.float_c12)                                                                  34837 non-null  float64
 108   SUM(activities.float_c14)                                                                  34837 non-null  float64
 109   TIME_SINCE_FIRST(activities.activity_date, unit=days)                                      34837 non-null  float64
 110   TIME_SINCE_LAST(activities.activity_date, unit=days)                                       34837 non-null  float64
 111   COUNT(comms)                                                                               34837 non-null  Int64
 112   ENTROPY(comms.cat_c2)                                                                      34837 non-null  float64
 113   ENTROPY(comms.cat_c3)                                                                      34837 non-null  float64
 114   ENTROPY(comms.cat_c4)                                                                      34837 non-null  float64
 115   ENTROPY(comms.cat_c5)                                                                      34837 non-null  float64
 116   MEAN(comms.contact_date_day_of_month_cos)                                                  34837 non-null  float64
 117   MEAN(comms.contact_date_day_of_month_sin)                                                  34837 non-null  float64
 118   MEAN(comms.contact_date_day_of_week_cos)                                                   34837 non-null  float64
 119   MEAN(comms.contact_date_day_of_week_sin)                                                   34837 non-null  float64
 120   NUM_UNIQUE(comms.cat_c2)                                                                   34837 non-null  Int64
 121   NUM_UNIQUE(comms.cat_c3)                                                                   34837 non-null  Int64
 122   NUM_UNIQUE(comms.cat_c4)                                                                   34837 non-null  Int64
 123   NUM_UNIQUE(comms.cat_c5)                                                                   34837 non-null  Int64
 124   PERCENT_TRUE(comms.contact_date_is_weekend)                                                34837 non-null  float64
 125   TIME_SINCE_FIRST(comms.contact_date, unit=days)                                            34837 non-null  float64
 126   TIME_SINCE_LAST(comms.contact_date, unit=days)                                             34837 non-null  float64
 127   IS_WEEKEND(communication_month)                                                            34837 non-null  int8
 128   COUNT(transactions WHERE cat_c2 = 15)                                                      34837 non-null  Int64
 129   COUNT(transactions WHERE fl_c13 = True)                                                    34837 non-null  Int64
 130   COUNT(transactions WHERE int_c19 = 1)                                                      34837 non-null  Int64
 131   COUNT(transactions WHERE fl_c14 = False)                                                   34837 non-null  Int64
 132   COUNT(transactions WHERE cat_c3 = 305)                                                     34837 non-null  Int64
 133   COUNT(transactions WHERE cat_c3 = 303)                                                     34837 non-null  Int64
 134   COUNT(transactions WHERE fl_c12 = False)                                                   34837 non-null  Int64
 135   COUNT(transactions WHERE cat_c2 = 4)                                                       34837 non-null  Int64
 136   COUNT(transactions WHERE fl_c12 = True)                                                    34837 non-null  Int64
 137   COUNT(transactions WHERE int_c19 = -1)                                                     34837 non-null  Int64
 138   COUNT(transactions WHERE fl_c13 = False)                                                   34837 non-null  Int64
 139   COUNT(transactions WHERE cat_c3 = 209)                                                     34837 non-null  Int64
 140   COUNT(transactions WHERE fl_c14 = True)                                                    34837 non-null  Int64
 141   COUNT(transactions WHERE cat_c3 = 314)                                                     34837 non-null  Int64
 142   COUNT(transactions WHERE tran_date_is_weekend = True)                                      34837 non-null  Int64
 143   COUNT(transactions WHERE tran_date_is_weekend = False)                                     34837 non-null  Int64
 144   COUNT(transactions WHERE cat_c2 = 14)                                                      34837 non-null  Int64
 145   MEAN(transactions.float_c16 WHERE cat_c2 = 15)                                             34837 non-null  float64
 146   MEAN(transactions.float_c16 WHERE fl_c13 = True)                                           34837 non-null  float64
 147   MEAN(transactions.float_c16 WHERE int_c19 = 1)                                             34837 non-null  float64
 148   MEAN(transactions.float_c16 WHERE fl_c14 = False)                                          34837 non-null  float64
 149   MEAN(transactions.float_c16 WHERE cat_c3 = 305)                                            34837 non-null  float64
 150   MEAN(transactions.float_c16 WHERE cat_c3 = 303)                                            34837 non-null  float64
 151   MEAN(transactions.float_c16 WHERE fl_c12 = False)                                          34837 non-null  float64
 152   MEAN(transactions.float_c16 WHERE cat_c2 = 4)                                              34837 non-null  float64
 153   MEAN(transactions.float_c16 WHERE fl_c12 = True)                                           34837 non-null  float64
 154   MEAN(transactions.float_c16 WHERE int_c19 = -1)                                            34837 non-null  float64
 155   MEAN(transactions.float_c16 WHERE fl_c13 = False)                                          34837 non-null  float64
 156   MEAN(transactions.float_c16 WHERE cat_c3 = 209)                                            34837 non-null  float64
 157   MEAN(transactions.float_c16 WHERE fl_c14 = True)                                           34837 non-null  float64
 158   MEAN(transactions.float_c16 WHERE cat_c3 = 314)                                            34837 non-null  float64
 159   MEAN(transactions.float_c16 WHERE tran_date_is_weekend = True)                             34837 non-null  float64
 160   MEAN(transactions.float_c16 WHERE tran_date_is_weekend = False)                            34837 non-null  float64

None

,index,target,is_train,COUNT(transactions),ENTROPY(transactions.cat_c2),ENTROPY(transactions.cat_c3),ENTROPY(transactions.cat_c4),KURTOSIS(transactions.float_c16),KURTOSIS(transactions.float_c17),KURTOSIS(transactions.float_c18),KURTOSIS(transactions.float_c20),KURTOSIS(transactions.float_c21),KURTOSIS(transactions.int_c19),MAX(transactions.float_c16),MAX(transactions.float_c17),MAX(transactions.float_c18),MAX(transactions.float_c20),MAX(transactions.float_c21),MAX(transactions.int_c19),MEAN(transactions.float_c16),MEAN(transactions.float_c17),MEAN(transactions.float_c18),MEAN(transactions.float_c20),MEAN(transactions.float_c21),MEAN(transactions.int_c19),MEAN(transactions.tran_date_day_of_month_cos),MEAN(transactions.tran_date_day_of_month_sin),MEAN(transactions.tran_date_day_of_week_cos),MEAN(transactions.tran_date_day_of_week_sin),MIN(transactions.float_c16),MIN(transactions.float_c17),MIN(transactions.float_c18),MIN(transactions.float_c20),MIN(transactions.float_c21),MIN(transactions.int_c19),NUM_UNIQUE(transactions.cat_c2),NUM_UNIQUE(transactions.cat_c3),NUM_UNIQUE(transactions.cat_c4),PERCENT_TRUE(transactions.fl_c10),PERCENT_TRUE(transactions.fl_c11),PERCENT_TRUE(transactions.fl_c12),PERCENT_TRUE(transactions.fl_c13),PERCENT_TRUE(transactions.fl_c14),PERCENT_TRUE(transactions.fl_c15),PERCENT_TRUE(transactions.fl_c6),PERCENT_TRUE(transactions.fl_c7),PERCENT_TRUE(transactions.fl_c8),PERCENT_TRUE(transactions.fl_c9),PERCENT_TRUE(transactions.tran_date_is_weekend),SKEW(transactions.float_c16),SKEW(transactions.float_c17),SKEW(transactions.float_c18),SKEW(transactions.float_c20),SKEW(transactions.float_c21),SKEW(transactions.int_c19),STD(transactions.float_c16),STD(transactions.float_c17),STD(transactions.float_c18),STD(transactions.float_c20),STD(transactions.float_c21),STD(transactions.int_c19),SUM(transactions.float_c16),SUM(transactions.float_c17),SUM(transactions.float_c18),SUM(transactions.float_c20),SUM(transactions.float_c21),SUM(transactions.int_c19),"TIME_SINCE_FIRST(transactions.tran_date, unit=days)","TIME_SINCE_LAST(transactions.tran_date, unit=days)",COUNT(activities),ENTROPY(activities.cat_c3),ENTROPY(activities.cat_c4),ENTROPY(activities.cat_c5),ENTROPY(activities.cat_c6),ENTROPY(activities.cat_c9),KURTOSIS(activities.float_c11),KURTOSIS(activities.float_c12),KURTOSIS(activities.float_c14),MAX(activities.float_c11),MAX(activities.float_c12),MAX(activities.float_c14),MEAN(activities.activity_date_day_of_month_cos),MEAN(activities.activity_date_day_of_month_sin),MEAN(activities.activity_date_day_of_week_cos),MEAN(activities.activity_date_day_of_week_sin),MEAN(activities.float_c11),MEAN(activities.float_c12),MEAN(activities.float_c14),MIN(activities.float_c11),MIN(activities.float_c12),MIN(activities.float_c14),NUM_UNIQUE(activities.cat_c3),NUM_UNIQUE(activities.cat_c4),NUM_UNIQUE(activities.cat_c5),NUM_UNIQUE(activities.cat_c6),NUM_UNIQUE(activities.cat_c9),PERCENT_TRUE(activities.activity_date_is_weekend),PERCENT_TRUE(activities.cat_c10),PERCENT_TRUE(activities.cat_c8),SKEW(activities.float_c11),SKEW(activities.float_c12),SKEW(activities.float_c14),STD(activities.float_c11),STD(activities.float_c12),STD(activities.float_c14),SUM(activities.float_c11),SUM(activities.float_c12),SUM(activities.float_c14),"TIME_SINCE_FIRST(activities.activity_date, unit=days)","TIME_SINCE_LAST(activities.activity_date, unit=days)",COUNT(comms),ENTROPY(comms.cat_c2),ENTROPY(comms.cat_c3),ENTROPY(comms.cat_c4),ENTROPY(comms.cat_c5),MEAN(comms.contact_date_day_of_month_cos),MEAN(comms.contact_date_day_of_month_sin),MEAN(comms.contact_date_day_of_week_cos),MEAN(comms.contact_date_day_of_week_sin),NUM_UNIQUE(comms.cat_c2),NUM_UNIQUE(comms.cat_c3),NUM_UNIQUE(comms.cat_c4),NUM_UNIQUE(comms.cat_c5),PERCENT_TRUE(comms.contact_date_is_weekend),"TIME_SINCE_FIRST(comms.contact_date, unit=days)","TIME_SINCE_LAST(comms.contact_date, unit=days)",IS_WEEKEND(communication_month),COUNT(transactions WHERE cat_c2 = 15),COUNT(transactions WHERE fl_c13 = True),COUNT(transactions WHERE int_c19 = 1),COUNT(transactions WHERE fl_c14 = False),COUNT(transactions WHERE cat_c3 = 305),COUNT(transactions WHERE cat_c3 = 303),COUNT(transactions WHERE fl_c12 = False),COUNT(transactions WHERE cat_c2 = 4),COUNT(transactions WHERE fl_c12 = True),COUNT(transactions WHERE int_c19 = -1),COUNT(transactions WHERE fl_c13 = False),COUNT(transactions WHERE cat_c3 = 209),COUNT(transactions WHERE fl_c14 = True),COUNT(transactions WHERE cat_c3 = 314),COUNT(transactions WHERE tran_date_is_weekend = True),COUNT(transactions WHERE tran_date_is_weekend = False),COUNT(transactions WHERE cat_c2 = 14),MEAN(transactions.float_c16 WHERE cat_c2 = 15),MEAN(transactions.float_c16 WHERE fl_c13 = True),MEAN(transactions.float_c16 WHERE int_c19 = 1),MEAN(transactions.float_c16 WHERE fl_c14 = False),MEAN(transactions.float_c16 WHERE cat_c3 = 305),MEAN(transactions.float_c16 WHERE cat_c3 = 303),MEAN(transactions.float_c16 WHERE fl_c12 = False),MEAN(transactions.float_c16 WHERE cat_c2 = 4),MEAN(transactions.float_c16 WHERE fl_c12 = True),MEAN(transactions.float_c16 WHERE int_c19 = -1),MEAN(transactions.float_c16 WHERE fl_c13 = False),MEAN(transactions.float_c16 WHERE cat_c3 = 209),MEAN(transactions.float_c16 WHERE fl_c14 = True),MEAN(transactions.float_c16 WHERE cat_c3 = 314),MEAN(transactions.float_c16 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c16 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c16 WHERE cat_c2 = 14),MEAN(transactions.float_c17 WHERE cat_c2 = 15),MEAN(transactions.float_c17 WHERE fl_c13 = True),MEAN(transactions.float_c17 WHERE int_c19 = 1),MEAN(transactions.float_c17 WHERE fl_c14 = False),MEAN(transactions.float_c17 WHERE cat_c3 = 305),MEAN(transactions.float_c17 WHERE cat_c3 = 303),MEAN(transactions.float_c17 WHERE fl_c12 = False),MEAN(transactions.float_c17 WHERE cat_c2 = 4),MEAN(transactions.float_c17 WHERE fl_c12 = True),MEAN(transactions.float_c17 WHERE int_c19 = -1),MEAN(transactions.float_c17 WHERE fl_c13 = False),MEAN(transactions.float_c17 WHERE cat_c3 = 209),MEAN(transactions.float_c17 WHERE fl_c14 = True),MEAN(transactions.float_c17 WHERE cat_c3 = 314),MEAN(transactions.float_c17 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c17 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c17 WHERE cat_c2 = 14),MEAN(transactions.float_c18 WHERE cat_c2 = 15),MEAN(transactions.float_c18 WHERE fl_c13 = True),MEAN(transactions.float_c18 WHERE int_c19 = 1),MEAN(transactions.float_c18 WHERE fl_c14 = False),MEAN(transactions.float_c18 WHERE cat_c3 = 305),MEAN(transactions.float_c18 WHERE cat_c3 = 303),MEAN(transactions.float_c18 WHERE fl_c12 = False),MEAN(transactions.float_c18 WHERE cat_c2 = 4),MEAN(transactions.float_c18 WHERE fl_c12 = True),MEAN(transactions.float_c18 WHERE int_c19 = -1),MEAN(transactions.float_c18 WHERE fl_c13 = False),MEAN(transactions.float_c18 WHERE cat_c3 = 209),MEAN(transactions.float_c18 WHERE fl_c14 = True),MEAN(transactions.float_c18 WHERE cat_c3 = 314),MEAN(transactions.float_c18 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c18 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c18 WHERE cat_c2 = 14),MEAN(transactions.float_c20 WHERE cat_c2 = 15),MEAN(transactions.float_c20 WHERE fl_c13 = True),MEAN(transactions.float_c20 WHERE int_c19 = 1),MEAN(transactions.float_c20 WHERE fl_c14 = False),MEAN(transactions.float_c20 WHERE cat_c3 = 305),MEAN(transactions.float_c20 WHERE cat_c3 = 303),MEAN(transactions.float_c20 WHERE fl_c12 = False),MEAN(transactions.float_c20 WHERE cat_c2 = 4),MEAN(transactions.float_c20 WHERE fl_c12 = True),MEAN(transactions.float_c20 WHERE int_c19 = -1),MEAN(transactions.float_c20 WHERE fl_c13 = False),MEAN(transactions.float_c20 WHERE cat_c3 = 209),MEAN(transactions.float_c20 WHERE fl_c14 = True),MEAN(transactions.float_c20 WHERE cat_c3 = 314),MEAN(transactions.float_c20 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c20 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c20 WHERE cat_c2 = 14),MEAN(transactions.float_c21 WHERE cat_c2 = 15),MEAN(transactions.float_c21 WHERE fl_c13 = True),MEAN(transactions.float_c21 WHERE int_c19 = 1),MEAN(transactions.float_c21 WHERE fl_c14 = False),MEAN(transactions.float_c21 WHERE cat_c3 = 305),MEAN(transactions.float_c21 WHERE cat_c3 = 303),MEAN(transactions.float_c21 WHERE fl_c12 = False),MEAN(transactions.float_c21 WHERE cat_c2 = 4),MEAN(transactions.float_c21 WHERE fl_c12 = True),MEAN(transactions.float_c21 WHERE int_c19 = -1),MEAN(transactions.float_c21 WHERE fl_c13 = False),MEAN(transactions.float_c21 WHERE cat_c3 = 209),MEAN(transactions.float_c21 WHERE fl_c14 = True),MEAN(transactions.float_c21 WHERE cat_c3 = 314),MEAN(transactions.float_c21 WHERE tran_date_is_weekend = True),MEAN(transactions.float_c21 WHERE tran_date_is_weekend = False),MEAN(transactions.float_c21 WHERE cat_c2 = 14),MEAN(transactions.int_c19 WHERE cat_c2 = 15),MEAN(transactions.int_c19 WHERE fl_c13 = True),MEAN(transactions.int_c19 WHERE fl_c14 = False),MEAN(transactions.int_c19 WHERE cat_c3 = 305),MEAN(transactions.int_c19 WHERE cat_c3 = 303),MEAN(transactions.int_c19 WHERE fl_c12 = False),MEAN(transactions.int_c19 WHERE cat_c2 = 4),MEAN(transactions.int_c19 WHERE fl_c12 = True),MEAN(transactions.int_c19 WHERE fl_c13 = False),MEAN(transactions.int_c19 WHERE cat_c3 = 209),MEAN(transactions.int_c19 WHERE fl_c14 = True),MEAN(transactions.int_c19 WHERE cat_c3 = 314),MEAN(transactions.int_c19 WHERE tran_date_is_weekend = True),MEAN(transactions.int_c19 WHERE tran_date_is_weekend = False),MEAN(transactions.int_c19 WHERE cat_c2 = 14),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 15),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c13 = True),MEAN(transactions.tran_date_day_of_month_cos WHERE int_c19 = 1),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c14 = False),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 305),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 303),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c12 = False),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 4),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c12 = True),MEAN(transactions.tran_date_day_of_month_cos WHERE int_c19 = -1),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c13 = False),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 209),MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c14 = True),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 314),MEAN(transactions.tran_date_day_of_month_cos WHERE tran_date_is_weekend = True),MEAN(transactions.tran_date_day_of_month_cos WHERE tran_date_is_weekend = False),MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 14),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 15),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c13 = True),MEAN(transactions.tran_date_day_of_month_sin WHERE int_c19 = 1),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c14 = False),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 305),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 303),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c12 = False),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 4),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c12 = True),MEAN(transactions.tran_date_day_of_month_sin WHERE int_c19 = -1),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c13 = False),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 209),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c14 = True),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 314),MEAN(transactions.tran_date_day_of_month_sin WHERE tran_date_is_weekend = True),MEAN(transactions.tran_date_day_of_month_sin WHERE tran_date_is_weekend = False),MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 14),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 15),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c13 = True),MEAN(transactions.tran_date_day_of_week_cos WHERE int_c19 = 1),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c14 = False),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 305),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 303),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c12 = False),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 4),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c12 = True),MEAN(transactions.tran_date_day_of_week_cos WHERE int_c19 = -1),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c13 = False),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 209),MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c14 = True),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 314),MEAN(transactions.tran_date_day_of_week_cos WHERE tran_date_is_weekend = True),MEAN(transactions.tran_date_day_of_week_cos WHERE tran_date_is_weekend = False),MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 14),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 15),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c13 = True),MEAN(transactions.tran_date_day_of_week_sin WHERE int_c19 = 1),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c14 = False),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 305),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 303),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c12 = False),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 4),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c12 = True),MEAN(transactions.tran_date_day_of_week_sin WHERE int_c19 = -1),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c13 = False),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 209),MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c14 = True),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 314),MEAN(transactions.tran_date_day_of_week_sin WHERE tran_date_is_weekend = True),MEAN(transactions.tran_date_day_of_week_sin WHERE tran_date_is_weekend = False),MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 14),SUM(transactions.float_c16 WHERE cat_c2 = 15),SUM(transactions.float_c16 WHERE fl_c13 = True),SUM(transactions.float_c16 WHERE int_c19 = 1),SUM(transactions.float_c16 WHERE fl_c14 = False),SUM(transactions.float_c16 WHERE cat_c3 = 305),SUM(transactions.float_c16 WHERE cat_c3 = 303),SUM(transactions.float_c16 WHERE fl_c12 = False),SUM(transactions.float_c16 WHERE cat_c2 = 4),SUM(transactions.float_c16 WHERE fl_c12 = True),SUM(transactions.float_c16 WHERE int_c19 = -1),SUM(transactions.float_c16 WHERE fl_c13 = False),SUM(transactions.float_c16 WHERE cat_c3 = 209),SUM(transactions.float_c16 WHERE fl_c14 = True),SUM(transactions.float_c16 WHERE cat_c3 = 314),SUM(transactions.float_c16 WHERE tran_date_is_weekend = True),SUM(transactions.float_c16 WHERE tran_date_is_weekend = False),SUM(transactions.float_c16 WHERE cat_c2 = 14),SUM(transactions.float_c17 WHERE cat_c2 = 15),SUM(transactions.float_c17 WHERE fl_c13 = True),SUM(transactions.float_c17 WHERE int_c19 = 1),SUM(transactions.float_c17 WHERE fl_c14 = False),SUM(transactions.float_c17 WHERE cat_c3 = 305),SUM(transactions.float_c17 WHERE cat_c3 = 303),SUM(transactions.float_c17 WHERE fl_c12 = False),SUM(transactions.float_c17 WHERE cat_c2 = 4),SUM(transactions.float_c17 WHERE fl_c12 = True),SUM(transactions.float_c17 WHERE int_c19 = -1),SUM(transactions.float_c17 WHERE fl_c13 = False),SUM(transactions.float_c17 WHERE cat_c3 = 209),SUM(transactions.float_c17 WHERE fl_c14 = True),SUM(transactions.float_c17 WHERE cat_c3 = 314),SUM(transactions.float_c17 WHERE tran_date_is_weekend = True),SUM(transactions.float_c17 WHERE tran_date_is_weekend = False),SUM(transactions.float_c17 WHERE cat_c2 = 14),SUM(transactions.float_c18 WHERE cat_c2 = 15),SUM(transactions.float_c18 WHERE fl_c13 = True),SUM(transactions.float_c18 WHERE int_c19 = 1),SUM(transactions.float_c18 WHERE fl_c14 = False),SUM(transactions.float_c18 WHERE cat_c3 = 305),SUM(transactions.float_c18 WHERE cat_c3 = 303),SUM(transactions.float_c18 WHERE fl_c12 = False),SUM(transactions.float_c18 WHERE cat_c2 = 4),SUM(transactions.float_c18 WHERE fl_c12 = True),SUM(transactions.float_c18 WHERE int_c19 = -1),SUM(transactions.float_c18 WHERE fl_c13 = False),SUM(transactions.float_c18 WHERE cat_c3 = 209),SUM(transactions.float_c18 WHERE fl_c14 = True),SUM(transactions.float_c18 WHERE cat_c3 = 314),SUM(transactions.float_c18 WHERE tran_date_is_weekend = True),SUM(transactions.float_c18 WHERE tran_date_is_weekend = False),SUM(transactions.float_c18 WHERE cat_c2 = 14),SUM(transactions.float_c20 WHERE cat_c2 = 15),SUM(transactions.float_c20 WHERE fl_c13 = True),SUM(transactions.float_c20 WHERE int_c19 = 1),SUM(transactions.float_c20 WHERE fl_c14 = False),SUM(transactions.float_c20 WHERE cat_c3 = 305),SUM(transactions.float_c20 WHERE cat_c3 = 303),SUM(transactions.float_c20 WHERE fl_c12 = False),SUM(transactions.float_c20 WHERE cat_c2 = 4),SUM(transactions.float_c20 WHERE fl_c12 = True),SUM(transactions.float_c20 WHERE int_c19 = -1),SUM(transactions.float_c20 WHERE fl_c13 = False),SUM(transactions.float_c20 WHERE cat_c3 = 209),SUM(transactions.float_c20 WHERE fl_c14 = True),SUM(transactions.float_c20 WHERE cat_c3 = 314),SUM(transactions.float_c20 WHERE tran_date_is_weekend = True),SUM(transactions.float_c20 WHERE tran_date_is_weekend = False),SUM(transactions.float_c20 WHERE cat_c2 = 14),SUM(transactions.float_c21 WHERE cat_c2 = 15),SUM(transactions.float_c21 WHERE fl_c13 = True),SUM(transactions.float_c21 WHERE int_c19 = 1),SUM(transactions.float_c21 WHERE fl_c14 = False),SUM(transactions.float_c21 WHERE cat_c3 = 305),SUM(transactions.float_c21 WHERE cat_c3 = 303),SUM(transactions.float_c21 WHERE fl_c12 = False),SUM(transactions.float_c21 WHERE cat_c2 = 4),SUM(transactions.float_c21 WHERE fl_c12 = True),SUM(transactions.float_c21 WHERE int_c19 = -1),SUM(transactions.float_c21 WHERE fl_c13 = False),SUM(transactions.float_c21 WHERE cat_c3 = 209),SUM(transactions.float_c21 WHERE fl_c14 = True),SUM(transactions.float_c21 WHERE cat_c3 = 314),SUM(transactions.float_c21 WHERE tran_date_is_weekend = True),SUM(transactions.float_c21 WHERE tran_date_is_weekend = False),SUM(transactions.float_c21 WHERE cat_c2 = 14),SUM(transactions.int_c19 WHERE cat_c2 = 15),SUM(transactions.int_c19 WHERE fl_c13 = True),SUM(transactions.int_c19 WHERE fl_c14 = False),SUM(transactions.int_c19 WHERE cat_c3 = 305),SUM(transactions.int_c19 WHERE cat_c3 = 303),SUM(transactions.int_c19 WHERE fl_c12 = False),SUM(transactions.int_c19 WHERE cat_c2 = 4),SUM(transactions.int_c19 WHERE fl_c12 = True),SUM(transactions.int_c19 WHERE fl_c13 = False),SUM(transactions.int_c19 WHERE cat_c3 = 209),SUM(transactions.int_c19 WHERE fl_c14 = True),SUM(transactions.int_c19 WHERE cat_c3 = 314),SUM(transactions.int_c19 WHERE tran_date_is_weekend = True),SUM(transactions.int_c19 WHERE tran_date_is_weekend = False),SUM(transactions.int_c19 WHERE cat_c2 = 14),COUNT(activities WHERE activity_date_is_weekend = False),COUNT(activities WHERE cat_c10 = False),COUNT(activities WHERE cat_c4 = 2),COUNT(activities WHERE cat_c8 = True),COUNT(activities WHERE cat_c6 = 2),COUNT(activities WHERE cat_c4 = 1),COUNT(activities WHERE cat_c9 = 2),COUNT(activities WHERE cat_c6 = 1),COUNT(activities WHERE cat_c10 = True),COUNT(activities WHERE cat_c8 = False),COUNT(activities WHERE activity_date_is_weekend = True),COUNT(activities WHERE cat_c6 = 3),COUNT(activities WHERE cat_c9 = 1),MEAN(activities.activity_date_day_of_month_cos WHERE activity_date_is_weekend = False),MEAN(activities.activity_date_day_of_month_cos WHERE cat_c10 = False),MEAN(activities.activity_date_day_of_month_cos WHERE cat_c4 = 2),MEAN(activities.activity_date_day_of_month_cos WHERE cat_c8 = True),MEAN(activities.activity_date_day_of_month_cos WHERE cat_c6 = 2),MEAN(activities.activity_date_day_of_month_cos WHERE cat_c4 = 1),MEAN(activities.activity_date_day_of_month_cos WH