# Automated Feature Engineering (featuretools)

In [1]:
import featuretools as ft
import pandas as pd
from IPython.display import display
from feature_engine.creation import CyclicalFeatures
from feature_engine.imputation import AddMissingIndicator, ArbitraryNumberImputer
# from dask.distributed import LocalCluster
from featuretools.primitives import TimeSinceFirst, TimeSinceLast
from woodwork.logical_types import Boolean, BooleanNullable, Categorical, Unknown

## Create EntitySet

In [2]:
es = ft.EntitySet(id='client_data')

In [3]:
"""Clients"""

from utils import read_clients

CLIENTS_PATH = '../data/initial/CLIENTS.csv'
# CLIENTS_PATH = '../data/samples/CLIENTS_SAMPLE.csv'

clients_df = read_clients(CLIENTS_PATH, encode_bool=False)
clients_df = clients_df.astype({'client_id': str})
display(clients_df.info())

es.add_dataframe(
    clients_df,
    dataframe_name='clients',
    index='client_id',
    time_index='communication_month',
    # make_index=True,
    logical_types={
        'client_id': Unknown,
        'target': Boolean,
        'is_train': Boolean,
    }
)
display(es['clients'].ww.schema)
display(es)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36337 entries, 0 to 36336
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   client_id            36337 non-null  object
 1   target               36337 non-null  bool
 2   is_train             36337 non-null  bool
 3   communication_month  36337 non-null  datetime64[ns]
dtypes: bool(2), datetime64[ns](1), object(1)
memory usage: 638.9+ KB

None

                    Logical Type Semantic Tag(s)
Column
client_id                Unknown       ['index']
target                   Boolean              []
is_train                 Boolean              []
communication_month     Datetime  ['time_index']

Entityset: client_data
  DataFrames:
    clients [Rows: 36337, Columns: 4]
  Relationships:
    No relationships

In [4]:
"""Transactions"""

from utils import read_transactions

TRANSACTIONS_PATH = '../data/initial/TRANSACTIONS.csv'
# TRANSACTIONS_PATH = '../data/samples/TRANSACTIONS_SAMPLE.csv'

transactions_df = read_transactions(TRANSACTIONS_PATH, encode_bool=False)
transactions_df = transactions_df.astype({'client_id': str})
transactions_df['tran_date_str'] = transactions_df['tran_date'].dt.date.astype(str)  # used later for feature generation
display(transactions_df.info())

es.add_dataframe(
    transactions_df,
    dataframe_name='transactions',
    index='transaction_id',
    time_index='tran_date',
    make_index=True,
    logical_types={
        'client_id': Unknown,
        'cat_c2': Categorical,
        'cat_c3': Categorical,
        'cat_c4': Categorical,
        'tran_date_str': Categorical,
        'fl_c6': Boolean,
        'fl_c7': Boolean,
        'fl_c8': Boolean,
        'fl_c9': Boolean,
        'fl_c10': Boolean,
        'fl_c11': Boolean,
        'fl_c12': Boolean,
        'fl_c13': Boolean,
        'fl_c14': Boolean,
        'fl_c15': Boolean,
    }
)
display(es['transactions'].ww.schema)

es.add_relationship('clients', 'client_id', 'transactions', 'client_id')
display(es)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15654626 entries, 0 to 15654625
Data columns (total 22 columns):
 #   Column         Dtype
---  ------         -----
 0   client_id      object
 1   tran_date      datetime64[ns]
 2   cat_c2         int32
 3   cat_c3         int32
 4   cat_c4         int32
 5   fl_c6          bool
 6   fl_c7          bool
 7   fl_c8          bool
 8   fl_c9          bool
 9   fl_c10         bool
 10  fl_c11         bool
 11  fl_c12         bool
 12  fl_c13         bool
 13  fl_c14         bool
 14  fl_c15         bool
 15  float_c16      float32
 16  float_c17      float32
 17  float_c18      float32
 18  int_c19        int32
 19  float_c20      float32
 20  float_c21      float32
 21  tran_date_str  object
dtypes: bool(10), datetime64[ns](1), float32(5), int32(4), object(2)
memory usage: 1.0+ GB

None

               Logical Type Semantic Tag(s)
Column
transaction_id      Integer       ['index']
client_id           Unknown              []
tran_date          Datetime  ['time_index']
cat_c2          Categorical    ['category']
cat_c3          Categorical    ['category']
cat_c4          Categorical    ['category']
fl_c6               Boolean              []
fl_c7               Boolean              []
fl_c8               Boolean              []
fl_c9               Boolean              []
fl_c10              Boolean              []
fl_c11              Boolean              []
fl_c12              Boolean              []
fl_c13              Boolean              []
fl_c14              Boolean              []
fl_c15              Boolean              []
float_c16            Double     ['numeric']
float_c17            Double     ['numeric']
float_c18            Double     ['numeric']
int_c19             Integer     ['numeric']
float_c20            Double     ['numeric']
float_c21            Double     ['numeric']
tran_date_str   Categorical    ['category']

Entityset: client_data
  DataFrames:
    clients [Rows: 36337, Columns: 4]
    transactions [Rows: 15654626, Columns: 23]
  Relationships:
    transactions.client_id -> clients.client_id

In [5]:
"""App activity"""

from utils import preprocess_app_activity_data, read_app_activity

ACTIVITY_PATH = '../data/initial/APP_ACTIVITY.csv'
# ACTIVITY_PATH = '../data/samples/APP_ACTIVITY_SAMPLE.csv'

activities_df = read_app_activity(ACTIVITY_PATH, encode_bool=False)
activities_df = activities_df.astype({'client_id': str})
activities_df = preprocess_app_activity_data(activities_df)
activities_df['activity_date_str'] = activities_df['activity_date'].dt.date.astype(str)  # used later for feature generation
display(activities_df.info(show_counts=True))

es.add_dataframe(
    activities_df,
    dataframe_name='activities',
    index='activity_id',
    time_index='activity_date',
    make_index=True,
    logical_types={
        'client_id': Unknown,
        'cat_c3': Categorical,
        'cat_c4': Categorical,
        'cat_c5': Categorical,
        'cat_c6': Categorical,
        'cat_c9': Categorical,
        'activity_date_str': Categorical,
        'cat_c8': BooleanNullable,
        'cat_c10': BooleanNullable,
    }
)
display(es['activities'].ww.schema)

es.add_relationship('clients', 'client_id', 'activities', 'client_id')
display(es)

<class 'pandas.core.frame.DataFrame'>
Index: 17665187 entries, 0 to 17738591
Data columns (total 14 columns):
 #   Column             Non-Null Count     Dtype
---  ------             --------------     -----
 0   client_id          17665187 non-null  object
 1   device_id          17665187 non-null  uint64
 2   activity_date      17665187 non-null  datetime64[ns]
 3   cat_c3             17665187 non-null  int32
 4   cat_c4             17665187 non-null  int32
 5   cat_c5             17665187 non-null  int32
 6   cat_c6             17665187 non-null  int32
 7   cat_c8             17665187 non-null  boolean
 8   cat_c9             17665187 non-null  int32
 9   cat_c10            17665187 non-null  boolean
 10  float_c11          17665187 non-null  float32
 11  float_c12          17665187 non-null  float32
 12  float_c14          17665187 non-null  float32
 13  activity_date_str  17665187 non-null  object
dtypes: boolean(2), datetime64[ns](1), float32(3), int32(5), object(2), uint64(1)
memory usage: 1.3+ GB

None

                      Logical Type Semantic Tag(s)
Column
activity_id                Integer       ['index']
client_id                  Unknown              []
device_id                  Integer     ['numeric']
activity_date             Datetime  ['time_index']
cat_c3                 Categorical    ['category']
cat_c4                 Categorical    ['category']
cat_c5                 Categorical    ['category']
cat_c6                 Categorical    ['category']
cat_c8             BooleanNullable              []
cat_c9                 Categorical    ['category']
cat_c10            BooleanNullable              []
float_c11                   Double     ['numeric']
float_c12                   Double     ['numeric']
float_c14                   Double     ['numeric']
activity_date_str      Categorical    ['category']

Entityset: client_data
  DataFrames:
    clients [Rows: 36337, Columns: 4]
    transactions [Rows: 15654626, Columns: 23]
    activities [Rows: 17665187, Columns: 15]
  Relationships:
    transactions.client_id -> clients.client_id
    activities.client_id -> clients.client_id

In [6]:
"""Communications"""

from utils import read_communications

COMMS_PATH = '../data/initial/COMMUNICATIONS.csv'
# COMMS_PATH = '../data/samples/COMMUNICATIONS_SAMPLE.csv'

comms_df = read_communications(COMMS_PATH)
comms_df = comms_df.astype({'client_id': str})
# comms_df = preprocess_comm_data(comms)
# comms_df = encode_comm_categories(comms)
comms_df['contact_date_str'] = comms_df['contact_date'].dt.date.astype(str)  # used later for feature generation
display(comms_df.info(show_counts=True))

es.add_dataframe(
    comms_df,
    dataframe_name='comms',
    index='comm_id',
    time_index='contact_date',
    make_index=True,
    logical_types={
        'client_id': Unknown,
        'cat_c2': Categorical,
        'cat_c3': Categorical,
        'cat_c4': Categorical,
        'cat_c5': Categorical,
        'contact_date_str': Categorical,
    }
)
display(es['comms'].ww.schema)

es.add_relationship('clients', 'client_id', 'comms', 'client_id')
display(es)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19586922 entries, 0 to 19586921
Data columns (total 7 columns):
 #   Column            Non-Null Count     Dtype
---  ------            --------------     -----
 0   client_id         19586922 non-null  object
 1   contact_date      19586922 non-null  datetime64[ns]
 2   cat_c2            19586922 non-null  category
 3   cat_c3            19586922 non-null  int32
 4   cat_c4            19586922 non-null  int32
 5   cat_c5            19586917 non-null  category
 6   contact_date_str  19586922 non-null  object
dtypes: category(2), datetime64[ns](1), int32(2), object(2)
memory usage: 653.8+ MB

None

                 Logical Type Semantic Tag(s)
Column
comm_id               Integer       ['index']
client_id             Unknown              []
contact_date         Datetime  ['time_index']
cat_c2            Categorical    ['category']
cat_c3            Categorical    ['category']
cat_c4            Categorical    ['category']
cat_c5            Categorical    ['category']
contact_date_str  Categorical    ['category']

Entityset: client_data
  DataFrames:
    clients [Rows: 36337, Columns: 4]
    transactions [Rows: 15654626, Columns: 23]
    activities [Rows: 17665187, Columns: 15]
    comms [Rows: 19586922, Columns: 8]
  Relationships:
    transactions.client_id -> clients.client_id
    activities.client_id -> clients.client_id
    comms.client_id -> clients.client_id

## Deep Feature Synthesis

In [7]:
MIN_DATE_STR = '2024-12-01 00:00:00'
MAX_DATE_STR = '2025-09-01 00:00:00'

agg_primitives = [
    'count',
    'first', 'last', TimeSinceFirst(unit='days'), TimeSinceLast(unit='days'),  # for date
    'mean', 'std', 'min', 'max', 'sum',   # for numeric
    'num_unique', 'mode',  # for categorical
    'percent_true',  # for boolean
]

primitive_options = {}
for agg in agg_primitives:
    primitive_options[agg]= {'include_columns': {}}
    for df_name in ('transactions', 'activities', 'comms'):
         if agg not in ('count',) and isinstance(agg, str):
             primitive_options[agg]['include_columns'][df_name] = []

In [8]:
"""Transactions"""

df_name = 'transactions'

# Date
for prim in ['first', 'last']:
    primitive_options[prim]['include_columns'][df_name] += ['tran_date']

# Numeric
num_cols = ['float_c16', 'float_c17', 'float_c18', 'int_c19', 'float_c20', 'float_c21']
for prim in ['mean', 'std', 'min', 'max', 'sum']:
    primitive_options[prim]['include_columns'][df_name] += num_cols
    # primitive_options[prim] = {'include_columns': {df_name: num_cols}}

# Categorical
cat_cols = list(es[df_name].ww.select(Categorical).columns)
for prim in ['num_unique', 'mode']:
    # primitive_options['mode'] = {'include_columns': {df_name: cat_cols}}
    primitive_options[prim]['include_columns'][df_name] += cat_cols
primitive_options['mode']['include_columns'][df_name].remove('tran_date_str')  # delete redundant primitive

# Boolean
bool_cols = list(es[df_name].ww.select([Boolean, BooleanNullable]).columns)
# primitive_options['percent_true'] = {'include_columns': {df_name: bool_cols}}
primitive_options['percent_true']['include_columns'][df_name] += bool_cols


# Interesting values
interesting_values = {
    'int_c19': [-1, 1],
}
es.add_interesting_values(dataframe_name=df_name, values=interesting_values)

In [9]:
"""Activities"""

df_name = 'activities'

# Date
for prim in ['first', 'last']:
    primitive_options[prim]['include_columns'][df_name] += ['activity_date']

# Numeric
num_cols = ['float_c11', 'float_c12', 'float_c13', 'float_c14', 'float_c15', 'float_c16', 'float_c17']
for prim in ['mean', 'std', 'min', 'max', 'sum']:
    primitive_options[prim]['include_columns'][df_name] += num_cols

# Categorical
cat_cols = list(es[df_name].ww.select(Categorical).columns)
for prim in ['num_unique', 'mode']:
    primitive_options[prim]['include_columns'][df_name] += cat_cols
primitive_options['mode']['include_columns'][df_name].remove('activity_date_str')  # delete redundant primitive

# Boolean
bool_cols = list(es[df_name].ww.select([Boolean, BooleanNullable]).columns)
primitive_options['percent_true']['include_columns'][df_name] += bool_cols


# Interesting values
interesting_values = {
    'cat_c9': [1, 2],
}
es.add_interesting_values(dataframe_name=df_name, values=interesting_values)

In [10]:
"""Communications"""

df_name = 'comms'

# Date
for prim in ['first', 'last']:
    primitive_options[prim]['include_columns'][df_name] += ['contact_date']

# Categorical
cat_cols = list(es[df_name].ww.select(Categorical).columns)
for prim in ['num_unique', 'mode']:
    primitive_options[prim]['include_columns'][df_name] += cat_cols
primitive_options['mode']['include_columns'][df_name].remove('contact_date_str')  # delete redundant primitive

In [11]:
# cluster = LocalCluster()
feature_matrix, feature_defs = ft.dfs(
    entityset=es,
    target_dataframe_name='clients',
    # ignore_dataframes=['transactions', 'comms'],
    # cutoff_time=transactions_df['tran_date'].max(),
    cutoff_time=MAX_DATE_STR,
    agg_primitives=agg_primitives,
    trans_primitives=['day', 'month', 'weekday', 'is_weekend'],
    where_primitives=['mean', 'sum', 'count'],
    primitive_options=primitive_options,
    max_depth=1,
    verbose=True,
    features_only=False,
    n_jobs=1,
    # chunk_size=.05,
    # dask_kwargs={'cluster': cluster.scheduler.address},
    return_types='all',
)
feature_matrix_enc, features_enc = ft.encode_features(
    feature_matrix,
    feature_defs,
    top_n={
        # Transactions
        'MODE(transactions.cat_c2)': 10,
        'MODE(transactions.cat_c3)': 10,
        'MODE(transactions.cat_c4)': 5,

        # Activities
        'MODE(activities.cat_c3)': 3,
        'MODE(activities.cat_c4)': 2,
        'MODE(activities.cat_c5)': 1,
        'MODE(activities.cat_c6)': 7,
        'MODE(activities.cat_c9)': 2,

        # Communications
        'MODE(comms.cat_c2)': 10,
        'MODE(comms.cat_c3)': 3,
        'MODE(comms.cat_c4)': 3,
        'MODE(comms.cat_c5)': 3,
    },
    to_encode=[
        'MODE(transactions.cat_c2)', 'MODE(transactions.cat_c3)', 'MODE(transactions.cat_c4)',  # transactions
        'MODE(activities.cat_c3)', 'MODE(activities.cat_c4)', 'MODE(activities.cat_c5)', 'MODE(activities.cat_c6)', 'MODE(activities.cat_c9)',  # activities
        'MODE(comms.cat_c2)', 'MODE(comms.cat_c3)', 'MODE(comms.cat_c4)', 'MODE(comms.cat_c5)',  # communications
    ],
)
ft.save_features(features_enc, '../data/features/feature_definitions_v1.json')
feature_matrix_enc.to_csv('../data/features/features_auto_v1_raw.csv', index=False)

display(features_enc)
display(feature_matrix_enc.head())
display(feature_matrix_enc.info(verbose=True, show_counts=True))
display(feature_matrix_enc.describe())

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\primitives\options_utils.py:39: UserWarning: Column 'float_c13' not in dataframe 'activities'
  warnings.warn(
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\primitives\options_utils.py:39: UserWarning: Column 'float_c15' not in dataframe 'activities'
  warnings.warn(
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\primitives\options_utils.py:39: UserWarning: Column 'float_c16' not in dataframe 'activities'
  warnings.warn(
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\primitives\options_utils.py:39: UserWarning: Column 'float_c17' not in dataframe 'activities'
  warnings.warn(

Built 142 features
Elapsed: 00:23 | Progress:  28%|██▊

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:763: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ).apply(wrap)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function min at 0x0000022D3887E340> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x0000022D3887D800> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function std at 0x0000022D3887ED40> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function max at 0x0000022D3887E200> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x0000022D3887EC00> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 00:43 | Progress:  43%|████▎

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x0000022D3887D800> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x0000022D3887EC00> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 00:46 | Progress:  47%|████▋

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x0000022D3887D800> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 00:47 | Progress:  51%|█████

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x0000022D3887EC00> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 00:56 | Progress:  52%|█████▏

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:763: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ).apply(wrap)

Elapsed: 01:20 | Progress:  59%|█████▊

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:763: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  ).apply(wrap)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function max at 0x0000022D3887E200> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x0000022D3887D800> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function std at 0x0000022D3887ED40> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function min at 0x0000022D3887E340> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x0000022D3887EC00> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 01:43 | Progress:  84%|████████▍

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x0000022D3887D800> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x0000022D3887EC00> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)

Elapsed: 01:47 | Progress:  95%|█████████▌

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function mean at 0x0000022D3887EC00> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ).agg(to_agg)
C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\featuretools\computational_backends\feature_set_calculator.py:785: FutureWarning: The provided callable <function sum at 0x0000022D3887D800> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  ).agg(to_agg)

Elapsed: 01:49 | Progress: 100%|██████████

[<Feature: target>,
 <Feature: is_train>,
 <Feature: communication_month>,
 <Feature: COUNT(transactions)>,
 <Feature: FIRST(transactions.tran_date)>,
 <Feature: LAST(transactions.tran_date)>,
 <Feature: MAX(transactions.float_c16)>,
 <Feature: MAX(transactions.float_c17)>,
 <Feature: MAX(transactions.float_c18)>,
 <Feature: MAX(transactions.float_c20)>,
 <Feature: MAX(transactions.float_c21)>,
 <Feature: MAX(transactions.int_c19)>,
 <Feature: MEAN(transactions.float_c16)>,
 <Feature: MEAN(transactions.float_c17)>,
 <Feature: MEAN(transactions.float_c18)>,
 <Feature: MEAN(transactions.float_c20)>,
 <Feature: MEAN(transactions.float_c21)>,
 <Feature: MEAN(transactions.int_c19)>,
 <Feature: MIN(transactions.float_c16)>,
 <Feature: MIN(transactions.float_c17)>,
 <Feature: MIN(transactions.float_c18)>,
 <Feature: MIN(transactions.float_c20)>,
 <Feature: MIN(transactions.float_c21)>,
 <Feature: MIN(transactions.int_c19)>,
 <Feature: MODE(transactions.cat_c2) = 14>,
 <Feature: MODE(transactions.cat_c2) = 15>,
 <Feature: MODE(transactions.cat_c2) = 4>,
 <Feature: MODE(transactions.cat_c2) = 1>,
 <Feature: MODE(transactions.cat_c2) = 17>,
 <Feature: MODE(transactions.cat_c2) = 18>,
 <Feature: MODE(transactions.cat_c2) = 2>,
 <Feature: MODE(transactions.cat_c2) = 21>,
 <Feature: MODE(transactions.cat_c2) = 13>,
 <Feature: MODE(transactions.cat_c2) = 23>,
 <Feature: MODE(transactions.cat_c2) is unknown>,
 <Feature: MODE(transactions.cat_c3) = 314>,
 <Feature: MODE(transactions.cat_c3) = 209>,
 <Feature: MODE(transactions.cat_c3) = 305>,
 <Feature: MODE(transactions.cat_c3) = 303>,
 <Feature: MODE(transactions.cat_c3) = 149>,
 <Feature: MODE(transactions.cat_c3) = 312>,
 <Feature: MODE(transactions.cat_c3) = 304>,
 <Feature: MODE(transactions.cat_c3) = 356>,
 <Feature: MODE(transactions.cat_c3) = 311>,
 <Feature: MODE(transactions.cat_c3) = 252>,
 <Feature: MODE(transactions.cat_c3) is unknown>,
 <Feature: MODE(transactions.cat_c4) = 31>,
 <Feature: MODE(transactions.cat_c4) = 792>,
 <Feature: MODE(transactions.cat_c4) = 840>,
 <Feature: MODE(transactions.cat_c4) = 616>,
 <Feature: MODE(transactions.cat_c4) = 372>,
 <Feature: MODE(transactions.cat_c4) is unknown>,
 <Feature: NUM_UNIQUE(transactions.cat_c2)>,
 <Feature: NUM_UNIQUE(transactions.cat_c3)>,
 <Feature: NUM_UNIQUE(transactions.cat_c4)>,
 <Feature: NUM_UNIQUE(transactions.tran_date_str)>,
 <Feature: PERCENT_TRUE(transactions.fl_c10)>,
 <Feature: PERCENT_TRUE(transactions.fl_c11)>,
 <Feature: PERCENT_TRUE(transactions.fl_c12)>,
 <Feature: PERCENT_TRUE(transactions.fl_c13)>,
 <Feature: PERCENT_TRUE(transactions.fl_c14)>,
 <Feature: PERCENT_TRUE(transactions.fl_c15)>,
 <Feature: PERCENT_TRUE(transactions.fl_c6)>,
 <Feature: PERCENT_TRUE(transactions.fl_c7)>,
 <Feature: PERCENT_TRUE(transactions.fl_c8)>,
 <Feature: PERCENT_TRUE(transactions.fl_c9)>,
 <Feature: STD(transactions.float_c16)>,
 <Feature: STD(transactions.float_c17)>,
 <Feature: STD(transactions.float_c18)>,
 <Feature: STD(transactions.float_c20)>,
 <Feature: STD(transactions.float_c21)>,
 <Feature: STD(transactions.int_c19)>,
 <Feature: SUM(transactions.float_c16)>,
 <Feature: SUM(transactions.float_c17)>,
 <Feature: SUM(transactions.float_c18)>,
 <Feature: SUM(transactions.float_c20)>,
 <Feature: SUM(transactions.float_c21)>,
 <Feature: SUM(transactions.int_c19)>,
 <Feature: TIME_SINCE_FIRST(transactions.tran_date, unit=days)>,
 <Feature: TIME_SINCE_LAST(transactions.tran_date, unit=days)>,
 <Feature: COUNT(activities)>,
 <Feature: FIRST(activities.activity_date)>,
 <Feature: LAST(activities.activity_date)>,
 <Feature: MAX(activities.float_c11)>,
 <Feature: MAX(activities.float_c12)>,
 <Feature: MAX(activities.float_c14)>,
 <Feature: MEAN(activities.float_c11)>,
 <Feature: MEAN(activities.float_c12)>,
 <Feature: MEAN(activities.float_c14)>,
 <Feature: MIN(activities.float_c11)>,
 <Feature: MIN(activities.float_c12)>,
 <Feature: MIN(activities.float_c14)>,
 <Feature: MODE(activities.cat_c3) = 21>,
 <Feature: MODE(activities.cat_c3) = 13>,
 <Feature: MODE(activities.cat_c3) = 10>,
 <Feature: MODE(activities.cat_c3) is unknown>,
 <Feature: MODE(activities.cat_c4) = 1>,
 <Feature: MODE(activities.cat_c4) = 2>,
 <Feature: MODE(activities.cat_c4) is unknown>,
 <Feature: MODE(activities.cat_c5) = 3>,
 <Feature: MODE(activities.cat_c5) is unknown>,
 <Feature: MODE(activities.cat_c6) = 1>,
 <Feature: MODE(activities.cat_c6) = 2>,
 <Feature: MODE(activities.cat_c6) = 3>,
 <Feature: MODE(activities.cat_c6) = 4>,
 <Feature: MODE(activities.cat_c6) = 8>,
 <Feature: MODE(activities.cat_c6) = 5>,
 <Feature: MODE(activities.cat_c6) = 6>,
 <Feature: MODE(activities.cat_c6) is unknown>,
 <Feature: MODE(activities.cat_c9) = 1>,
 <Feature: MODE(activities.cat_c9) = 2>,
 <Feature: MODE(activities.cat_c9) is unknown>,
 <Feature: NUM_UNIQUE(activities.activity_date_str)>,
 <Feature: NUM_UNIQUE(activities.cat_c3)>,
 <Feature: NUM_UNIQUE(activities.cat_c4)>,
 <Feature: NUM_UNIQUE(activities.cat_c5)>,
 <Feature: NUM_UNIQUE(activities.cat_c6)>,
 <Feature: NUM_UNIQUE(activities.cat_c9)>,
 <Feature: PERCENT_TRUE(activities.cat_c10)>,
 <Feature: PERCENT_TRUE(activities.cat_c8)>,
 <Feature: STD(activities.float_c11)>,
 <Feature: STD(activities.float_c12)>,
 <Feature: STD(activities.float_c14)>,
 <Feature: SUM(activities.float_c11)>,
 <Feature: SUM(activities.float_c12)>,
 <Feature: SUM(activities.float_c14)>,
 <Feature: TIME_SINCE_FIRST(activities.activity_date, unit=days)>,
 <Feature: TIME_SINCE_LAST(activities.activity_date, unit=days)>,
 <Feature: COUNT(comms)>,
 <Feature: FIRST(comms.contact_date)>,
 <Feature: LAST(comms.contact_date)>,
 <Feature: MODE(comms.cat_c2) = S3565>,
 <Feature: MODE(comms.cat_c2) = S3677>,
 <Feature: MODE(comms.cat_c2) = S3564>,
 <Feature: MODE(comms.cat_c2) = S3769>,
 <Feature: MODE(comms.cat_c2) = S3566>,
 <Feature: MODE(comms.cat_c2) = S3736>,
 <Feature: MODE(comms.cat_c2) = S27888>,
 <Feature: MODE(comms.cat_c2) = S7474>,
 <Feature: MODE(comms.cat_c2) = S3563>,
 <Feature: MODE(comms.cat_c2) = B12034>,
 <Feature: MODE(comms.cat_c2) is unknown>,
 <Feature: MODE(comms.cat_c3) = 4>,
 <Feature: MODE(comms.cat_c3) = 1>,
 <Feature: MODE(comms.cat_c3) = 3>,
 <Feature: MODE(comms.cat_c3) is unknown>,
 <Feature: MODE(comms.cat_c4) = 1>,
 <Feature: MODE(comms.cat_c4) = 2>,
 <Feature: MODE(comms.cat_c4) = 3>,
 <Feature: MODE(comms.cat_c4) is unknown>,
 <Feature: MODE(comms.cat_c5) = 4>,
 <Feature: MODE(comms.cat_c5) = 0>,
 <Feature: MODE(comms.cat_c5) = 7>,
 <Feature: MODE(comms.cat_c5) is unknown>,
 <Feature: NUM_UNIQUE(comms.cat_c2)>,
 <Feature: NUM_UNIQUE(comms.cat_c3)>,
 <Feature: NUM_UNIQUE(comms.cat_c4)>,
 <Feature: NUM_UNIQUE(comms.cat_c5)>,
 <Feature: NUM_UNIQUE(comms.contact_date_str)>,
 <Feature: TIME_SINCE_FIRST(comms.contact_date, unit=days)>,
 <Feature: TIME_SINCE_LAST(comms.contact_date, unit=days)>,
 <Feature: DAY(communication_month)>,
 <Feature: IS_WEEKEND(communication_month)>,
 <Feature: MONTH(communication_month)>,
 <Feature: WEEKDAY(communication_month)>,
 <Feature: COUNT(transactions WHERE int_c19 = -1)>,
 <Feature: COUNT(transactions WHERE int_c19 = 1)>,
 <Feature: MEAN(transactions.float_c16 WHERE int_c19 = -1)>,
 <Feature: MEAN(transactions.float_c16 WHERE int_c19 = 1)>,
 <Feature: MEAN(transactions.float_c17 WHERE int_c19 = -1)>,
 <Feature: MEAN(transactions.float_c17 WHERE int_c19 = 1)>,
 <Feature: MEAN(transactions.float_c18 WHERE int_c19 = -1)>,
 <Feature: MEAN(transactions.float_c18 WHERE int_c19 = 1)>,
 <Feature: MEAN(transactions.float_c20 WHERE int_c19 = -1)>,
 <Feature: MEAN(transactions.float_c20 WHERE int_c19 = 1)>,
 <Feature: MEAN(transactions.float_c21 WHERE int_c19 = -1)>,
 <Feature: MEAN(transactions.float_c21 WHERE int_c19 = 1)>,
 <Feature: SUM(transactions.float_c16 WHERE int_c19 = -1)>,
 <Feature: SUM(transactions.float_c16 WHERE int_c19 = 1)>,
 <Feature: SUM(transactions.float_c17 WHERE int_c19 = -1)>,
 <Feature: SUM(transactions.float_c17 WHERE int_c19 = 1)>,
 <Feature: SUM(transactions.float_c18 WHERE int_c19 = -1)>,
 <Feature: SUM(transactions.float_c18 WHERE int_c19 = 1)>,
 <Feature: SUM(transactions.float_c20 WHERE int_c19 = -1)>,
 <Feature: SUM(transactions.float_c20 WHERE int_c19 = 1)>,
 <Feature: SUM(transactions.float_c21 WHERE int_c19 = -1)>,
 <Feature: SUM(transactions.float_c21 WHERE int_c19 = 1)>,
 <Feature: COUNT(activities WHERE cat_c9 = 2)>,
 <Feature: COUNT(activities WHERE cat_c9 = 1)>,
 <Feature: MEAN(activities.float_c11 WHERE cat_c9 = 2)>,
 <Feature: MEAN(activities.float_c11 WHERE cat_c9 = 1)>,
 <Feature: MEAN(activities.float_c12 WHERE cat_c9 = 2)>,
 <Feature: MEAN(activities.float_c12 WHERE cat_c9 = 1)>,
 <Feature: MEAN(activities.float_c14 WHERE cat_c9 = 2)>,
 <Feature: MEAN(activities.float_c14 WHERE cat_c9 = 1)>,
 <Feature: SUM(activities.float_c11 WHERE cat_c9 = 2)>,
 <Feature: SUM(activities.float_c11 WHERE cat_c9 = 1)>,
 <Feature: SUM(activities.float_c12 WHERE cat_c9 = 2)>,
 <Feature: SUM(activities.float_c12 WHERE cat_c9 = 1)>,
 <Feature: SUM(activities.float_c14 WHERE cat_c9 = 2)>,
 <Feature: SUM(activities.float_c14 WHERE cat_c9 = 1)>]

,target,is_train,communication_month,COUNT(transactions),FIRST(transactions.tran_date),LAST(transactions.tran_date),MAX(transactions.float_c16),MAX(transactions.float_c17),MAX(transactions.float_c18),MAX(transactions.float_c20),...,MODE(comms.cat_c3) = 3,MODE(comms.cat_c3) is unknown,MODE(comms.cat_c4) = 1,MODE(comms.cat_c4) = 2,MODE(comms.cat_c4) = 3,MODE(comms.cat_c4) is unknown,MODE(comms.cat_c5) = 4,MODE(comms.cat_c5) = 0,MODE(comms.cat_c5) = 7,MODE(comms.cat_c5) is unknown
client_id,,,,,,,,,,,,,,,,,,,,,
10000196835799192770,True,True,2025-06-01,348,2024-12-01,2025-05-31,2.15,0.00,600.0,0.0,...,False,False,True,False,False,False,True,False,False,False
1000332954451581031,False,True,2025-06-01,832,2024-12-02,2025-05-31,0.11,3.50,850.0,0.0,...,False,False,True,False,False,False,True,False,False,False
10003496907835962037,True,True,2025-06-01,235,2024-12-02,2025-05-31,2.24,0.00,600.0,0.0,...,False,False,True,False,False,False,True,False,False,False
10004128521937951167,True,True,2025-06-01,1155,2024-12-01,2025-05-31,46.09,3.95,2000.0,0.0,...,False,False,True,False,False,False,True,False,False,False
1000774139179871611,False,True,2025-06-01,182,2024-12-01,2025-05-27,0.00,0.00,740.0,0.0,...,False,False,True,False,False,False,True,False,False,False

<class 'pandas.core.frame.DataFrame'>
Index: 36337 entries, 10000196835799192770 to 9997098291014878881
Data columns (total 201 columns):
 #    Column                                                 Non-Null Count  Dtype
---   ------                                                 --------------  -----
 0    target                                                 36337 non-null  bool
 1    is_train                                               36337 non-null  bool
 2    communication_month                                    36337 non-null  datetime64[ns]
 3    COUNT(transactions)                                    36337 non-null  Int64
 4    FIRST(transactions.tran_date)                          35070 non-null  datetime64[ns]
 5    LAST(transactions.tran_date)                           35070 non-null  datetime64[ns]
 6    MAX(transactions.float_c16)                            35070 non-null  float64
 7    MAX(transactions.float_c17)                            35070 non-null  float64
 8    MAX(transactions.float_c18)                            35070 non-null  float64
 9    MAX(transactions.float_c20)                            35070 non-null  float64
 10   MAX(transactions.float_c21)                            35070 non-null  float64
 11   MAX(transactions.int_c19)                              35070 non-null  float64
 12   MEAN(transactions.float_c16)                           35070 non-null  float64
 13   MEAN(transactions.float_c17)                           35070 non-null  float64
 14   MEAN(transactions.float_c18)                           35070 non-null  float64
 15   MEAN(transactions.float_c20)                           35070 non-null  float64
 16   MEAN(transactions.float_c21)                           35070 non-null  float64
 17   MEAN(transactions.int_c19)                             35070 non-null  float64
 18   MIN(transactions.float_c16)                            35070 non-null  float64
 19   MIN(transactions.float_c17)                            35070 non-null  float64
 20   MIN(transactions.float_c18)                            35070 non-null  float64
 21   MIN(transactions.float_c20)                            35070 non-null  float64
 22   MIN(transactions.float_c21)                            35070 non-null  float64
 23   MIN(transactions.int_c19)                              35070 non-null  float64
 24   NUM_UNIQUE(transactions.cat_c2)                        35070 non-null  Int64
 25   NUM_UNIQUE(transactions.cat_c3)                        35070 non-null  Int64
 26   NUM_UNIQUE(transactions.cat_c4)                        35070 non-null  Int64
 27   NUM_UNIQUE(transactions.tran_date_str)                 35070 non-null  Int64
 28   PERCENT_TRUE(transactions.fl_c10)                      35070 non-null  float64
 29   PERCENT_TRUE(transactions.fl_c11)                      35070 non-null  float64
 30   PERCENT_TRUE(transactions.fl_c12)                      35070 non-null  float64
 31   PERCENT_TRUE(transactions.fl_c13)                      35070 non-null  float64
 32   PERCENT_TRUE(transactions.fl_c14)                      35070 non-null  float64
 33   PERCENT_TRUE(transactions.fl_c15)                      35070 non-null  float64
 34   PERCENT_TRUE(transactions.fl_c6)                       35070 non-null  float64
 35   PERCENT_TRUE(transactions.fl_c7)                       35070 non-null  float64
 36   PERCENT_TRUE(transactions.fl_c8)                       35070 non-null  float64
 37   PERCENT_TRUE(transactions.fl_c9)                       35070 non-null  float64
 38   STD(transactions.float_c16)                            34989 non-null  float64
 39   STD(transactions.float_c17)                            34989 non-null  float64
 40   STD(transactions.float_c18)                            34989 non-null  float64
 41   STD(transactions.float_c20)                            34989 non-null  float64
 42   STD(transactions.float_c21)                            34989 non-null  float64
 43   STD(transactions.int_c19)                              34989 non-null  float64
 44   SUM(transactions.float_c16)                            36337 non-null  float64
 45   SUM(transactions.float_c17)                            36337 non-null  float64
 46   SUM(transactions.float_c18)                            36337 non-null  float64
 47   SUM(transactions.float_c20)                            36337 non-null  float64
 48   SUM(transactions.float_c21)                            36337 non-null  float64
 49   SUM(transactions.int_c19)                              36337 non-null  float64
 50   TIME_SINCE_FIRST(transactions.tran_date, unit=days)    35070 non-null  float64
 51   TIME_SINCE_LAST(transactions.tran_date, unit=days)     35070 non-null  float64
 52   COUNT(activities)                                      36337 non-null  Int64
 53   FIRST(activities.activity_date)                        35669 non-null  datetime64[ns]
 54   LAST(activities.activity_date)                         35669 non-null  datetime64[ns]
 55   MAX(activities.float_c11)                              35669 non-null  float64
 56   MAX(activities.float_c12)                              35669 non-null  float64
 57   MAX(activities.float_c14)                              35669 non-null  float64
 58   MEAN(activities.float_c11)                             35669 non-null  float64
 59   MEAN(activities.float_c12)                             35669 non-null  float64
 60   MEAN(activities.float_c14)                             35669 non-null  float64
 61   MIN(activities.float_c11)                              35669 non-null  float64
 62   MIN(activities.float_c12)                              35669 non-null  float64
 63   MIN(activities.float_c14)                              35669 non-null  float64
 64   NUM_UNIQUE(activities.activity_date_str)               35669 non-null  Int64
 65   NUM_UNIQUE(activities.cat_c3)                          35669 non-null  Int64
 66   NUM_UNIQUE(activities.cat_c4)                          35669 non-null  Int64
 67   NUM_UNIQUE(activities.cat_c5)                          35669 non-null  Int64
 68   NUM_UNIQUE(activities.cat_c6)                          35669 non-null  Int64
 69   NUM_UNIQUE(activities.cat_c9)                          35669 non-null  Int64
 70   PERCENT_TRUE(activities.cat_c10)                       35669 non-null  float64
 71   PERCENT_TRUE(activities.cat_c8)                        35669 non-null  float64
 72   STD(activities.float_c11)                              35623 non-null  float64
 73   STD(activities.float_c12)                              35623 non-null  float64
 74   STD(activities.float_c14)                              35623 non-null  float64
 75   SUM(activities.float_c11)                              36337 non-null  float64
 76   SUM(activities.float_c12)                              36337 non-null  float64
 77   SUM(activities.float_c14)                              36337 non-null  float64
 78   TIME_SINCE_FIRST(activities.activity_date, unit=days)  35669 non-null  float64
 79   TIME_SINCE_LAST(activities.activity_date, unit=days)   35669 non-null  float64
 80   COUNT(comms)                                           36337 non-null  Int64
 81   FIRST(comms.contact_date)                              35805 non-null  datetime64[ns]
 82   LAST(comms.contact_date)                               35805 non-null  datetime64[ns]
 83   NUM_UNIQUE(comms.cat_c2)                               35805 non-null  Int64
 84   NUM_UNIQUE(comms.cat_c3)                               35805 non-null  Int64
 85   NUM_UNIQUE(comms.cat_c4)                               35805 non-null  Int64
 86   NUM_UNIQUE(comms.cat_c5)                               35805 non-null  Int64
 87   NUM_UNIQUE(comms.contact_date_str)                     35805 non-null  Int64
 88   TIME_SINCE_FIRST(comms.contact_date, unit=days)        35805 non-null  float64
 89   TIME_SINCE_LAST(comms.contact_date, unit=days)         35805 non-null  float64
 90   DAY(communication_month)                               36337 non-null  category
 91   IS_WEEKEND(communication_month)                        36337 non-null  boolean
 92   MONTH(communication_month)                             36337 non-null  category
 93   WEEKDAY(communication_month)                           36337 non-null  category
 94   COUNT(transactions WHERE int_c19 = -1)                 36337 non-null  Int64
 95   COUNT(transactions WHERE int_c19 = 1)                  36337 non-null  Int64
 96   MEAN(transactions.float_c16 WHERE int_c19 = -1)        34910 non-null  float64
 97   MEAN(transactions.float_c16 WHERE int_c19 = 1)         35015 non-null  float64
 98   MEAN(transactions.float_c17 WHERE int_c19 = -1)        34910 non-null  float64
 99   MEAN(transactions.float_c17 WHERE int_c19 = 1)         35015 non-null  float64
 100  MEAN(transactions.float_c18 WHERE int_c19 = -1)        34910 non-null  float64
 101  MEAN(transactions.float_c18 WHERE int_c19 = 1)         35015 non-null  float64
 102  MEAN(transactions.float_c20 WHERE int_c19 = -1)        34910 non-null  float64
 103  MEAN(transactions.float_c20 WHERE int_c19 = 1)         35015 non-null  float64
 104  MEAN(transactions.float_c21 WHERE int_c19 = -1)        34910 non-null  float64
 105  MEAN(transactions.float_c21 WHERE int_c19 = 1)         35015 non-null  float64
 106  SUM(transactions.float_c16 WHERE int_c19 = -1)         36337 non-null  float64
 107  SUM(transactions.float_c16 WHERE int_c19 = 1)          36337 non-null  float64
 108  SUM(transactions.float_c17 WHERE int_c19 = -1)         36337 non-null  float64
 109  SUM(transactions.float_c17 WHERE int_c19 = 1)          36337 non-null  float64
 110  SUM(transactions.float_c18 WHERE int_c19 = -1)         36337 non-null  float64
 111  SUM(transactions.float_c18 WHERE int_c19 = 1)          36337 non-null  float64
 112  SUM(transactions.float_c20 WHERE int_c19 = -1)         36337 non-null  float64
 113  SUM(transactions.float_c20 WHERE int_c19 = 1)          36337 non-null  float64
 114  SUM(transactions.float_c21 WHERE int_c19 = -1)         36337 non-null  float64
 115  SUM(transactions.float_c21 WHERE int_c19 = 1)          36337 non-null  float64
 116  COUNT(activities WHERE cat_c9 = 2)                     36337 non-null  Int64
 117  COUNT(activities WHERE cat_c9 = 1)                     36337 non-null  Int64
 118  MEAN(activities.float_c11 WHERE cat_c9 = 2)            15687 non-null  float64
 119  MEAN(activities.float_c11 WHERE cat_c9 = 1)            22449 non-null  float64
 120  MEAN(activities.float_c12 WHERE cat_c9 = 2)            15687 non-null  float64
 121  MEAN(activities.float_c12 WHERE cat_c9 = 1)            22449 non-null  float64
 122  MEAN(activities.float_c14 WHERE cat_c9 = 2)            15687 non-null  float64
 123  MEAN(activities.float_c14 WHERE cat_c9 = 1)            22449 non-null  float64
 124  SUM(activities.float_c11 WHERE cat_c9 = 2)             36337 non-null  float64
 125  SUM(activities.float_c11 WHERE cat_c9 = 1)             36337 non-null  float64
 126  SUM(activities.float_c12 WHERE cat_c9 = 2)             36337 non-null  float64
 127  SUM(activities.float_c12 WHERE cat_c9 = 1)             36337 non-null  float64
 128  SUM(activities.float_c14 WHERE cat_c9 = 2)             36337 non-null  float64
 129  SUM(activities.float_c14 WHERE cat_c9 = 1)             36337 non-null  float64
 130  MODE(transactions.cat_c2) = 14                         36337 non-null  boolean
 131  MODE(transactions.cat_c2) = 15                         36337 non-null  boolean
 132  MODE(transactions.cat_c2) = 4                          36337 non-null  boolean
 133  MODE(transactions.cat_c2) = 1                          36337 non-null  boolean
 134  MODE(transactions.cat_c2) = 17                         36337 non-null  boolean
 135  MODE(transactions.cat_c2) = 18                         36337 non-null  boolean
 136  MODE(transactions.cat_c2) = 2                          36337 non-null  boolean
 137  MODE(transactions.cat_c2) = 21                         36337 non-null  boolean
 138  MODE(transactions.cat_c2) = 13                         36337 non-null  boolean
 139  MODE(transactions.cat_c2) = 23                         36337 non-null  boolean
 140  MODE(transactions.cat_c2) is unknown                   36337 non-null  boolean
 141  MODE(transactions.cat_c3) = 314                        36337 non-null  boolean
 142  MODE(transactions.cat_c3) = 209                        36337 non-null  boolean
 143  MODE(transactions.cat_c3) = 305                        36337 non-null  boolean
 144  MODE(transactions.cat_c3) = 303                        36337 non-null  boolean
 145  MODE(transactions.cat_c3) = 149                        36337 non-null  boolean
 146  MODE(transactions.cat_c3) = 312                        36337 non-null  boolean
 147  MODE(transactions.cat_c3) = 304                        36337 non-null  boolean
 148  MODE(transactions.cat_c3) = 356                        36337 non-null  boolean
 149  MODE(transactions.cat_c3) = 311                        36337 non-null  boolean
 150  MODE(transactions.cat_c3) = 252                        36337 non-null  boolean
 151  MODE(transactions.cat_c3) is unknown                   36337 non-null  boolean
 152  MODE(transactions.cat_c4) = 31                         36337 non-null  boolean
 153  MODE(transactions.cat_c4) = 792                        36337 non-null  boolean
 154  MODE(transactions.cat_c4) = 840                        36337 non-null  boolean
 155  MODE(transactions.cat_c4) = 616                        36337 non-null  boolean
 156  MODE(transactions.cat_c4) = 372                        36337 non-null  boolean
 157  MODE(transactions.cat_c4) is unknown                   36337 non-null  boolean
 158  MODE(activities.cat_c3) = 21                           36337 non-null  boolean
 159  MODE(activities.cat_c3) = 13                           36337 non-null  boolean
 160  MODE(activities.cat_c3) = 10                           36337 non-null  boolean
 161  MODE(activities.cat_c3) is unknown                     36337 non-null  boolean
 162  MODE(activities.cat_c4) = 1                            36337 non-null  boolean
 163  MODE(activities.cat_c4) = 2                            36337 non-null  boolean
 164  MODE(activities.cat_c4) is unknown                     36337 non-null  boolean
 165  MODE(activities.cat_c5) = 3                            36337 non-null  boolean
 166  MODE(activities.cat_c5) is unknown                     36337 non-null  boolean
 167  MODE(activities.cat_c6) = 1                            36337 non-null  boolean
 168  MODE(activities.cat_c6) = 2                            36337 non-null  boolean
 169  MODE(activities.cat_c6) = 3                            36337 non-null  boolean
 170  MODE(activities.cat_c6) = 4                            36337 non-null  boolean
 171  MODE(activities.cat_c6) = 8                            36337 non-null  boolean
 172  MODE(activities.cat_c6) = 5                            36337 non-null  boolean
 173  MODE(activities.cat_c6) = 6                            36337 non-null  boolean
 174  MODE(activities.cat_c6) is unknown                     36337 non-null  boolean
 175  MODE(activities.cat_c9) = 1                            36337 non-null  boolean
 176  MODE(activities.cat_c9) = 2                            36337 non-null  boolean
 177  MODE(activities.cat_c9) is unknown                     36337 non-null  boolean
 178  MODE(comms.cat_c2) = S3565                             36337 non-null  boolean
 179  MODE(comms.cat_c2) = S3677                             36337 non-null  boolean
 180  MODE(comms.cat_c2) = S3564                             36337 non-null  boolean
 181  MODE(comms.cat_c2) = S3769                             36337 non-null  boolean
 182  MODE(comms.cat_c2) = S3566                             36337 non-null  boolean
 183  MODE(comms.cat_c2) = S3736                             36337 non-null  boolean
 184  MODE(comms.cat_c2) = S27888                            36337 non-null  boolean
 185  MODE(comms.cat_c2) = S7474                             36337 non-null  boolean
 186  MODE(comms.cat_c2) = S3563                             36337 non-null  boolean
 187  MODE(comms.cat_c2) = B12034                            36337 non-null  boolean
 188  MODE(comms.cat_c2) is unknown                          36337 non-null  boolean
 189  MODE(comms.cat_c3) = 4                                 36337 non-null  boolean
 190  MODE(comms.cat_c3) = 1                                 36337 non-null  boolean
 191  MODE(comms.cat_c3) = 3                                 36337 non-null  boolean
 192  MODE(comms.cat_c3) is unknown                          36337 non-null  boolean
 193  MODE(comms.cat_c4) = 1                                 36337 non-null  boolean
 194  MODE(comms.cat_c4) = 2                                 36337 non-null  boolean
 195  MODE(comms.cat_c4) = 3                                 36337 non-null  boolean
 196  MODE(comms.cat_c4) is unknown                          36337 non-null  boolean
 197  MODE(comms.cat_c5) = 4                                 36337 non-null  boolean
 198  MODE(comms.cat_c5) = 0                                 36337 non-null  boolean
 199  MODE(comms.cat_c5) = 7                                 36337 non-null  boolean
 200  MODE(comms.cat_c5) is unknown                          36337 non-null  boolean
dtypes: Int64(22), bool(2), boolean(72), category(3), datetime64[ns](7), float64(95)
memory usage: 41.6+ MB

None

,communication_month,COUNT(transactions),FIRST(transactions.tran_date),LAST(transactions.tran_date),MAX(transactions.float_c16),MAX(transactions.float_c17),MAX(transactions.float_c18),MAX(transactions.float_c20),MAX(transactions.float_c21),MAX(transactions.int_c19),...,MEAN(activities.float_c12 WHERE cat_c9 = 2),MEAN(activities.float_c12 WHERE cat_c9 = 1),MEAN(activities.float_c14 WHERE cat_c9 = 2),MEAN(activities.float_c14 WHERE cat_c9 = 1),SUM(activities.float_c11 WHERE cat_c9 = 2),SUM(activities.float_c11 WHERE cat_c9 = 1),SUM(activities.float_c12 WHERE cat_c9 = 2),SUM(activities.float_c12 WHERE cat_c9 = 1),SUM(activities.float_c14 WHERE cat_c9 = 2),SUM(activities.float_c14 WHERE cat_c9 = 1)
count,36337,36337.0,35070,35070,35070.000000,35070.000000,35070.000000,35070.000000,35070.000000,35070.000000,...,15687.000000,22449.000000,15687.000000,22449.000000,36337.000000,36337.000000,36337.000000,36337.000000,36337.000000,36337.000000
mean,2025-07-14 05:17:23.333241344,430.817789,2025-01-25 19:28:37.775876864,2025-07-08 21:36:49.272882688,1.615024,4.564600,1438.993483,80.612920,1409.988739,0.996863,...,53.595697,58.666043,0.567413,1.095978,5553.173900,13199.618350,10734.255489,16171.626909,117.625678,303.425463
min,2025-06-01 00:00:00,0.0,2024-12-01 00:00:00,2024-12-01 00:00:00,0.000000,0.000000,0.010000,0.000000,0.000000,-1.000000,...,4.200000,1.000000,0.000000,0.003922,0.000000,-8.000000,0.000000,0.000000,0.000000,0.000000
25%,2025-06-01 00:00:00,105.0,2025-01-01 00:00:00,2025-05-31 00:00:00,0.000000,0.000000,500.000000,0.000000,500.000000,1.000000,...,45.966630,50.090909,0.480801,0.325080,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2025-07-01 00:00:00,292.0,2025-02-01 00:00:00,2025-06-30 00:00:00,0.460000,1.000000,1000.000000,0.000000,970.000000,1.000000,...,53.357025,58.935000,0.569646,0.483541,0.000000,1991.000000,0.000000,5575.000000,0.000000,40.474511
75%,2025-08-01 00:00:00,598.0,2025-03-01 00:00:00,2025-07-31 00:00:00,1.660000,4.000000,1950.000000,0.000000,1900.000000,1.000000,...,60.921744,67.642241,0.650000,0.732535,3378.000000,16529.000000,15351.000215,23826.000000,157.100001,219.372552
max,2025-09-01 00:00:00,8721.0,2025-08-31 00:00:00,2025-08-31 00:00:00,413.130005,2294.719971,55600.000000,13500.000000,55600.000000,1.000000,...,100.000000,100.000000,1.000000,26.118857,310892.000000,643692.000000,536858.003653,585864.000000,6258.350019,45994.304443
std,NaN,472.842999,NaN,NaN,4.861283,19.187926,1646.345874,486.548652,1632.862020,0.079142,...,11.469829,13.038848,0.140197,2.112450,14824.783846,25280.738854,19954.757006,25467.422529,227.074799,1190.763807

## Postprocessing

In [12]:
df = feature_matrix_enc
df = df.reset_index()
# df = df.drop(columns=['client_id'])
df = df.dropna(subset=[
    # Transactions
    'NUM_UNIQUE(transactions.tran_date_str)', 'MEAN(transactions.float_c16 WHERE int_c19 = -1)', 'MEAN(transactions.float_c16 WHERE int_c19 = 1)',

    # Activities
    'NUM_UNIQUE(activities.activity_date_str)', 'STD(activities.float_c11)',

    # Communications
    'NUM_UNIQUE(comms.contact_date_str)',
])

# Convert dates to days from initial point
for date_col in df.select_dtypes(include=['datetime64[ns]']).columns:
    df[date_col + '_days'] = (df[date_col] - pd.to_datetime(MIN_DATE_STR)).dt.days
    df = df.drop(columns=[date_col])

# Encode cyclical features (e.g. day of week, month)
time_cols = ['DAY(communication_month)', 'MONTH(communication_month)', 'WEEKDAY(communication_month)']
df = df.astype({col: 'int8' for col in time_cols})
cyclical = CyclicalFeatures(variables=time_cols, drop_original=True)
df = cyclical.fit_transform(df)

# Fill activities missing data
cols_with_blanks = [
    'MEAN(activities.float_c11 WHERE cat_c9 = 2)', 'MEAN(activities.float_c11 WHERE cat_c9 = 1)',
    'MEAN(activities.float_c12 WHERE cat_c9 = 2)', 'MEAN(activities.float_c12 WHERE cat_c9 = 1)',
    'MEAN(activities.float_c14 WHERE cat_c9 = 2)', 'MEAN(activities.float_c14 WHERE cat_c9 = 1)',
]
ami = AddMissingIndicator(variables=cols_with_blanks)
df = ami.fit_transform(df)
ani = ArbitraryNumberImputer(arbitrary_number=0, variables=cols_with_blanks)
df = ani.fit_transform(df)

# Convert boolean values to 0 and 1
df = df.astype({col: 'int8' for col in df.select_dtypes(include=['bool']).columns})
df = df.astype({col: 'Int8' for col in df.select_dtypes(include=['boolean']).columns})

df.to_csv('../data/features/features_auto_v1.csv', index=False)
display(df.info(verbose=True, show_counts=True))
display(df.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 34837 entries, 0 to 36336
Data columns (total 211 columns):
 #    Column                                                 Non-Null Count  Dtype
---   ------                                                 --------------  -----
 0    client_id                                              34837 non-null  string
 1    target                                                 34837 non-null  int8
 2    is_train                                               34837 non-null  int8
 3    COUNT(transactions)                                    34837 non-null  Int64
 4    MAX(transactions.float_c16)                            34837 non-null  float64
 5    MAX(transactions.float_c17)                            34837 non-null  float64
 6    MAX(transactions.float_c18)                            34837 non-null  float64
 7    MAX(transactions.float_c20)                            34837 non-null  float64
 8    MAX(transactions.float_c21)                            34837 non-null  float64
 9    MAX(transactions.int_c19)                              34837 non-null  float64
 10   MEAN(transactions.float_c16)                           34837 non-null  float64
 11   MEAN(transactions.float_c17)                           34837 non-null  float64
 12   MEAN(transactions.float_c18)                           34837 non-null  float64
 13   MEAN(transactions.float_c20)                           34837 non-null  float64
 14   MEAN(transactions.float_c21)                           34837 non-null  float64
 15   MEAN(transactions.int_c19)                             34837 non-null  float64
 16   MIN(transactions.float_c16)                            34837 non-null  float64
 17   MIN(transactions.float_c17)                            34837 non-null  float64
 18   MIN(transactions.float_c18)                            34837 non-null  float64
 19   MIN(transactions.float_c20)                            34837 non-null  float64
 20   MIN(transactions.float_c21)                            34837 non-null  float64
 21   MIN(transactions.int_c19)                              34837 non-null  float64
 22   NUM_UNIQUE(transactions.cat_c2)                        34837 non-null  Int64
 23   NUM_UNIQUE(transactions.cat_c3)                        34837 non-null  Int64
 24   NUM_UNIQUE(transactions.cat_c4)                        34837 non-null  Int64
 25   NUM_UNIQUE(transactions.tran_date_str)                 34837 non-null  Int64
 26   PERCENT_TRUE(transactions.fl_c10)                      34837 non-null  float64
 27   PERCENT_TRUE(transactions.fl_c11)                      34837 non-null  float64
 28   PERCENT_TRUE(transactions.fl_c12)                      34837 non-null  float64
 29   PERCENT_TRUE(transactions.fl_c13)                      34837 non-null  float64
 30   PERCENT_TRUE(transactions.fl_c14)                      34837 non-null  float64
 31   PERCENT_TRUE(transactions.fl_c15)                      34837 non-null  float64
 32   PERCENT_TRUE(transactions.fl_c6)                       34837 non-null  float64
 33   PERCENT_TRUE(transactions.fl_c7)                       34837 non-null  float64
 34   PERCENT_TRUE(transactions.fl_c8)                       34837 non-null  float64
 35   PERCENT_TRUE(transactions.fl_c9)                       34837 non-null  float64
 36   STD(transactions.float_c16)                            34837 non-null  float64
 37   STD(transactions.float_c17)                            34837 non-null  float64
 38   STD(transactions.float_c18)                            34837 non-null  float64
 39   STD(transactions.float_c20)                            34837 non-null  float64
 40   STD(transactions.float_c21)                            34837 non-null  float64
 41   STD(transactions.int_c19)                              34837 non-null  float64
 42   SUM(transactions.float_c16)                            34837 non-null  float64
 43   SUM(transactions.float_c17)                            34837 non-null  float64
 44   SUM(transactions.float_c18)                            34837 non-null  float64
 45   SUM(transactions.float_c20)                            34837 non-null  float64
 46   SUM(transactions.float_c21)                            34837 non-null  float64
 47   SUM(transactions.int_c19)                              34837 non-null  float64
 48   TIME_SINCE_FIRST(transactions.tran_date, unit=days)    34837 non-null  float64
 49   TIME_SINCE_LAST(transactions.tran_date, unit=days)     34837 non-null  float64
 50   COUNT(activities)                                      34837 non-null  Int64
 51   MAX(activities.float_c11)                              34837 non-null  float64
 52   MAX(activities.float_c12)                              34837 non-null  float64
 53   MAX(activities.float_c14)                              34837 non-null  float64
 54   MEAN(activities.float_c11)                             34837 non-null  float64
 55   MEAN(activities.float_c12)                             34837 non-null  float64
 56   MEAN(activities.float_c14)                             34837 non-null  float64
 57   MIN(activities.float_c11)                              34837 non-null  float64
 58   MIN(activities.float_c12)                              34837 non-null  float64
 59   MIN(activities.float_c14)                              34837 non-null  float64
 60   NUM_UNIQUE(activities.activity_date_str)               34837 non-null  Int64
 61   NUM_UNIQUE(activities.cat_c3)                          34837 non-null  Int64
 62   NUM_UNIQUE(activities.cat_c4)                          34837 non-null  Int64
 63   NUM_UNIQUE(activities.cat_c5)                          34837 non-null  Int64
 64   NUM_UNIQUE(activities.cat_c6)                          34837 non-null  Int64
 65   NUM_UNIQUE(activities.cat_c9)                          34837 non-null  Int64
 66   PERCENT_TRUE(activities.cat_c10)                       34837 non-null  float64
 67   PERCENT_TRUE(activities.cat_c8)                        34837 non-null  float64
 68   STD(activities.float_c11)                              34837 non-null  float64
 69   STD(activities.float_c12)                              34837 non-null  float64
 70   STD(activities.float_c14)                              34837 non-null  float64
 71   SUM(activities.float_c11)                              34837 non-null  float64
 72   SUM(activities.float_c12)                              34837 non-null  float64
 73   SUM(activities.float_c14)                              34837 non-null  float64
 74   TIME_SINCE_FIRST(activities.activity_date, unit=days)  34837 non-null  float64
 75   TIME_SINCE_LAST(activities.activity_date, unit=days)   34837 non-null  float64
 76   COUNT(comms)                                           34837 non-null  Int64
 77   NUM_UNIQUE(comms.cat_c2)                               34837 non-null  Int64
 78   NUM_UNIQUE(comms.cat_c3)                               34837 non-null  Int64
 79   NUM_UNIQUE(comms.cat_c4)                               34837 non-null  Int64
 80   NUM_UNIQUE(comms.cat_c5)                               34837 non-null  Int64
 81   NUM_UNIQUE(comms.contact_date_str)                     34837 non-null  Int64
 82   TIME_SINCE_FIRST(comms.contact_date, unit=days)        34837 non-null  float64
 83   TIME_SINCE_LAST(comms.contact_date, unit=days)         34837 non-null  float64
 84   IS_WEEKEND(communication_month)                        34837 non-null  int8
 85   COUNT(transactions WHERE int_c19 = -1)                 34837 non-null  Int64
 86   COUNT(transactions WHERE int_c19 = 1)                  34837 non-null  Int64
 87   MEAN(transactions.float_c16 WHERE int_c19 = -1)        34837 non-null  float64
 88   MEAN(transactions.float_c16 WHERE int_c19 = 1)         34837 non-null  float64
 89   MEAN(transactions.float_c17 WHERE int_c19 = -1)        34837 non-null  float64
 90   MEAN(transactions.float_c17 WHERE int_c19 = 1)         34837 non-null  float64
 91   MEAN(transactions.float_c18 WHERE int_c19 = -1)        34837 non-null  float64
 92   MEAN(transactions.float_c18 WHERE int_c19 = 1)         34837 non-null  float64
 93   MEAN(transactions.float_c20 WHERE int_c19 = -1)        34837 non-null  float64
 94   MEAN(transactions.float_c20 WHERE int_c19 = 1)         34837 non-null  float64
 95   MEAN(transactions.float_c21 WHERE int_c19 = -1)        34837 non-null  float64
 96   MEAN(transactions.float_c21 WHERE int_c19 = 1)         34837 non-null  float64
 97   SUM(transactions.float_c16 WHERE int_c19 = -1)         34837 non-null  float64
 98   SUM(transactions.float_c16 WHERE int_c19 = 1)          34837 non-null  float64
 99   SUM(transactions.float_c17 WHERE int_c19 = -1)         34837 non-null  float64
 100  SUM(transactions.float_c17 WHERE int_c19 = 1)          34837 non-null  float64
 101  SUM(transactions.float_c18 WHERE int_c19 = -1)         34837 non-null  float64
 102  SUM(transactions.float_c18 WHERE int_c19 = 1)          34837 non-null  float64
 103  SUM(transactions.float_c20 WHERE int_c19 = -1)         34837 non-null  float64
 104  SUM(transactions.float_c20 WHERE int_c19 = 1)          34837 non-null  float64
 105  SUM(transactions.float_c21 WHERE int_c19 = -1)         34837 non-null  float64
 106  SUM(transactions.float_c21 WHERE int_c19 = 1)          34837 non-null  float64
 107  COUNT(activities WHERE cat_c9 = 2)                     34837 non-null  Int64
 108  COUNT(activities WHERE cat_c9 = 1)                     34837 non-null  Int64
 109  MEAN(activities.float_c11 WHERE cat_c9 = 2)            34837 non-null  float64
 110  MEAN(activities.float_c11 WHERE cat_c9 = 1)            34837 non-null  float64
 111  MEAN(activities.float_c12 WHERE cat_c9 = 2)            34837 non-null  float64
 112  MEAN(activities.float_c12 WHERE cat_c9 = 1)            34837 non-null  float64
 113  MEAN(activities.float_c14 WHERE cat_c9 = 2)            34837 non-null  float64
 114  MEAN(activities.float_c14 WHERE cat_c9 = 1)            34837 non-null  float64
 115  SUM(activities.float_c11 WHERE cat_c9 = 2)             34837 non-null  float64
 116  SUM(activities.float_c11 WHERE cat_c9 = 1)             34837 non-null  float64
 117  SUM(activities.float_c12 WHERE cat_c9 = 2)             34837 non-null  float64
 118  SUM(activities.float_c12 WHERE cat_c9 = 1)             34837 non-null  float64
 119  SUM(activities.float_c14 WHERE cat_c9 = 2)             34837 non-null  float64
 120  SUM(activities.float_c14 WHERE cat_c9 = 1)             34837 non-null  float64
 121  MODE(transactions.cat_c2) = 14                         34837 non-null  int8
 122  MODE(transactions.cat_c2) = 15                         34837 non-null  int8
 123  MODE(transactions.cat_c2) = 4                          34837 non-null  int8
 124  MODE(transactions.cat_c2) = 1                          34837 non-null  int8
 125  MODE(transactions.cat_c2) = 17                         34837 non-null  int8
 126  MODE(transactions.cat_c2) = 18                         34837 non-null  int8
 127  MODE(transactions.cat_c2) = 2                          34837 non-null  int8
 128  MODE(transactions.cat_c2) = 21                         34837 non-null  int8
 129  MODE(transactions.cat_c2) = 13                         34837 non-null  int8
 130  MODE(transactions.cat_c2) = 23                         34837 non-null  int8
 131  MODE(transactions.cat_c2) is unknown                   34837 non-null  int8
 132  MODE(transactions.cat_c3) = 314                        34837 non-null  int8
 133  MODE(transactions.cat_c3) = 209                        34837 non-null  int8
 134  MODE(transactions.cat_c3) = 305                        34837 non-null  int8
 135  MODE(transactions.cat_c3) = 303                        34837 non-null  int8
 136  MODE(transactions.cat_c3) = 149                        34837 non-null  int8
 137  MODE(transactions.cat_c3) = 312                        34837 non-null  int8
 138  MODE(transactions.cat_c3) = 304                        34837 non-null  int8
 139  MODE(transactions.cat_c3) = 356                        34837 non-null  int8
 140  MODE(transactions.cat_c3) = 311                        34837 non-null  int8
 141  MODE(transactions.cat_c3) = 252                        34837 non-null  int8
 142  MODE(transactions.cat_c3) is unknown                   34837 non-null  int8
 143  MODE(transactions.cat_c4) = 31                         34837 non-null  int8
 144  MODE(transactions.cat_c4) = 792                        34837 non-null  int8
 145  MODE(transactions.cat_c4) = 840                        34837 non-null  int8
 146  MODE(transactions.cat_c4) = 616                        34837 non-null  int8
 147  MODE(transactions.cat_c4) = 372                        34837 non-null  int8
 148  MODE(transactions.cat_c4) is unknown                   34837 non-null  int8
 149  MODE(activities.cat_c3) = 21                           34837 non-null  int8
 150  MODE(activities.cat_c3) = 13                           34837 non-null  int8
 151  MODE(activities.cat_c3) = 10                           34837 non-null  int8
 152  MODE(activities.cat_c3) is unknown                     34837 non-null  int8
 153  MODE(activities.cat_c4) = 1                            34837 non-null  int8
 154  MODE(activities.cat_c4) = 2                            34837 non-null  int8
 155  MODE(activities.cat_c4) is unknown                     34837 non-null  int8
 156  MODE(activities.cat_c5) = 3                            34837 non-null  int8
 157  MODE(activities.cat_c5) is unknown                     34837 non-null  int8
 158  MODE(activities.cat_c6) = 1                            34837 non-null  int8
 159  MODE(activities.cat_c6) = 2                            34837 non-null  int8
 160  MODE(activities.cat_c6) = 3                            34837 non-null  int8
 161  MODE(activities.cat_c6) = 4                            34837 non-null  int8
 162  MODE(activities.cat_c6) = 8                            34837 non-null  int8
 163  MODE(activities.cat_c6) = 5                            34837 non-null  int8
 164  MODE(activities.cat_c6) = 6                            34837 non-null  int8
 165  MODE(activities.cat_c6) is unknown                     34837 non-null  int8
 166  MODE(activities.cat_c9) = 1                            34837 non-null  int8
 167  MODE(activities.cat_c9) = 2                            34837 non-null  int8
 168  MODE(activities.cat_c9) is unknown                     34837 non-null  int8
 169  MODE(comms.cat_c2) = S3565                             34837 non-null  int8
 170  MODE(comms.cat_c2) = S3677                             34837 non-null  int8
 171  MODE(comms.cat_c2) = S3564                             34837 non-null  int8
 172  MODE(comms.cat_c2) = S3769                             34837 non-null  int8
 173  MODE(comms.cat_c2) = S3566                             34837 non-null  int8
 174  MODE(comms.cat_c2) = S3736                             34837 non-null  int8
 175  MODE(comms.cat_c2) = S27888                            34837 non-null  int8
 176  MODE(comms.cat_c2) = S7474                             34837 non-null  int8
 177  MODE(comms.cat_c2) = S3563                             34837 non-null  int8
 178  MODE(comms.cat_c2) = B12034                            34837 non-null  int8
 179  MODE(comms.cat_c2) is unknown                          34837 non-null  int8
 180  MODE(comms.cat_c3) = 4                                 34837 non-null  int8
 181  MODE(comms.cat_c3) = 1                                 34837 non-null  int8
 182  MODE(comms.cat_c3) = 3                                 34837 non-null  int8
 183  MODE(comms.cat_c3) is unknown                          34837 non-null  int8
 184  MODE(comms.cat_c4) = 1                                 34837 non-null  int8
 185  MODE(comms.cat_c4) = 2                                 34837 non-null  int8
 186  MODE(comms.cat_c4) = 3                                 34837 non-null  int8
 187  MODE(comms.cat_c4) is unknown                          34837 non-null  int8
 188  MODE(comms.cat_c5) = 4                                 34837 non-null  int8
 189  MODE(comms.cat_c5) = 0                                 34837 non-null  int8
 190  MODE(comms.cat_c5) = 7                                 34837 non-null  int8
 191  MODE(comms.cat_c5) is unknown                          34837 non-null  int8
 192  communication_month_days                               34837 non-null  int64
 193  FIRST(transactions.tran_date)_days                     34837 non-null  int64
 194  LAST(transactions.tran_date)_days                      34837 non-null  int64
 195  FIRST(activities.activity_date)_days                   34837 non-null  int64
 196  LAST(activities.activity_date)_days                    34837 non-null  int64
 197  FIRST(comms.contact_date)_days                         34837 non-null  int64
 198  LAST(comms.contact_date)_days                          34837 non-null  int64
 199  DAY(communication_month)_sin                           34837 non-null  float64
 200  DAY(communication_month)_cos                           34837 non-null  float64
 201  MONTH(communication_month)_sin                         34837 non-null  float64
 202  MONTH(communication_month)_cos                         34837 non-null  float64
 203  WEEKDAY(communication_month)_sin                       34837 non-null  float64
 204  WEEKDAY(communication_month)_cos                       34837 non-null  float64
 205  MEAN(activities.float_c11 WHERE cat_c9 = 2)_na         34837 non-null  int64
 206  MEAN(activities.float_c11 WHERE cat_c9 = 1)_na         34837 non-null  int64
 207  MEAN(activities.float_c12 WHERE cat_c9 = 2)_na         34837 non-null  int64
 208  MEAN(activities.float_c12 WHERE cat_c9 = 1)_na         34837 non-null  int64
 209  MEAN(activities.float_c14 WHERE cat_c9 = 2)_na         34837 non-null  int64
 210  MEAN(activities.float_c14 WHERE cat_c9 = 1)_na         34837 non-null  int64
dtypes: Int64(22), float64(101), int64(13), int8(74), string(1)
memory usage: 39.9 MB

None

,target,is_train,COUNT(transactions),MAX(transactions.float_c16),MAX(transactions.float_c17),MAX(transactions.float_c18),MAX(transactions.float_c20),MAX(transactions.float_c21),MAX(transactions.int_c19),MEAN(transactions.float_c16),...,MONTH(communication_month)_sin,MONTH(communication_month)_cos,WEEKDAY(communication_month)_sin,WEEKDAY(communication_month)_cos,MEAN(activities.float_c11 WHERE cat_c9 = 2)_na,MEAN(activities.float_c11 WHERE cat_c9 = 1)_na,MEAN(activities.float_c12 WHERE cat_c9 = 2)_na,MEAN(activities.float_c12 WHERE cat_c9 = 1)_na,MEAN(activities.float_c14 WHERE cat_c9 = 2)_na,MEAN(activities.float_c14 WHERE cat_c9 = 1)_na
count,34837.000000,34837.000000,34837.0,34837.000000,34837.000000,34837.000000,34837.000000,34837.000000,34837.0,34837.000000,...,3.483700e+04,34837.000000,3.483700e+04,34837.000000,34837.000000,34837.000000,34837.000000,34837.000000,34837.000000,34837.000000
mean,0.244912,0.792778,449.322559,1.625743,4.583724,1446.550533,80.503727,1418.000101,1.0,0.029680,...,-6.585840e-01,0.323086,-2.212483e-03,0.471324,0.558257,0.371444,0.558257,0.371444,0.558257,0.371444
std,0.430041,0.405322,474.247815,4.875727,19.238116,1648.495912,486.876171,1634.915812,0.0,0.086370,...,3.595777e-01,0.576715,6.289322e-01,0.618317,0.496602,0.483198,0.496602,0.483198,0.496602,0.483198
min,0.000000,0.000000,2.0,0.000000,0.000000,0.010000,0.000000,0.000000,1.0,-0.034590,...,-9.848078e-01,-0.500000,-8.660254e-01,-0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,124.0,0.000000,0.000000,510.000000,0.000000,500.000000,1.0,0.000000,...,-9.848078e-01,-0.500000,-8.660254e-01,-0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,311.0,0.480000,1.000000,1000.000000,0.000000,980.000000,1.0,0.007500,...,-8.660254e-01,0.173648,-2.449294e-16,0.500000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000
75%,0.000000,1.000000,618.0,1.670000,4.030000,1963.430054,0.000000,1900.000000,1.0,0.035062,...,-6.427876e-01,0.766044,8.660254e-01,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1.000000,1.000000,8721.0,413.130005,2294.719971,55600.000000,13500.000000,55600.000000,1.0,4.931538,...,-2.449294e-16,1.000000,8.660254e-01,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000