# Feature selection

In [43]:
import re

import numpy as np
import pandas as pd
from IPython.display import display
from feature_engine.selection import DropConstantFeatures, DropDuplicateFeatures, MRMR, SmartCorrelatedSelection
from lightgbm import LGBMClassifier
from sklearn.feature_selection import SelectFromModel, SelectKBest, mutual_info_classif, RFE
from sklearn.linear_model import LogisticRegression
from sklearn.inspection import permutation_importance

In [2]:
FEATURES_VERSION = 6
SELECTION_VERSION = 4

In [3]:
FEATURES_PATH = '../data/features/features_auto_v{}.csv'.format(FEATURES_VERSION)

features_df = pd.read_csv(FEATURES_PATH)

In [4]:
clients_cols = ['client_id', 'target', 'is_train']
clients_data = features_df[clients_cols]

In [5]:
X = features_df.drop(columns=clients_cols)
y = features_df['target']

## Filters

In [6]:
"""Low-Variance"""

drop_constant = DropConstantFeatures(tol=1)
drop_quasi = DropConstantFeatures(tol=0.99)
drop_duplicates = DropDuplicateFeatures()

X1 = drop_constant.fit_transform(X)
X2 = drop_quasi.fit_transform(X1)
X3 = drop_duplicates.fit_transform(X2)

In [23]:
"""Correlation"""

corr_selector = SmartCorrelatedSelection(
    method='pearson',
    threshold=0.7,
    selection_method='missing_values',
)
# X_corr = corr_selector.fit_transform(X3)
X_corr = corr_selector.fit_transform(X3, y)

In [8]:
# """Mutual information"""
#
# mi = SelectKBest(
#     score_func=mutual_info_classif,
#     k=1200,
# )
# mi.fit(X_corr, y)
# selected_mi_features = X_corr.columns[mi.get_support()]
# X_mi = X_corr[selected_mi_features]

In [9]:
# """MRMR"""
#
# mrmr_selector = MRMR(
#     method='MIQ',
#     max_features=5,
#     regression=False,
#     random_state=42,
#     n_jobs=6,
# )
# X_mrmr = mrmr_selector.fit_transform(X_corr, y)

In [24]:
X_filtered = X_corr
display(X_filtered.info(verbose=True, show_counts=True))
display(X_filtered.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34964 entries, 0 to 34963
Data columns (total 431 columns):
 #    Column                                                                                       Non-Null Count  Dtype
---   ------                                                                                       --------------  -----
 0    COUNT(transactions)                                                                          34964 non-null  int64
 1    ENTROPY(transactions.cat_c2)                                                                 34964 non-null  float64
 2    ENTROPY(transactions.cat_c4)                                                                 34964 non-null  float64
 3    KURTOSIS(transactions.float_c16)                                                             34964 non-null  float64
 4    KURTOSIS(transactions.float_c17)                                                             34964 non-null  float64
 5    KURTOSIS(transactions.float_c18)                                                             34964 non-null  float64
 6    KURTOSIS(transactions.float_c20)                                                             34964 non-null  float64
 7    KURTOSIS(transactions.int_c19)                                                               34964 non-null  float64
 8    MAX(transactions.float_c16)                                                                  34964 non-null  float64
 9    MAX(transactions.float_c17)                                                                  34964 non-null  float64
 10   MAX(transactions.float_c18)                                                                  34964 non-null  float64
 11   MAX(transactions.float_c20)                                                                  34964 non-null  float64
 12   MEAN(transactions.float_c16)                                                                 34964 non-null  float64
 13   MEAN(transactions.float_c17)                                                                 34964 non-null  float64
 14   MEAN(transactions.float_c18)                                                                 34964 non-null  float64
 15   MEAN(transactions.int_c19)                                                                   34964 non-null  float64
 16   MEAN(transactions.tran_date_day_of_month_cos)                                                34964 non-null  float64
 17   MEAN(transactions.tran_date_day_of_month_sin)                                                34964 non-null  float64
 18   MEAN(transactions.tran_date_day_of_week_cos)                                                 34964 non-null  float64
 19   MEAN(transactions.tran_date_day_of_week_sin)                                                 34964 non-null  float64
 20   MIN(transactions.float_c16)                                                                  34964 non-null  float64
 21   MIN(transactions.float_c17)                                                                  34964 non-null  float64
 22   MIN(transactions.float_c18)                                                                  34964 non-null  float64
 23   MIN(transactions.float_c20)                                                                  34964 non-null  float64
 24   NUM_UNIQUE(transactions.cat_c3)                                                              34964 non-null  int64
 25   NUM_UNIQUE(transactions.cat_c4)                                                              34964 non-null  int64
 26   PERCENT_TRUE(transactions.fl_c11)                                                            34964 non-null  float64
 27   PERCENT_TRUE(transactions.fl_c12)                                                            34964 non-null  float64
 28   PERCENT_TRUE(transactions.fl_c13)                                                            34964 non-null  float64
 29   PERCENT_TRUE(transactions.fl_c15)                                                            34964 non-null  float64
 30   PERCENT_TRUE(transactions.fl_c6)                                                             34964 non-null  float64
 31   PERCENT_TRUE(transactions.fl_c8)                                                             34964 non-null  float64
 32   PERCENT_TRUE(transactions.tran_date_is_weekend)                                              34964 non-null  float64
 33   STD(transactions.int_c19)                                                                    34964 non-null  float64
 34   SUM(transactions.float_c16)                                                                  34964 non-null  float64
 35   SUM(transactions.float_c17)                                                                  34964 non-null  float64
 36   SUM(transactions.float_c18)                                                                  34964 non-null  float64
 37   SUM(transactions.float_c20)                                                                  34964 non-null  float64
 38   SUM(transactions.int_c19)                                                                    34964 non-null  float64
 39   TIME_SINCE_FIRST(transactions.tran_date, unit=days)                                          34964 non-null  float64
 40   TIME_SINCE_LAST(transactions.tran_date, unit=days)                                           34964 non-null  float64
 41   ENTROPY(activities.cat_c3)                                                                   34964 non-null  float64
 42   ENTROPY(activities.cat_c5)                                                                   34964 non-null  float64
 43   ENTROPY(activities.cat_c6)                                                                   34964 non-null  float64
 44   ENTROPY(activities.cat_c9)                                                                   34964 non-null  float64
 45   KURTOSIS(activities.float_c11)                                                               34964 non-null  float64
 46   KURTOSIS(activities.float_c12)                                                               34964 non-null  float64
 47   KURTOSIS(activities.float_c14)                                                               34964 non-null  float64
 48   MAX(activities.float_c11)                                                                    34964 non-null  float64
 49   MAX(activities.float_c12)                                                                    34964 non-null  float64
 50   MAX(activities.float_c14)                                                                    34964 non-null  float64
 51   MEAN(activities.activity_date_day_of_week_cos)                                               34964 non-null  float64
 52   MEAN(activities.activity_date_day_of_week_sin)                                               34964 non-null  float64
 53   MEAN(activities.float_c12)                                                                   34964 non-null  float64
 54   MIN(activities.float_c11)                                                                    34964 non-null  float64
 55   MIN(activities.float_c12)                                                                    34964 non-null  float64
 56   MIN(activities.float_c14)                                                                    34964 non-null  float64
 57   NUM_UNIQUE(activities.cat_c3)                                                                34964 non-null  int64
 58   NUM_UNIQUE(activities.cat_c4)                                                                34964 non-null  int64
 59   NUM_UNIQUE(activities.cat_c5)                                                                34964 non-null  int64
 60   PERCENT_TRUE(activities.activity_date_is_weekend)                                            34964 non-null  float64
 61   PERCENT_TRUE(activities.cat_c10)                                                             34964 non-null  float64
 62   PERCENT_TRUE(activities.cat_c8)                                                              34964 non-null  float64
 63   SKEW(activities.float_c11)                                                                   34964 non-null  float64
 64   SKEW(activities.float_c14)                                                                   34964 non-null  float64
 65   STD(activities.float_c11)                                                                    34964 non-null  float64
 66   SUM(activities.float_c11)                                                                    34964 non-null  float64
 67   SUM(activities.float_c14)                                                                    34964 non-null  float64
 68   TIME_SINCE_LAST(activities.activity_date, unit=days)                                         34964 non-null  float64
 69   ENTROPY(comms.cat_c2)                                                                        34964 non-null  float64
 70   ENTROPY(comms.cat_c3)                                                                        34964 non-null  float64
 71   ENTROPY(comms.cat_c5)                                                                        34964 non-null  float64
 72   NUM_UNIQUE(comms.cat_c3)                                                                     34964 non-null  int64
 73   NUM_UNIQUE(comms.cat_c5)                                                                     34964 non-null  int64
 74   TIME_SINCE_LAST(comms.contact_date, unit=days)                                               34964 non-null  float64
 75   IS_WEEKEND(communication_month)                                                              34964 non-null  int64
 76   COUNT(transactions WHERE cat_c3 = 303)                                                       34964 non-null  int64
 77   COUNT(transactions WHERE cat_c2 = 4)                                                         34964 non-null  int64
 78   MAX(transactions.float_c16 WHERE fl_c14 = False)                                             34964 non-null  float64
 79   MAX(transactions.float_c16 WHERE cat_c3 = 303)                                               34964 non-null  float64
 80   MAX(transactions.float_c16 WHERE cat_c2 = 4)                                                 34964 non-null  float64
 81   MAX(transactions.float_c16 WHERE tran_date_is_weekend = True)                                34964 non-null  float64
 82   MAX(transactions.float_c17 WHERE cat_c2 = 15)                                                34964 non-null  float64
 83   MAX(transactions.float_c17 WHERE fl_c13 = True)                                              34964 non-null  float64
 84   MAX(transactions.float_c17 WHERE cat_c3 = 305)                                               34964 non-null  float64
 85   MAX(transactions.float_c17 WHERE cat_c2 = 14)                                                34964 non-null  float64
 86   MAX(transactions.float_c18 WHERE fl_c13 = True)                                              34964 non-null  float64
 87   MAX(transactions.float_c18 WHERE cat_c3 = 303)                                               34964 non-null  float64
 88   MAX(transactions.float_c18 WHERE cat_c3 = 209)                                               34964 non-null  float64
 89   MAX(transactions.float_c18 WHERE fl_c14 = True)                                              34964 non-null  float64
 90   MAX(transactions.float_c18 WHERE tran_date_is_weekend = True)                                34964 non-null  float64
 91   MAX(transactions.float_c20 WHERE fl_c13 = True)                                              34964 non-null  float64
 92   MAX(transactions.float_c20 WHERE cat_c3 = 305)                                               34964 non-null  float64
 93   MAX(transactions.float_c20 WHERE cat_c3 = 303)                                               34964 non-null  float64
 94   MAX(transactions.float_c20 WHERE cat_c2 = 4)                                                 34964 non-null  float64
 95   MAX(transactions.float_c20 WHERE cat_c3 = 209)                                               34964 non-null  float64
 96   MAX(transactions.float_c20 WHERE fl_c14 = True)                                              34964 non-null  float64
 97   MAX(transactions.float_c21 WHERE cat_c2 = 15)                                                34964 non-null  float64
 98   MAX(transactions.float_c21 WHERE cat_c3 = 305)                                               34964 non-null  float64
 99   MAX(transactions.int_c19 WHERE cat_c2 = 15)                                                  34964 non-null  float64
 100  MAX(transactions.int_c19 WHERE fl_c13 = True)                                                34964 non-null  float64
 101  MAX(transactions.int_c19 WHERE cat_c3 = 305)                                                 34964 non-null  float64
 102  MAX(transactions.int_c19 WHERE cat_c3 = 303)                                                 34964 non-null  float64
 103  MAX(transactions.int_c19 WHERE cat_c2 = 4)                                                   34964 non-null  float64
 104  MAX(transactions.int_c19 WHERE fl_c14 = True)                                                34964 non-null  float64
 105  MAX(transactions.int_c19 WHERE cat_c3 = 314)                                                 34964 non-null  float64
 106  MAX(transactions.int_c19 WHERE tran_date_is_weekend = True)                                  34964 non-null  float64
 107  MEAN(transactions.float_c16 WHERE fl_c13 = True)                                             34964 non-null  float64
 108  MEAN(transactions.float_c16 WHERE fl_c14 = False)                                            34964 non-null  float64
 109  MEAN(transactions.float_c16 WHERE cat_c2 = 4)                                                34964 non-null  float64
 110  MEAN(transactions.float_c17 WHERE cat_c2 = 15)                                               34964 non-null  float64
 111  MEAN(transactions.float_c17 WHERE fl_c13 = True)                                             34964 non-null  float64
 112  MEAN(transactions.float_c17 WHERE cat_c3 = 305)                                              34964 non-null  float64
 113  MEAN(transactions.float_c17 WHERE fl_c12 = False)                                            34964 non-null  float64
 114  MEAN(transactions.float_c17 WHERE tran_date_is_weekend = True)                               34964 non-null  float64
 115  MEAN(transactions.float_c17 WHERE cat_c2 = 14)                                               34964 non-null  float64
 116  MEAN(transactions.float_c18 WHERE fl_c13 = True)                                             34964 non-null  float64
 117  MEAN(transactions.float_c18 WHERE cat_c3 = 305)                                              34964 non-null  float64
 118  MEAN(transactions.float_c18 WHERE cat_c3 = 303)                                              34964 non-null  float64
 119  MEAN(transactions.float_c18 WHERE cat_c2 = 4)                                                34964 non-null  float64
 120  MEAN(transactions.float_c18 WHERE fl_c14 = True)                                             34964 non-null  float64
 121  MEAN(transactions.float_c20 WHERE fl_c13 = True)                                             34964 non-null  float64
 122  MEAN(transactions.float_c20 WHERE int_c19 = 1)                                               34964 non-null  float64
 123  MEAN(transactions.float_c20 WHERE cat_c3 = 303)                                              34964 non-null  float64
 124  MEAN(transactions.float_c20 WHERE cat_c2 = 4)                                                34964 non-null  float64
 125  MEAN(transactions.float_c20 WHERE int_c19 = -1)                                              34964 non-null  float64
 126  MEAN(transactions.float_c20 WHERE fl_c14 = True)                                             34964 non-null  float64
 127  MEAN(transactions.float_c21 WHERE cat_c2 = 15)                                               34964 non-null  float64
 128  MEAN(transactions.int_c19 WHERE cat_c2 = 15)                                                 34964 non-null  float64
 129  MEAN(transactions.int_c19 WHERE cat_c3 = 305)                                                34964 non-null  float64
 130  MEAN(transactions.int_c19 WHERE cat_c3 = 303)                                                34964 non-null  float64
 131  MEAN(transactions.int_c19 WHERE cat_c3 = 314)                                                34964 non-null  float64
 132  MEAN(transactions.int_c19 WHERE cat_c2 = 14)                                                 34964 non-null  float64
 133  MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 15)                              34964 non-null  float64
 134  MEAN(transactions.tran_date_day_of_month_cos WHERE fl_c13 = True)                            34964 non-null  float64
 135  MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 305)                             34964 non-null  float64
 136  MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 303)                             34964 non-null  float64
 137  MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 4)                               34964 non-null  float64
 138  MEAN(transactions.tran_date_day_of_month_cos WHERE tran_date_is_weekend = True)              34964 non-null  float64
 139  MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 15)                              34964 non-null  float64
 140  MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c13 = True)                            34964 non-null  float64
 141  MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 305)                             34964 non-null  float64
 142  MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 303)                             34964 non-null  float64
 143  MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 4)                               34964 non-null  float64
 144  MEAN(transactions.tran_date_day_of_month_sin WHERE tran_date_is_weekend = True)              34964 non-null  float64
 145  MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 15)                               34964 non-null  float64
 146  MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c13 = True)                             34964 non-null  float64
 147  MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 305)                              34964 non-null  float64
 148  MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 303)                              34964 non-null  float64
 149  MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 4)                                34964 non-null  float64
 150  MEAN(transactions.tran_date_day_of_week_cos WHERE tran_date_is_weekend = True)               34964 non-null  float64
 151  MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 15)                               34964 non-null  float64
 152  MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c13 = True)                             34964 non-null  float64
 153  MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 305)                              34964 non-null  float64
 154  MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 303)                              34964 non-null  float64
 155  MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 4)                                34964 non-null  float64
 156  MEAN(transactions.tran_date_day_of_week_sin WHERE tran_date_is_weekend = True)               34964 non-null  float64
 157  MIN(transactions.float_c16 WHERE fl_c13 = True)                                              34964 non-null  float64
 158  MIN(transactions.float_c16 WHERE cat_c2 = 4)                                                 34964 non-null  float64

None

,COUNT(transactions),ENTROPY(transactions.cat_c2),ENTROPY(transactions.cat_c4),KURTOSIS(transactions.float_c16),KURTOSIS(transactions.float_c17),KURTOSIS(transactions.float_c18),KURTOSIS(transactions.float_c20),KURTOSIS(transactions.int_c19),MAX(transactions.float_c16),MAX(transactions.float_c17),...,MODE(transactions.cat_c3)_303,MODE(transactions.cat_c3)_312,MODE(activities.cat_c6)_4,MODE(activities.cat_c6)_Rare,MODE(activities.cat_c6)_8,MODE(comms.cat_c2)_S3769,MODE(comms.cat_c2)_Rare,MODE(comms.cat_c2)_S27888,MODE(comms.cat_c2)_S3563,MODE(comms.cat_c4)_1
count,34964.000000,34964.000000,34964.000000,34964.000000,34964.000000,34964.000000,34964.000000,34964.000000,34964.000000,34964.000000,...,34964.000000,34964.000000,34964.000000,34964.000000,34964.000000,34964.000000,34964.000000,34964.000000,34964.000000,34964.000000
mean,447.722171,1.574397,0.105946,78.719137,132.415299,42.100321,16.052793,-0.719137,1.619920,4.577120,...,0.047763,0.020135,0.052540,0.016131,0.028515,0.030202,0.039183,0.013957,0.010439,0.945744
std,474.127701,0.402746,0.190807,146.909330,225.166766,57.951094,112.541100,2.653992,4.867832,19.215062,...,0.213268,0.140464,0.223116,0.125981,0.166441,0.171147,0.194033,0.117315,0.101640,0.226525
min,2.000000,0.000000,0.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,122.000000,1.329142,0.000000,0.000000,0.000000,11.095781,0.000000,-1.807487,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,309.000000,1.620685,0.015948,27.623509,34.185537,25.522798,0.000000,-1.327778,0.470000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,616.000000,1.855134,0.126522,93.020321,176.602358,51.168443,0.000000,-0.379546,1.660000,4.010000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,8721.000000,2.720781,2.159006,3572.595778,2741.303377,1350.808942,3767.000265,259.670459,413.130005,2294.719971,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [25]:
FILTER_OUT_PATH = '../data/features_selected/features_v{}_filtered_v{}.csv'.format(FEATURES_VERSION, SELECTION_VERSION)

pd.concat([X_filtered, clients_data], axis=1).to_csv(FILTER_OUT_PATH, index=False)

## Embedded

In [14]:
# """L1 regularization"""
#
# log_l1 = LogisticRegression(
#     penalty='l1',
#     solver='saga',
#     max_iter=500,
#     class_weight='balanced',
#     n_jobs=6,
#     random_state=42,
#     verbose=1,
# )
# sfm = SelectFromModel(log_l1, threshold='median')
#
# sfm.fit(X_filtered, y)
#
# selected_l1_features = X_filtered.columns[sfm.get_support()]
# X_l1 = X_filtered[selected_l1_features]

C:\Users\dan\PycharmProjects\ds\ff_internship\.venv\Lib\site-packages\sklearn\linear_model\_sag.py:348: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn(

In [26]:
"""Select top features from LightGBM model"""

lgb = LGBMClassifier(
    n_estimators=500,
    learning_rate=0.05,
    predict_disable_shape_check=True,
    random_state=42,
    n_jobs=6,
)

lgb_data = X_filtered.rename(columns=lambda x: re.sub(r'[,\n\[\]\{\}:"]', '_', x))
lgb.fit(lgb_data, y)

importances = lgb.feature_importances_
indices = np.argsort(importances)[::-1]

top100 = X_filtered.columns[indices[:200]]
X_lgb_imp = X_filtered[top100]

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.040767 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 86878
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 431
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344

In [35]:
top100 = X_filtered.columns[indices[:200]]
X_lgb_imp = X_filtered[top100]

In [27]:
# """Permutation Importance"""
#
# perm = permutation_importance(
#     lgb, X_lgb_imp, y,
#     n_repeats=10,
#     scoring='roc_auc',
#     n_jobs=6,
#     random_state=42,
# )
#
# perm_sorted_idx = perm.importances_mean.argsort()[::-1]
# selected_perm = [top100[i] for i in perm_sorted_idx if perm.importances_mean[i] < 0]
#
# X_pi = X_lgb_imp[selected_perm]

In [39]:
X_embedded = X_lgb_imp
display(X_embedded.info(verbose=True, show_counts=True))
display(X_embedded.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34964 entries, 0 to 34963
Data columns (total 200 columns):
 #    Column                                                                                  Non-Null Count  Dtype
---   ------                                                                                  --------------  -----
 0    INTERACTION_contact_per_trans                                                           34964 non-null  float64
 1    ENTROPY(comms.cat_c3)                                                                   34964 non-null  float64
 2    MEAN(comms.contact_date_day_of_month_cos WHERE cat_c3 = 3)                              34964 non-null  float64
 3    COUNT(comms WHERE cat_c4 = 2)                                                           34964 non-null  int64
 4    ENTROPY(comms.cat_c5)                                                                   34964 non-null  float64
 5    MEAN(comms.contact_date_day_of_month_sin WHERE cat_c4 = 2)                              34964 non-null  float64
 6    MEAN(comms.contact_date_day_of_month_sin WHERE cat_c3 = 3)                              34964 non-null  float64
 7    ENTROPY(comms.cat_c2)                                                                   34964 non-null  float64
 8    PERCENT_TRUE(transactions.fl_c15)                                                       34964 non-null  float64
 9    COUNT(comms WHERE cat_c3 = 3)                                                           34964 non-null  int64
 10   BALANCE_savings_potential                                                               34964 non-null  float64
 11   MEAN(transactions.float_c18)                                                            34964 non-null  float64
 12   BALANCE_net_flow                                                                        34964 non-null  float64
 13   MEAN(comms.contact_date_day_of_week_sin WHERE cat_c3 = 3)                               34964 non-null  float64
 14   MEAN(activities.float_c12)                                                              34964 non-null  float64
 15   SUM(transactions.int_c19 WHERE cat_c3 = 305)                                            34964 non-null  float64
 16   ENTROPY(transactions.cat_c2)                                                            34964 non-null  float64
 17   COUNT(transactions WHERE cat_c2 = 15)__30_days                                          34964 non-null  int64
 18   COUNT(activities WHERE cat_c10 = True)                                                  34964 non-null  int64
 19   MEAN(transactions.float_c18 WHERE fl_c13 = True)                                        34964 non-null  float64
 20   contact_date_gap_days__autocorrelation__lag_1                                           34964 non-null  float64
 21   activity_date_gap_days__mean                                                            34964 non-null  float64
 22   MEAN(transactions.int_c19 WHERE cat_c3 = 305)                                           34964 non-null  float64
 23   MEAN(comms.contact_date_day_of_week_sin WHERE cat_c2 = S3769)                           34964 non-null  float64
 24   PERCENT_TRUE(transactions.fl_c12)                                                       34964 non-null  float64
 25   float_c18_diff__autocorrelation__lag_1                                                  34964 non-null  float64
 26   SKEW(activities.float_c11)                                                              34964 non-null  float64
 27   MEAN(activities.activity_date_day_of_week_sin)__30_days                                 34964 non-null  float64
 28   MIN(transactions.float_c18 WHERE cat_c2 = 15)                                           34964 non-null  float64
 29   KURTOSIS(activities.float_c14)                                                          34964 non-null  float64
 30   MEAN(transactions.tran_date_day_of_month_sin WHERE tran_date_is_weekend = True)         34964 non-null  float64
 31   MEAN(comms.contact_date_day_of_month_cos WHERE cat_c3 = 7)                              34964 non-null  float64
 32   float_c18_diff__skewness                                                                34964 non-null  float64
 33   MEAN(activities.activity_date_day_of_week_sin)                                          34964 non-null  float64
 34   MEAN(comms.contact_date_day_of_week_cos WHERE cat_c4 = 2)                               34964 non-null  float64
 35   contact_date_gap_days__linear_trend__attr_"slope"                                       34964 non-null  float64
 36   MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 305)                        34964 non-null  float64
 37   MEAN(activities.activity_date_day_of_month_sin WHERE cat_c10 = False)                   34964 non-null  float64
 38   COUNT(comms WHERE cat_c5 = 7)                                                           34964 non-null  int64
 39   MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 305)                         34964 non-null  float64
 40   activity_date_gap_days__autocorrelation__lag_1                                          34964 non-null  float64
 41   MEAN(transactions.int_c19 WHERE cat_c3 = 303)                                           34964 non-null  float64
 42   KURTOSIS(activities.float_c12)                                                          34964 non-null  float64
 43   STD(activities.float_c11)                                                               34964 non-null  float64
 44   MIN(transactions.float_c18 WHERE cat_c2 = 14)                                           34964 non-null  float64
 45   INTERACTION_contact_per_activity                                                        34964 non-null  float64
 46   TIME_SINCE_LAST(comms.contact_date WHERE cat_c4 = 2, unit=days)                         34964 non-null  float64
 47   MEAN(comms.contact_date_day_of_week_sin WHERE cat_c4 = 2)                               34964 non-null  float64
 48   MEAN(transactions.tran_date_day_of_month_cos)__30_days                                  34964 non-null  float64
 49   contact_date_gap_days__skewness                                                         34964 non-null  float64
 50   MEAN(transactions.int_c19 WHERE cat_c3 = 314)                                           34964 non-null  float64
 51   MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 15)                          34964 non-null  float64
 52   MEAN(activities.activity_date_day_of_month_sin)__90_days                                34964 non-null  float64
 53   MEAN(activities.activity_date_day_of_month_cos WHERE activity_date_is_weekend = False)  34964 non-null  float64
 54   MEAN(transactions.tran_date_day_of_month_sin)__30_days                                  34964 non-null  float64
 55   MEAN(comms.contact_date_day_of_week_cos WHERE cat_c3 = 3)                               34964 non-null  float64
 56   activity_date_gap_days__skewness                                                        34964 non-null  float64
 57   MEAN(activities.activity_date_day_of_week_cos)__90_days                                 34964 non-null  float64
 58   MEAN(comms.contact_date_day_of_month_sin WHERE cat_c2 = S3769)                          34964 non-null  float64
 59   MIN(activities.float_c11)                                                               34964 non-null  float64
 60   MEAN(activities.activity_date_day_of_month_cos WHERE activity_date_is_weekend = True)   34964 non-null  float64
 61   tran_date_gap_days__ratio_beyond_r_sigma__r_2                                           34964 non-null  float64
 62   tran_date_gap_days__skewness                                                            34964 non-null  float64
 63   MEAN(comms.contact_date_day_of_week_cos WHERE cat_c2 = S3677)                           34964 non-null  float64
 64   MEAN(comms.contact_date_day_of_month_sin WHERE cat_c3 = 7)                              34964 non-null  float64
 65   MEAN(transactions.float_c18)__30_days                                                   34964 non-null  float64
 66   MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c2 = 4)                           34964 non-null  float64
 67   MEAN(transactions.float_c21 WHERE cat_c2 = 15)                                          34964 non-null  float64
 68   MEAN(comms.contact_date_day_of_week_cos WHERE contact_date_is_weekend = False)          34964 non-null  float64
 69   contact_date_gap_days__ratio_beyond_r_sigma__r_2                                        34964 non-null  float64
 70   ENTROPY(activities.cat_c5)                                                              34964 non-null  float64
 71   PERCENT_TRUE(activities.activity_date_is_weekend)__30_days                              34964 non-null  float64
 72   float_c18_diff__ratio_beyond_r_sigma__r_2                                               34964 non-null  float64
 73   MEAN(transactions.tran_date_day_of_week_cos WHERE cat_c3 = 303)                         34964 non-null  float64
 74   activity_date_gap_days__approximate_entropy__m_2__r_0.25                                34964 non-null  float64
 75   MEAN(transactions.tran_date_day_of_week_cos)__30_days                                   34964 non-null  float64
 76   MEAN(activities.activity_date_day_of_month_sin WHERE cat_c4 = 2)                        34964 non-null  float64
 77   PERCENT_TRUE(transactions.tran_date_is_weekend)                                         34964 non-null  float64
 78   KURTOSIS(activities.float_c11)                                                          34964 non-null  float64
 79   MEAN(transactions.tran_date_day_of_month_cos)                                           34964 non-null  float64
 80   MEAN(comms.contact_date_day_of_week_sin WHERE cat_c2 = S3677)                           34964 non-null  float64
 81   MEAN(transactions.float_c18 WHERE cat_c2 = 4)                                           34964 non-null  float64
 82   MEAN(comms.contact_date_day_of_week_cos WHERE contact_date_is_weekend = True)           34964 non-null  float64
 83   MEAN(activities.activity_date_day_of_month_cos WHERE cat_c4 = 2)                        34964 non-null  float64
 84   MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 4)                          34964 non-null  float64
 85   MEAN(transactions.tran_date_day_of_month_cos WHERE tran_date_is_weekend = True)         34964 non-null  float64
 86   INTERACTION_activity_per_trans                                                          34964 non-null  float64
 87   tran_date_gap_days__approximate_entropy__m_2__r_0.25                                    34964 non-null  float64
 88   float_c18_diff__quantile__q_0.75                                                        34964 non-null  float64
 89   PERCENT_TRUE(activities.activity_date_is_weekend)                                       34964 non-null  float64
 90   STD(activities.float_c12 WHERE activity_date_is_weekend = False)                        34964 non-null  float64
 91   MEAN(transactions.tran_date_day_of_week_sin)__30_days                                   34964 non-null  float64
 92   PERCENT_TRUE(transactions.fl_c6)                                                        34964 non-null  float64
 93   PERCENT_TRUE(transactions.fl_c13)                                                       34964 non-null  float64
 94   activity_date_gap_days__ratio_beyond_r_sigma__r_2                                       34964 non-null  float64
 95   tran_date_gap_days__autocorrelation__lag_1                                              34964 non-null  float64
 96   MAX(activities.float_c11)                                                               34964 non-null  float64
 97   MIN(activities.float_c14)                                                               34964 non-null  float64
 98   MEAN(activities.activity_date_day_of_month_cos WHERE cat_c10 = False)                   34964 non-null  float64
 99   MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 15)                         34964 non-null  float64
 100  STD(transactions.int_c19 WHERE tran_date_is_weekend = True)                             34964 non-null  float64
 101  STD(activities.float_c12 WHERE activity_date_is_weekend = True)                         34964 non-null  float64
 102  MEAN(transactions.tran_date_day_of_month_sin)                                           34964 non-null  float64
 103  MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 305)                        34964 non-null  float64
 104  MEAN(comms.contact_date_day_of_week_cos WHERE cat_c2 = S3769)                           34964 non-null  float64
 105  SKEW(activities.float_c14)                                                              34964 non-null  float64
 106  MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c3 = 303)                        34964 non-null  float64
 107  MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 303)                         34964 non-null  float64
 108  SUM(activities.float_c12 WHERE activity_date_is_weekend = True)__30_days                34964 non-null  float64
 109  MEAN(comms.contact_date_day_of_month_sin WHERE cat_c5 = 7)                              34964 non-null  float64
 110  MEAN(transactions.float_c16 WHERE fl_c13 = True)                                        34964 non-null  float64
 111  MEAN(comms.contact_date_day_of_week_cos WHERE cat_c3 = 7)                               34964 non-null  float64
 112  MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 15)                          34964 non-null  float64
 113  MEAN(comms.contact_date_day_of_month_cos WHERE cat_c2 = S3769)                          34964 non-null  float64
 114  KURTOSIS(transactions.float_c18)                                                        34964 non-null  float64
 115  MEAN(activities.activity_date_day_of_month_cos)__90_days                                34964 non-null  float64
 116  activity_date_gap_days__maximum                                                         34964 non-null  float64
 117  MEAN(activities.activity_date_day_of_week_cos)                                          34964 non-null  float64
 118  MEAN(transactions.tran_date_day_of_week_cos)                                            34964 non-null  float64
 119  MAX(transactions.float_c16 WHERE fl_c14 = False)                                        34964 non-null  float64
 120  COUNT(activities WHERE cat_c9 = 2)                                                      34964 non-null  int64
 121  MIN(transactions.float_c18 WHERE tran_date_is_weekend = True)                           34964 non-null  float64
 122  MEAN(activities.activity_date_day_of_week_sin WHERE cat_c10 = False)                    34964 non-null  float64
 123  MEAN(activities.activity_date_day_of_week_cos WHERE activity_date_is_weekend = True)    34964 non-null  float64
 124  SUM(activities.float_c14 WHERE cat_c4 = 2)                                              34964 non-null  float64
 125  MEAN(activities.activity_date_day_of_week_cos WHERE cat_c4 = 2)                         34964 non-null  float64
 126  MEAN(activities.activity_date_day_of_month_sin WHERE cat_c8 = True)                     34964 non-null  float64
 127  MEAN(transactions.tran_date_day_of_month_cos WHERE cat_c2 = 15)                         34964 non-null  float64
 128  MAX(transactions.float_c18 WHERE fl_c14 = True)                                         34964 non-null  float64
 129  MEAN(transactions.float_c18 WHERE cat_c3 = 303)                                         34964 non-null  float64
 130  MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c3 = 305)                         34964 non-null  float64
 131  SUM(activities.float_c14)                                                               34964 non-null  float64
 132  MEAN(comms.contact_date_day_of_month_cos WHERE cat_c5 = 7)                              34964 non-null  float64
 133  MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 303)                        34964 non-null  float64
 134  MEAN(comms.contact_date_day_of_week_sin WHERE contact_date_is_weekend = False)          34964 non-null  float64
 135  MEAN(comms.contact_date_day_of_week_sin WHERE cat_c5 = 7)                               34964 non-null  float64
 136  SUM(activities.float_c11)                                                               34964 non-null  float64
 137  tran_date_gap_days__mean                                                                34964 non-null  float64
 138  SUM(transactions.float_c16)                                                             34964 non-null  float64
 139  MEAN(transactions.tran_date_day_of_week_sin)                                            34964 non-null  float64
 140  MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c2 = 4)                          34964 non-null  float64
 141  MEAN(transactions.tran_date_day_of_week_sin WHERE cat_c2 = 4)                           34964 non-null  float64
 142  MAX(transactions.float_c16)                                                             34964 non-null  float64
 143  MIN(transactions.float_c18)                                                             34964 non-null  float64
 144  MEAN(transactions.float_c18 WHERE cat_c3 = 305)                                         34964 non-null  float64
 145  TIME_SINCE_LAST(comms.contact_date WHERE cat_c5 = 7, unit=days)                         34964 non-null  float64
 146  MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c13 = True)                       34964 non-null  float64
 147  MEAN(transactions.tran_date_day_of_week_sin WHERE fl_c13 = True)                        34964 non-null  float64
 148  MEAN(comms.contact_date_day_of_month_cos WHERE contact_date_is_weekend = False)         34964 non-null  float64
 149  STD(transactions.int_c19 WHERE fl_c13 = False)                                          34964 non-null  float64
 150  MAX(transactions.float_c18 WHERE fl_c13 = True)                                         34964 non-null  float64
 151  MAX(transactions.float_c18 WHERE cat_c3 = 303)                                          34964 non-null  float64
 152  MEAN(activities.activity_date_day_of_week_cos WHERE cat_c10 = False)                    34964 non-null  float64
 153  MEAN(activities.activity_date_day_of_week_sin WHERE cat_c4 = 2)                         34964 non-null  float64
 154  PERCENT_TRUE(transactions.fl_c7)__90_days                                               34964 non-null  float64
 155  activity_date_gap_days__linear_trend__attr_"slope"                                      34964 non-null  float64
 156  MEAN(comms.contact_date_day_of_week_sin WHERE cat_c3 = 7)                               34964 non-null  float64
 157  MEAN(comms.contact_date_day_of_week_cos WHERE cat_c5 = 7)                               34964 non-null  float64
 158  tran_date_gap_days__maximum                                                             34964 non-null  float64
 159  MAX(transactions.float_c18)                                                             34964 non-null  float64
 160  SUM(transactions.float_c18 WHERE cat_c3 = 303)__30_days                                 34964 non-null  float64
 161  float_c18_diff__quantile__q_0.25                                                        34964 non-null  float64
 162  COUNT(activities WHERE cat_c10 = False)                                                 34964 non-null  int64
 163  MEAN(transactions.tran_date_day_of_week_cos WHERE fl_c13 = True)                        34964 non-null  float64
 164  MEAN(activities.activity_date_day_of_month_sin WHERE activity_date_is_weekend = True)   34964 non-null  float64
 165  MEAN(activities.activity_date_day_of_week_cos)__30_days                                 34964 non-null  float64

None

,INTERACTION_contact_per_trans,ENTROPY(comms.cat_c3),MEAN(comms.contact_date_day_of_month_cos WHERE cat_c3 = 3),COUNT(comms WHERE cat_c4 = 2),ENTROPY(comms.cat_c5),MEAN(comms.contact_date_day_of_month_sin WHERE cat_c4 = 2),MEAN(comms.contact_date_day_of_month_sin WHERE cat_c3 = 3),ENTROPY(comms.cat_c2),PERCENT_TRUE(transactions.fl_c15),COUNT(comms WHERE cat_c3 = 3),...,"tran_date_gap_days__linear_trend__attr_""slope""",activity_date_gap_days__longest_strike_below_mean,KURTOSIS(transactions.int_c19),PERCENT_TRUE(activities.cat_c10),SUM(transactions.float_c16 WHERE fl_c13 = True)__30_days,float_c18_diff__approximate_entropy__m_2__r_0.25,SUM(transactions.float_c18 WHERE cat_c3 = 303),MEAN(transactions.float_c18 WHERE fl_c14 = True),MAX(transactions.float_c18 WHERE tran_date_is_weekend = True),MIN(activities.float_c14 WHERE cat_c8 = True)
count,34964,34964,34964,34964,34964,34964,34964,34964,34964,34964,...,34964,34964,34964,34964,34964,34964,34964,34964,34964,34964
mean,1,0,0,42,0,0,0,2,0,13,...,0,18,0,0,1,0,793,17,819,0
std,1,0,0,14,0,0,0,0,0,5,...,1,11,2,0,4,0,3464,45,989,0
min,0,0,0,0,0,0,0,0,0,0,...,-14,0,-2,0,0,0,0,0,0,0
25%,1,0,0,33,0,0,0,2,0,10,...,0,12,-1,0,0,0,54,5,250,0
50%,1,0,0,42,0,0,0,2,0,13,...,0,17,-1,0,0,0,225,10,500,0
75%,1,0,0,51,0,0,0,2,0,17,...,0,23,0,0,1,0,664,19,1000,0
max,65,1,1,362,1,0,0,4,0,115,...,83,275,259,1,189,1,219808,2856,35410,16

In [40]:
EMBEDDED_OUT_PATH = '../data/features_selected/features_v{}_embedded_v{}.csv'.format(FEATURES_VERSION, SELECTION_VERSION)

pd.concat([X_embedded, clients_data], axis=1).to_csv(EMBEDDED_OUT_PATH, index=False)

## Wrapped

In [52]:
rfe = RFE(
    estimator=lgb,
    n_features_to_select=50,
    step=0.1,
    verbose=1,
)
rfe.fit(X_embedded, y)

selected_rfe_features = X_embedded.columns[rfe.get_support()]
X_rfe = X_embedded[selected_rfe_features]

Fitting estimator with 200 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.014311 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 48701
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 200
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 195 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.014020 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 47726
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 195
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 190 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.011083 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 46451
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 190
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 185 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.062859 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 45177
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 185
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 180 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.009222 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 44119
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 180
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 175 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.009125 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 42968
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 175
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 170 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.007901 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 41953
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 170
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 165 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.014869 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 40680
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 165
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 160 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.052098 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 39406
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 160
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 155 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.051648 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 38131
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 155
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 150 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.049855 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 37003
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 150
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 145 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.048356 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 35842
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 145
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 140 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.026498 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 34644
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 140
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 135 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.008132 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 33369
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 135
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 130 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.006198 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 32163
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 130
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 125 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.005970 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 30952
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 125
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 120 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.036029 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 29837
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 120
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 115 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.006608 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 28565
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 115
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 110 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.006970 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 27290
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 110
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 105 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.033806 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 26017
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 105
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 100 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.031559 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 24956
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 100
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 95 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.032959 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 23682
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 95
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 90 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.027716 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 22407
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 90
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 85 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.026366 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 21132
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 85
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 80 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.025655 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 19881
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 80
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 75 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.023892 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 18606
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 75
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 70 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.024986 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 17331
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 70
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 65 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.020357 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 16056
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 65
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 60 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.017776 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 14782
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 60
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
Fitting estimator with 55 features.
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.016668 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 13507
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 55
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344
[LightGBM] [Info] Number of positive: 8554, number of negative: 26410
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.015566 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 12232
[LightGBM] [Info] Number of data points in the train set: 34964, number of used features: 50
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.244652 -> initscore=-1.127344
[LightGBM] [Info] Start training from score -1.127344

In [53]:
X_wrappered = X_rfe
display(X_wrappered.info(verbose=True, show_counts=True))
display(X_wrappered.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34964 entries, 0 to 34963
Data columns (total 50 columns):
 #   Column                                                                                 Non-Null Count  Dtype
---  ------                                                                                 --------------  -----
 0   INTERACTION_contact_per_trans                                                          34964 non-null  float64
 1   ENTROPY(comms.cat_c3)                                                                  34964 non-null  float64
 2   MEAN(comms.contact_date_day_of_month_cos WHERE cat_c3 = 3)                             34964 non-null  float64
 3   COUNT(comms WHERE cat_c4 = 2)                                                          34964 non-null  int64
 4   ENTROPY(comms.cat_c5)                                                                  34964 non-null  float64
 5   MEAN(comms.contact_date_day_of_month_sin WHERE cat_c4 = 2)                             34964 non-null  float64
 6   MEAN(comms.contact_date_day_of_month_sin WHERE cat_c3 = 3)                             34964 non-null  float64
 7   ENTROPY(comms.cat_c2)                                                                  34964 non-null  float64
 8   PERCENT_TRUE(transactions.fl_c15)                                                      34964 non-null  float64
 9   COUNT(comms WHERE cat_c3 = 3)                                                          34964 non-null  int64
 10  BALANCE_savings_potential                                                              34964 non-null  float64
 11  MEAN(transactions.float_c18)                                                           34964 non-null  float64
 12  BALANCE_net_flow                                                                       34964 non-null  float64
 13  MEAN(comms.contact_date_day_of_week_sin WHERE cat_c3 = 3)                              34964 non-null  float64
 14  MEAN(activities.float_c12)                                                             34964 non-null  float64
 15  SUM(transactions.int_c19 WHERE cat_c3 = 305)                                           34964 non-null  float64
 16  ENTROPY(transactions.cat_c2)                                                           34964 non-null  float64
 17  COUNT(transactions WHERE cat_c2 = 15)__30_days                                         34964 non-null  int64
 18  COUNT(activities WHERE cat_c10 = True)                                                 34964 non-null  int64
 19  MEAN(transactions.float_c18 WHERE fl_c13 = True)                                       34964 non-null  float64
 20  contact_date_gap_days__autocorrelation__lag_1                                          34964 non-null  float64
 21  PERCENT_TRUE(transactions.fl_c12)                                                      34964 non-null  float64
 22  float_c18_diff__autocorrelation__lag_1                                                 34964 non-null  float64
 23  MEAN(activities.activity_date_day_of_week_sin)__30_days                                34964 non-null  float64
 24  KURTOSIS(activities.float_c14)                                                         34964 non-null  float64
 25  float_c18_diff__skewness                                                               34964 non-null  float64
 26  contact_date_gap_days__linear_trend__attr_"slope"                                      34964 non-null  float64
 27  MEAN(transactions.tran_date_day_of_month_sin WHERE cat_c3 = 305)                       34964 non-null  float64
 28  MEAN(activities.activity_date_day_of_month_sin WHERE cat_c10 = False)                  34964 non-null  float64
 29  MEAN(transactions.int_c19 WHERE cat_c3 = 303)                                          34964 non-null  float64
 30  STD(activities.float_c11)                                                              34964 non-null  float64
 31  MEAN(comms.contact_date_day_of_week_sin WHERE cat_c4 = 2)                              34964 non-null  float64
 32  contact_date_gap_days__skewness                                                        34964 non-null  float64
 33  activity_date_gap_days__skewness                                                       34964 non-null  float64
 34  MEAN(activities.activity_date_day_of_month_cos WHERE activity_date_is_weekend = True)  34964 non-null  float64
 35  tran_date_gap_days__skewness                                                           34964 non-null  float64
 36  MEAN(comms.contact_date_day_of_month_sin WHERE cat_c3 = 7)                             34964 non-null  float64
 37  MEAN(transactions.float_c21 WHERE cat_c2 = 15)                                         34964 non-null  float64
 38  PERCENT_TRUE(transactions.tran_date_is_weekend)                                        34964 non-null  float64
 39  tran_date_gap_days__approximate_entropy__m_2__r_0.25                                   34964 non-null  float64
 40  float_c18_diff__quantile__q_0.75                                                       34964 non-null  float64
 41  MAX(activities.float_c11)                                                              34964 non-null  float64
 42  STD(activities.float_c12 WHERE activity_date_is_weekend = True)                        34964 non-null  float64
 43  MEAN(activities.activity_date_day_of_month_cos)__90_days                               34964 non-null  float64
 44  MEAN(activities.activity_date_day_of_week_cos)                                         34964 non-null  float64
 45  MEAN(activities.activity_date_day_of_week_cos WHERE activity_date_is_weekend = True)   34964 non-null  float64
 46  SUM(transactions.float_c16)                                                            34964 non-null  float64
 47  MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c13 = True)                      34964 non-null  float64
 48  MEAN(activities.activity_date_day_of_month_sin WHERE activity_date_is_weekend = True)  34964 non-null  float64
 49  MEAN(transactions.int_c19)                                                             34964 non-null  float64
dtypes: float64(46), int64(4)
memory usage: 13.3 MB

None

,INTERACTION_contact_per_trans,ENTROPY(comms.cat_c3),MEAN(comms.contact_date_day_of_month_cos WHERE cat_c3 = 3),COUNT(comms WHERE cat_c4 = 2),ENTROPY(comms.cat_c5),MEAN(comms.contact_date_day_of_month_sin WHERE cat_c4 = 2),MEAN(comms.contact_date_day_of_month_sin WHERE cat_c3 = 3),ENTROPY(comms.cat_c2),PERCENT_TRUE(transactions.fl_c15),COUNT(comms WHERE cat_c3 = 3),...,float_c18_diff__quantile__q_0.75,MAX(activities.float_c11),STD(activities.float_c12 WHERE activity_date_is_weekend = True),MEAN(activities.activity_date_day_of_month_cos)__90_days,MEAN(activities.activity_date_day_of_week_cos),MEAN(activities.activity_date_day_of_week_cos WHERE activity_date_is_weekend = True),SUM(transactions.float_c16),MEAN(transactions.tran_date_day_of_month_sin WHERE fl_c13 = True),MEAN(activities.activity_date_day_of_month_sin WHERE activity_date_is_weekend = True),MEAN(transactions.int_c19)
count,34964,34964,34964,34964,34964,34964,34964,34964,34964,34964,...,34964,34964,34964,34964,34964,34964,34964,34964,34964,34964
mean,1,0,0,42,0,0,0,2,0,13,...,27,51,21,0,0,0,13,0,0,0
std,1,0,0,14,0,0,0,0,0,5,...,58,28,5,0,0,0,28,0,0,0
min,0,0,0,0,0,0,0,0,0,0,...,-1097,0,0,0,-1,0,-6,0,0,-1
25%,1,0,0,33,0,0,0,2,0,10,...,7,25,19,0,0,0,0,0,0,0
50%,1,0,0,42,0,0,0,2,0,13,...,14,54,22,0,0,0,2,0,0,0
75%,1,0,0,51,0,0,0,2,0,17,...,28,77,25,0,0,0,15,0,0,0
max,65,1,1,362,1,0,0,4,0,115,...,3228,99,54,1,1,1,1185,0,0,1

In [54]:
WRAPPERED_OUT_PATH = '../data/features_selected/features_v{}_wrappered_v{}.csv'.format(FEATURES_VERSION, SELECTION_VERSION)

pd.concat([X_wrappered, clients_data], axis=1).to_csv(WRAPPERED_OUT_PATH, index=False)