# Clients

In [1]:
import pandas as pd

pd.set_option('display.float_format', '{:.3f}'.format)

In [2]:
from utils import read_clients

df = read_clients('../data/initial/CLIENTS.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36337 entries, 0 to 36336
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  36337 non-null  uint64
 1   target     36337 non-null  int8
 2   is_train   36337 non-null  int8
dtypes: int8(2), uint64(1)
memory usage: 355.0 KB

In [3]:
df.head()

          client_id  target  is_train
0   844657872407781       0         1
1  1848329230392841       0         1
2  2287540886390017       1         0
3  2814140106904111       0         1
4  4054326101950781       0         1

In [4]:
df.describe()

                     client_id    target  is_train
count                36337.000 36337.000 36337.000
mean   9229785897130868736.000     0.244     0.792
std    5315705460628703232.000     0.430     0.406
min        844657872407781.000     0.000     0.000
25%    4657725529757892608.000     0.000     1.000
50%    9210724320649113600.000     0.000     1.000
75%   13808086438381404160.000     0.000     1.000
max   18445804434380068864.000     1.000     1.000